<h1 ng-init="automationRules = getCurrentAutomation(currentList.automationConfiguration, true)">{{translation.RULES_OF_ENGAGEMENT}}</h1>

<h2>{{translation.CAMPAIGN_DURATION}}:</h2>
<ul class="select duration" ng-model="automationRules.duration">
	<li ng-click="automationRules.duration = 1" ng-class="{active : automationRules.duration == 1}">1<br />{{translation.WEEK}}</li><!--
	--><li ng-click="automationRules.duration = 2" ng-class="{active : automationRules.duration == 2}">2<br />{{translation.WEEKS}}</li><!--
	--><li ng-click="automationRules.duration = 4" ng-class="{active : automationRules.duration == 4}">1<br />{{translation.MONTH}}</li><!--
	--><li ng-click="automationRules.duration = 12" ng-class="{active : automationRules.duration == 12}">3<br />{{translation.MONTHS}}</li><!--
	--><li ng-click="automationRules.duration = 25" ng-class="{active : automationRules.duration == 25}">6<br />{{translation.MONTHS}}</li><!--
	--><li ng-click="automationRules.duration = 50" ng-class="{active : automationRules.duration == 50}">12<br />{{translation.MONTHS}}</li>
</ul>

<!-- <h2>Persons with both networks available:</h2>
<ul class="select network" ng-model="automationRules.preferredNetwork" ng-init="automationRules.preferredNetwork = 'all'">
	<li class="linkedin" ng-click="automationRules.preferredNetwork = 'linkedin'" ng-class="{active : automationRules.preferredNetwork == 'linkedin'}">
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	</li><li class="twitter" ng-click="automationRules.preferredNetwork = 'twitter'" ng-class="{active : automationRules.preferredNetwork == 'twitter'}">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</li><li class="all" ng-click="automationRules.preferredNetwork = 'all'" ng-class="{active : automationRules.preferredNetwork == 'all'}">
		all
	</li>
</ul> -->

<h2>{{translation.STAGE}} 1: like</h2>
<h3>{{translation.NUMBER_OF_LIKES}}:</h3>
<ul class="select" ng-model="automationRules.stage1.likesNumber" ng-init="automationRules.stage1.likesNumber = automationRules.stage1.likesNumber || 2">
	<li ng-click="automationRules.stage1.likesNumber = 0" ng-class="{active : automationRules.stage1.likesNumber == 0}">0</li><!--
	--><li ng-click="automationRules.stage1.likesNumber = 1" ng-class="{active : automationRules.stage1.likesNumber == 1}">1</li><!--
	--><li ng-click="automationRules.stage1.likesNumber = 2" ng-class="{active : automationRules.stage1.likesNumber == 2}">2</li><!--
	--><li ng-click="automationRules.stage1.likesNumber = 3" ng-class="{active : automationRules.stage1.likesNumber == 3}">3</li><!--
	--><li ng-click="automationRules.stage1.likesNumber = 4" ng-class="{active : automationRules.stage1.likesNumber == 4}">4</li>
</ul>
<div class="checkbox" ng-if="automationRules.duration != undefined" uib-tooltip="{{translation.FORCE_THIS_STEP_EXPLANATION}}" tooltip-placement="bottom">
	<label><input class="force" type="checkbox" ng-model="automationRules.stage1.force" /> {{translation.FORCE_THIS_STEP}}</label>
</div>

<h2 ng-init="automationReply = automationRules.stage2.reply">{{translation.STAGE}} 2: Reply <span>({{translation.PUBLIC_COMMENT}})</span></h2>
<div ng-if="automationReply.length == 0" class="reply-block">
	<h3>{{translation.SUBMIT_REPLY_IF_POST}}:</h3>
	<input placeholder="{{translation.REPLY_IF_POST_PLACEHOLDER}}" ng-model="automationRules.stage2.reply[0].conditionTerms" ng-init="automationRules.stage2.reply[0].conditionTerms = automationRules.stage2.reply[0].conditionTerms || ''">
	<h3>{{translation.YOUR_REPLY}}:</h3>
	<textarea placeholder="{{translation.REPLY_PLACEHOLDER}}" ng-model="automationRules.stage2.reply[0].text" show-focus="stage2Message[0]"></textarea>
	<div class="message-vars">
		<ul>
			<li class="title">{{translation.PERSONAL_VARS}}:</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %firstname% '; $parent.stage2Message[0] = true">%firstname%</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %jobtitle% '; $parent.stage2Message[0] = true">%jobtitle%</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %headline% '; $parent.stage2Message[0] = true">%headline%</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %company% '; $parent.stage2Message[0] = true">%company%</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %industry% '; $parent.stage2Message[0] = true">%industry%</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %location% '; $parent.stage2Message[0] = true">%location%</li>
			<li ng-click="automationRules.stage2.reply[0].text = automationRules.stage2.reply[0].text + ' %posttitle% '; $parent.stage2Message[0] = true">%posttitle%</li>
		</ul>
		<p class="tip">{{translation.MESSAGE_VARS_TIP}}</p>
	</div>
</div>
<div ng-repeat="reply in automationReply track by $index" class="reply-block">
	<h3>{{translation.SUBMIT_REPLY_IF_POST}}:</h3>
	<input placeholder="{{translation.REPLY_IF_POST_PLACEHOLDER}}" ng-model="automationRules.stage2.reply[$index].conditionTerms" ng-init="automationRules.stage2.reply[$index].conditionTerms = automationRules.stage2.reply[$index].conditionTerms || ''">
	<h3>{{translation.YOUR_REPLY}}:</h3>
	<textarea placeholder="{{translation.REPLY_PLACEHOLDER}}" ng-model="automationRules.stage2.reply[$index].text" show-focus="stage2Message[$index]"></textarea>
	<div class="message-vars">
		<ul>
			<li class="title">{{translation.PERSONAL_VARS}}:</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %firstname% '; $parent.stage2Message[$index] = true">%firstname%</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %jobtitle% '; $parent.stage2Message[$index] = true">%jobtitle%</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %headline% '; $parent.stage2Message[$index] = true">%headline%</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %company% '; $parent.stage2Message[$index] = true">%company%</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %industry% '; $parent.stage2Message[$index] = true">%industry%</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %location% '; $parent.stage2Message[$index] = true">%location%</li>
			<li ng-click="automationRules.stage2.reply[$index].text = automationRules.stage2.reply[$index].text + ' %posttitle% '; $parent.stage2Message[$index] = true">%posttitle%</li>
		</ul>
		<p class="tip">{{translation.MESSAGE_VARS_TIP}}</p>
	</div>
</div>
<button class="add add-reply" ng-click="addAutomationFields(automationReply)"><i class="fa fa-plus" aria-hidden="true"></i> {{translation.ADD_ANOTHER_REPLY}}</button>

<div class="checkbox" ng-if="automationRules.duration != undefined" uib-tooltip="{{translation.FORCE_THIS_STEP_EXPLANATION}}" tooltip-placement="bottom">
	<label><input class="force" type="checkbox" ng-model="automationRules.stage2.force" /> {{translation.FORCE_THIS_STEP}}</label>
</div>

<h2>{{translation.STAGE}} 3: Connect</h2>
<h3>{{translation.PREFERRED_NETWORK}}:</h3>
<ul class="select network" ng-model="automationRules.stage3.preferredNetwork" ng-init="automationRules.stage3.preferredNetwork = 'all'">
	<li class="linkedin" ng-click="automationRules.stage3.preferredNetwork = 'linkedin'" ng-class="{active : automationRules.stage3.preferredNetwork == 'linkedin'}">
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	</li><li class="twitter" ng-click="automationRules.stage3.preferredNetwork = 'twitter'" ng-class="{active : automationRules.stage3.preferredNetwork == 'twitter'}">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</li><li class="all" ng-click="automationRules.stage3.preferredNetwork = 'all'" ng-class="{active : automationRules.stage3.preferredNetwork == 'all'}">
		{{translation.ALL_NETWORKS}}
	</li>
</ul>
<h3>{{translation.CUSTOMIZE_LINKEDIN_CONNECT_MESSAGE}}:</h3>

<div class="message-vars">
	<ul>
		<li class="title">{{translation.PERSONAL_VARS}}:</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %firstname% '; $parent.stage3Message = true">%firstname%</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %jobtitle% '; $parent.stage3Message = true">%jobtitle%</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %headline% '; $parent.stage3Message = true">%headline%</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %company% '; $parent.stage3Message = true">%company%</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %industry% '; $parent.stage3Message = true">%industry%</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %location% '; $parent.stage3Message = true">%location%</li>
		<li ng-click="automationRules.stage3.message = automationRules.stage3.message + ' %posttitle% '; $parent.stage3Message = true">%posttitle%</li>
	</ul>
</div>

<textarea placeholder="{{translation.MESSAGE_PLACEHOLDER}}" ng-model="automationRules.stage3.message" show-focus="stage3Message"></textarea>
<div class="template-actions">
	<!-- Delete template -->
	<button ng-if="selTemplate.id != null" ng-click="deleteTemplate(selTemplate); automationRules.stage3.message = ''; checkSelTemplate(null, 'connect')" class="delete-template"><i class="fa fa-trash" aria-hidden="true"></i> <span>{{translation.DELETE}} {{translation.TEMPLATE}}:</span> "{{selTemplate.name}}"</button>
</div>
<select ng-model="automationRules.stage3.message" ng-init="checkSelTemplate(automationRules.stage3.message, 'connect')" ng-change="checkSelTemplate(automationRules.stage3.message, 'connect')">
	<option ng-repeat="template in templates | filter: {type: 'connect'}" value="{{template.text}}" ng-show="template.listId == null || template.listId == currentList.id">{{translation.TEMPLATE}}: {{template.name}}</option>
	<option value="{{automationRules.stage3.message}}" disabled>--- {{translation.SELECT_AUTOMATION_TEMPLATE}} ---</option>
</select>
<div class="template-actions">
	<div class="template-details">
		<input placeholder="{{translation.TEMPLATE_NAME}}" ng-model="templateName" limit-to="20">
		<ul class="template-parent" ng-model="selTemplate.listId">
			<li class="current-list" ng-click="selTemplate.listId = currentList.id" ng-class="{active : selTemplate.listId == currentList.id}">{{translation.CURRENT_LIST_ONLY}}</li><!--
			--><li class="every-list" ng-click="selTemplate.listId = null" ng-class="{active : selTemplate.listId == !currentList.id || selTemplate.listId != currentList.id}">{{translation.ALL_MY_LISTS}}</li>
		</ul>
		<!-- Save new template button -->
		<button ng-click="saveTemplate(templateName, automationRules.stage3.message, selTemplate.listId, 'connect')">{{translation.SAVE_AS_NEW_TEMPLATE}}</button>
		<!-- Update template -->
		<button ng-if="selTemplate.id != null" ng-click="updateTemplate(selTemplate, templateName, automationRules.stage3.message, selTemplate.listId, 'connect')">{{translation.UPDATE}} {{translation.TEMPLATE}}: "{{selTemplate.name}}"</button>
	</div>
</div>

<h2 ng-init="automationMessage = automationRules.stage4.message || [{}]">{{translation.STAGE}} 4: Message</h2>
<div ng-repeat="message in automationMessage track by $index" class="message-block">
	<h3 ng-if="$index == 0">{{translation.USE_SOMETHING_RELATED_TO_LIST}}:</h3>
	<div class="conditions-block" ng-if="$index > 0">
		<h3>{{translation.SETUP_KEYWORD_RELATED_MESSAGE}}:</h3>
		<ul class="select conditions" ng-model="automationRules.stage4.conditionType" ng-init="automationRules.stage4.message[$index].conditionType = 'activity'">
			<li class="post" ng-click="automationRules.stage4.message[$index].conditionType = 'activity'" ng-class="{active : automationRules.stage4.message[$index].conditionType == 'activity'}">
				{{translation.ACTIVITY}}
			</li><!--
			--><li class="tag" ng-click="automationRules.stage4.message[$index].conditionType = 'tag'" ng-class="{active : automationRules.stage4.message[$index].conditionType == 'tag'}">
				{{translation.TAG}}
			</li>
		</ul>

		<h3 ng-if="automationRules.stage4.message[$index].conditionType == 'activity'">
			{{translation.SEND_MESSAGE_IF_TERMS}}:
		</h3>
		<input placeholder="{{translation.REPLY_IF_POST_PLACEHOLDER}}"
			ng-if="automationRules.stage4.message[$index].conditionType == 'activity'"
			ng-model="automationRules.stage4.message[$index].conditionTerms">

		<h3 ng-if="automationRules.stage4.message[$index].conditionType == 'tag'">
			{{translation.SEND_MESSAGE_IF_TAG}}:
		</h3>
		<input placeholder="{{translation.TAG}}"
			ng-if="automationRules.stage4.message[$index].conditionType == 'tag'"
			ng-model="automationRules.stage4.message[$index].conditionTerms"
			uib-typeahead="tag.note as tag.note for tag in savedTags | filter:{note:$viewValue}"
		    typeahead-focus-first="false">
	</div>
	<h3 ng-if="automationRules.stage4.message[$index].conditionType == 'activity'">
		{{translation.WRITE_MESSAGE_REGARDING_TERMS}}
	</h3>
	<h3 ng-if="automationRules.stage4.message[$index].conditionType == 'tag'">
		{{translation.WRITE_MESSAGE_REGARDING_TAG}}
	</h3>

	<div class="message-vars">
		<ul>
			<li class="title">{{translation.PERSONAL_VARS}}:</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %firstname% '; $parent.stage4Message[$index] = true">%firstname%</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %jobtitle% '; $parent.stage4Message[$index] = true">%jobtitle%</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %headline% '; $parent.stage4Message[$index] = true">%headline%</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %company% '; $parent.stage4Message[$index] = true">%company%</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %industry% '; $parent.stage4Message[$index] = true">%industry%</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %location% '; $parent.stage4Message[$index] = true">%location%</li>
			<li ng-click="automationRules.stage4.message[$index].text = automationRules.stage4.message[$index].text + ' %posttitle% '; $parent.stage4Message[$index] = true">%posttitle%</li>
		</ul>
	</div>

	<input placeholder="{{translation.SUBJECT_LINKEDIN_MESSAGE_PLACEHOLDER}}" ng-model="automationRules.stage4.message[$index].subject">
	<textarea placeholder="{{translation.MESSAGE_PLACEHOLDER}}" ng-model="automationRules.stage4.message[$index].text" show-focus="stage4Message[$index]"></textarea>
	<div class="template-actions">
		<!-- Delete template -->
		<button ng-if="selTemplate.id != null" ng-click="deleteTemplate(selTemplate); automationRules.stage4.message[$index].text = ''; checkSelTemplate(null, 'message')" class="delete-template"><i class="fa fa-trash" aria-hidden="true"></i> <span>{{translation.DELETE}} {{translation.TEMPLATE}}:</span>  "{{selTemplate.name}}"</button>
	</div>
	<select ng-model="automationRules.stage4.message[$index].text" ng-init="checkSelTemplate(automationRules.stage4.message[$index].text, 'message')" ng-change="checkSelTemplate(automationRules.stage4.message[$index].text, 'message')">
		<option ng-repeat="template in templates | filter: {type: 'message'}" value="{{template.text}}" ng-show="template.listId == null || template.listId == currentList.id">{{translation.TEMPLATE}}: {{template.name}}</option>
		<option value="{{automationRules.stage4.message[$index].text}}" disabled>--- {{translation.SELECT_AUTOMATION_TEMPLATE}} ---</option>
	</select>
	<div class="template-actions">
		<div class="template-details">
			<input placeholder="{{translation.TEMPLATE_NAME}}" ng-model="templateName" limit-to="20">
			<ul class="template-parent" ng-model="selTemplate.listId">
				<li class="current-list" ng-click="selTemplate.listId = currentList.id" ng-class="{active : selTemplate.listId == currentList.id}">
					{{translation.CURRENT_LIST_ONLY}}
				</li><li class="every-list" ng-click="selTemplate.listId = null" ng-class="{active : selTemplate.listId == !currentList.id || selTemplate.listId != currentList.id}">
					{{translation.ALL_MY_LISTS}}
				</li>
			</ul>
			<!-- Save new template button -->
			<button ng-click="saveTemplate(templateName, automationRules.stage4.message[$index].text, selTemplate.listId, 'message')">{{translation.SAVE_AS_NEW_TEMPLATE}}</button>
			<!-- Update template -->
			<button ng-if="selTemplate.id != null" ng-click="updateTemplate(selTemplate, templateName, automationRules.stage4.message[$index].text, selTemplate.listId, 'message')">{{translation.UPDATE}} {{translation.TEMPLATE}}: "{{selTemplate.name}}"</button>
		</div>
	</div>
</div>
<button class="add add-message" ng-click="addAutomationFields(automationMessage)"><i class="fa fa-plus" aria-hidden="true"></i> {{translation.ADD_TARGETED_MESSAGE}}</button>
<p class="tip">{{translation.WE_SEND_ONE_MESSAGE_ONLY}}</p>

<hr />
<button class="submit" ng-click="submitAutomation(automationRules, true, currentList.id); hideAutomationModal()"
	ng-if="automationRules.stage3.message != translation.DEFAULT_AUTOMATION_STAGE3_VALUE
		|| automationRules.stage4.message[0].text != translation.DEFAULT_AUTOMATION_STAGE4_VALUE">
	{{translation.SUBMIT}}
</button>
<div class="submit-automation-confirmation"
	ng-if="automationRules.stage3.message == translation.DEFAULT_AUTOMATION_STAGE3_VALUE
		&& automationRules.stage4.message[0].text == translation.DEFAULT_AUTOMATION_STAGE4_VALUE">
	<p>{{translation.AUTOMATION_NO_CHANGES}}</p>
	<button class="submit" ng-click="submitAutomation(automationRules, true, currentList.id); hideAutomationModal()">
		{{translation.SUBMIT_ANYWAY}}
	</button>
</div>
<button class="cancel" ng-click="hideAutomationModal()">{{translation.CANCEL}}</button>