<div class="create-list" ng-init="watchlistActive = true">
    <input ng-enter="addWatchlistTerm(contextInput, currentList.name, currentList.id, advancedSearchFilter)" class="create-filter" ng-class="{light : watchlistActive }" style="font-family: 'FontAwesome', 'GillSans';" placeholder="{{translation.CREATELIST_PLACEHOLDER_EG}}" ng-click="watchlistActive = true" ng-model="contextInput" ng-change="checkContextInputLength()" show-focus="watchlistActive">

    <div class="list-config" ng-show="watchlistActive" ng-hide="!watchlistActive">
        <div class="terms">
            <p class="tip save" ng-if="emptyWatchlistInput">{{translation.SAVE_CURRENT_TERMS}}</p>
            <p class="tip" ng-if="!emptyWatchlistInput">{{translation.ENTER_MULTIPLE_TERMS}}</p>
            <p ng-show="watchlistTerms.length > 0" class="included-terms">{{translation.INCLUDED_TERMS}}:</p>
            <ul ng-show="watchlistTerms.length > 0">
                <li ng-repeat="term in watchlistTerms track by $index">
                    <span class="delete" ng-click="deleteWatchlistTerm($index)">x</span> {{term}}
                </li>
            </ul>
        </div>

        <!-- ADVANCED SEARCH -->
        <div class="advancedSearchTrigger" ng-init="addAdvancedSearchItem()" ng-click="showAdvancedSearch = !showAdvancedSearch" ng-show="watchlistTerms.length > 0">
            <p><i class="fa fa-caret-down" aria-hidden="true" ng-if="!showAdvancedSearch"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showAdvancedSearch"></i> {{translation.ADVANCED_CONFIG}} <i class="fa fa-caret-down" aria-hidden="true" ng-if="!showAdvancedSearch"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showAdvancedSearch"></i></p>
        </div>

        <div class="advancedSearch" ng-show="showAdvancedSearch">

            <!-- NEGATIVE TERMS -->
            <div class="negative-terms">
                <p><i class="fa fa-search-minus" aria-hidden="true"></i> {{translation.EXCLUDE_WORDS}}</p>
                <div class="item">
                    <input ng-enter="saveWatchlist(currentList.name, watchlistTerms, advancedSearchFilter, currentList.id, true)" ng-model="advancedSearchFilter.negativeTerms" placeholder="{{translation.EXCLUDE_WORDS_PLACEHOLDER}}" class="negative-terms-input">
                </div>
            </div>

            <!-- SEARCH CONDITION -->
            <div class="terms-condition" ng-show="watchlistTerms.length > 1" ng-init="advancedSearchFilter.searchCondition = 'and'">
                <p><i class="fa fa-filter" aria-hidden="true"></i> {{translation.SHOW_RESULTS_RELATED_TO}}:</p>
                <ul>
                    <li ng-click="advancedSearchFilter.searchCondition = 'and'"
                        ng-class="{active: advancedSearchFilter.searchCondition == 'and'}">
                        {{translation.ALL_TERMS}}
                    </li><!--
                    --><li ng-click="advancedSearchFilter.searchCondition = 'or'"
                        ng-class="{active: advancedSearchFilter.searchCondition == 'or'}">
                        {{translation.ANY_TERM}}
                    </li>
                </ul>
            </div>

            <!-- SEARCH GOAL -->
            <div class="search-goal" ng-init="advancedSearchFilter.goal = 'misc'">
                <p><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.WHAT_KIND_OF_PEOPLE}}</p>
                <ul>
                    <li ng-click="advancedSearchFilter.goal = 'misc'"
                        ng-class="{active: advancedSearchFilter.goal == 'misc'}">
                        {{translation.MISC}}
                    </li><!--
                    --><li ng-click="advancedSearchFilter.goal = 'prospects'"
                        ng-class="{active: advancedSearchFilter.goal == 'prospects'}">
                        {{translation.PROSPECTS}}
                    </li><!--
                    --><li ng-click="advancedSearchFilter.goal = 'professionals'"
                        ng-class="{active: advancedSearchFilter.goal == 'professionals'}">
                        {{translation.PROFESSIONALS}}
                    </li>
                </ul>
                <p class="goal-explanation" ng-if="advancedSearchFilter.goal == 'misc'">{{translation.MISC_EXPLANATION}}</p>
                <p class="goal-explanation" ng-if="advancedSearchFilter.goal == 'prospects'">{{translation.PROSPECTS_EXPLANATION}}</p>
                <p class="goal-explanation" ng-if="advancedSearchFilter.goal == 'professionals'">{{translation.PROFESSIONALS_EXPLANATION}}</p>
            </div>

            <!-- LOCATION, INDUSTRY, COMPANY -->
            <div class="item">
                <i class="fa fa-map-marker" aria-hidden="true"></i><input placeholder="{{translation.LOCATION_PLACEHOLDER}}" ng-model="advancedSearchFilter.location" ng-enter="saveWatchlist(currentList.name, watchlistTerms, advancedSearchFilter, currentList.id, true)" class="advancedLocation" show-focus="showAdvancedSearch">

                <i class="fa fa-industry" aria-hidden="true"></i><input placeholder="{{translation.INDUSTRY}}" ng-model="advancedSearchFilter.industry" ng-enter="saveWatchlist(currentList.name, watchlistTerms, advancedSearchFilter, currentList.id, true)">

                <i class="fa fa-building last" aria-hidden="true"></i><input placeholder="{{translation.COMPANY}}" ng-model="advancedSearchFilter.company" ng-enter="saveWatchlist(currentList.name, watchlistTerms, advancedSearchFilter, currentList.id, true)">
            </div>

        </div>

        <!-- NEXT STEP BUTTON -->
        <div class="next-step">
            <button ng-if="watchlistTerms.length > 0" ng-click="saveWatchlist(currentList.name, watchlistTerms, advancedSearchFilter, currentList.id, true)">
                {{translation.NEXT_STEP}}
            </button>
        </div>
    </div>
</div>