<div class="bulk-modal-pref-wrapper">
<h2 class="bulk-network" ng-init="setBulkNetworkWithActivity('linkedin'); setBulkNetwork = 'linkedin'">{{translation.PREFERRED_NETWORK}}:
	<i class="fa fa-linkedin-square linkedin" aria-hidden="true"
		ng-click="setBulkNetworkWithActivity('linkedin'); setBulkNetwork = 'linkedin'"
		ng-class="{selected : setBulkNetwork == 'linkedin'}"></i>
	<i class="fa fa-twitter twitter" aria-hidden="true"
		ng-click="setBulkNetworkWithActivity('twitter'); setBulkNetwork = 'twitter'"
		ng-class="{selected : setBulkNetwork == 'twitter'}"></i>
</h2>
<aside>({{translation.BULK_PUBLICATION_BOTH_NETWORKS}})</aside>
</div>

<div class="bulk-modal-content-wrapper">
<h1 ng-if="bulkActionEnabled" class="sending-info"><i class="fa fa-heart" aria-hidden="true"></i> {{translation.BULK_LIKE_PEOPLE}}:</h1>

<ul>
	<!-- Only LinkedIn with lastPost and no Like -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter == null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like == 'none'"
		ng-init="result.bulkNetwork = 'linkedin'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i class="fa fa-linkedin-square linkedin selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- Only Twitter with lastPost and no Fav-->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin == null
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav == 'none'"
		ng-init="result.bulkNetwork = 'twitter'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i class="fa fa-twitter twitter selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter with lastPost on both networks and no Like or Fav -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like == 'none'
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav == 'none'"
		ng-init="$parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i ng-show="result.bulkNetwork == 'linkedin' && result.bulkNetwork2 == 'twitter'" class="fa fa-linkedin-square linkedin selected" aria-hidden="true" ng-click="result.bulkNetwork = null"></i>
		<i ng-show="result.bulkNetwork == 'linkedin' && result.bulkNetwork2 != 'twitter'" class="fa fa-linkedin-square linkedin selected" aria-hidden="true"></i>
		<i ng-show="result.bulkNetwork != 'linkedin'" class="fa fa-linkedin-square linkedin" aria-hidden="true" ng-click="result.bulkNetwork = 'linkedin'"></i>
		<i ng-show="result.bulkNetwork2 == 'twitter' && result.bulkNetwork == 'linkedin'" class="fa fa-twitter twitter selected" aria-hidden="true" ng-click="result.bulkNetwork2 = null"></i>
		<i ng-show="result.bulkNetwork == 'twitter' || result.bulkNetwork2 == 'twitter' && result.bulkNetwork != 'linkedin'" class="fa fa-twitter twitter selected" aria-hidden="true"></i>
		<i ng-show="result.bulkNetwork != 'twitter' && result.bulkNetwork2 != 'twitter'" class="fa fa-twitter twitter" aria-hidden="true" ng-click="result.bulkNetwork2 = 'twitter'"></i>
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter with lastPost only in LinkedIn with no Like-->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like == 'none'
			&& result.networkProfiles.twitter.lastPost == null
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like == 'none'
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav != 'none'"
		ng-init="$parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i class="fa fa-linkedin-square linkedin selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter with lastPost only in Twitter with no Fav -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost == null
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav == 'none'
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like != 'none'
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav == 'none'"
		ng-init="$parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee twitter">
		<i class="fa fa-twitter twitter selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- <li class="addressee empty" ng-if="selectedLinkedin == false">({{translation.EMPTY}})</li> -->
</ul>

<hr ng-if="bulkActionEnabled && bulkActionDisabled"/>

<h1 ng-if="bulkActionDisabled" class="sending-info disabled"><i class="fa fa-heart" aria-hidden="true"></i> {{translation.BULK_LIKE_NO_NEW_POST}}:</h1>
<ul>
	<!-- Only LinkedIn with NO lastPost or Like done-->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter == null
			&& result.networkProfiles.linkedin.lastPost == null
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter == null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like != 'none'"
		ng-init="$parent.$parent.bulkActionDisabled = true"
		id="{{$index}}" class="addressee linkedin disabled">
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- Only Twitter with NO lastPost or Fav done -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin == null
			&& result.networkProfiles.twitter.lastPost == null
			|| result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin == null
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav != 'none'"
		ng-init="$parent.$parent.bulkActionDisabled = true"
		id="{{$index}}" class="addressee twitter disabled">
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter with no lastPost in any network or lastPost present in both networks with Like or Fav-->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost == null
			&& result.networkProfiles.twitter.lastPost == null
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.lastPost != null
			&& result.networkProfiles.linkedin.lastPost.like != 'none'
			&& result.networkProfiles.twitter.lastPost != null
			&& result.networkProfiles.twitter.lastPost.fav != 'none'"
		ng-init="$parent.$parent.bulkActionDisabled = true"
		id="{{$index}}" class="addressee linkedin disabled">
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
</ul>

</div>

<div class="button-area">
	<button ng-show="checkBulkLinkedin() && !linkedinAccount" class="social linkedin" ng-click="linkedinSignin()">
		<i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i> {{translation.CONNECT_LINKEDIN_PROCEED}}
	</button>
	<button ng-show="checkBulkTwitter() && !twitterAccount" class="social twitter" ng-click="twitterSignin()">
		<i class="fa fa-twitter twitter" aria-hidden="true"></i> {{translation.CONNECT_TWITTER_PROCEED}}
	</button>
	<button ng-if="bulkActionEnabled"
		class="submit level1"
		ng-class="{disabled: gridApi.selection.getSelectedRows() == 0}"
		ng-click="bulkTap()"
		ng-hide="checkBulkLinkedin() && !linkedinAccount
			|| checkBulkTwitter() && !twitterAccount">{{translation.CONFIRM}}</button>
	<button class="cancel" ng-click="cancelBulkTap()">{{translation.CANCEL}}</button>
</div>