<div ng-controller="listSettings" ng-init="getTemplates(false); messageInputFocus = true">
<div class="bulk-modal-pref-wrapper">
<h2 class="bulk-network" ng-init="setBulkNetworkNoCheck('linkedin'); setBulkNetwork = 'linkedin'">{{translation.PREFERRED_NETWORK}}:
	<i class="fa fa-linkedin-square linkedin" aria-hidden="true"
		ng-click="setBulkNetworkNoCheck('linkedin'); setBulkNetwork = 'linkedin'"
		ng-class="{selected : setBulkNetwork == 'linkedin'}"></i>
	<i class="fa fa-twitter twitter" aria-hidden="true"
		ng-click="setBulkNetworkNoCheck('twitter'); setBulkNetwork = 'twitter'"
		ng-class="{selected : setBulkNetwork == 'twitter'}"></i>
</h2>
<aside>({{translation.BULK_CONNECTED_BOTH_NETWORKS}})</aside>
</div>

<div class="bulk-modal-content-wrapper">
<h1 ng-if="bulkActionEnabled" class="sending-info"><i class="fa fa-comment" aria-hidden="true"></i> {{translation.BULK_MESSAGE_PEOPLE}}:</h1>

<ul>
	<!-- Only LinkedIn connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter == null
			&& result.networkProfiles.linkedin.connectRequest == 'done'
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter == null
			&& result.isContact"
		ng-init="result.bulkNetwork = 'linkedin'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i class="fa fa-linkedin-square linkedin selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- Only Twitter connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin == null
			&& result.networkProfiles.twitter.follow == 'done'"
		ng-init="result.bulkNetwork = 'twitter'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i class="fa fa-twitter twitter selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.connectRequest == 'done'
			&& result.networkProfiles.twitter.follow == 'done'
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.isContact
			&& result.networkProfiles.twitter.follow == 'done'"
		ng-init="result.bulkNetwork = 'linkedin'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i ng-show="result.bulkNetwork == 'linkedin' && result.bulkNetwork2 == 'twitter'" class="fa fa-linkedin-square linkedin selected" aria-hidden="true" ng-click="result.bulkNetwork = null"></i>
		<i ng-show="result.bulkNetwork == 'linkedin' && result.bulkNetwork2 != 'twitter'" class="fa fa-linkedin-square linkedin selected" aria-hidden="true"></i>
		<i ng-show="result.bulkNetwork != 'linkedin'" class="fa fa-linkedin-square linkedin" aria-hidden="true" ng-click="result.bulkNetwork = 'linkedin'"></i>
		<i ng-show="result.bulkNetwork2 == 'twitter' && result.bulkNetwork == 'linkedin'" class="fa fa-twitter twitter selected" aria-hidden="true" ng-click="result.bulkNetwork2 = null"></i>
		<i ng-show="result.bulkNetwork == 'twitter' || result.bulkNetwork2 == 'twitter' && result.bulkNetwork != 'linkedin'" class="fa fa-twitter twitter selected" aria-hidden="true"></i>
		<i ng-show="result.bulkNetwork != 'twitter' && result.bulkNetwork2 != 'twitter'" class="fa fa-twitter twitter" aria-hidden="true" ng-click="result.bulkNetwork2 = 'twitter'"></i>
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter with only LinkedIn connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.connectRequest == 'done'
			&& result.networkProfiles.twitter.follow != 'done'
			|| result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.isContact
			&& result.networkProfiles.twitter.follow != 'done'"
		ng-init="result.bulkNetwork = 'linkedin'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee linkedin">
		<i class="fa fa-linkedin-square linkedin selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter with only Twitter connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.connectRequest != 'done'
			&& !result.isContact
			&& result.networkProfiles.twitter.follow == 'done'"
		ng-init="result.bulkNetwork = 'twitter'; $parent.$parent.bulkActionEnabled = true"
		id="{{$index}}" class="addressee twitter">
		<i class="fa fa-twitter twitter selected" aria-hidden="true"></i>{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- <li class="addressee empty" ng-if="selectedLinkedin == false">({{translation.EMPTY}})</li> -->
</ul>

<h1 ng-if="bulkActionDisabled" class="sending-info disabled"><i class="fa fa-comment" aria-hidden="true"></i> {{translation.BULK_MESSAGE_NOT_CONNECTED}}:</h1>
<ul>
	<!-- Only LinkedIn not connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter == null
			&& result.networkProfiles.linkedin.connectRequest != 'done'
			&& !result.isContact"
		ng-init="$parent.$parent.bulkActionDisabled = true"
		id="{{$index}}" class="addressee linkedin disabled">
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- Only Twitter not connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin == null
			&& result.networkProfiles.twitter.follow != 'done'"
		ng-init="$parent.$parent.bulkActionDisabled = true"
		id="{{$index}}" class="addressee twitter disabled">
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
	<!-- LinkedIn and Twitter not connected -->
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index"
		ng-if="result.networkProfiles.linkedin != null
			&& result.networkProfiles.twitter != null
			&& result.networkProfiles.linkedin.connectRequest != 'done'
			&& !result.isContact
			&& result.networkProfiles.twitter.follow != 'done'"
		ng-init="$parent.$parent.bulkActionDisabled = true"
		id="{{$index}}" class="addressee linkedin disabled">
		{{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span>
	</li>
</ul>
</div>

<div class="message-vars" ng-if="bulkActionEnabled">
	<ul>
		<li class="title">{{translation.PERSONAL_VARS}}:</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %firstname% '; $parent.messageInputFocus = true">%firstname%</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %jobtitle% '; $parent.messageInputFocus = true">%jobtitle%</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %headline% '; $parent.messageInputFocus = true">%headline%</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %company% '; $parent.messageInputFocus = true">%company%</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %industry% '; $parent.messageInputFocus = true">%industry%</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %location% '; $parent.messageInputFocus = true">%location%</li>
		<li ng-click="$parent.bulkContactMessage = $parent.bulkContactMessage + ' %posttitle% '; $parent.messageInputFocus = true">%posttitle%</li>
	</ul>
</div>

<div ng-if="bulkActionEnabled">
	<input ng-model="$parent.bulkContactSubject" placeholder="{{translation.BULK_CONTACT_SUBJECT}}" class="subject"></input>
	<textarea ng-model="$parent.bulkContactMessage" placeholder="{{translation.BULK_CONTACT_MESSAGE}}" show-focus="messageInputFocus"></textarea>
</div>

<div class="template-sel" ng-if="bulkActionEnabled && checkBulkLinkedin()">
	<select ng-model="$parent.bulkContactMessage" ng-init="checkSelTemplate($parent.bulkContactMessage, 'message')" ng-change="checkSelTemplate($parent.bulkContactMessage, 'message')">
		<option ng-repeat="template in templates | filter: {type: 'message'}" value="{{template.text}}" ng-show="template.listId == null || template.listId == currentList.id">{{translation.TEMPLATE}}: {{template.name}}</option>
		<option value="{{$parent.bulkContactMessage}}" disabled>--- {{translation.SELECT_AUTOMATION_TEMPLATE}} ---</option>
	</select>
</div>
<div class="template-actions" ng-if="bulkActionEnabled && checkBulkLinkedin()">
	<div class="template-details">
		<input placeholder="{{translation.TEMPLATE_NAME}}" ng-model="templateName" limit-to="20">
		<ul class="template-parent" ng-model="selTemplate.listId">
			<li class="current-list" ng-click="selTemplate.listId = currentList.id" ng-class="{active : selTemplate.listId == currentList.id}">{{translation.CURRENT_LIST_ONLY}}</li><!--
			--><li class="every-list" ng-click="selTemplate.listId = null" ng-class="{active : selTemplate.listId == !currentList.id || selTemplate.listId != currentList.id}">{{translation.ALL_MY_LISTS}}</li>
		</ul><br />
		<!-- Save new template button -->
		<button ng-click="saveTemplate(templateName, $parent.bulkContactMessage, selTemplate.listId, 'message')">{{translation.SAVE_AS_NEW_TEMPLATE}}</button>
		<!-- Update template -->
		<button ng-if="selTemplate.id != null" ng-click="updateTemplate(selTemplate, templateName, $parent.bulkContactMessage, selTemplate.listId, 'message')">{{translation.UPDATE}} {{translation.TEMPLATE}}: "{{selTemplate.name}}"</button>
	</div>
</div>

<div class="button-area">
	<button ng-show="checkBulkLinkedin() && !linkedinAccount" class="social linkedin" ng-click="linkedinSignin()">
		<i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i> {{translation.CONNECT_LINKEDIN_PROCEED}}
	</button>
	<button ng-show="checkBulkTwitter() && !twitterAccount" class="social twitter" ng-click="twitterSignin()">
		<i class="fa fa-twitter twitter" aria-hidden="true"></i> {{translation.CONNECT_TWITTER_PROCEED}}
	</button>
	<button ng-if="bulkActionEnabled"
		class="submit level4"
		ng-click="bulkContact(bulkContactSubject, bulkContactMessage)"
		ng-class="{disabled: !bulkContactMessage.length}"
		ng-hide="checkBulkLinkedin() && !linkedinAccount
			|| checkBulkTwitter() && !twitterAccount">{{translation.SEND}}</button>
	<button class="cancel" ng-click="cancelBulkContact()">{{translation.CANCEL}}</button>
</div>
</div>