<div class="bulk-actions">
    <button ng-hide="!engageActionsEnabled" ng-click="bulkTapModal()" ng-class="{active: gridApi.selection.getSelectedRows().length > 0}" class="level1">Like<br /><p>{{translation.SELECTED_PEOPLE}}</p></button><!--
    --><button ng-hide="!engageActionsEnabled" ng-click="bulkTouchModal()" ng-class="{active: gridApi.selection.getSelectedRows().length > 0}" class="level2">Reply<br /><p>{{translation.SELECTED_PEOPLE}}</p></button><!--
    --><button ng-hide="!engageActionsEnabled" ng-click="bulkConnectModal()" ng-class="{active: gridApi.selection.getSelectedRows().length > 0}" class="level3">Connect<br /><p>{{translation.SELECTED_PEOPLE}}</p></button><!--
    --><button ng-hide="!engageActionsEnabled" ng-click="bulkContactModal()" ng-class="{active: gridApi.selection.getSelectedRows().length > 0}" class="level4">Message<br /><p>{{translation.SELECTED_PEOPLE}}</p></button><!--
    --><button ng-click="bulkTagModal()" ng-class="{active: gridApi.selection.getSelectedRows().length > 0}" class="tag">Tag<br /><p>{{translation.SELECTED_PEOPLE}}</p></button><!--
    --><button ng-click="bulkWatchlistModal()" ng-class="{active: gridApi.selection.getSelectedRows().length > 0}" class="watchlist">{{translation.ASSIGN_LIST}}<br /><p>{{translation.SELECTED_PEOPLE}}</p></button>
</div>