<h1 class="sending-info tag"><i class="fa fa-tag" aria-hidden="true"></i> {{translation.BULK_TAG}}:</h1>
<ul>
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index" id="{{$index}}" class="addressee"><i class="fa fa-user" aria-hidden="true"></i> {{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span></li>
	<li class="addressee empty" ng-if="gridApi.selection.getSelectedRows() == 0">({{translation.EMPTY}})</li>
</ul>

<div class="bulk-watchlist-tag" ng-init="tagInput = true">
	<input type="text" placeholder="{{translation.WRITE_TAG}}" class="tag" ng-model="bulkTagName" ng-enter="bulkTag(bulkTagName)" show-focus="tagInput"
		uib-typeahead="tag.note as tag.note for tag in savedTags | filter:{note:$viewValue}"
		typeahead-focus-first="false"
		ng-keydown="$event.which === 13 && saveTag(expandedResultIndex, expandedResult.id, selectedTag, key)"></input>
</div>

<div class="button-area">
	<button class="submit tag" ng-class="{disabled: gridApi.selection.getSelectedRows() == 0 || !bulkTagName.length}" ng-click="bulkTag(bulkTagName)">{{translation.CONFIRM}}</button>
	<button class="cancel" ng-click="cancelBulkTag()">{{translation.CANCEL}}</button>
</div>