<h1 class="sending-info watchlist"><i class="fa fa-folder" aria-hidden="true"></i> {{translation.BULK_LIST}}:</h1>
<ul>
	<li ng-repeat="result in gridApi.selection.getSelectedRows() track by $index" id="{{$index}}" class="addressee"><i class="fa fa-user" aria-hidden="true"></i> {{result.name}} <span ng-click="removeFromBulkSelected(result.id, $index)" class="delete">x</span></li>
	<li class="addressee empty" ng-if="gridApi.selection.getSelectedRows() == 0">({{translation.EMPTY}})</li>
</ul>

<div class="bulk-watchlist-wrap">
	<div class="bulk-watchlist" ng-init="submitBulkWatchlist = false">
		<i class="fa fa-folder" aria-hidden="true"></i><!--
	    --><select ng-model="bulkSelWatchlist" ng-change="submitBulkWatchlist = true" style="font-family: 'FontAwesome', 'GillSans';">
	    	<option value="" disabled selected>{{translation.CHOOSE_LIST}}</option>
	        <option ng-repeat="list in site.savedLists" value="{{list.name}}">{{list.name}}</option>
	    </select>
	</div>
</div>

<div class="button-area">
	<button class="submit watchlist" ng-class="{disabled: gridApi.selection.getSelectedRows() == 0 || !submitBulkWatchlist}" ng-click="bulkList(bulkSelWatchlist)">{{translation.CONFIRM}}</button>
	<button class="cancel" ng-click="cancelBulkWatchlist()">{{translation.CANCEL}}</button>
</div>