<div id="chromeExtensionAdvice" ng-if="contactList.length > 0" ng-hide="closeGCEAdvice || getGCEADvicePref()">
	<div class="closeGCEAdvice" ng-click="closeGCEAdvice = true">X</div>
	<i class="fa fa-chrome" aria-hidden="true"></i>
	<h1>{{translation.IMPORTANT}}!</h1>
	<p>{{translation.GCE_ADVICE_TEXT}}</p>
	<button ng-click="goToChromeExtensionUrl(); closeGCEAdvice = true"><i class="fa fa-chrome" aria-hidden="true"></i> {{translation.GCE_DOWNLOAD_BUTTON}}</button>
	<p class="dismiss" ng-click="dismissGCEADvice(); closeGCEAdvice = true">{{translation.GCE_DISMISS_ADVICE}}</p>
</div>