<div id="add-content">
	<h1><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a new item to your content library</h1>
	<form angular-validator-submit="addItemToContentLibrary(form)" name="addItemToContentLibrary" class="form-horizontal login-form" novalidate angular-validator>

        <div class="form-group">
            <div class="col-sm-12">
                <input  type = "text"
                        name = "title"
                        class = "form-control"
                        ng-model = "form.title"
                        required
                        placeholder="Title"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input  type = "text"
                        name = "url"
                        class = "form-control"
                        ng-model = "form.url"
                        required
                        placeholder="url"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input  type = "text"
                        name = "subject"
                        class = "form-control"
                        ng-model = "form.subject"
                        placeholder="Default subject (only when sharing by e-mail)"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <textarea  type = "text"
                        name = "message"
                        class = "form-control"
                        ng-model = "form.message"
                        placeholder="Default message when sharing this content" /></div>
        </div>

        <div class="form-group">
	        <div class="all-lists col-sm-12">
	            <input type="checkbox" id="checkbox" ng-model="form.allLists"/>
	            <label for="checkbox">Make this content available to all your lists.</label>
	        </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary save">{{translation.SUBMIT}}</button>
                <button type="button" ng-click="addItemToContentLibrary.reset()" class="btn btn-primary reset">{{translation.RESET}}</button>
            </div>
        </div>
    </form>
    <hr />
    <h1><i class="fa fa-book" aria-hidden="true"></i> Content library for this list</h1>
    <ul>
    	<li>
    		<p><span>name:</span> relevante.me website <i class="fa fa-pencil" aria-hidden="true"></i></p>
    		<p><span>url:</span> <a href="https://relevante.me" target="_blank">https://relevante.me</a> <i class="fa fa-pencil" aria-hidden="true"></i></p>
            <div class="saved-message">
                <p><span>subject:</span> Social selling tips <i class="fa fa-pencil" aria-hidden="true"></i></p>
                <p><span>message:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i class="fa fa-pencil" aria-hidden="true"></i></p>
            </div>
            <p class="delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</p>
    	</li>
    	<li>
    		<p><span>name:</span> relevante.me HUB <i class="fa fa-pencil" aria-hidden="true"></i></p>
    		<p><span>url:</span> <a href="http://hub.relevante.me" target="_blank">http://hub.relevante.me</a> <i class="fa fa-pencil" aria-hidden="true"></i></p>
            <div class="saved-message">
                <p><span>subject:</span> Marketing news <i class="fa fa-pencil" aria-hidden="true"></i></p>
                <p><span>message:</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <i class="fa fa-pencil" aria-hidden="true"></i></p>
            </div>
            <p class="delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</p>
    	</li>
    </ul>
</div>