<h1 ng-init="focusCreateListModal = true">{{translation.CREATE_LIST_FROM_CARD_TITLE}}</h1>

<p class="tip">{{translation.LIMIT}}: 20 {{translation.CHARS}}</p>
<input class="create-list"
        show-focus="focusCreateListModal"
    	placeholder="{{translation.CREATELIST_PLACEHOLDER_EG}}"
    	ng-enter="createList(listNameModal, true)"
    	ng-model="listNameModal"
    	ng-change="checkListName(listNameModal)"
    	ng-class="{required: !createList.length}"
    	limit-to="20">

<button class="create-filter" ng-if="!listNameExists" ng-click="createList(listNameModal, true)">{{translation.SAVE}}</button>

<div class="tip warning" ng-if="listNameExists">
	<p>{{translation.NAME_ALREADY_EXISTS}}</p>
</div>