<div class="close-modal" ng-click="closeCustomSearch(true)">
	<p><i class="fa fa-times" aria-hidden="true"></i> {{translation.CLOSE}}</p>
</div>

<div ng-controller="custom-search">
	<h1>{{translation.SEARCH_YOUR_CONTACTS}}</h1>
	<aside class="title">{{translation.CUSTOM_SEARCH_ASIDE}}</aside>

	<div id="custom-search-input-wrap" ng-init="customSearchFocus = true" ng-if="!customSearchResults.length">
		<p class="wait"><img src="/static/images/gears_grey.gif"> {{translation.LOADING_YOUR_CONTACTS_WAIT}}</p>
	</div>

	<div id="custom-search-input-wrap" ng-init="customSearchFocus = true" ng-if="customSearchResults.length">
		<input type="text" placeholder="{{translation.CUSTOM_SEARCH_PLACEHOLDER}}" class="custom-search forn-control" ng-model="customSearch"
			ng-change="hideCoincidencesPopup = false"
			show-focus="customSearchFocus"
			uib-typeahead="result as result.name for result in getMatchingResults($viewValue)"
			typeahead-focus-first="false"
			typeahead-on-select="selResult($item, $model, $label)"
			typeahead-popup-template-url="./static/templates/layout-elements/custom-search-typeahead.html"
			typeahead-min-length="3"
			typeahead-wait-ms="400"
			ng-keydown="$event.which === 13 && getCustomSearchResults(customSearch, 'any')"></input>
		<p class="tip" ng-show="customSearch.length > 0 && customSearch.length < 3">{{translation.CUSTOM_SEARCH_CHARS_TIP}}</p>
	</div>

	<div ng-controller="cards">
		<div class="custom-search-bulk-list" ng-if="customSearchList.length > 0 && site.savedLists.length > 0" ng-mouseenter="createListEnabled = true" ng-mouseleave="createListEnabled = false">
			<div class="select-wrap">
				<div class="icon_wrap"><i class="fa fa-folder" aria-hidden="true" ng-if="!createListEnabled"></i><!--
		        --><i class="fa fa-plus" aria-hidden="true" ng-if="createListEnabled" ng-click="createListModal()"></i> </div><!--
				--><select ng-init="searchSelList = getSelectedList()" ng-model="searchSelList" ng-change="submitBulkWatchlist = true" style="font-family: 'FontAwesome', 'GillSans';">
			    	<!-- <option value="" disabled selected>{{translation.CHOOSE_WATCHLIST}}</option> -->
			        <option ng-repeat="list in site.savedLists" value="{{list.name}}">{{list.name}}</option>
				</select>
			</div>
			<div class="buttons-wrap">
				<button class="submit list engage" ng-click="bulkSearchList(searchSelList, true)">{{translation.ADD_ALL_TO_LIST_AND_ENGAGE}}</button><!--
				--><div class="go-to-list">
					<p ng-click="visitList(searchSelList)"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span>{{translation.GO_TO_LIST}}</span></p>
				</div>
			</div>
		</div>

		<div class="custom-search-bulk-list empty" ng-if="customSearchList.length > 0 && site.savedLists.length == 0" ng-click="createListModal()">
			<p><i class="fa fa-plus" aria-hidden="true"></i> {{translation.CREATE_LIST}}</p>
		</div>

		<ul class="contacts-list custom-search-results filter-interface" infinite-scroll="loadMoreCustomSearch()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0' infinite-scroll-container="'.custom-search'">
			<li ng-repeat="result in customSearchList track by $index" ng-init="resultIndex = result.sourceIndex" id="{{result.id}}" class="item-wrap {{resultIndex}} {{result.type}}" ng-class="{singleResult : customSearchList.length < 2}" on-finish-render="cardRender()" ng-mouseleave="hover = false" bn-line-item>
			<card-corner-expand></card-corner-expand>
			    <div class="item">
			        <card-profiles-tabs></card-profiles-tabs>
			        <div class="relevante-profile" ng-show="result.activeProfile == 'relevante'">
			        	<card-header></card-header>
			            <card-keywords></card-keywords>
			            <hr class="card-top" />
			            <card-tags-watchlists></card-tags-watchlists>
			        </div>

			        <div ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key">
			            <card-header></card-header>
			            <card-user-signals></card-user-signals>
			        </div>

			        <div class="actions">
			            <div class="action watchlistSel" ng-if="!blacklist && site.savedLists.length > 0" ng-mouseenter="createListEnabled = true" ng-mouseleave="createListEnabled = false">
			                <i class="fa fa-folder" aria-hidden="true" ng-if="!createListEnabled"></i><!--
			                --><i class="fa fa-plus" aria-hidden="true" ng-if="createListEnabled" ng-click="createListModal()"></i><!--
			                --><select ng-change="alreadyInCardWatchlist(result.id, result.selectedList); $parent.setSelectedList(result.selectedList)" ng-init="result.selectedList = $parent.getSelectedList()" ng-model="result.selectedList" style="font-family: 'FontAwesome', 'GillSans';">
			                    <option ng-repeat="list in site.savedLists" ng-value="list.name" on-finish-retrieve="watchlistFunctions()">{{list.name}}</option>
			                </select>
			            </div><!--
			            --><a ng-if="!alreadyInCardWatchlist(result.id, result.selectedList)" class="action watchlist" ng-show="!blacklist && site.savedLists.length > 0" ng-click="addToList(resultIndex, result.id, result.type, result.selectedList); $parent.hover = false">
			                <p><span>{{translation.ADD}}</span></p>
			            </a><!--
			            --><a ng-if="alreadyInCardWatchlist(result.id, result.selectedList)" ng-show="!blacklist && site.savedLists.length > 0" class="action watchlist already">
			                <p>{{translation.ADDED}}</p>
			            </a><!--
			            --><div class="action watchlistSel empty" ng-show="!blacklist && site.savedLists.length == 0">
			                <p ng-click="createListModal()"><i class="fa fa-plus" aria-hidden="true"></i> {{translation.CREATE_LIST}}</p>
			            </div><!--
			            --><div ng-if="!blacklist" class="action skip-contact" ng-click="addToBlacklist(resultIndex, result.type, result.id); fadeOutResult(result.id)"
			                uib-tooltip="{{translation.BLACKLIST_TOOLTIP}}" 
			                tooltip-placement="left"><p><i class="fa fa-ban" aria-hidden="true"></i></p></div><!--
			            --><div ng-if="blacklist" class="action skip-contact relist full-width" ng-click="relistFromBlacklist(0, result.type, result.id); fadeOutResult(result.id)"><p>{{translation.RELIST_FROM_BLACKLIST}}</p></div>
			        </div>
			    </div>
			    <card-hover></card-hover>
			</li>
		</ul>
		<results-status-messages></results-status-messages>
	</div>
</div>