<div class="custom-popup-wrapper"
 ng-style="{top: position().top+'px', left: position().left+'px'}"
 style="display: block;"
 ng-show="isOpen() && !moveInProgress && !$parent.$parent.hideCoincidencesPopup"
 aria-hidden="{{!isOpen()}}">

	<ul class="dropdown-menu" role="listbox">
		<h2 ng-show="$parent.$parent.searchByTagEnable" class="tag">{{$parent.$parent.translation.SEARCH_BY_TAG}} <i class="fa fa-tag" aria-hidden="true"></i></h2>
		<li ng-repeat="tag in $parent.$parent.searchByTag track by $index" ng-click="$parent.$parent.getCustomSearchResults(tag.tag, 'tag'); $parent.$parent.customSearch = tag.tag" ng-show="tag.count > 1 && $parent.$parent.searchByTagEnable" class="single-context" role="option">
			<i class="fa fa-tag" aria-hidden="true"></i> <span ng-bind-html="tag.tag | uibTypeaheadHighlight:query"></span> <span class="count">({{tag.count}} x <i class="fa fa-user" aria-hidden="true"></i>)</span>
		</li>
		<h2 ng-show="$parent.$parent.searchByKeywordEnable" class="keyword">{{$parent.$parent.translation.SEARCH_BY_KEYWORD}} <i class="fa fa-commenting" aria-hidden="true"></i></h2>
		<li ng-repeat="keyword in $parent.$parent.searchByKeyword track by $index" ng-click="$parent.$parent.getCustomSearchResults(keyword.keyword, 'keyword'); $parent.$parent.customSearch = keyword.keyword" ng-show="keyword.count > 1 && $parent.$parent.searchByKeywordEnable" class="single-context" role="option">
			<i class="fa fa-commenting" aria-hidden="true"></i> <span ng-bind-html="keyword.keyword | uibTypeaheadHighlight:query"></span> <span class="count">({{keyword.count}} x <i class="fa fa-user" aria-hidden="true"></i>)</span>
		</li>
		<h2 ng-if="matches.length > 0" class="persons" ng-click="$parent.$parent.getCustomSearchResults($parent.$parent.customSearch, 'any'); $parent.$parent.$parent.hideCoincidencesPopup = true; $event.stopPropagation()">{{$parent.$parent.translation.SEARCH_PERSONS}} <i class="fa fa-user" aria-hidden="true"></i> <span ng-show="$parent.$parent.coincidencesListLength == 1">({{$parent.$parent.coincidencesListLength}} {{$parent.$parent.translation.RESULT}})</span><span ng-show="$parent.$parent.coincidencesListLength > 1">({{$parent.$parent.coincidencesListLength}} {{$parent.$parent.translation.RESULTS}}) - {{$parent.$parent.translation.VIEW_ALL}}</span></h2>
	  <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
	    ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
	    <div class="item">
			<!-- Name -->
			<div class="name" ng-if="match.model.matchingKey != 'searchByKeyword'">
				<i class="fa fa-user" aria-hidden="true" ng-class="{matched : match.model.match[0].matchingKey == 'name'}"></i>
				<span ng-bind-html="match.model.name | uibTypeaheadHighlight:query" ng-class="{ matched : match.model.match[0].matchingKey == 'name'}"></span>
			</div>
			<div ng-repeat="match in match.model.match" ng-if="match.matchingKey != 'name'" class="context">
				<!-- Headline -->
				<i class="fa fa-briefcase matched" aria-hidden="true" ng-if="match.matchingKey == 'headline'"></i>
				<!-- Location -->
				<i class="fa fa-map-marker matched" aria-hidden="true" ng-if="match.matchingKey == 'location'"></i>
				<!-- Tag -->
				<i class="fa fa-tag matched" aria-hidden="true" ng-if="match.matchingKey == 'tag'"></i>
				<!-- Keyword -->
				<i class="fa fa-commenting matched" aria-hidden="true" ng-if="match.matchingKey == 'keyword'"></i>
				<!-- Value -->
				<span ng-bind-html="match.matchingVal | uibTypeaheadHighlight:query" class="matched"></span>
			</div>
		</div>
	  </li>
	  <li ng-click="$parent.$parent.getCustomSearchResults($parent.customSearch, 'any'); $parent.$parent.hideCoincidencesPopup = true; $event.stopPropagation()" ng-show="$parent.$parent.coincidencesListLength > 12" class="more-results">{{$parent.$parent.translation.MORE_CUSTOM_RESULTS_TIP}}</li>
	</ul>
</div>
