<ul class="engage-setup">
    <li class="mode automation custom"
        uib-tooltip="{{translation.AUTOMATED_SEQUENCE_EXPLANATION}}" tooltip-popup-delay="1000" tooltip-placement="bottom" tooltip-class="engage-explanation"
        ng-class="{active : currentList.automationConfiguration != null && currentList.automationConfiguration.custom == true}"
        ng-click="getTemplates(false); showAutomationModal(currentList.id); hideListSettingsPanel()">
        <p>{{translation.AUTOMATED_SEQUENCE}}</p>
        <div class="sequence">
            <div class="action-button"><i class="fa fa-heart" aria-hidden="true"></i></div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <div class="action-button"><i class="fa fa-reply" aria-hidden="true"></i></div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <div class="action-button"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <div class="action-button"><i class="fa fa-comment" aria-hidden="true"></i></div>
        </div>
    </li>
    <li class="mode automation default"
        uib-tooltip="{{translation.AUTOCONNECT_EXPLANATION}}" tooltip-popup-delay="1000" tooltip-placement="bottom" tooltip-class="engage-explanation"
        ng-class="{active : currentList.automationConfiguration != null && currentList.automationConfiguration.custom == false}"
        ng-click="getCurrentAutomation(null, false)">
        <p>{{translation.AUTOCONNECT}}</p>
        <div class="sequence">
            <div class="action-button"><i class="fa fa-heart" aria-hidden="true"></i></div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <div class="action-button"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
        </div>
    </li>
    <li class="mode manual"
        uib-tooltip="{{translation.MANUAL_MODE_EXPLANATION}}" tooltip-popup-delay="1000" tooltip-placement="bottom" tooltip-class="engage-explanation" 
        ng-class="{active : currentList.automationConfiguration == null}"
        ng-click="deleteAutomation()">
       <p>{{translation.MANUAL_MODE}}</p>
    </li>
</ul>