<form name="enrichmentBudgetForm" ng-init="focusInput = true">
<h1>{{translation.ENRICHMENT_BUDGET_TITLE}}</h1>
<aside>{{translation.ENRICHMENT_BUDGET_ASIDE}}</aside>
<input show-focus="focusInput" type="number" name="enrichmentBudgetAmount" ng-model="chargeAmount" placeholder="0.00" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="1.00" required><span>€</span>
<span class="help-block invalid" ng-hide="!chargeAmount.length" ng-show="!enrichmentBudgetForm.enrichmentBudgetAmount.$valid">{{translation.INVALID_AMOUNT}}</span>

<p><span>{{translation.PRICE_PER_PROFILE}}:</span> {{site.user.extraEnrichmentPricePerUnit}}</p>
<p ng-show="chargeAmount >= (site.user.extraEnrichmentPricePerUnit | limitTo: 4)
	&& enrichmentBudgetForm.enrichmentBudgetAmount.$valid" class="tip">
	({{translation.PROFILES_YOU_WILL_GET}}: {{(chargeAmount/(site.user.extraEnrichmentPricePerUnit | limitTo: 4)) | number: 0}})
</p>
<button id="subscriptionLevel1"
	ng-show="chargeAmount >= (site.user.extraEnrichmentPricePerUnit | limitTo: 4)
		&& enrichmentBudgetForm.enrichmentBudgetAmount.$valid"
	ng-click="submitPayment('charge', 'enrichmentBudget', 'enrichment_budget', null, $event, chargeAmount, enrichmentBudgetForm.enrichmentBudgetAmount.$valid)">
	{{translation.ADD_THIS_AMOUNT}}
</button>
</form>