<!-- NUMBER OF LISTS LIMIT -->
<div id="feedback-msg" class="error" ng-show="feedbackListLimit" click-outside="feedbackListLimit = false" ng-click="feedbackListLimit = false">
	<p>{{translation.FEEDBACK_LIST_LIMIT}}</p>
</div>

<!-- PEOPLE IN LIST LIMIT -->
<div id="feedback-msg" class="error" ng-show="feedbackPeopleListLimit" click-outside="feedbackPeopleListLimit = false" ng-click="feedbackPeopleListLimit = false">
	<p>{{translation.FEEDBACK_PEOPLE_LIST_LIMIT}}</p>
</div>

<!-- BULK WATCHLIST -->
<div id="feedback-msg" class="response" ng-show="feedbackBulkWatchlist" ng-click="feedbackBulkWatchlist = false">
	<p ng-if="successResultsNum != 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_WATCHLIST_SUCCESS}}</p>
	<p ng-if="successResultsNum == 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_WATCHLIST_SUCCESS_SINGLE}}</p>
	<p ng-show="alreadyResultsNum > 0 && alreadyResultsNum != 1" class="already">{{alreadyResultsNum}} {{translation.FEEDBACK_BULK_WATCHLIST_ALREADY}}</p>
	<p ng-show="alreadyResultsNum > 0 && alreadyResultsNum == 1" class="already">{{alreadyResultsNum}} {{translation.FEEDBACK_BULK_WATCHLIST_ALREADY_SINGLE}}</p>
</div>

<!-- BULK TAG -->
<div id="feedback-msg" class="response" ng-show="feedbackBulkTag" ng-click="feedbackBulkTag = false">
	<p ng-if="successResultsNum != 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_TAG_SUCCESS}}</p>
	<p ng-if="successResultsNum == 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_TAG_SUCCESS_SINGLE}}</p>
	<p ng-show="alreadyResultsNum > 0 && alreadyResultsNum != 1" class="already">{{alreadyResultsNum}} {{translation.FEEDBACK_BULK_TAG_ALREADY}}</p>
	<p ng-show="alreadyResultsNum > 0 && alreadyResultsNum == 1" class="already">{{alreadyResultsNum}} {{translation.FEEDBACK_BULK_TAG_ALREADY_SINGLE}}</p>
</div>

<!-- BULK LIKE -->
<div id="feedback-msg" class="response" ng-show="feedbackBulkLike" ng-click="feedbackBulkLike = false">
	<p ng-if="successResultsNum != 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_LIKE_SUCCESS}}</p>
	<p ng-if="successResultsNum == 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_LIKE_SUCCESS_SINGLE}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum != 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_LIKE_ERROR}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum != 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_LIKE_ERROR_SINGLE}}</p>
</div>

<!-- BULK REPLY -->
<div id="feedback-msg" class="response" ng-show="feedbackBulkReply" ng-click="feedbackBulkReply = false">
	<p ng-if="successResultsNum != 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_REPLY_SUCCESS}}</p>
	<p ng-if="successResultsNum == 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_REPLY_SUCCESS_SINGLE}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum != 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_REPLY_ERROR}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum == 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_REPLY_ERROR_SINGLE}}</p>
</div>

<!-- BULK CONNECT -->
<div id="feedback-msg" class="response" ng-show="feedbackBulkConnect" ng-click="feedbackBulkConnect = false">
	<p ng-if="successResultsNum != 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_CONNECT_SUCCESS}}</p>
	<p ng-if="successResultsNum == 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_CONNECT_SUCCESS_SINGLE}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum != 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_CONNECT_ERROR}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum == 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_CONNECT_ERROR_SINGLE}}</p>
</div>

<!-- BULK MESSAGE -->
<div id="feedback-msg" class="response" ng-show="feedbackBulkMessage" ng-click="feedbackBulkMessage = false">
	<p ng-if="successResultsNum != 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_MESSAGE_SUCCESS}}</p>
	<p ng-if="successResultsNum == 1"><span>{{successResultsNum}}</span> {{translation.FEEDBACK_BULK_MESSAGE_SUCCESS_SINGLE}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum != 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_MESSAGE_ERROR}}</p>
	<p ng-show="errorResultsNum > 0 && errorResultsNum == 1" class="error">{{errorResultsNum}} {{translation.FEEDBACK_BULK_MESSAGE_ERROR_SINGLE}}</p>
</div>