<div class="header-min">
    <div class="branding">
        <img src="/static/images/sequences-logo-white.png" />
    </div>
    <div class="min-menu">
        <img src="/static/images/min_menu_icon.png" />
    </div>
</div>

<div class="header-big">
    <div class="branding" ng-if="!loggedUser">
        <img src="/static/images/sequences-logo-white.png" />
    </div><!--
    --><div class="home-button" ng-click="goToHomePage()">
        <i  ng-if="loggedUser" class="fa fa-home" aria-hidden="true"></i>
    </div><!--

    --><div class="branding" ng-if="loggedUser && !relevanteExtensionInstalled"  ng-click="goToHomePage()">
        <img class="branding-img" src="/static/images/sequences-logo-white.png" />
    </div><!--

    --><div class="branding" ng-if="loggedUser && relevanteExtensionInstalled"  ng-click="showContextList(); watchlistActive = false; $parent.viewSavedSearches = false; getLists()">
        <img class="branding-img" src="/static/images/sequences-logo-white.png" />
    </div><!--

    --><div class="menu-button" ng-click="showContextList(); watchlistActive = false; $parent.viewSavedSearches = false" ng-if="loggedUser && relevanteExtensionInstalled">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <nav id="main-menu" click-outside="hideContextList(); watchlistActive = false; viewSavedSearches = false" outside-if-not="branding, branding-img, menu-button, delete, save-only, feedback-msg" prevent-scroll>
        <li id="myUniverse" class="my-universe" ng-click="goToMyUniverse(); hideContextList()">
            <span class="name"><i class="fa fa-globe" aria-hidden="true"></i> {{translation.PEOPLE_IN_LISTS}}</span>
        </li>
        <li class="my-contacts" ng-click="goToMyContacts(); hideContextList()" ng-show="site.user.linkedin.integratedContacts">
            <span class="name"><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.MY_CONTACTS}}</span>
        </li>
        <li class="my-contacts disabled" ng-show="!site.user.linkedin.integratedContacts"
            uib-tooltip="{{translation.YOUR_CONTACTS_ASIDE}}"
            tooltip-placement="bottom">
            <span class="name"><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.MY_CONTACTS}}</span>
        </li>
<!--         <li class="discover" ng-click="viewSavedSearches = !viewSavedSearches">
            <span class="name"><i class="fa fa-eye" aria-hidden="true"></i> {{translation.DISCOVER}}</span>
        </li> -->
        <!-- CREATE A NEW LIST -->
        <li class="create-context" ng-show="viewSavedSearches">
            <input ng-enter="addWatchlistTerm(contextInput, newListName, advancedSearchFilter)" id="step-goToFilter" class="create-filter" ng-class="{light : watchlistActive }" style="font-family: 'FontAwesome', 'GillSans';" placeholder="{{translation.CREATE_NEW_SEARCH}}" ng-click="watchlistActive = true" ng-model="contextInput" ng-change="checkContextInputLength()">

            <div class="watchlist-active" ng-show="watchlistActive" ng-hide="!watchlistActive">
                <div class="terms">
                    <p class="tip save" ng-if="emptyWatchlistInput">{{translation.SAVE_CURRENT_TERMS}}</p>
                    <p class="tip" ng-if="!emptyWatchlistInput">{{translation.ENTER_MULTIPLE_TERMS}}</p>
                    <p ng-show="watchlistTerms.length > 0" class="included-terms">{{translation.INCLUDED_TERMS}}:</p>
                    <ul ng-show="watchlistTerms.length > 0">
                        <li ng-repeat="term in watchlistTerms track by $index">
                            <span class="delete" ng-click="deleteWatchlistTerm($index)">x</span> {{term}}
                        </li>
                    </ul>
                </div>

                <!-- ADVANCED SEARCH -->
                <div class="advancedSearchTrigger" ng-init="addAdvancedSearchItem()" ng-click="showAdvancedSearch = !showAdvancedSearch" ng-show="watchlistTerms.length > 0">
                    <p><i class="fa fa-caret-down" aria-hidden="true" ng-if="!showAdvancedSearch"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showAdvancedSearch"></i> {{translation.FOCUS_SEARCH}} <i class="fa fa-caret-down" aria-hidden="true" ng-if="!showAdvancedSearch"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showAdvancedSearch"></i></p>
                </div>

                <div class="advancedSearch" ng-show="showAdvancedSearch">

                    <!-- OCATION, INDUSTRY, COMPANY -->
                    <div class="item">
                        <i class="fa fa-map-marker" aria-hidden="true"></i><input placeholder="{{translation.CITY}}" ng-model="advancedSearchFilter.location" ng-enter="saveWatchlist(newListName, watchlistTerms, advancedSearchFilter, true)" class="advancedLocation" show-focus="showAdvancedSearch">

                        <i class="fa fa-industry" aria-hidden="true"></i><input placeholder="{{translation.INDUSTRY}}" ng-model="advancedSearchFilter.industry" ng-enter="saveWatchlist(newListName, watchlistTerms, advancedSearchFilter, true)">

                        <i class="fa fa-building last" aria-hidden="true"></i><input placeholder="{{translation.COMPANY}}" ng-model="advancedSearchFilter.company" ng-enter="saveWatchlist(newListName, watchlistTerms, advancedSearchFilter, true)">
                    </div>

                    <!-- SEARCH GOAL -->
                    <div class="search-goal" ng-init="advancedSearchFilter.goal = 'misc'">
                        <p><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.WHAT_KIND_OF_PEOPLE}}</p>
                        <ul>
                            <li ng-click="advancedSearchFilter.goal = 'misc'"
                                ng-class="{active: advancedSearchFilter.goal == 'misc'}">
                                {{translation.MISC}}
                            </li><!--
                            --><li ng-click="advancedSearchFilter.goal = 'prospects'"
                                ng-class="{active: advancedSearchFilter.goal == 'prospects'}">
                                {{translation.PROSPECTS}}
                            </li><!--
                            --><li ng-click="advancedSearchFilter.goal = 'professionals'"
                                ng-class="{active: advancedSearchFilter.goal == 'professionals'}">
                                {{translation.PROFESSIONALS}}
                            </li>
                        </ul>
                        <p class="goal-explanation" ng-if="advancedSearchFilter.goal == 'misc'">{{translation.MISC_EXPLANATION}}</p>
                        <p class="goal-explanation" ng-if="advancedSearchFilter.goal == 'prospects'">{{translation.PROSPECTS_EXPLANATION}}</p>
                        <p class="goal-explanation" ng-if="advancedSearchFilter.goal == 'professionals'">{{translation.PROFESSIONALS_EXPLANATION}}</p>
                    </div>

                    <!-- SEARCH CONDITION -->
                    <div class="terms-condition" ng-show="watchlistTerms.length > 1" ng-init="advancedSearchFilter.searchCondition = 'and'">
                        <p><i class="fa fa-filter" aria-hidden="true"></i> {{translation.SHOW_RESULTS_RELATED_TO}}:</p>
                        <ul>
                            <li ng-click="advancedSearchFilter.searchCondition = 'and'"
                                ng-class="{active: advancedSearchFilter.searchCondition == 'and'}">
                                {{translation.ALL_TERMS}}
                            </li><!--
                            --><li ng-click="advancedSearchFilter.searchCondition = 'or'"
                                ng-class="{active: advancedSearchFilter.searchCondition == 'or'}">
                                {{translation.ANY_TERM}}
                            </li>
                        </ul>
                    </div>

                    <!-- NEGATIVE TERMS -->
                    <div class="negative-terms">
                        <p><i class="fa fa-search-minus" aria-hidden="true"></i> {{translation.EXCLUDE_WORDS}}</p>
                        <div class="item">
                            <input ng-enter="saveWatchlist(newListName, watchlistTerms, advancedSearchFilter, true)" ng-model="advancedSearchFilter.negativeTerms" placeholder="{{translation.EXCLUDE_WORDS_PLACEHOLDER}}" class="negative-terms-input">
                        </div>
                    </div>
                </div>

                <!-- SEARCH NAME -->
                <div class="watchlistNameWrap" ng-show="watchlistTerms.length > 0">
                    <p class="give-name">{{translation.GIVE_NAME_SEARCH}}:</p>
                    <p class="tip warning margin-top" ng-if="watchlistNameExists">{{translation.NAME_ALREADY_EXISTS}}</p>
                    <div class="watchlistNameInput">
                        <input ng-enter="saveWatchlist(newListName, watchlistTerms, advancedSearchFilter, true)" class="watchlist-name" style="font-family: 'FontAwesome', 'GillSans';"" placeholder="{{translation.LIST_NAME}} &nbsp;&nbsp;&#xf040;" ng-model="newListName" limit-to="20" ng-change="checkNameWatchlist(newListName)">
                        <p class="name-tip">{{translation.LIMIT}}: 20 {{translation.CHARS}}</p>
                    </div><!--
                    --><div class="saveWatchlist"  ng-if="!watchlistNameExists" ng-click="saveWatchlist(newListName, watchlistTerms, advancedSearchFilter, true)">
                        <p>{{translation.GO}}</p>
                    </div>
                </div>
            </div>
        </li>
        
        <!-- SAVED SEARCHES -->
        <li class="saved-watchlist" ng-repeat="watchlist in site.savedWatchlists" ng-hide="watchlist.name == 'Relevante'" ng-if="viewSavedSearches">
            <div class="delete-wrap {{$index}}">
                <span class="delete" ng-if="watchlist.name!= 'Relevante'" ng-click="confirmDeleteWatchlist($index)">X</span>
                <span class="delete-button {{$index}}" ng-click="deleteWatchlist(watchlist.id, watchlist.name, $index)" ng-mouseleave="hideDeleteWatchlist($index)">{{translation.DELETE_CONFIRM}}</span>
            </div>
            <div class="context-wrap {{$index}}" ng-click="goToSearch(watchlist.id, watchlist.name, 'discover'); hideContextList()">
                <span class="name" >{{watchlist.name}}</span>
                <ul class="terms">
                    <li class="title">{{translation.TERMS}}:</li>
                    <li ng-repeat="term in watchlist.searchTerms track by $index">{{term}}</li>
                </ul>
                <ul class="advanced-search">
                    <li class="title" ng-if="watchlist.location != null"><i class="fa fa-map-marker" aria-hidden="true"></i> {{watchlist.location}}</li>
                    <li class="title" ng-if="watchlist.industry != null"><i class="fa fa-industry" aria-hidden="true"></i>  {{watchlist.industry}}</li>
                    <li class="title" ng-if="watchlist.company != null"><i class="fa fa-building" aria-hidden="true"></i> {{watchlist.company}}</li>
                    <li class="title" ng-if="watchlist.searchGoal == 'misc'"><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.MISC}}</li>
                    <li class="title" ng-if="watchlist.searchGoal == 'prospects'"><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.PROSPECTS}}</li>
                    <li class="title" ng-if="watchlist.searchGoal == 'professionals'"><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.PROFESSIONALS}}</li>
                    <li class="title" ng-if="watchlist.searchTerms.length > 1 && watchlist.searchCondition == 'and'"><i class="fa fa-filter" aria-hidden="true"></i> {{translation.ALL_TERMS}}</li>
                    <li class="title" ng-if="watchlist.searchTerms.length > 1 && watchlist.searchCondition == 'or'"><i class="fa fa-filter" aria-hidden="true"></i> {{translation.ANY_TERM}}</li>
                    <li class="title" ng-if="watchlist.negativeTerms.length > 0"><i class="fa fa-search-minus" aria-hidden="true"></i> {{watchlist.negativeTerms}}</li>
                </ul>
            </div>
        </li>

        <!-- SAVED LISTS -->
        <li class="list index{{$index}}" ng-repeat="list in site.savedLists track by $index" ng-click="goToList(list.id, list.name); hideContextList()">
            <span class="name"><i class="fa fa-folder" aria-hidden="true"></i> {{list.name}} <span class="count"> ({{list.num}})</span></span>
        </li>

        <!-- CREATE LIST -->
        <li class="list add-list" ng-click="goToCreateFirstList(); hideContextList()">
            <span class="name"><i class="fa fa-plus" aria-hidden="true"></i> {{translation.CREATE_LIST}}</span>
        </li>
        <!-- <li class="list add-list" ng-click="focusAddListInput = true" click-outside="focusAddListInput = false" outside-if-not="add-list">
            <span class="name" ng-show="!focusAddListInput"><i class="fa fa-plus" aria-hidden="true"></i> {{translation.CREATE_LIST}}</span>
            <p class="name-tip" ng-show="focusAddListInput">{{translation.LIMIT}}: 20 {{translation.CHARS}}</p>
            <span class="name" ng-show="focusAddListInput"><i class="fa fa-plus" aria-hidden="true"></i> <input ng-enter="createList(listName); focusAddListInput = false" ng-model="listName" placeholder="{{translation.CREATE_LIST}}" ng-change="checkListName(listName)" show-focus="focusAddListInput"></span>
            <p class="tip warning margin-top" ng-if="listNameExists && focusAddListInput">{{translation.NAME_ALREADY_EXISTS}}</p>
        </li> -->
        <li class="blacklist" ng-click="goToBlacklist(); hideContextList()">
            <span class="name"><i class="fa fa-ban" aria-hidden="true"></i> Blacklist</span>
        </li>
    </nav>

    <div class="header-lang-sel" ng-if="!loggedUser">
        <span class="caret"></span>
        <select class="lang-control" ng-change="translate(selectedLanguage)" ng-model="selectedLanguage">
            <option value="en">EN</option>
            <option value="es">ES</option>
        </select>
    </div>

    <div class="user" ng-if="loggedUser">
        <div id="username-menu" ng-click="showUserAccount()">
            <p class="username">{{translation.HI}}, {{userName}}</p>
            <img ng-src="{{userImg}}" />
        </div>
    </div>
    <account></account>
</div>