<div id="list-settings-panel" click-outside="hideListSettingsPanel()" outside-if-not="list-settings-panel-trigger, advancedSearchTrigger, fa-caret-down, fa-caret-up, list-data, edit, delete, search-data, no-results">
    <div class="list-settings-wrap">

        <div class="list-name">
            <i class="fa fa-folder"></i>

            <h1 ng-if="!editNameList" ng-click="$parent.editNameList = !$parent.editNameList" class="edit" uib-tooltip="{{translation.CLICK_TO_EDIT}}" tooltip-placement="bottom">{{currentList.name}}</h1>

            <form ng-show="editNameList"
                angular-validator-submit="editList(currentList); editNameList = false"
                name="editNameListForm"
                class="form-horizontal" novalidate angular-validator>
                
                <div class="form-group">
                    <input  show-focus="editNameList"
                            type = "text"
                            name = "name"
                            limit-to="20"
                            class = "form-control name"
                            ng-model = "currentList.name"
                            ng-change="checkListName(currentList.name)" 
                            placeholder="{{currentList.name}}"
                            required>
                    <p class="tip" ng-show="editNameList">{{translation.LIMIT}}: 20 {{translation.CHARS}} <span class="warning" ng-if="listNameExists && editNameList">{{translation.NAME_ALREADY_EXISTS}}</span></p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary save" ng-show="!listNameExists && currentList.name.length > 0">{{translation.SAVE}}</button>
                    <button type="button" ng-click="currentList.name = listNameCopy; editNameList = false" class="btn btn-primary cancel">{{translation.CANCEL}}</button>
                </div>
            </form>
        </div>

        <hr />

        <div class="monitored-switch">
            <p uib-tooltip="{{translation.MONITORING_EXPLANATION}}" tooltip-placement="bottom">{{translation.MONITORING}}: </p>
            <label class="switch">
              <input type="checkbox" ng-model="currentList.monitored" ng-click="editList(currentList)">
              <span class="slider round"></span>
            </label>
        </div>

        <hr ng-if="currentSearch != undefined"/>

        <h2 ng-if="currentSearch != undefined">{{translation.ADD_PEOPLE}}</h2>

        <ul ng-if="currentSearch != undefined" class="add-people-options" ng-init="checkPeopleInLists()">
            <li uib-tooltip="{{translation.SEARCH_LINKEDIN}}" tooltip-placement="auto" ng-click="goToBuild(currentList.id, currentList.name)"><i class="fa fa-search"></i></li><!--
            --><li uib-tooltip="{{translation.BOOKMARK_FROM_LINKEDIN}}" tooltip-placement="auto" ng-click="openLinkedinTab(currentList, currentSearch)"><i class="fa fa-linkedin-square"></i></li><!--
             --><li uib-tooltip="{{translation.CONTACTS}}: {{translation.SEARCH_MY_UNIVERSE_DISABLED}}" tooltip-placement="auto" ng-show="!site.user.linkedin.integratedContacts && !peopleInLists" class="disabled"><i class="fa fa-users"></i></li><!--
            --><li uib-tooltip="{{translation.CONTACTS_SEARCH}}" tooltip-placement="auto" ng-click="goToSearch(currentList.id, currentList.name, 'universe')" ng-show="site.user.linkedin.integratedContacts || peopleInLists"><i class="fa fa-users"></i></li><!--
            --><li uib-tooltip="{{translation.DISCOVER_PEOPLE_FROM_NETWORKS}}" tooltip-placement="auto" ng-click="goToSearch(currentList.id, currentList.name, 'discover')"><i class="fa fa-cloud"></i></li><!--
            --><li uib-tooltip="{{translation.UPLOAD_CSV}}: {{translation.COMING_SOON}}" tooltip-placement="auto"><i class="fa fa-upload"></i></li>
        </ul>

        <hr ng-if="currentSearch != undefined" />

        <h2 ng-if="currentSearch != undefined && !showEditSearch">{{translation.LIST_TERMS}}</h2>
        <ul ng-if="currentSearch != undefined && !showEditSearch" 
            class="searchTerms edit" 
            ng-click="$parent.showEditSearch = true"
            uib-tooltip="{{translation.CLICK_TO_EDIT}}"
            tooltip-placement="bottom">
            <li ng-repeat="term in editWatchlistTerms track by $index">{{term}}
            </li>
            <li ng-if="editWatchlistTerms.length < 1" class="empty">{{translation.EMPTY}}</li>
        </ul>


        <h2 ng-if="currentSearch != undefined && showEditSearch">{{translation.UPDATE_LIST_TERMS}}</h2>
        <div ng-if="currentSearch != undefined && showEditSearch" class="edit-watchlist">
            <div class="edit-search-wrap">

            <div class="edit-terms">
                <input ng-enter="updateAddWatchlistTerm(filterTerm, editNameFilter, editAdvancedSearchFilter, false)" class="update-watchlist terms" placeholder="{{translation.ADD_MORE_TERMS}}" ng-model="filterTerm" show-focus="editSearchEnabled">
                <p class="included-terms">{{translation.INCLUDED_TERMS}}:</p>
                <ul class="searchTerms">
                    <li ng-repeat="term in editWatchlistTerms track by $index">
                        <span class="delete" ng-click="updateDeleteWatchlistTerm($index)">x</span> {{term}}
                    </li>
                    <li ng-if="editWatchlistTerms.length < 1" class="empty">{{translation.EMPTY}}</li>
                </ul>
            </div><!-- SEARCH CONDITION
             <div class="advancedSearch block" ng-show="editWatchlistTerms.length > 1">
                    <div class="terms-condition">
                        <p><i class="fa fa-filter" aria-hidden="true"></i> {{translation.SHOW_RESULTS_RELATED_TO}}:</p>
                        <ul>
                            <li ng-click="editAdvancedSearchFilter.searchCondition = 'and'"
                                ng-class="{active: editAdvancedSearchFilter.searchCondition == 'and'}">
                                {{translation.ALL_TERMS}}
                            </li>
                            <li ng-click="editAdvancedSearchFilter.searchCondition = 'or'"
                                ng-class="{active: editAdvancedSearchFilter.searchCondition == 'or'}">
                                {{translation.ANY_TERM}}
                            </li>
                        </ul>
                    </div>
                </div>-->

             <!-- ADVANCED SEARCH -->
            <!-- <div class="advancedSearchTrigger" ng-init="addAdvancedSearchItem()" ng-click="showAdvancedSearch = !showAdvancedSearch">
                <p><i class="fa fa-caret-down" aria-hidden="true" ng-if="!showAdvancedSearch"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showAdvancedSearch"></i> {{translation.ADVANCED_SETTINGS}} <i class="fa fa-caret-down" aria-hidden="true" ng-if="!showAdvancedSearch"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showAdvancedSearch"></i></p>
            </div> -->

            <div class="advancedSearch-wrap" ng-show="editWatchlistTerms.length > 0 && showAdvancedSearch">
                
                <div class="advancedSearch block">
                    <div class="item">
                        <i class="fa fa-map-marker" aria-hidden="true"></i><input placeholder="{{translation.CITY}}" ng-model="editAdvancedSearchFilter.location" ng-enter="editSearch(nameFilter, editNameFilter, editWatchlistTerms, editAdvancedSearchFilter, currentList.id, false); $parent.showEditSearch = false; editSearchEnabled = false" class="advancedLocation" ng-value="editAdvancedSearchFilter.location">

                        <i class="fa fa-industry" aria-hidden="true"></i><input placeholder="{{translation.INDUSTRY}}" ng-model="editAdvancedSearchFilter.industry" ng-enter="editSearch(nameFilter, editNameFilter, editWatchlistTerms, editAdvancedSearchFilter, currentList.id, false); $parent.showEditSearch = false; editSearchEnabled = false" ng-value="editAdvancedSearchFilter.industry">

                        <i class="fa fa-building last" aria-hidden="true"></i><input placeholder="{{translation.COMPANY}}" ng-model="editAdvancedSearchFilter.company" ng-enter="editSearch(nameFilter, editNameFilter, editWatchlistTerms, editAdvancedSearchFilter, currentList.id, false); $parent.showEditSearch = false; editSearchEnabled = false" ng-value="editAdvancedSearchFilter.company">
                    </div>
                </div><!--

                --><div class="advancedSearch block">
                    <div class="search-goal">
                        <p><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.ALGORITHM_WEIGHT}}</p>
                        <ul>
                            <li ng-click="editAdvancedSearchFilter.searchGoal = 'professionals'"
                                ng-class="{active: editAdvancedSearchFilter.searchGoal == 'professionals'}">
                                {{translation.BIOGRAPHY}}<br />
                                <span class="small">{{translation.BIOGRAPHY_EXPLANATION}}</span>
                            </li><!--
                            --><li ng-click="editAdvancedSearchFilter.searchGoal = 'misc'"
                                ng-class="{active: editAdvancedSearchFilter.searchGoal == 'misc'}">
                                {{translation.NEUTRAL}}<br />
                                <span class="small">{{translation.NEUTRAL_EXPLANATION}}</span>
                            </li><!--
                            --><li ng-click="editAdvancedSearchFilter.searchGoal = 'prospects'"
                                ng-class="{active: editAdvancedSearchFilter.searchGoal == 'prospects'}">
                                {{translation.CONTENT}}<br />
                                <span class="small">{{translation.CONTENT_EXPLANATION}}</span>
                            </li>
                        </ul>
                        <p class="goal-explanation" ng-if="editAdvancedSearchFilter.searchGoal == 'misc'">{{translation.MISC_EXPLANATION}}</p>
                        <p class="goal-explanation" ng-if="editAdvancedSearchFilter.searchGoal == 'prospects'">{{translation.PROSPECTS_EXPLANATION}}</p>
                        <p class="goal-explanation" ng-if="editAdvancedSearchFilter.searchGoal == 'professionals'">{{translation.PROFESSIONALS_EXPLANATION}}</p>
                    </div>
                </div><!--

                --><div class="advancedSearch block">
                <!-- NEGATIVE TERMS -->
                    <div class="negative-terms">
                        <p><i class="fa fa-search-minus" aria-hidden="true"></i> {{translation.EXCLUDE_WORDS}}</p>
                        <div class="item">
                            <input ng-enter="editSearch(nameFilter, editNameFilter, editWatchlistTerms, editAdvancedSearchFilter, currentList.id, false); $parent.showEditSearch = false; editSearchEnabled = false" ng-model="editAdvancedSearchFilter.negativeTerms" placeholder="{{translation.EXCLUDE_WORDS_PLACEHOLDER}}" class="negative-terms-input">
                        </div>
                    </div>
                </div>

            </div>
                <div class="submit-search">
                    <button ng-click="editSearch(nameFilter, editNameFilter, editWatchlistTerms, editAdvancedSearchFilter, currentList.id, false); $parent.$parent.showEditSearch = false; $parent.editSearchEnabled = false" class="update-watchlist"
                    ng-if="editWatchlistTerms.length > 0">{{translation.SAVE}}</button>
                    <button ng-click="$parent.showEditSearch = false; getListData(currentList.id)" class="cancel">
                        {{translation.CANCEL}}
                    </button>
                </div>
            </div>
        </div>

        <hr ng-if="currentSearch != undefined"/>

        <h2 ng-if="currentSearch != undefined">{{translation.ENGAGE_MODE}}</h2>
        <engage-setup ng-if="currentSearch != undefined"></engage-setup>

        <hr />

        <div class="delete">
            <p class="delete" ng-click="$parent.showDeleteListConfirm = true" ng-if="!showDeleteListConfirm">
                <i class="fa fa-trash" aria-hidden="true"></i> {{translation.DELETE_CONFIRM}} {{translation.LIST}}
            </p>
            <p class="deleteList" ng-click="deleteList(currentList.id, currentList.name)" ng-if="showDeleteListConfirm" click-outside="$parent.showDeleteListConfirm = false" outside-if-not="deleteList">
                {{translation.ARE_YOU_SURE}}
            </p>
        </div>
    </div>
</div>