<nav id="create-list-nav">
    <li class="step step1 active">
        1. {{translation.CREATE_LIST}} <i class="fa fa-check-circle" ng-if="currentList.name != undefined"></i>
    </li><!--
    --><li class="step step2 active disabled" uib-tooltip="{{translation.ENGAGE_DISABLED_TOOLTIP}}" tooltip-placement="bottom">
        2. {{translation.ENGAGE}}</i>
    </li>
</nav>