<div class="switch-mode-title engage" ng-click="goToSearch(watchlistId, nameWatchlist, 'discover')">
    <i class="fa fa-eye" aria-hidden="true"></i>
    <i class="fa fa-plus-square" aria-hidden="true"></i>
</div>
<a href="/watchlist/level0/{{watchlistId}}" ng-click="watchlistLv0()">
    <div id="nav-title" class="grey">
        <div class="title-data" ng-class="{ selected: isCurrentPath('/watchlist/level0/{{watchlistId}}') }">
            <!-- <h3>{{translation.CONTEXT}} - {{translation.VIEW_ALL}}</h3><br /> -->
            <p class="switch-enabled">{{nameWatchlist | limitTo: 15}}</p>
        </div><div id="nav-arrow-right" class="grey"></div>
    </div><!--
	--><nav class="watchlist-actions">
	    <ul>
	        <a href="/watchlist/level1/{{watchlistId}}"><li id="step-tap" ng-class="{ selected: isCurrentPath('/watchlist/level1/{{watchlistId}}') || isCurrentPath('/onboardingWatchlist/level1') }" class="level-1" ng-click="watchlistLv1()"><div class="approach-level"><h3>Tap</h3></div><div class="approach-arrow-right level-1"></div></li></a><!--
	        --><a href="/watchlist/level2/{{watchlistId}}"><li id="step-touch" ng-class="{ selected: isCurrentPath('/watchlist/level2/{{watchlistId}}') || isCurrentPath('/onboardingWatchlist/level2') }" class="level-2" ng-click="watchlistLv2()"><div class="approach-level"><h3>Touch</h3></div><div class="approach-arrow-right level-2"></div></li></a><!--
	        --><a href="/watchlist/level3/{{watchlistId}}"><li id="step-connect" ng-class="{ selected: isCurrentPath('/watchlist/level3/{{watchlistId}}') || isCurrentPath('/onboardingWatchlist/level3') }" class="level-3" ng-click="watchlistLv3()"><div class="approach-level"><h3>Connect</h3></div><div class="approach-arrow-right level-3"></div></li></a><!--
	        --><a href="/watchlist/level4/{{watchlistId}}"><li id="step-contact" ng-class="{ selected: isCurrentPath('/watchlist/level4/{{watchlistId}}') || isCurrentPath('/onboardingWatchlist/level4') }" class="level-4" ng-click="watchlistLv4()"><div class="approach-level"><h3>Contact</h3></div><div class="approach-arrow-right level-4"></div></li></a>
	    </ul>
	</nav>
</a>