<div ng-if="!passwordRecoverySuccess">
	<h1>{{translation.ENTER_EMAIL_PASSWORD_RECOVERY}}:</h1>
	<div ng-if="emailNotFound" class="tip error"><p>{{translation.EMAIL_NOT_FOUND}}</p></div>
	<form angular-validator-submit="passwordRecovery(emailPasswordRecovery)" name="passwordRecoveryForm" class="form-horizontal login-form" novalidate angular-validator>

        <div class="form-group" ng-init="focusInput = true">
            <div class="col-sm-offset-1 col-sm-10">
                <input  show-focus="focusInput"
                		type="email"
                        name="recoveryEmailAddress"
                        class="form-control"
                        ng-model="emailPasswordRecovery"
                        ng-change="resetEmailNotFound()"
                        invalid-message="'Thats not a real email address'"
                        placeholder="e-mail"
                        required
                        ng-enter="passwordRecovery(emailPasswordRecovery)"></div>
        </div>

        <div class="form-group no-margin-bottom">
            <div class="col-sm-offset-1 col-sm-10 text-align-center button-area">
                <button type="submit" class="btn btn-primary submit" ng-class="{disabled: !emailPasswordRecovery.length}">{{translation.SUBMIT}}</button>
                <button class="cancel" ng-click="closePasswordRecoveryModal()">{{translation.CANCEL}}</button>
            </div>
        </div>
    </form>
</div>

<div class="passwordRecoverySuccess" ng-if="passwordRecoverySuccess">
	<h1>{{translation.PASSWORD_SENT}}</h1>
</div>