<h1>{{translation.REENABLE_SUBSCRIPTION}}</h1>
<aside>{{translation.PLEASE_CHOOSE_PLAN}}:</aside>
<div id="subscription-modal-buttons" ng-init="stripeModal = 'reenable_subscription'">
	<subscription-buttons></subscription-buttons>
</div>