<div class="results-filters">
    <input type="text" ng-model="filters.location" placeholder="{{translation.FILTER_BY_LOCATION}}">
    <input type="text" ng-model="filters.position" placeholder="{{translation.FILTER_BY_POSITION}}">
    <input class="last" type="text" ng-model="filters.company" placeholder="{{translation.FILTER_BY_COMPANY}}">
    <input type="button" value="{{translation.RESET_FILTERS}}" class="reset" ng-click="clearFilter()">
</div>