<div ng-show='busy' class="loading-results">
    <p><img src="/static/images/gears_grey.gif"> {{translation.LOADING_RESULTS}}</p>
</div>
<div ng-show="loadMoreTrigger" ng-click="loadMore(); loadMoreCustomSearch()" class="load-more-contacts-button"><p>{{translation.LOAD_MORE_CONTACTS}}</p></div>
<div ng-show="searchingMoreResults" class="load-more-contacts-button"><p>{{translation.LOADING_MORE_CONTACTS}}</p></div>
<div ng-show="allResultsLoaded && resultsLength > 0" class='no-more-contacts-button'><p>{{translation.SHOWING_ALL_CONTACTS}}: {{resultsLength}}</p></div>
<div ng-show="allResultsLoadedCustomSearch && resultsLengthCustomSearch > 0" class='no-more-contacts-button'><p>{{translation.SHOWING_ALL_CONTACTS}}: {{resultsLengthCustomSearch}}</p></div>
<div ng-show="!busy && loadingResults && !allResultsLoaded" class="loading-more"><p>{{translation.LOADING_MORE_CONTACTS}}</p></div>
<div ng-if="resultsLength == 0 && emptyUniverseMsg && !searchingMoreResults" class="no-results" ng-click="goToCreateList()"><p>{{translation.EMPTY_UNIVERSE}}</p></div>
<div ng-if="resultsLength == 0 && !hideNoResults && !searchingMoreResults && !blacklist" class="no-results" ng-click="showListSettingsPanel()"><p>{{translation.NO_RESULTS_TO_SHOW}}</p></div>
<div ng-show="emptyWatchlist" class="no-results" ng-click="showListSettingsPanel()"><p>{{translation.NO_RESULTS_TO_SHOW}}</p></div>
<div ng-show="emptyBlacklist || resultsLength == 0 && !hideNoResults && !searchingMoreResults && blacklist" class="no-results"><p>{{translation.EMPTY_BLACKLIST}}</p></div>
<div ng-show="!linkedinEnabled && !twitterEnabled" class="no-results"><p>{{translation.ENABLE_SOCIAL_NETWORK}}</p></div>
<div style='clear: both;'></div>