<ul>
    <li ng-click="linkedinEnabled = !linkedinEnabled">
        <img ng-show="linkedinEnabled" src="/static/images/linkedin_enabled.png">
        <img ng-show="!linkedinEnabled" src="/static/images/linkedin_disabled.png">
    </li>

    <li ng-click="twitterEnabled = !twitterEnabled">
        <img ng-show="twitterEnabled" src="/static/images/twitter_enabled.png">
        <img ng-show="!twitterEnabled" src="/static/images/twitter_disabled.png">
    </li>
</ul>