<p>{{translation.EXTENDED_NETWORK}}:</p>
<ul>
    <li ng-click="linkedinExtendedEnabled = !linkedinExtendedEnabled">
        <img ng-show="linkedinExtendedEnabled" src="/static/images/linkedin_enabled.png">
        <img ng-show="!linkedinExtendedEnabled" src="/static/images/linkedin_disabled.png">
    </li>

    <li ng-click="twitterExtendedEnabled = !twitterExtendedEnabled">
        <img ng-show="twitterExtendedEnabled" src="/static/images/twitter_enabled.png">
        <img ng-show="!twitterExtendedEnabled" src="/static/images/twitter_disabled.png">
    </li>
</ul>