<!-- PROFESSIONAL MONTHLY SUBSCRIPTION -->
<button id="subscriptionLevel1" class="monthly level1"
	ng-click="submitPayment('subscription', 'level1', stripeModal, null, $event)"
	ng-hide="subscribed && pricingPlan == 'level1' && !alreadySubscribed && site.user.status != 'deleted'
		|| subscribed && pricingPlan == 'level2'
		|| subscribed && pricingPlan == 'level3'
		|| pricingPlanInterval == 'year'
		|| subscriptionOfferEnabled">
	<h2>{{translation.PRICING_LEVEL1}}: 12,00€/{{translation.MONTH}}</h2>
	<aside>{{translation.PRICING_LEVEL1_DESC}}</aside>
</button><!-- PROFESSIONAL YEARLY SUBSCRIPTION
--><button class="yearly level1"
	ng-click="submitPayment('subscription', 'level1yearly', stripeModal, null, $event)"
	ng-hide="subscribed && pricingPlan == 'level1' && !alreadySubscribed && site.user.status != 'deleted'
		|| subscribed && pricingPlan == 'level2'
		|| subscribed && pricingPlan == 'level3'
		|| pricingPlanInterval == 'year'
		|| subscriptionOfferEnabled">
	<h3>{{translation.YEARLY_SUBSCRIPTION}}: 9,50€/{{translation.MONTH}} <span ng-class="{notFeatured : subscriptionLevel2OfferEnabled}">+20% {{translation.DISCOUNT}}</span></h3>
</button><!-- PROFESSIONAL YEARLY SUBSCRIPTION SOLO
--><button class="yearly level1 solo"
	ng-click="submitPayment('subscription', 'level1yearly', stripeModal, null, $event)"
	ng-if="pricingPlan == 'level1' && pricingPlanInterval == 'month' && site.user.status != 'deleted'
		|| pricingPlanInterval == 'year'"
	ng-hide="subscribed && pricingPlan == 'level1' && pricingPlanInterval == 'year' && site.user.status != 'deleted'
		|| subscribed && pricingPlan == 'level2'
		|| subscribed && pricingPlan == 'level3'
		|| subscriptionOfferEnabled
		|| alreadySubscribed && site.user.status != 'deleted'">
	<h2>{{translation.PRICING_LEVEL1}}: 9,50€/{{translation.MONTH}}</h2>
	<h3>{{translation.YEARLY_SUBSCRIPTION}} <span>+20% {{translation.DISCOUNT}}</span></h3>
	<aside>{{translation.PRICING_LEVEL1_DESC}}</aside>
</button><!-- SALES MONTHLY SUBSCRIPTION
--><button id="subscriptionLevel2" class="monthly level2"
	ng-click="submitPayment('subscription', 'level2', stripeModal, null, $event)"
	ng-hide="subscribed && pricingPlan == 'level2' && !alreadySubscribed && site.user.status != 'deleted'
		|| subscribed && pricingPlan == 'level3'
		|| pricingPlanInterval == 'year'
		|| subscriptionLevel2OfferEnabled">
	<h2>{{translation.PRICING_LEVEL2}}: 39,00€/{{translation.MONTH}}</h2>
	<aside>{{translation.PRICING_LEVEL2_DESC}}</aside>
</button><!-- SALES YEARLY SUBSCRIPTION
--><button class="yearly level2"
	ng-click="submitPayment('subscription', 'level2yearly', stripeModal, null, $event)"
	ng-hide="subscribed && pricingPlan == 'level2' && !alreadySubscribed && site.user.status != 'deleted'
		|| subscribed && pricingPlan == 'level3'
		|| pricingPlanInterval == 'year'
		|| subscriptionOfferEnabled
		|| subscriptionLevel2OfferEnabled">
	<h3>{{translation.YEARLY_SUBSCRIPTION}}: 29,99€/{{translation.MONTH}} <span ng-class="{notFeatured : subscriptionLevel2OfferEnabled}">+20% {{translation.DISCOUNT}}</span></h3>
</button><!-- SALES YEARLY SUBSCRIPTION SOLO
--><button class="yearly level2 solo"
	ng-click="submitPayment('subscription', 'level2yearly', stripeModal, null, $event)"
	ng-if="pricingPlan == 'level2' && pricingPlanInterval == 'month' && site.user.status != 'deleted'
		|| pricingPlanInterval == 'year'"
	ng-hide="subscribed && pricingPlan == 'level2' && pricingPlanInterval == 'year'
		|| subscribed && pricingPlan == 'level3'
		|| subscriptionOfferEnabled
		|| subscriptionLevel2OfferEnabled
		|| alreadySubscribed && site.user.status != 'deleted'">
	<h2>{{translation.PRICING_LEVEL2}}: 29,99€/{{translation.MONTH}}</h2>
	<h3>{{translation.YEARLY_SUBSCRIPTION}} <span>+20% {{translation.DISCOUNT}}</span></h3>
	<aside>{{translation.PRICING_LEVEL2_DESC}}</aside>
</button><!-- SALES MONTHLY OFFER
--><!-- <button id="subscriptionLevel2" class="monthly level2 offer"
	ng-click="submitPayment('subscription', 'level2', stripeModal, 'YOURLUCKYDAY', $event)"
	ng-if="subscriptionLevel2OfferEnabled"
	ng-hide="subscribed == true">
	<div class="offer-explanation corner-ribbon top-right shadow"><p>{{translation.SALESFORCE_OFFER_RIBBON}}</p></div>
	<h2>{{translation.PRICING_LEVEL2}}: <span class="strike-out">89€/{{translation.MONTH}}</span> 49€/{{translation.MONTH}}</h2>
	<aside>{{translation.PRICING_LEVEL2_DESC}}</aside>
	<p class="offer-expiration" ng-if="trialPeriodRemainingDays <= 5 && trialPeriodRemainingDays >= -15 && site.user.trialPeriodRemainingDays != 1">{{translation.OFFER_EXPIRES_IN}} <span ng-if="trialPeriodRemainingDays >= 0">{{trialPeriodRemainingDays}}</span><span ng-if="trialPeriodRemainingDays < 0">0</span> {{translation.DAYS}}</p>
	<p class="offer-expiration" ng-if="site.user.trialPeriodRemainingDays == 1">{{translation.OFFER_EXPIRES_TOMORROW}}</p>
</button> -->
<!-- GROWTH SUBSCRIPTION
<button id="subscriptionLevel3" class="monthly level3"
	ng-click="submitPayment('subscription', 'level3', stripeModal, null, $event)"
	ng-hide="subscribed && pricingPlan == 'level3' && !alreadySubscribed
		|| pricingPlanInterval == 'year'
		|| subscriptionOfferEnabled">
	<h2>{{translation.PRICING_GROWTH}}: 189€/{{translation.MONTH}}</h2>
	<aside>{{translation.PRICING_GROWTH_DESC}}</aside>
</button>

<button class="yearly level3"
	ng-click="submitPayment('subscription', 'level3yearly', stripeModal, null, $event)"
	ng-hide="subscribed && pricingPlan == 'level3' && !alreadySubscribed
		|| pricingPlanInterval == 'year'
		|| subscriptionOfferEnabled">
	<h3>{{translation.YEARLY_SUBSCRIPTION}}: 140€/{{translation.MONTH}} <span ng-class="{notFeatured : subscriptionLevel2OfferEnabled}">+20% {{translation.DISCOUNT}}</span></h3>
</button>

<button class="yearly level3 solo"
	ng-click="submitPayment('subscription', 'level3yearly', stripeModal, null, $event)"
	ng-if="subscribed && pricingPlan == 'level3' && pricingPlanInterval == 'month'
		|| pricingPlanInterval == 'year'"
	ng-hide="pricingPlan == 'level3' && pricingPlanInterval == 'year'
		|| subscriptionOfferEnabled
		|| alreadySubscribed">
	<h2>{{translation.PRICING_GROWTH}}: 140€/{{translation.MONTH}}</h2>
	<h3>{{translation.YEARLY_SUBSCRIPTION}} <span>+20% {{translation.DISCOUNT}}</span></h3>
	<aside>{{translation.PRICING_GROWTH_DESC}}</aside>
</button>-->
<!-- FREE ACCOUNT
--><button class="free"
	ng-click="submitFreeSubscription(stripeModal)">
	<h2>{{translation.PRICING_FREE}}: {{translation.FREE}}</h2>
	<aside>{{translation.PRICING_FREE_DESC}}</aside>
</button>