<h1>{{translation.SUBSCRIBE_NOW_TITLE}}</h1>
<aside>{{translation.PLEASE_CHOOSE_PLAN}}:</aside>
<div id="subscription-modal-buttons" ng-init="stripeModal = 'subscribe_now'">
	<subscription-buttons></subscription-buttons>
</div>