<div class="viewSwitch" ng-show="contactList.length > 0">
	<div class="button-wrap">
		<button ng-class="{active : cardsView}" ng-click="listView = false; cardsView = true">{{translation.CARDS_VIEW}} <i class="fa fa-th-large" aria-hidden="true"></i></button><!--
	    --><button ng-class="{active : listView}" ng-click="cardsView = false; listView = true"><i class="fa fa-th-list" aria-hidden="true"></i> {{translation.LIST_VIEW}}</button>
    </div>
</div>