<h1 ng-if="site.user.trialPeriodRemainingDays <= 5 && site.user.trialPeriodRemainingDays > 1">{{translation.YOUR_TRIAL_EXPIRES_IN}} {{site.user.trialPeriodRemainingDays}} {{translation.DAYS}}</h1>
<h1 ng-if="site.user.trialPeriodRemainingDays == 1">{{translation.YOUR_TRIAL_EXPIRES_TOMORROW}}</h1>
<aside class="offer">{{translation.JUST_FOR_YOU_OFFER}}</aside>
<div id="subscription-modal-buttons" ng-init="stripeModal = 'trial_offer'">
	<subscription-buttons></subscription-buttons>
</div>