<h1 ng-if="!alreadySubscribed">{{translation.TRIAL_PERIOD_EXPIRED}}</h1>
<h1 ng-if="alreadySubscribed">{{translation.WELCOME_BACK}}</h1>
<aside>{{translation.CHOOSE_PLAN_TO_CONTINUE}}:</aside>
<div id="subscription-modal-buttons" ng-init="stripeModal = 'trial_expired'">
	<subscription-buttons></subscription-buttons>
	<p class="cancel" ng-if="!cancelSubscriptionRequest" ng-hide="alreadySubscribed" ng-click="$parent.cancelSubscriptionRequest = true">{{translation.CANCEL_AFTER_TRIAL_PERIOD}}</p>
	<div class="cancel-confirm" ng-if="cancelSubscriptionRequest">
    	<h2>{{translation.IMPORTANT_NOTICE}}</h2>
    	<p>{{translation.CANCEL_SUBSCRIPTION_EXPLANATION_1_TRIAL}}</p>
    	<p>{{translation.CANCEL_SUBSCRIPTION_EXPLANATION_3}}</p>
    	<button class="confirm" ng-click="deleteRelevanteAccount()">{{translation.CONFIRM}}</button>
    	<button class="cancel" ng-click="$parent.cancelSubscriptionRequest = false">{{translation.CANCEL}}</button>
    </div>
</div>