<h1>{{translation.UPGRADE_YOUR_ACCOUNT_TITLE}}</h1>
<aside>{{translation.PLEASE_CHOOSE_PLAN}}:</aside>
<div id="subscription-modal-buttons" ng-init="stripeModal = 'upgrade_account'">
	<subscription-buttons></subscription-buttons>
</div>