<div id="step-createWatchlist" class="global-watchlist-sel" ng-hide="listView">
    <i class="fa fa-eye" aria-hidden="true"></i><!--
    --><select ng-change="newSelWatchlist(selWatchlist)" ng-model="$parent.selWatchlist" style="font-family: 'FontAwesome', 'GillSans';">
        <option ng-repeat="watchlist in site.savedWatchlists" value="{{watchlist.name}}" on-finish-retrieve="watchlistFunctions()" selected="selWatchlist">{{watchlist.name}}</option>
    </select>
<!--     <p class="create-more-watchlist" ng-click="toggleWatchlistTooltip()">+</p>
    <div id="new-watchlist-tooltip" class="hidden">
        <p>{{translation.GIVE_NAME_WATCHLIST}}</p>
        <p><input type="text" placeholder="{{translation.WATCHLIST_INPUT_PLACEHOLDER}}" ng-enter="saveWatchlist(watchlistInputTooltip); selWatchlist = watchlistInputTooltip" ng-model="watchlistInputTooltip"></p>
        <button ng-click="saveWatchlist(watchlistInputTooltip); selWatchlist = watchlistInputTooltip">{{translation.SAVE}}</button>
    </div> -->
    <!-- Onboarding fake tooltip -->
<!--     <div id="new-watchlist-onboarding" class="hidden">
        <p>{{translation.GIVE_NAME_WATCHLIST}}</p>
        <p><input type="text" placeholder="{{translation.WATCHLIST_INPUT_PLACEHOLDER}}" ng-model="watchlistInputTooltip"></p>
        <button>{{translation.SAVE}}</button>
    </div> -->
</div>
<!-- <div id="step-search" class="search-wrap" ng-mouseover="enableSearch()" ng-mouseleave="disableSearch()">
    <input class="search" ng-keydown="$event.which === 13 && quickSearch(searchTerms)" type="text" placeholder="{{translation.SEARCH_PROFILES}}" ng-model="searchTerms">
    <ul class="search-tags">
        <p>{{translation.SEARCH_BY_TAG}}:</p>
        <li ng-if="site.savedTags.length > 0" ng-repeat="tag in site.savedTags" ng-click="quickSearch(tag.note)">
            <span class="tagName">{{tag.note}}</span> ({{tag.num}})
        </li>
        <p ng-if="site.savedTags.length == 0">{{translation.NO_TAGS}}</p>
    </ul>
</div> -->