<a href="/watchlist/level0/{{watchlistId}}" ng-click="watchlistLv0()">
    <div id="nav-title" class="grey">
        <div class="title-data" ng-class="{ selected: isCurrentPath('/watchlist/level0/{{watchlistId}}') }">
            <!-- <h3>{{translation.CONTEXT}} - {{translation.VIEW_ALL}}</h3><br /> -->
            <p><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;&nbsp;{{nameWatchlist | limitTo: 18}}</p>
        </div><div id="nav-arrow-right" class="grey"></div>
    </div>
</a>