#admin-enable-user {
	padding: 100px 10%;
	position: relative;

	.form-wrap {
		text-align: center;
	}

	h1 {
		font-size: 1.6em;
	}

	form.simple-form {
		display: inline-table;
		font-size: 1em;
		margin: 0 auto;
		max-width: 320px;
		position: relative;
		text-align: left;
		width: 100%;

		p {
			margin: 12px 0 3px 0;

			&:first-child {
				margin-top: 0;
			}

			span {
				color: @grey;
				font-size: 0.9em;
			}
		}

		textarea, input.text, label {
			font-family: 'GillSans';
			max-width: 320px;
			padding: 6px;
			width: 100%;
		}

		textarea {
			min-height: 60px;
		}

		input.checkbox {
			display: inline-table;
			margin: 12px 6px 3px 0;
		}

		button {
			border-radius: 6px;
			margin: 24px 0;
			padding: 6px 24px;
			text-transform: lowercase;

			&.save {
				background: @orange;
				color: white;
				margin-right: 12px;

				&:hover {
					background: @darkOrange;
				}

				&.disabled {
					background: @grey;
					cursor: not-allowed;
				}
			}

			&.reset {
				background: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&:focus {
				outline: none;
			}
		}

		.tip {
			border: 1px solid;
			border-radius: 6px;
			color: white;
			margin: 0;
			padding: 12px;
			text-align: center;
			text-transform: lowercase;
			width: 100%;

			p {
				padding: 3px 12px;
			}

			&.success {
				background: @level1;
				border-color: @level4;
			}

			&.error {
				background: @lightRed;
				border-color: red;
			}

			ul {
				margin-top: 12px;
				text-align: left;

				li {
					line-height: 1.2em;
					margin-bottom: 3px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}