.automationModal {
	.modal-content {
		color: @darkGrey;
		padding: 32px;
		text-align: center;
	}

	h1 {
		font-size: 2.4em;
		margin: 24px 0;
		text-transform: uppercase;
	}

	h2 {
		border-top: 2px solid @darkGrey;
		font-size: 1.6em;
		margin: 48px 0 12px 0;
		padding-top: 48px;
		text-transform: uppercase;

		span {
			text-transform: lowercase;
		}
	}

	h3 {
		font-size: 1.2em;
		margin: 6px 0;
		text-transform: lowercase;
	}

	ul {
		&.select {
			margin-bottom: 24px;

			&.conditions {
				li {
					min-width: 90px;
				}
			}

			li {
				@height: 14px;
				border: 3px solid @darkGrey;
				border-right: none;
				cursor: pointer;
				display: inline-table;
				height: @height;
				line-height: @height;
				padding: 4px 18px;
				text-transform: lowercase;
				vertical-align: middle;


				&:first-child {
					border-top-left-radius: @height /2 + 8px;
					border-bottom-left-radius: @height /2 + 8px;
					border-right: none;
				}

				&:last-child {
					border-top-right-radius: @height /2 + 8px;
					border-bottom-right-radius: @height /2 + 8px;
					border-right: 3px solid @darkGrey;
				}

				&.active {
					background: @greenPurple;
					color: white !important;
				}

				i {
					line-height: @height;
					vertical-align: top;
				}

			}

			&.network {
				.linkedin {
					color: @linkedin;
				}

				.twitter {
					color: @twitter;
				}
			}
		}

	}

	input,
	textarea {
		border: 1px solid @darkGrey;
		display: block;
		margin: 0 auto !important;
		max-width: 480px;
		padding: 6px 12px;
		width: 100%;
	}

	input {
		margin-bottom: 12px !important;
	}

	textarea {
		min-height: 180px;
	}

	select {
		margin-top: 12px;
		text-transform: lowercase;
	}

	.reply-block,
	.message-block {
		border-bottom: 1px dashed @lightGrey;
		padding: 24px 0;

		h3 {
			margin: 0 0 12px 0;
		}
		.conditions-block {
			margin-bottom: 24px;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.checkbox {
		margin-bottom: 12px;
		width: auto !important;

		label, input {
			display: inline-table;
			margin: 0 !important;
			padding: 0 !important;
			position: relative;
			vertical-align: baseline;
			width: auto;
		}

		input {
			margin-right: 3px;
		}

		label {
			cursor: pointer;
			text-transform: lowercase;
		}
	}

	p {
		&.tip {
			color: @grey;
			font-size: 0.9em;
			margin-top: 12px;
		}
	}

	hr {
		border: none;
		border-top: 2px solid @darkGrey;
		margin-top: 48px;
	}	

	button {
		max-width: 480px;
		text-transform: uppercase;
		width: 100%;

		&.add {
			border: 2px solid @darkGrey;
			border-radius: 3px;
			margin-top: 24px;
			padding: 3px 12px;
			text-align: left;
			text-transform: lowercase;
			width: auto !important;

			&:hover {
				background: @darkGrey;
				color: white;
			}
		}

		&.submit {
			background: @orange;
			border-radius: 6px;
			margin-top: 32px;
			padding: 12px;
			color: white;

			&:hover{
				background: @darkOrange;
			}
		}

		&.cancel {
			color: @grey;
			margin-top: 18px;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.submit-automation-confirmation {
		border: 3px solid red;
		border-radius: 6px;
		margin-top: 24px;
		padding: 12px;

		p {
			text-transform: lowercase;
		}

		button {
			margin-top: 12px;
		}
	}
}

.message-vars {
	border-radius: 6px;
	margin: 12px auto;
	max-width: 480px;
	width: 100%;

	ul {
		text-align: center;

		li {
			border: 1px solid @darkGrey;
			border-radius: 6px;
			cursor: pointer;
			display: inline-table;
			line-height: 1.6em;
			margin: 0 6px 6px 0;
			padding: 0 12px;

			&:hover {
				text-decoration: underline;
			}

			&:last-child {
				margin-right: 0;
			}

			&.title {
				border: none;
				cursor: text;
				display: block;
				margin-right: 0;
				text-transform: lowercase;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	p.tip {
		color: @grey;
		font-size: 0.8em;
		margin-top: 6px;
		padding: 0 24px;
	}
}

.template-sel {
	margin-top: 12px;
	text-align: center;
	width: 100%;
}

.template-actions {
	.delete-template {
		color: @grey;
		font-size: 0.9em;
		margin-top: 12px;
		text-transform: none;

		span {
			text-transform: lowercase;
		}

		i {
			vertical-align: baseline;
		}

		&:hover {
			color: red;
		}
	}

	.template-details {
		margin-top: 12px;
		input {
			border-radius: 3px;
			font-size: 0.9em;
			max-width: 160px;
		}

		ul {
			margin-left: 12px;

			li {
				color: @lightGrey;
				cursor: pointer;
				display: inline-table;
				text-transform: lowercase;

				&:after {
					color: @darkGrey;
					content: '|';
					margin: 0 6px;
				}

				&:last-child:after {
					content: '';
					margin: 0;
				}

				&.active {
					color: @darkGrey;
					text-decoration: underline;
				}
			}
		}

		input, ul {
			display: inline-table;
			font-size: 0.9em;
		}

		button {
			background: @orange;
			border-radius: 6px;
			color: white;
			display: inline-table;
			margin: 6px !important;
			padding: 3px 12px;
			text-transform: lowercase !important;
			width: auto !important;

			&:first-child {
				margin-left: 0 !important;
			}

			&:last-child {
				margin-right: 0 !important;
			}

			&:hover{
				background: @darkOrange;
			}
		}
	}
}