#build-mode,
#start-list {
	position: relative;
	text-align: center;
	top: 150px;
	width: 100%;

	h1 {
		background: rgba(0, 0, 0, 0.7);
		color: white;
		font-size: 2.2em;
		margin: 0 0 32px 0;
		padding: 10px 5%;
		text-transform: uppercase;

		i {
			font-size: 0.9em;
			margin-right: 12px;
		}
	}

	h2 {
		background: rgba(0, 0, 0, 0.7);
		color: white;
		font-size: 1.6em;
		margin: 0 0 32px 0;
		padding: 10px 5%;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		i {
			font-size: 0.9em;
			margin-right: 12px;
		}
	}

	.create-list {
		background: rgba(0, 0, 0, 0.7);
		color: white;
		padding: 48px 0;
	}

	input {
			background: rgba(255, 255, 255, 1);
			border: 3px solid black;
			color: @darkGrey;
			line-height: 1.2em;
			max-width: 640px;
			padding: 12px 15px;
			text-align: center;
			text-transform: lowercase;
			width: 100%;

			&.required {
				border-color: red;
			}

			&.watchlist-name {
				max-width: 320px;
			}


			input::-webkit-input-placeholder {
				   color: @lightGrey;
				}

			input:-moz-placeholder { /* Firefox 18- */
				   color: @lightGrey;
				}

			input::-moz-placeholder {  /* Firefox 19+ */
				   color: @lightGrey;
				}

			input:-ms-input-placeholder {  
				   color: @lightGrey; 
				}
		}

		button {
			background: white;
			border: 3px solid black;
			line-height: 1.2em;
			padding: 12px 15px;
			text-align: center;
			text-transform: uppercase;
		}

		p.tip {
			text-transform: lowercase;

			&.warning {
				color: red;
			}
		}

		p.show-advanced {
			background: @darkGrey;
			border-radius: 8px;
			color: white;
			cursor: pointer;
			line-height: 16px;
			margin: 12px auto 0 auto;
			max-width: 300px;
			padding: 3px 24px;
			text-transform: lowercase;
		}

			p.warning {
				color: red;
				margin-bottom: 3px;
				padding: 0;
				text-transform: lowercase;
			}

			p.included-terms {
				color: white;
				font-size: 0.9em;
				margin: 12px 0 0 0;
				padding: 0;
				text-transform: lowercase;
			}
		.terms {
			ul {
				background: white;
				margin: 6px auto 0 auto;
				max-width: 640px;
				padding: 6px;
				
				li {
					border-bottom: none;
					color: @darkGrey;
					display: inline-table;
					font-size: 0.9em;
					margin-right: 6px;
					text-transform: lowercase;
					word-break: normal;
					
					&:after {
						content: ', ';
					}

					&:last-child:after {
						content: '';
					}

					span.delete {
						font-size: 0.8em;
						color: @grey;
						cursor: pointer;

						&:hover {
							color: red;
						}
					}

					&.empty { color: red; }
				}
			}
		}

		.advancedSearchTrigger {
			margin: 32px 0;

			p {
				background: @darkGrey;
				border-radius: 3px;
				color: white;
				cursor: pointer;
				margin: 12px auto;
				max-width: 640px;
				line-height: 32px;
				text-transform: lowercase;

				i {
					margin: 0 3px;
					vertical-align: text-bottom;
				}
			}
		}

			.advancedSearch-wrap {
				text-align: center;
			}

			.advancedSearch { 
				margin:  0 auto;
				max-width: 640px;

				&.block {
					display: inline-table;
					margin: 0 auto;
					min-width: 280px;
					max-width: 360px;
					padding: 12px;
					vertical-align: middle;
					width: 25%;
				}

				.section-title {
					//border-bottom: 1px solid @darkGrey;
					color: white;
					cursor: pointer;
					font-size: 0.9em;
					margin: 12px 0 6px 0;
					padding: 6px 0;
					text-align: left;

					p {
						display: inline-table;
					}

					i {
						display: inline-table;
						vertical-align: baseline;

						&.left { margin-right: 3px; }
						&.right { margin-left: 3px; }
					}
				}

				.terms-condition,
				.negative-terms,
				.search-goal {
					margin: 12px 0 18px 0;

					p {
						color: white;
						font-size: 0.9em;
						margin-bottom: 6px;
						text-align: center;
						text-transform: lowercase;

						i {
							color: white;
							margin-right: 3px;
							vertical-align: baseline;
						}

						&.goal-explanation {
							color: white;
							font-size: 0.8em;
							margin: 6px 0 0 0;
						}
					}

					ul {
						text-align: center;

						li {
							background: white;
							border: 2px solid black;
							border-right: none;
							color: @darkGrey;
							cursor: pointer;
							display: inline-table;
							font-size: 0.8em;
							padding: 6px;
							text-align: center;
							text-transform: lowercase;
							-webkit-transition: all .2s ease-in-out;
							-moz-transition: all .2s ease-in-out;
							transition: all .2s ease-in-out;

							&:first-child {
								border-bottom-left-radius: 6px;
								border-top-left-radius: 6px;
							}

							&:last-child {
								border-bottom-right-radius: 6px;
								border-right: 2px solid black;
								border-top-right-radius: 6px;
							}

							&.active, &:hover {
								background: @grey;
								color: white;
							}
						}
					}
				}

				.item {
					font-size: 0.9em;
					margin: 12px auto 6px auto;
					position: relative;
					width: 80%;

					i {
						color: white;
						font-size: 1em;
						display: inline-table;
						margin-bottom: 6px;
						vertical-align: middle;
						text-align: center;
						width: 10%;

						&.last {
							margin-bottom: 0;
						}

						&.required {
							color: red;
						}
					}

					input, select {
						color: @grey;
						display: inline-table;
						height: 24px;
						font-size: 0.9em;
						vertical-align: top;
					}

					input {
						border: 2px solid @grey;
					    border-radius: 6px;
					    display: inline-table;
					    margin-bottom: 12px;
					    margin-top: 0;
						padding-right: 6px;
						text-indent: 6px;
						vertical-align: top;
						width: 90%;

						&:placeholder-shown {
							text-transform: lowercase;
						}

						&:last-child {
							margin-bottom: 0;
						}

						&.required {
							border-color: red;
						}

						&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color: @lightGrey;
						}
						&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
						   color: @lightGrey;
						   opacity:  1;
						}
						&::-moz-placeholder { /* Mozilla Firefox 19+ */
						   color: @lightGrey;
						   opacity:  1;
						}
						&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						   color: @lightGrey;
						}
						&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
						  color: @lightGrey;
						}

						&:focus {
							outline: none;
						}

						&.negative-terms-input {
							width: 100%;
						}
					}

					select {
						-webkit-align-items: center;
					    -webkit-appearance: none;
					    -webkit-rtl-ordering: logical;
					    -webkit-writing-mode: horizontal-tb;
					    background-color: @grey;
					    -webkit-border-radius: 0px !important;
					    border-radius: 0;
					    border: 0;
					    border-image-outset: 0px;
					    border-image-repeat: stretch;
					    border-image-slice: 100%;
					    border-image-source: none;
					    border-image-width: 1;
						border-bottom-left-radius: 6px !important;
						border-top-left-radius: 6px !important;
					    box-sizing: border-box;
					    color: white;
					    cursor: pointer;
					    display: inline-table;
					    font-weight: normal;
					    letter-spacing: normal;
					    line-height: normal;
					    margin: 0;
					    padding: 0;
					    text-align: start;
					    text-indent: 6px;
					    text-shadow: none;
					    text-transform: lowercase;
					    white-space: pre;
					    word-spacing: 0px;
					    width: 40%;
					}

					.caret {
						pointer-events: none;
						position: absolute;
						left: 64px;
						top: 11px;

						&:before {
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid transparent;
							content: '';
							right: 0;
							position: absolute;
							top: 0;
						}

						&:after {
							border-left: 0 solid transparent;
							border-right: 0 solid transparent;
							border-top: 4px solid white;
							content: '';
							right: 0;
							position: absolute;
							top: 0;
						}
					}

					.remove-item {
						color: red;
						display: inline-table;
					}

				}

				.add-more-filters {
					text-align: right;
					
					p {
						color: @lightGrey;
						cursor: pointer;
						font-size: 0.9em;
						text-transform: lowercase;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			p.give-name,
			p.name-tip {
				color: white;
				font-size: 0.9em;
				padding: 0;
				text-transform: lowercase;
			}

			p.give-name {
				margin: 12px 0 6px 0;
			}

			p.name-tip {}

			button.saveWatchlist {
				background: @grey;
				border: 3px solid @darkGrey;
				border-radius: 6px;
				color: white;
				font-size: 1em;
				margin: 12px 0 0 0;
				max-width: 320px;
				padding: 12px 24px;
				text-align: center;
				text-transform: uppercase;
				width: 100%;

				&:hover {
					background: @darkGrey;
					color: white;
				}
			}

	.saved-searches {
		background: rgba(0, 0, 0, 0.7);
		color: white;
		margin: 32px 0 32px 0;
		padding: 10px 5%;

		p {
			cursor: pointer;
			font-size: 1.2em;
			text-transform: lowercase;

			i {
				margin-left: 3px;
			}
		}


		li.search {
			border-radius: 6px;
			border: 2px solid white;
			color: wite;
			cursor: pointer;
			font-size: 0.9em;
			margin: 24px auto;
			max-width: 280px;
			padding: 6px 0;
			position: relative;
			text-transform: lowercase;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			&:hover {
				background: @white;

				color: @darkGrey;

				.terms li,
				.advanced-search li {
					color: @grey !important;
				}
			}

			.terms {
				margin-top: 3px;

				li {
					border-bottom: none;
					color: @lightGrey;
					display: inline-table;
					font-size: 0.8em;

					&.title {
						color: @lightGrey;
					}

					&:after {
						content: ',\00a0';
					}

					&.title:after,
					&:last-child:after {
						content: '';
					}
				}
			}			

			.advanced-search {

				li {
					border-bottom: none;
					color: @lightGrey;
					display: inline-table;
					font-size: 0.8em;
					margin: 6px 6px 0 0;

					&.title {
						color: @lightGrey;
					}

					i {
						vertical-align: baseline;
					}

					&:after {
						content: ',\00a0';
					}

					&.title:after,
					&:last-child:after {
						content: '';
					}
				}
			}
		}
	}
}

#start-list {
	.steps-wrapper {
		background: @lightGrey;
		padding: 24px;
	}

	.step {
		@size: 100px;
		display: inline-table;
		margin-right: 12px;
		vertical-align: top;

		.step-title {
			cursor: pointer;
			display: inline-table;
			vertical-align: middle;
			width: @size;

			p {
				color: white;
			}
			
			.top {
				background: @grey;
				border-right: 12px solid @grey;
				position: relative;


				p {
					color: @lightGrey;
					padding: 12px 0;
				}
			}

			.bottom {
				background: @bgColor;
				text-align: left;

				p {
					color: @lightGrey;
					font-family: 'GillSans SemiBold';
					font-size: 4.5em;
					margin-left: 12px;
				}
			}
		}

		.step-content {
			display: inline-table;
			vertical-align: top;

			.create-list {
				background: @darkGrey;
				padding: 32px;

				input.create-filter {
					min-width: 300px;
				}
			}

			&.engage {
				background: @darkGrey;
				color: white;
				padding: 32px;

				ul {
					text-align: center;

					li.mode {
						border: 2px solid white;
						border-radius: 12px;
						cursor: pointer;
						margin: 24px auto;
						min-width: 320px;
						max-width: 480px;
						padding: 12px;
						width: 90%;

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}

						p {
							font-size: 1.1em;
						}

						.action-button {
							background: white;
							border-radius: 6px;
							color: @level3;
							display: inline-table;
							font-size: 0.9em;
							margin: 12px 6px;
							padding: 12px;

							&:first-child {
								margin-left: 0;
							}

							&:last-child {
								margin-right: 0;
							}

							i {
								vertical-align: baseline;
							}
						}

						hr {
							display: inline-table;
							border-right: 1px solid white;
							height: 24px;
							vertical-align: middle;
						}

						.sequence {
							border: 2px solid white;
							border-radius: 12px;
							margin-top: 12px;
						}

						&:hover, &.active {
							background: white;
							color: @level3;

							.action-button {
								background: @level3;
								color: white;
							}

							.sequence {
								border-color: @level3;
							}

							hr {
								border-color: @level3;
							}
						}
					}
				}
			}
		}

		&.active, &:hover {

			.top {
				background: @darkGrey;
			}

			.bottom {
				background: white;
			}

			&.step-build {

				.top{
					border-color: @purple;

					p {
						color: white;
					}
				}

				.bottom {
					p {
						color: @purple;
					}
				}
			}

			&.step-engage {

				.top{
					border-color: @level3;
				}

				.bottom {
					p {
						color: @level3;
					}
				}
			}
		}
	}
}