.loading-full-screen {
	background: rgba(255, 255, 255, 0.8);
	padding: 0!important;
	text-align: center;
	z-index: 99999999 !important;

  	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		margin-right: 38px;
		vertical-align: middle;
	}
  
	.modal-content {
		background: transparent;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin: 0  auto !important;
	}

	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	}

	.kart-loader {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
		text-align: center;
	}
}

.expandedCardModal {
	background: rgba(255, 255, 255, 0.8);

	.modal-dialog {
		margin: 0 auto !important;
	}
	.modal-content {
		border-radius: 0 !important;
	}
}

.expanded-header {
	@height: 48px;

	cursor: pointer;
	margin-bottom: 50px;
	padding: 0;
	position: relative;
	text-align: center;
	text-transform: lowercase;
	width: 100%;
	z-index: 12;

	.expanded-watchlist {
		background-color: @purple;
		box-shadow: 0 6px 3px -3px @grey;
		display: inline-table;
		height: @height;
		width: 60%;

		i {
			color: white;
			padding: 0 0 0 10px;
			vertical-align: text-bottom;

			&.fa-plus {
				padding: 0 2px 0 12px;

				&:hover {
					color: @bgColor;
				}
			}
		}

		select {
			-webkit-align-items: center;
		    -webkit-appearance: menulist-button;
		    -webkit-rtl-ordering: logical;
		    -webkit-writing-mode: horizontal-tb;
		    background-color: @purple;
		    -webkit-border-radius: 0px !important;
		    border-radius: 0;
		    border: 0;
		    border-image-outset: 0px;
		    border-image-repeat: stretch;
		    border-image-slice: 100%;
		    border-image-source: none;
		    border-image-width: 1;
		    box-sizing: border-box;
		    color: white;
		    cursor: pointer;
		    display: inline-table;
		    font-size: 0.9em;
		    font-weight: normal;
		    height: @height;
		    letter-spacing: normal;
		    line-height: normal;
		    margin: 0;
		    padding: 0;
		    text-align: start;
		    text-indent: 0px;
		    text-shadow: none;
		    text-transform: lowercase;
		    vertical-align: middle;
		    white-space: pre;
		    word-spacing: 0px;

			&:focus, &:active {
				border: none !important;
				outline: none !important;
			}

			option {
				background: white !important;
				color: @grey !important;
			}
		}

		p {
			cursor: pointer;
			font-size: 0.9em;

			&.create-more-watchlist {
				color: @purple;
				display: inline-table;
				font-size: 2em;
				font-weight: bold;
				margin-left: 5px;
				vertical-align: top;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}



	.action {
		background: @purple;
		//border-radius: 6px;
		box-shadow: 0 6px 3px -3px @grey;
		display: inline-table;
		height: @height !important;
		text-transform: lowercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 320px;
		vertical-align: top;

		&:first-child {
			margin-left: 0 !important;
		}

		i {
				font-size: 1.2em;
				margin-right: 3px;
			}

		p {
			color: white;
			font-size: 1em !important;
			height: @height;
			line-height: @height !important;
			margin: 0 !important;
			overflow: hidden;
			padding: 0 10px !important;
			text-align: center !important;
			vertical-align: middle !important;

			span {
				color: @bgColor;
				text-transform: lowercase;

				&.watchlistName {
					color: white;
					text-transform: lowercase;
				}
			}
		}

		&.watchlist {
			border-left: 2px solid white;
			border-right: 2px solid white;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 20%;

			&:hover {
				background: @darkPurple;
			}
		}

		&.already {
			background: @bgColor;
			color: @grey;
			cursor: not-allowed;

			p, span { color: @grey; }

			&:hover {
				background: @bgColor;
				color: @grey;

				p, span { color: @grey; }
			}
		}

		&.disabled {
			background: @bgColor;
			cursor: not-allowed;
			text-decoration: none;

			p { color: @lightGrey; }

			&:hover {
				background: @bgColor;

				p { color: @lightGrey; }
			}
		}

		&.skip-contact {
			background: @lightGrey;
			width: 20%;

			&:hover {
				background: @grey;
			}
		}

		&:hover a, &:hover p { 
			color: white;
			text-decoration: none;
		}

		&.relist {
			width: 100%;
		}
	}
}

.view-link {
	display: inline-table;
	line-height: 24px;
	margin: 6px 0 0 12px;
	vertical-align: top;

	a {
		color: @lightGrey !important;
		font-size: 1em;
		margin-top: 6px;
		vertical-align: middle;

		&:hover {
			text-decoration: underline;
		}
	}
}

.close-expanded {
	background: @grey;
	color: @bgColor;
	cursor: pointer;
	display: none;
	font-size: 0.9em;
	padding: 6px 12px;
	text-align: center;
	text-transform: lowercase;
	top: 66px;
	width: 100%;
	z-index: 10;

	&:hover {
		background: @darkGrey;
		color: white;
	}
}

.expanded-card-tabs {
	padding: 0 50px;
	position: relative;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99;

	.backToRelevanteExpandedProfile {
		background: transparent;
		border: none;
		cursor: pointer;
		display: inline-table;
		font-size: 0.9em;
		padding: 3px 12px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: auto;

		&:hover {
			background: inherit;
			color: inherit;
		}
	}

	li {
		background: @bgColor;
		border: 1px solid black;
		border-left: none;
		border-right: none;
		cursor: pointer;
		display: inline-table;
		font-size: 0.9em;
		padding: 3px 32px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 30%;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			
		}

		&.relevante {
			color: @purple;
		}

		&.linkedin {
			color: @linkedin;
		}

		&.twitter {
			color: @twitter;
		}

		&:hover {
			background: @lightGrey;
			color: white;
		}

		&.active {
			color: white;

			&.relevante {
				background: @purple;
			}

			&.linkedin {
				background: @linkedin;
			}

			&.twitter {
				background: @twitter;
			}
		}

		&.profile-disabled {
			background: @bgColor;
			cursor: not-allowed;
			color: @lightGrey;

			&:hover {
				color: @lightGrey;
			}
		}
	}
}

.card-expanded {
	//display: none;
	left: 0px;
	z-index: 20;

	&.active {
		display: block;
	}

	hr {
		border: 1px solid black;
		border-bottom: none;
		margin: 32px 0;
	}

	h4 {
		color: @grey;
		font-family: "GillSans Bold";
		font-size: 1em;
		margin-bottom: 12px;
		text-transform: lowercase;

		span {
			cursor: pointer;
			font-family: "GillSans";
			font-size: 0.8em;
			margin-left: 12px;

			i {
				margin-left: 3px;
			}
		}
	}

	.showAllToggle {
		margin-top: 24px;
		text-align: center;

		button {
			background: @grey;
			border-radius: 6px;
			color: white;
			font-size: 0.9em;
			padding: 3px 24px;
			position: relative;
			text-transform: lowercase;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;

			&:hover {
				background: @darkGrey;
			}
		}
	}

	.content-wrap {
		background: white;
		height: 100%;
		margin: 0 auto;
		padding: 0 50px 50px 50px;
		position: relative;
	}

	.user-img {
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 64px;

		img {
			border: 3px solid @grey;
			clip: rect(0px,60px,200px,0px);
			border-radius: 35px;
			height: 64px;
			object-fit: cover;
			overflow: hidden;
			width: 64px;

			&.linkedin_groups {
				border: none;
				border-radius: 0;
				height: 40px;
				padding: 5px 0 0 15px;
				width: 40px;
			}
		}


		.icon {		
			bottom: 0;
			position: absolute;
			right: -6px;
			

			img {
				border: none;
				height: 24px;
				width: 24px;
			}
		}
	}

	.relationship-type {
		border-radius: 6px;
		bottom: 0;
		color: white;
		font-size: 0.8em;
		margin: 0 auto;
		padding: 3px 0;
		position: absolute;
		text-align: center;
		text-transform: lowercase;
		width: 100%;

		&.universe {
			background: @purple;
		}

		&.contact {
			background: @linkedin;
		}

		&.prospect {
			background: black;
		}
	}

	@itemsHeight: 22px;

	.expanded-user-data {
		margin-top: 24px;
		position: relative;
		text-align: center;

		h3 {
			font-family: "GillSans Bold";
			font-size: 1em;
			margin-bottom: 12px;
		}

		aside {
			font-style: italic;
			font-size: 1em;
			margin-bottom: 12px;

			i {
				margin-right: 3px;
				vertical-align: baseline;
			}
		}

		.location {
			color: @grey;
			font-size: 0.9em;
		}

		.email {
			display: inline-table;
			font-size: 1em;
			margin-right: 24px;
			margin-top: 12px;
			text-transform: lowercase;

			i {
				vertical-align: baseline;
			}

			&.email-true {
				.edit {
					color: @grey;
					cursor: pointer;
					font-size: 0.9em;
					margin-left: 6px;
					vertical-align: baseline;

					&:hover {
						color: @darkGrey;
					}
				}
			}

			&.email-false {
				cursor: pointer;
			}

			form {
				margin: 0 auto;
				position: relative;
				width: 150px;

				.form-group {
					margin-bottom: 0;
				}

				input {
					height: auto; 
					max-width: 320px;
					padding: 0 6px;
					text-transform: lowercase;
					width: 80%;
				}

				span {
					text-align: center;
					width: 20%;

				}

				i.close {
					font-size: 1.3em;
					vertical-align: baseline;
				}

				input, span {
					display: inline-table;
					vertical-align: middle;
				}
			}

			ul {
				li {
					display: inline-table;
					margin-right: 24px;

					&:last-child{
						margin-right: 0;
					}

					i {
						margin-right: 6px;
					}

					span {
						color: @lightGrey;
						cursor: pointer;
						font-size: 0.9em;
						margin-left: 6px;

						&:hover {
							color: red;
						}
					}
				}
			}

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.skills {
			margin-top: 30px;

			li {
				border: 1px solid @grey;
				border-radius: 6px;
				font-size: 0.8em;
				display: inline-table;
				line-height: @itemsHeight;
				list-style: none;
				margin: 0 5px 5px 0;
				padding: 0px 6px;
				text-transform: lowercase;
			}
		}
	}

	.expanded-user-keywords {
		text-align: center;
		ul {

			&.empty {
				cursor: default !important;
			}

			li {
				color: @grey;
				display: inline-table;
				margin: 0 5px 5px 0;
				position: relative;
				text-transform: lowercase;
				vertical-align: middle;

				&.keyword {
					background: @grey;
					color: white;
					border-radius: 6px;
					font-size: 0.8em;
					line-height: @itemsHeight;
					padding: 0 12px;
					text-transform: lowercase;
				}
			}
		}
	}

	.assigned-to {
		text-align: center;

		ul {
			margin-top: 20px;

			input {
				background: @lightestPurple;
				border-color: @lightPurple;
				border-radius: 6px;
				box-shadow: none;
				display: inline-table !important;
				font-size: 0.8em;
				height: @itemsHeight;
				line-height: @itemsHeight;
				margin-right: 5px;
				padding: 0 6px;
				text-transform: lowercase;
				vertical-align: top;
				width: 90px;

				&:hover, &:focus {
					outline: none;
					-moz-box-shadow: none;
    			    -webkit-box-shadow: none;
					box-shadow: none !important;
				}
			}

			ul.dropdown-menu {
				margin-top: 0;
				min-width: 90px;
				padding: 6px 0;

				li {
					color: @grey;
					display: block;
					font-size: 0.9em;
					margin: 0;
					padding: 0;
					text-align: left;


					a {
						background: none;
						padding: 3px 12px;
					}

					&:hover,
					&.active {
						color: white;

						a {
							background: @lightPurple;
						}
					}
				}
			}

			li {
				display: inline-table;
				font-size: 1em;
				margin: 0 5px 5px 0;
				padding-right: 18px;
				position: relative;
				vertical-align: middle;
				

				p {
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
					color: white;
					line-height: @itemsHeight;
					padding: 0 12px;
					text-transform: lowercase;
				}

				.delete {
					background: @lightGrey;
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					color: @bgColor;
					cursor: pointer;
					height: @itemsHeight;
					line-height: @itemsHeight;
					position: absolute;
					right: 0;
					text-align: center;
					text-transform: uppercase;
					top: 0;
					vertical-align: middle;
					width: 18px;

					span {
						font-size: 0.6em;
						vertical-align: middle;
					}

					&:hover {
						background: red;
						color: white;
					}
				}

				&.watchlist-title {
					padding-right: 0;

					p {
						color: @purple;
						font-size: 1em;
						padding: 0;
					}
				}

				&.watchlist p {
					background: @purple;
					color: white;
					font-size: 0.8em;
				}

				&.tag-title {
					padding-right: 0;

					p {
						color: @lightPurple;
						font-size: 1em;
						padding: 0;
					}
				}

				&.tag p {
					background: @lightPurple;
					color: white;
					font-size: 0.8em;
				}
			}
		}
	}

	.engage-levels {
		margin-top: 20px;
		text-align: center;

		&.level1 { border-color: @level1}
		&.level2 { border-color: @level2}
		&.level3 { border-color: @level3}
		&.level4 { border-color: @level4}

		ul {
			height: 40px;
			margin: 12px 0 0 0;
			padding: 0;

			li {
				display: inline-table;
				color: @bgColor;
				height: 40px;
				width: 25%;
				vertical-align: top;

				p {
					line-height: 40px;
					vertical-align: middle;
				}

				&.active {
					color: white;
				}

				&.level1 { background: @level1grey; }
				&.level2 { background: @level2grey; }
				&.level3 { background: @level3grey; }
				&.level4 { background: @level4grey; }

				&.level1.active { background: @level1; }
				&.level2.active { background: @level2; }
				&.level3.active { background: @level3; }
				&.level4.active { background: @level4; }
			}
		}

		.close-personal-metrics,
		.show-personal-metrics {
			background: @darkGreen;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			box-shadow: 0 6px 3px -3px @grey;
			color: white;
			cursor: pointer;
			margin-bottom: 24px;
			padding: 6px 0;
			text-transform: lowercase;
		}

		#personal-metrics {
			display: none;
			width: 100%;

			.expand-close-all {
				border-bottom: 1px solid @grey;
				color: @grey;
				padding: 8px 0;
				text-align: right;
				text-transform: lowercase;

				span {
					background: white;
					border-radius: 3px;
					cursor: pointer;
					font-size: 0.9em;
					padding: 0 6px;

					&:hover {
						background: @grey;
						color: white;
					}
				}
			}

			.item {
				border-bottom: 1px solid @grey;
				color: @grey;
				cursor: pointer;
				font-size: 0.9em;

				&.odd {
					background: @bgColor;
				}

				&:last-child {
					border-bottom: none;
				}

				&.level1:hover, &.level1.active { background: @level1; }
				&.level2:hover, &.level2.active { background: @level2; }
				&.level3:hover, &.level3.active { background: @level3; cursor: default; }
				&.level4:hover, &.level4.active { background: @level4; }

				&:hover, &.active {
					color: white;

					.metrics-details {
						border-color: white;
					}

					.comment-box {
						background: inherit;
						color: inherit;
					}
				}

				.left, .right {
					display: inline-table;
					padding: 12px 0;
					width: 50%;

					p {
						padding: 0 10%;

						i {
							vertical-align: baseline;
						}
					}
				}

				.left {
					// border-left: 1px solid @grey;
					text-align: right;

					p { border-right: 1px solid @grey; }
				}

				.right {
					// border-right: 1px solid @grey;
					text-align: left;
				}

				.metrics-details {
					border-top: 1px dashed @grey;
					display: none;
					padding: 12px 24px;
					position: relative;
					text-align: left;

					h5 {
						font-weight: bold;
						margin-bottom: 6px;
					}

					p {
						font-size: 0.9em;
						margin-bottom: 6px;
					}

					.post-image {
						float: right;
						height: auto;
						margin: 0 0 10px 10px;
						max-width: 120px !important;
						padding: 0 !important;

						img {
							border: 2px solid @grey;
							padding: 0;
							width: 100%;
						}
					}

					.comment-box {
						background: white;
						border: 1px solid @grey;
						color: @darkGrey;
						margin: 12px;
						padding: 12px;

						h5 {
							font-weight: bold;
							margin-bottom: 6px;
							text-transform: lowercase;

							i {
								vertical-align: baseline;
							}
						}

						p {
							font: 0.9em;
							padding: 6px 12px;
						}
					}
				}
			}
		}
	}

	.expanded-personal-info {
		margin-top: 20px;

		p {
			line-height: 1.1em;
		}
	}

	.expanded-experience {
		margin-top: 20px;

		ul {
			li {
				border-bottom: 1px solid @bgColor;
				padding-bottom: 12px;
				padding-top: 12px;

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}

				h5 {
					line-height: 1.2em;

					span.company {
						color: @lightGrey;
						text-transform: lowercase;
					}

					a:hover {
						text-decoration: underline;
					}
				}

				p {
					font-size: 0.9em;
					margin-top: 6px;
				}
			}
		}
	}

	.expanded-groups {
		margin-top: 20px;

		ul {
			li {
				border-bottom: 1px solid @bgColor;
				display: table;
				padding-bottom: 12px;
				padding-top: 12px;

				&:first-child {
					margin-top: 20px;
					padding-top: 0;
				}

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}


				.group-img, h5 {
					display: table-cell;
					vertical-align: middle;
				}

				.group-img {
					height: 50px;
					text-align: center;
					width: 100px;

					img {
						max-height: 50px;
						max-width: 100px;
					}
				}

				h5 {
					padding-left: 12px;

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.expanded-shares {
		margin-top: 20px;

		.post {
			display: table;
			padding: 12px 30px;
			border-bottom: 1px solid @bgColor;
			width: 100%;

			&:hover {
				background: @bgColor;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.post-icon, .post-data {
			display: table-cell;
			position: relative;
			vertical-align: top;
		}

		.post-icon {
			img {
				width: 40px;
			}
		}

		.post-data {
			padding-left: 12px;
			position: relative;
			width: 100%;

			.post-info {
				margin-bottom: 12px;
			}

			time {
				font-size: 0.9em;
				color: @grey;
				margin-left: 12px;
				vertical-align: middle;
			}

			.relation {
				background: @grey;
				border-radius: 9px;
				color: white;
				display: inline-block;
				font-size: 0.8em;
				line-height: 18px;
				margin: 0;
				padding: 1px 12px;
				text-transform: lowercase;
				vertical-align: middle;
				width: auto;
			}

			h5 {
				font-size: 0.9em;
				font-weight: bold;
				margin-bottom: 6px;
			}

			p {
				font-size: 0.9em;
				margin-bottom: 6px;
			}

			.post-image {
				float: right;
				height: auto;
				margin: 0 0 10px 10px;
				max-width: 120px !important;
				padding: 0 !important;

				img {
					border: 2px solid @grey;
					padding: 0;
					width: 100%;
				}
			}
		}

		p.noShares {
			color: @lightGrey;
			padding: 12px 30px;

			i {
				vertical-align: baseline;
			}
		}
	}

	.comment-wrap, .contact-wrap {
		background: @bgColor;
		-moz-box-shadow: 0 0 5px 5px @darkGrey;
    	-webkit-box-shadow: 0 0 5px 5px@darkGrey;
		box-shadow: 0 0 5px 5px @darkGrey;
		display: none;
		left: 0;
		padding: 12px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 99999;

		&.linkedin {
			background: @linkedin;
		}

		&.twitter {
			background: @twitter;
		}

		&.levelTouch {
			bottom: 40px;

			textarea {
				@height: 120px;
				height: @height;
				max-height: @height;
			}
		}

		&.filter {
			height: 109px !important;

			textarea {
				height: 62px;
				max-height: 62px;
			}
		}

		textarea {
			border-color: @grey;
			font-size: 0.9em;
			height: 52px;
			margin-bottom: 12px;
			max-height: 52px;
			max-width: 100%;
			width: 100%;
			padding: 6px;
			width: 100%;
		}

		input.submitComment,
		input.submitReply {
			background: @grey;
			border: none;
			border-radius: 4px;
			color: white;
			font-size: 0.9em;
			padding: 6px 24px;
			text-transform: lowercase;
			width: auto;

			&:hover {
				background: @darkGrey;
			}
		}

		button {
			border: none;
			border-radius: 6px;
			margin: 0;
			padding: 6px 24px;
			text-transform: lowercase;

			&.submit {
				background: white;
				border: 3px solid transparent;
				border-radius: 4px;
				color: black;
				font-size: 0.9em;
				padding: 6px 24px;
				text-transform: lowercase;
				width: auto;

				&.linkedin {
					color: @linkedin;
				}

				&.twitter {
					color: @twitter;
				}

				&.disabled {
					cursor: not-allowed;
				}

				&:hover {
					border-color: white;
					color: white;

					&.linkedin {
						background: @linkedin;
					}

					&.twitter {
						background: @twitter;
					}
				}
			}

			&.cancel {
				background: none;
				color: white;

				&:hover,
				&:active,
				&:focus {
					background: none;
					color: white;
					text-decoration: underline;
				}
			}
		}
	}

	.contact-wrap {
		bottom: 0;
		width: 100%;

		textarea {
			@height: 70px;
			height: @height;
			max-height: @height;
		}
	}

	.comment-wrap {
		bottom: 0 !important;
		left: 12px;

		textarea {
			@height: 64px;
			height: @height !important;
			max-height: @height !important;
		}
	}

	.actions {
		@height: 24px;

		display: inline-table;
		font-size: 0.8em;
		position: relative;
		text-align: center;
		text-transform: lowercase;
		width: 100%;
		z-index: 12;

		&.margin-top {
			margin-top: 32px;
		}

		.action {
			background: @level3;
			//border-radius: 6px;
			cursor: pointer;
			display: inline-table;
			height: @height !important;
			margin: 6px 0 0 12px !important;
			text-transform: lowercase;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			width: 120px;
			vertical-align: top;

			&:first-child {
				margin-left: 0 !important;
			}

			i {
					font-size: 1.2em;
					margin-right: 3px;
				}

			p {
				color: white;
				font-size: 1em !important;
				height: @height;
				line-height: @height !important;
				margin: 0 !important;
				overflow: hidden;
				padding: 0 10px !important;
				text-align: center !important;
				vertical-align: middle !important;

				span {
					color: @bgColor;
					text-transform: lowercase;

					&.watchlistName {
						color: white;
						text-transform: lowercase;
					}
				}
			}

			// &.like, &.retweet, &.fav  {
			// 	background: @level1;
			// }

			// &.comment, &.reply {
			// 	background: @level2;
			// }

			// &.connect, &.follow {
			// 	background: @level3;
			// }

			// &.message, &.directMessage {
			// 	background: @level4;
			// }

			// &:hover {
			// 	background: @darkGreen;
			// }

			&.get-mail,
			&.send-mail {
				background: @purple;

				&:hover {
					background: @darkPurple;
				}

				&.triggered {
					background: @bgColor;
					cursor: default;
					text-decoration: none;

					p { color: @purple; }

					&:hover {
						background: @bgColor;

						p { color: @purple; }
					}
				}
			}

			&.linkedin {
				background: @linkedin;

				&:hover {
					background: @darkLinkedin;
				}
			}

			&.twitter {
				background: @twitter;

				&:hover {
					background: @darkTwitter;
				}
			}

			&.already {
				background: @bgColor;
				cursor: not-allowed;

				p, span { color: @grey; }
			}

			&.disabled {
				background: @bgColor;
				cursor: default;
				text-decoration: none;

				&.linkedin {
					p { color: @linkedin; }
				}

				&.twitter {
					p { color: @twitter; }
				}

				&:hover {
					background: @bgColor;

					&.linkedin {
						p { color: @linkedin; }
					}

					&.twitter {
						p { color: @twitter; }
					}
				}
			}

			&.skip-contact {
				background: @lightGrey;

				&:hover {
					background: @grey;
				}
			}

			&:hover a, &:hover p { 
				color: white;
				text-decoration: none;
			}
		}
	}
}