hr {
	border: 1px solid @bgColor;
	border-bottom: none;
	margin: 12px 0;
}

.disabled-card {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999999;
}

ul.card-tabs {
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99;

	li {
		background: @bgColor;
		// border-right: 1px solid @grey;
		// border-bottom: 1px solid @grey;
		cursor: pointer;
		display: inline-table;
		font-size: 0.9em;
		padding: 3px 24px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:first-child {
			//border-left: 1px solid @grey;
			border-bottom-left-radius: 6px;
			margin-left: 0;
		}

		&:last-child {
			border-bottom-right-radius: 6px;
		}

		&.relevante {
			color: @purple;
		}

		&.linkedin {
			color: @linkedin;
		}

		&.twitter {
			color: @twitter;
		}

		&:hover {
			background: @grey;
			color: white;
		}

		&.active {
			color: white;

			&.relevante {
				background: @purple;
			}

			&.linkedin {
				background: @linkedin;
			}

			&.twitter {
				background: @twitter;
			}
		}

		&.profile-disabled {
			background: @bgColor;
			cursor: not-allowed;
			color: @lightGrey;

			&.build {
				cursor: pointer;
			}

			&:hover {
				color: @lightGrey;
			}
		}
	}
}

.tooltip-card-tab {
	.tooltip-inner {
		padding: 6px;
	}
}

p.subscribe-now-tooltip {
	line-height: 1.4em;
	padding: 6px;

	button {
		background: @orange;
		border-radius: 6px;
		line-height: 1.4em;
		padding: 6px 18px;
		text-transform: uppercase;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {
			background: @darkOrange;
		}
	}
}

.backToRelevanteProfile {
	cursor: pointer;
	left: 10px;
	position: absolute;
	top: 2px;
	z-index: 101;

	i {
		font-size: 1.2em;

		&:hover {
			
		}
	}
}

.signals-title {
	background: @darkGrey;
	border-radius: 3px;
	color: white;
	height: 24px;
	margin: 8px auto !important;
	padding: 0;
	position: relative;
	text-align: center;
	text-transform: lowercase;
	width: 94%;

	&.share {
		background: @purple;
	}

	&.linkedin {
		background: @linkedin;
	}

	&.twitter {
		background: @twitter;
	}

	&.margin-top {
		margin-top: 20px !important
	}

	p {
		font-size: 1em !important;
		line-height: 24px;
		margin: 0 !important;
		padding: 0;
		text-align: center !important;
		vertical-align: middle;
		width: auto;
	}

	i {
		margin-right: 3px;
		vertical-align: text-bottom;
	}
}

.user-signals {
	display: table;
	padding-bottom: 12px;
	width: 100%;

	&.single {
		padding-bottom: 0;
	}

	p {
		word-break: normal;

		&.empty {
			color: @lightGrey;
			text-transform: lowercase;
		}
	}

	@blockHeight: 50px;

	.user-personal-info {
		height: @blockHeight;
		margin-top: 5px;
		overflow: hidden;
	}

	.user-activity {
		height: @blockHeight;
		overflow: hidden;

		p {
			font-size: 0.9em;
		}
	}

	.block {
		display: table-cell;
		height: @blockHeight;
		max-height: @blockHeight;
		overflow: hidden;
		padding: 0 0 0 15px;

		&.section-network {

			i {
				font-size: 1.4em;
				width: auto;

				&.linkedin {
					color: @linkedin;
				}
				&.twitter {
					color: @twitter;
				}
			}
		}

		&.section-icon {
			color: @darkGrey;
			padding-left: 10px;
			text-align: left;

			i {
				font-size: 1.6em;
				width: 24px;
			}
		}

		&.section-content {
			padding-right: 15px;
			text-align: left;
			width: 100%;

			h3 {
				font-size: 1em;
				font-weight: bold;
				margin-bottom: 3px;
			}
		}

		ul {
			padding-right: 15px;
			text-align: left;
 
			li {
				display: inline-table;
				margin: 0 6px 0 0;

				&:after {
					content: ' / '
				}

				&:last-child:after {
					content: '';
				}
			}
		}
	}
}


.user-signals.top {
	height: 250px;
	overflow: hidden;
	width: 100%;
}

.signal-block {
	border-bottom: 1px solid @bgColor;

	&:last-child {
		border-bottom: none;
	}
}

.no-email {
	//background: @grey;
	height: 160px;
	padding: 32px 0;
	position: relative;
	text-align: center;

	p.tip {
		color: @darkGrey;
		line-height: 1.2em;
		padding: 0 32px;
		text-transform: lowercase;
	}

	button {
		background: @purple;
		border-radius: 6px;
		color: white;
		margin-top: 12px;
		padding: 6px 32px;

		i {
			margin-right: 6px;
		}

		&:hover {
			background: @darkPurple;
		}
	}
}

.watchlist-no-activity {
	background: @grey;
	position: relative;

	.signals-title {
		-moz-box-shadow: 0 0 8px 3px @darkGrey;
        -webkit-box-shadow: 0 0 8px 3px @darkGrey;
		box-shadow: 0 0 8px 3px @darkGrey;
		top: 60px;
	}

	.fake-layer-level1 {
		height: 120px;
		width: 100%;
	}
}

.createListFromCardModal {
	background: rgba(0, 0, 0, 0.4);
	padding: 0!important;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		display: inline-block;
		max-width: 960px;
		text-align: left;
		vertical-align: middle;
		width: 80%;
	}

	.modal-content {
		padding: 30px;
		text-align: center;
	}

	h1 {
		color: @darkGrey;
		font-size: 1.4em;
		margin-bottom: 6px;
		text-align: center;
		text-transform: lowercase;
	}

	aside {
		color: @grey;
		margin-bottom: 24px;
		font-size: 1em;
		text-align: center;
		text-transform: lowercase;
	}

	p.tip {
		color: @grey;
		font-size: 0.9em;
		margin: 0 auto 0 auto;
		text-align: left;
		text-transform: lowercase;
		width: 50%;
	}

	.tip.warning {
		font-size: 0.9em;
		margin: 6px auto 0 auto;

		p {
			display: inline-block;
			color: red;
			text-transform: lowercase;
		}
	}

	input {
		background: rgba(255, 255, 255, 0.9);
		border: 3px solid black;
		line-height: 1.2em;
		padding: 12px 15px;
		text-align: center;
		width: 50%;

		&.location {
			width: 15%;
		}

		&.required {
			border-color: red;
		}
	}

	input::-webkit-input-placeholder {
		   color: @lightGrey;
		}

	input:-moz-placeholder { /* Firefox 18- */
		   color: @lightGrey;
		}

	input::-moz-placeholder {  /* Firefox 19+ */
		   color: @lightGrey;
		}

	input:-ms-input-placeholder {  
		   color: @lightGrey; 
		}

	button {
		background: white;
		border: 3px solid black;
		line-height: 1.2em;
		padding: 12px 15px;
		text-align: center;
		text-transform: uppercase;
	}
}

.assign-tag-from-card {
	@itemsHeight: 32px;
	height: 160px;
	text-align: center;

	input {
		background: @lightestPurple;
		border-color: @lightPurple;
		border-radius: 6px;
		box-shadow: none;
		display: inline-table !important;
		height: @itemsHeight;
		line-height: @itemsHeight;
		margin-top: 56px;
		padding: 0 6px;
		text-transform: lowercase;
		vertical-align: top;
		width: 200px;

		&:hover, &:focus {
			outline: none;
			-moz-box-shadow: none;
		    -webkit-box-shadow: none;
			box-shadow: none !important;
		}
	}

	ul.dropdown-menu {
		margin-top: 0;
		min-width: 200px;
		padding: 6px 0;

		li {
			color: @grey;
			display: block;
			font-size: 0.9em;
			margin: 0;
			padding: 0;
			text-align: left;


			a {
				background: none;
				padding: 3px 12px;
			}

			&:hover,
			&.active {
				color: white;

				a {
					background: @lightPurple;
				}
			}
		}
	}
}

#engage-action {
	background: @orange;
	bottom: 0;
	cursor: pointer;
	height: 64px;
	position: fixed;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	width: 100%;
	z-index: 999999;

	p {
		color: white;
		margin-top: 24px;
		text-transform: uppercase;

		i {
			vertical-align: baseline;
		}
	}

	span.tip {
		font-size: 0.9em;
		text-transform: none;
	}

	&:hover {
		background: @darkOrange;
	}
}