
@pocket: #e63a5a;
@wordpress: #00749a;

#configHub {
	background-size: cover;
	bottom: 0;
	color: @darkGrey;
	height: 100%;
	min-height: 100%;
	top: 0;
	padding: 100px 30px;
	text-align: center;

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.4em;
		margin-top: 30px;
	}

	h3 {
		font-size: 1.2em;
		margin-top: 30px;
		text-transform: lowercase;
	}

	aside {
		margin-top: 3px;
		text-transform: lowercase;
	}

	p.logout {
		color: @lightGrey;
		cursor: pointer;
		font-size: 0.9em;
		text-transform: lowercase;

		&:hover {
			text-decoration: underline;
		}
	}

	span.pocket,
	span.hub {
		text-transform: none;
	}

	span.pocket {
		color: @pocket;
	}

	span.hub {
		color: @wordpress;
	}

	#connect-pocket {
		margin-top: 50px;



		.block {
			display: inline-table;
			vertical-align: top;

			&.pocket.disabled {
				cursor: pointer;

				i {
					color: @grey;
				}

				&:hover {
					
					i {
						color: @pocket;
						text-shadow: 3px 3px 6px @lightGrey;
					}
				}
			}

			i {
				font-size: 6em;
				text-shadow: 3px 3px 6px @lightGrey;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;

				&.fa-arrow-right,
				&.fa-link {
					font-size: 3em;
					margin: 24px 20px 0 20px;
				}

				&.fa-get-pocket {
					color: @pocket;

					&.disabled {
						text-shadow: none;
					}
				}

				&.fa-wordpress {
					color: @wordpress;
				}

			}

			p {
				line-height: 1.1em;
				margin-top: 6px;
				width: 100px;

				span {
					text-transform: lowercase;
				}
			}
		}
	}

	#config-hub-workflow {
		padding-bottom: 50px;

		.saved-workflows {
			margin: 12px auto;
			position: relative;
			max-width: 640px;

			.workflow {
				display: table;
				margin: 12px 0;
				padding: 0;
				position: relative;
				width: 100%;

				&:hover {
					cursor: pointer;

					.pocket, .hub {
						background: @bgColor;
						border-color: @grey;
						color: @grey;

						i {color: @grey;}
					}
				}
			}

			.pocket, .hub {
				border: 1px solid;
				cursor: pointer;
				display: table-cell;
				line-height: 1.2em;
				max-width: 300px;
				padding: 6px 3%;
				text-transform: lowercase;
				vertical-align: middle;
				width: 45%;
			}

			.pocket {
				background: white;
				border-color: @pocket;
				color: @pocket;
				text-align: right;

				i {
					color: @pocket;
					margin-left: 6px;
				}
			}

			.hub {
				background: white;
				border-color: @wordpress;
				color: @wordpress;
				text-align: left;

				i {
					color: @wordpress;
					vertical-align: middle;
				}

				span.flag-icon {
					height: 12px;
					vertical-align: middle;
					z-index: 1;
				}
			}

			.link {
				display: table-cell;
				vertical-align: middle;
				width: 10%;

				i {
					font-size: 1.6em;
					text-shadow: 2px 2px 4px @lightGrey;
				}
			}
		}

		.column {
			display: inline-table;
			margin: 12px 0 12px 0;
			max-width: 320px;
			vertical-align: top;
			width: 50%;

			&.left {
				text-align: right;

				i { margin-left: 6px; }
			}

			&.right {
				text-align: left;

				i { margin-right: 6px; }
			}

			ul {

				li {
					background: white;
					border: 1px solid @grey;
					color: @grey;
					cursor: pointer;
					line-height: 1.2em;
					margin: 12px 0;
					padding: 6px 6%;
					text-transform: lowercase;

					&.allUsed {
						background: @bgColor !important;
						border-color: @lightGrey !important;
						color: @lightGrey !important;

						i { color: @lightGrey !important; }

						&:hover {
							border-color: @lightGrey !important;
							color: @lightGrey !important;

							i { color: @lightGrey !important; }
						}
					}

					&.loading {
						color: #999;
						cursor: default;

						img {
							height: 16px;

							&.left {
								margin-left: 0;
							}

							&.right {
								margin-right: 0;
							}
						}

						&:hover {
							color: #999 !important;
							border-color: @grey !important;
						}
					}
				}

				&.pocket {

					li {
						margin-right: 10%;
						position: relative;

						&.dragging {
						z-index: 12;
					}
					}

					li:hover,
					li.active {
						background: white;
						border-color: @pocket;
						color: @pocket;

						i {color: @pocket}
					}
				}

				&.hub {

					li {
						margin-left: 10%;
						position: relative;
						z-index: 10;

						p.slug {
							background: @bgColor;
							font-size: 0.9em;
							margin: 6px 0;
							padding: 8px;


							i { margin-right: 0; }
						}

						span.flag-icon {
							height: 12px;
							vertical-align: middle;
							z-index: 1;
						}
					}

					li:hover,
					li.drag-enter,
					li.active {
						background: white;
						border-color: @wordpress;
						color: @wordpress;

						i {color: @wordpress}
					}
				}
			}
		}

		button.save-workflow {
			background: @orange;
			border-radius: 6px;
			color: white;
			margin-top: 12px;
			padding: 6px 24px;
			text-transform: lowercase;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;

			&:hover {
				background: @darkOrange;
			}
		}
	}
}