.opacity {
	opacity: 0.5;
}

.dashboard {
	h1 {
		color: @purple;
	}

	section {
		display: inline-table;
		height: 300px;
		margin: 30px 0 0 0;

		&.left {
			margin: 0 20px 0 0;
			position: relative;
			width: 474px;

			h2 {
				text-align: left;
			}

			.msg-wrapper {
				background: @grey;
				margin: 6px 0 0 0;
				padding: 6px 12px;
			}

			ul.contact-item {
				background: @bgColor;
				box-shadow: inset 0 0 0 1px @purple;
				max-height: 600px;
				overflow: scroll;

				li {
					background: white;
					border: @purple 1px solid;
					margin: 15px 0 0 0;
					padding: 15px;

					&:first-child {
						margin: 0;
					}

					.user-data {
						display: inline-table;
						position: relative;
						width: 80px;

						img {
							border: @purple 1px solid;
							border-radius: 32px;
							width: 64px;
						}

						span {
							color: @purple;
							font-size: 0.8em;
							word-break: normal;
						}

						.icon {
							position: absolute;
							right: 0;
							top: 40px;

							img {
								background: white;
								border: none;
								border-radius: 12px;
								width: 24px;
							}
						}
					}

					.user-details {
						display: inline-table;
						margin: 0 0 0 10px;
						padding: 0 20px 0 0;
						position: relative;
						text-align: left;
						vertical-align: top;
						width: 280px;
						word-break: normal;

						h3 {
							font-weight: bold;
							margin: 0 0 5px 0;
						}

						aside {
							font-size: 0.9em;
						}

						.location {
							color: @lightGrey;
							font-size: 0.9em;
							margin: 0 0 20px 0;
						}

						a {
							font-size: 0.9em;
						}

						.more-info-trigger {
							color: @purple;
							cursor: pointer;
							font-size: 1.4em;
							font-weight: bold;
							position: absolute;
							right: 0;
							top: 35px;
						}
					}

					.used-keywords {
						border-top: @purple 1px solid;
						margin: 15px 0 0 0;
						padding: 15px 0 0 0;
						text-align: left;

						h4 {
							color: @purple;
							font-size: 0.9em;
						}

						ul {
							margin: 10px 10px 0 10px;

							li {
								border: none;
								cursor: pointer;
								font-size: 0.9em;
								display: inline-table;
								line-height: 1.6em;
								margin: 0;
								padding: 0;

								&:after {
									content: ", ";
								}

								&:last-child:after {
									content: "";
								}

								&:hover, &.selected {
									text-decoration: underline;
								}

								&.selected {
									font-weight: bold;
								}
							}
						}
					}

					.more-info {
						border-top: @purple 1px solid;
						margin: 15px 0 0 0;
						padding: 15px 0 0 0;
						text-align: left;

						p.editable_textarea {
							cursor: pointer;
							font-size: 0.9em;
							text-decoration: underline;
						}

						textarea {
							font-size: 0.8em;
							min-height: 30px;
							max-height: 150px;
							max-width: 390px;
						}

						button {
							font-size: 0.8em;
							margin: 15px 15px 0 0;
							padding: 5px 15px;
						}

						.tags {
							font-size: 0.8em;
							margin: 20px 0 0 0;

							span {
								color: @purple;
								font-weight: bold;
							}

							input {
								margin: 0 0 0 15px;
							}

							ul {

								li {
									border: none;
									display: inline-table;
									margin: 10px 0 0 10px;
									padding: 5px 10px;
									text-align: center;

									span {
										background: @purple;
										border-radius: 6px;
										color: white;
										padding: 5px 10px;
									}
								}

								a {
									color: @lightGrey;
									margin: 0 0 0 3px;

									&:hover {
										color: red;
										text-decoration: none;
									}
								}
							}
						}
					}

					.posts {
						ul {
							margin: 15px 0 0 0;

							li {
								border: none;
								border-top: @purple 1px dashed;
								overflow: auto;
								margin: 0;
								padding: 15px 0 15px 0;
								text-align: left;

								&:first-child {
									border-top: @purple 1px solid;
								}
							}
						}

						h3 {
							display: inline-table;
							font-size: 0.9em;
							font-weight: bold;
							line-height: 1.2em;
							margin: 0 0 5px 0;
						}

						.post-data {
							margin: 0 0 15px 0;

							time {
								font-size: 0.8em;
								color: @lightGrey;
							}

							a {
								margin: 0 0 0 15px;
								padding: 0;

								img {
									width: 16px;
								}
							}
						}

						p {
							font-size: 0.9em;
							margin: 0 0 10px 0;
							text-align: justify;

							&.related-to {
								color: @purple;
								margin: 20px 0 0 0;
							}

							img {
								display: block;
								float: right;
								margin: 0 0 0 10px;
							}
						}

						a.read-more {
							color: @lightGrey;
							font-size: 0.8em;
							margin: 0;
							text-decoration: underline;
						}
					}
				}
			}

			nav.social-network-filter {

				ul {
					margin: 0;
					padding: 0;
					height: auto;
					text-align: left;

					li {
						background: none;
						border: none !important;
						cursor: pointer;
						display: inline-table;
						font-size: 0.9em;
						margin: 10px 5px 0 0 !important;
						padding: 0 !important;

						img {
							margin: 0;
							vertical-align: middle;
							width: 24px;
						}

						&.selected {
							font-weight: bold;
							text-decoration: underline;
						}

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.search {
				position: absolute;
				right: 0;
				top: 30px;
				z-index: 100;

				input {
					border: @purple 1px solid;
					font-size: 0.8em;
					line-height: 18px;
					padding: 3px 8px;
					width: 240px;
				}
			}

			.pag {
				color: white;
				font-size: 0.9em;
				margin: 5px 0;

				a:hover {
					font-weight: bold;
					text-decoration: none;
				}
			}
		}

		&.center {
			text-align: left;
			width: 230px;

			h3 {
				font-size: 0.9em;
				margin: 10px 0 0 0;
				text-align: center;
			}

			ul {
				color: @purple;
				margin: 15px auto 20px auto;
				width: 210px;

				li.keyword {
					border: @purple 1px solid;
					background: white;
					cursor: pointer;
					font-size: 0.9em;
					line-height: 16px;
					margin: 6px 0 0 0;
					padding: 5px 10px;
					position: relative;

					span.down-arrow, span.up-arrow {
						font-size: 0.8em;
						position: absolute;
						right: 3px;
						top: 6px;
					}
				}
			}

			ul.related-users, ul.keyword-related-users {
				margin: 12px 0 20px 0;

				li {
					cursor: pointer;
					font-size: 0.9em;
					margin: 5px 10px;
					vertical-align: middle;

					&.all-contacts-trigger {
						font-weight: bold;
						margin: 0 0 10px 0;
						text-align: center;
					}

					img {
						border: @purple 1px solid;
						border-radius: 16px;
						margin: 0 5px 0 0;
						vertical-align: middle;
						width: 32px;
					}

					&:hover {
						text-decoration: underline;
					}
				} 
			}

			ul.keyword-related-users {
				margin: 15px auto 20px auto;
				width: 210px;
			}	

			.contacts-keywords, .suggested-keywords {
				margin: 15px 0 0 0;
			}
		}

		&.right {
			text-align: left;
			width: 220px;

			ul {
				color: @purple;
				margin: 25px auto 0 auto;
				text-align: center;
				width: 210px;

				li.new-filter {
					border: @purple 3px solid;
					background: @purple;
					border-radius: 16px;
					color: white;
					cursor: pointer;
					display: inline-table;
					font-size: 0.9em;
					font-weight: bold;
					line-height: 16px;
					margin: 0 0 10px 0;
					padding: 6px 15px;
					position: relative;
					width: 140px;

					&:hover {
						border: white 3px dotted;
					}
				}

				li.saved-filter {
					border: @purple 1px solid;
					background: white;
					border-radius: 13px;
					cursor: pointer;
					display: inline-table;
					font-size: 0.9em;
					line-height: 16px;
					margin: 6px 0 0 0;
					padding: 5px 10px;
					position: relative;
					text-align: left;
					width: 170px;

					&:first-child {
						margin: 0;
					}

					span {
						font-weight: bold;
						position: absolute;
						right: 5px;
						top: 4px;
					}

					&:hover {
						background: @purple;
						color: white;
					}
				}

				a {
					color: @lightGrey;
					margin: 0 0 0 5px;

					&:hover {
						color: red;
						text-decoration: none;
					}
				}

				&.more-filters {
					margin: 0 auto;
				}
			}

			.more-filters-trigger {
				cursor: pointer;
				font-size: 0.9em;
				margin: 10px 0;
				text-align: center;
				text-decoration: underline;

				span {
					font-size: 0.8em;
					margin: 0 0 0 5px;
				}
			}

			h2.second {
				margin: 30px 0 0 0;
			}

			.tags {
				font-size: 0.8em;
				margin: 10px 0 0 0;

				ul {
					margin: 0;
					width: auto;

					li {
						background: @purple;
						border: none;
						border-radius: 6px;
						color: white; 
						cursor: pointer;
						display: inline-table;
						margin: 10px 0 0 10px;
						padding: 5px 10px;
						text-align: center;

						span {
							color: @lightGrey;
							font-weight: 0.8em;
						}
					}

					a {
						color: @lightGrey;
						margin: 0 0 0 3px;

						&:hover {
							color: red;
							text-decoration: none;
						}
					}
				}
			}
		}

		h2 {
			color: @purple;
			font-size: 1.4em;
			text-align: center;
		}
	}
}

.blank-state-wrapper {
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.blank-posts {
	margin: 0 auto;
	padding: 0 260px 0 0;
	position: relative;
	width: 700px;
	-webkit-transition: transform 6s linear, opacity 3s ease-in-out;
	-moz-transition: transform 6s linear, opacity 3s ease-in-out;
	transition: transform 6s linear, opacity 3s ease-in-out;

	h1 {
		color: white;
		font-size: 5em;
		left: 0;
		position: absolute;
		text-shadow: 0 0 10px black;
		top: 274px;
	}

	h2 {
		color: white;
		font-size: 2em;
		position: absolute;
		right: 12px;
		text-shadow: 0 0 10px black;
		top: 330px;
	}

	.new-filter {
		position: absolute;
		right: 62px;
		text-align: center;
		top: 274px;

		a {
			border: @purple 3px solid;
			-moz-box-shadow: 0 0 15px white;
			-webkit-box-shadow: 0 0 15px white;
			box-shadow: 0 0 15px white;
			background: @purple;
			border-radius: 16px;
			color: white;
			cursor: pointer;
			display: inline-table;
			font-size: 0.9em;
			font-weight: bold;
			line-height: 16px;
			margin: 0 0 10px 0;
			padding: 6px 15px;
			position: relative;
			width: 140px;

			&:hover {
				-moz-box-shadow: 0 0 30px white;
				-webkit-box-shadow: 0 0 30px white;
				box-shadow: 0 0 30px white;
				text-decoration: none;
			}
		}
	}

	ul {
		overflow: scroll;
		-webkit-transition: transform 6s linear, opacity 2s ease-in-out;
		-moz-transition: transform 6s linear, opacity 2s ease-in-out;
		transition: transform 6s linear, opacity 2s ease-in-out;

		&.opacity {
			opacity: 0;
		}

		li {
			background: white;
			margin: 0 0 30px 0;
			padding: 30px;

			.user-img {
				display: inline-table;
				margin: 0 10px 0 0;
				padding-bottom: 15px;

				img {
					border: @purple 1px solid;
					border-radius: 32px;
					width: 64px;
				}
			}

			.post-head {
				display: inline-table;
				margin-top: 15px;
				vertical-align: top;
			}

			h3 {
				font-weight: bold;
			}

			time {
				color: @lightGrey;
				font-size: 0.8em;
			}

			p {
				font-size: 0.9em;
				margin-bottom: 6px;
				text-align: justify;

				&:last-child {
					display: block;
					margin-bottom: 0;
				}
			}
		}
	}
}

.start-here {
	margin: 0 auto;
	left: 0;
	position: absolute;
	right: 0;
	width: 960px;

	
}

.skip {
	bottom: 30px;
	cursor: pointer;
	color: white;
	position: fixed;
	right: 30px;
	text-shadow: 0 0 10px black;
}