@color1: #7C1B51;
@color2: #1B7C33;
@color3: #1B7C6A;
@color4: #15AF93;
@color5: #601562;

.hidden {
	display: none;
	max-width: 240px;
	text-align: justify;

	h6 {
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 20px;
	}

	aside {
		color: white;
		font-size: 0.9em;
		line-height: 1.4em;
		margin-bottom: 20px;
	}

	p {
		margin: 10px 0;
	}

	input {
		font-size: 0.9em;
	}
}

#new-watchlist-tooltip,
#new-watchlist-onboarding {
	background: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-box-shadow: 0px 3px 8px black;
	-webkit-box-shadow: 0px 3px 8px black;
	box-shadow: 0px 3px 8px black;
	color: white;
	padding: 10px;
	text-align: center;
	width: auto;

	p { margin: 0 0 10px 0; }

	input {
		font-size: 0.9em;
		line-height: 16px;
		margin: 0;
		padding: 2px 4px;
		width: 140px;
	}

	button {
		background: @color3 !important;
		border: 3px solid white;
		border-radius: 6px;
		color: white;
		font-size: 0.9em;
		padding: 3px 12px;
	}
}

.introjs-tooltip {
	padding: 12px 24px;
}

.introjs-tooltiptext {
	h1 {
		font-size: 1.6em;
	}

	p {
		padding-bottom: 10px;
	}
}
.introjs-skipbutton {
	background: @orange !important;
	text-transform: uppercase;

	&:hover {
		background: @darkOrange !important;
	}
}
.introjs-arrow {
	border: 12px solid white;

	&.bottom {

		border-top-color: @orange;
		bottom: -24px;
		left: 12px;
		overflow: hidden;
	}

	&.left {
		border-right-color: @orange;
		left: -24px;
		top: 12px;
	}

	&.top {

		border-bottom-color: @orange;
		left: 10px;
		overflow: hidden;
		top: -24px;
	}
}

.loading-results {
	color: #999;
	font-size: 1.1em;
	line-height: 40px;
	margin-top: 180px;
	padding-bottom: 100px;
	text-align: center;
	vertical-align: middle;

	img {
		height: 40px;
		vertical-align: middle;
	}
}

.load-more-contacts-button,
.no-more-contacts-button,
.no-results {
	margin-bottom: 12px;
	text-align: center;
	width: 100%;

	p {
		background: white;
		border: 6px solid black;
		border-radius: 6px;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		line-height: 1.4em;
		margin: 0 10%;
		min-width: 200px;
		padding: 6px 20px;
		text-align: center;
		text-transform: uppercase;

		i {
			font-size: 1.1em;
			margin-right: 6px;
			vertical-align: text-top;
		}
	}

	&.watchlist:hover p {
		text-decoration: underline;
	}
}

.load-more-contacts-button {
	margin-bottom: 100px;
}

.no-more-contacts-button p {
	cursor: default !important;
}

.loading-more {
	width: 100%;

	p {
		background: black;
		border: 6px solid black;
		border-radius: 6px;
		color: white;
		font-size: 0.8em;
		margin: 0 auto;
		min-width: 200px;
		padding: 6px 0;
		text-align: center;
		text-transform: uppercase;
		width: 20%;
	}
}

.loading-clusters {
	color: #999;
	font-size: 0.9em;
	line-height: 30px;
	margin: 60px 0;
	padding: 0 20px;
	text-align: center;
	vertical-align: middle;

	img {
		height: 30px;
		vertical-align: middle;
	}
}

.simplePagerNav {
	font-size: 1.4em;
	text-align: center;

	li {
		color: @lightGrey;
		display: inline-table;
		margin: 0 3px;
		padding: 3px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.currentPage, &:hover {
			color: @color1;
			text-decoration: none !important;

			a { text-decoration: none; }
		}
	}
}

.simplePagerContainer .filter-list {
	margin-top: 5px !important;
}

#wrapper {
	height: 100%;
	margin: 0 !important;
	margin-top: 128px !important;
	position: relative;
	top:0; bottom:0; left:0; right:0
}

.no-padding-top {
	padding-top: 0 !important;
}

footer {
	bottom: -33px;
}

.privacyPolicy {

	background: rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	padding: 0!important;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		display: inline-block;
		max-width: 960px;
		text-align: left;
		vertical-align: middle;
		width: 80%;
	}

	.modal-content {
		padding: 32px;
	}

	h2 {
		font-size: 1.8em;
		font-weight: bold;
		margin: 32px 0;
		text-transform: uppercase;
		text-align: center;
	}

	h3 {
		font-size: 1.4em;
		font-weight: bold;
		margin: 32px 0 12px 0;
	}

	p, address {
		font-size: 1.1em;
		line-height: 1.2em;
		margin-bottom: 12px;
	}

	address {
		margin-left: 24px;
	}

	a {
		color: @lightGrey !important;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		margin: 0 24px 12px 24px;

		li {
			font-size: 1.1em;	
			line-height: 1.2em;
			list-style: disc;
			margin-bottom: 0;

			li, p {
				font-size: 1em;
			}
		}

		p.no-margin-bottom {
			margin-bottom: 0;
		}
	}

	p.cert-safe {
		margin-top: 32px;
		text-align: center;

		img {
			max-width: 640px;
			width: 100%;
		}
	}
}

.viewSwitch {
	position: relative;
	margin: 0 auto 0 auto;
	max-width: 220px;
	text-align: center;
	z-index: 9;

	&.no-margin-top {
		margin-top: 0;
	}

	.button-wrap {
		background: white;
		border: 2px solid @darkGrey;
		border-radius: 12px;
		text-align: center;
		width: 100%;
	}

	button {
		color: @lightGrey;
		font-size: 0.9em;
		line-height: 24px;
		margin: 0;
		padding: 0 12px;
		text-transform: lowercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		vertical-align: middle;

		&:focus {
			outline: none;
		}

		&:hover {
			color: @darkGrey;
		}

		&.active {
			color: @darkGrey;

			&:hover {
				color: @darkGrey;
			}
		}

		&:first-child {
			margin-left: 8px;
			border-right: 2px solid @darkGrey;
		}

		&:last-child {
			margin-right: 8px;
		}

		i {
			font-size: 1em !important;
		}
	}
}

.dashboardv2 {
	//background: @bgColor;
	height: 100%;
	margin-bottom: 0 !important;
	position: relative;
	width: 100%;

	&.column-wrapper {
		height: 100%;
		position: relative;
	}

	.table-title {
		background: @bgColor;
		box-shadow: 0 15px 15px -15px black;
		height: 60px;
		z-index: 11;
	}

	// .recent-activity {
	// 	background: transparent;
	// 	box-shadow: 0 15px 15px -15px black;
	// 	height: 60px;
	// 	line-height: 60px;
	// 	text-align: center;
	// 	z-index: 12;

	// 	h2 {
	// 		color: black;
	// 		line-height: 60px;
	// 		text-shadow: 0 0 10px white;
	// 		vertical-align: middle;
			
	// 	}

	// 	&:hover {
	// 		background: @grey;

	// 		h2 {
	// 			color: white;
	// 			text-shadow: 0 0 10px transparent;
	// 		}
	// 	}
	// }

	.filter-column {
		margin: 0;
		position: absolute;
		top:0; bottom:405px; left:0; right:0;
		z-index: 10;
	}

	.block-wrap {
		background: @color4;
		display: table;
		//border-top: @bgColor 2px solid;
		position: relative;
		width: 100%;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		transition: all .1s linear;

		&.discover-search {
			height: 25%;
		}

		&.discover-filter {
			height: 50%;

			li { text-transform: lowercase; }

			.tabs {
				li {
					border: 2px solid @purple;
					border-bottom: none;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					cursor: pointer;
					display: inline-table;
					padding: 4px 0 6px 0;
					width: 40%;

					&:last-child {
						margin-left: 10px;
					}

					&.selected {
						background: @purple;
						color: white;
					}

					h3 {
						font-size: 1em;
						letter-spacing: 2px;

						span {
							font-size: 0.6em;
							letter-spacing: 0;
							text-transform: uppercase;
						}
					}
				}
			}

			.tabs { display: none; }

			.filter-tab {
				.filter-list, .create {
					margin-top: 0 !important;
				}

				.create {
					padding-bottom: 10px;
					padding-top: 10px;
				}
			}

			.search-tab {
				display: none;
			}

			.results-search {
				display: none;
				font-size: 0.9em;
				margin: 0;
				padding: 0;
				width: 100%;

				li{
					background: @purple;
					margin: 0 0 10px 0;
					padding: 10px 0;


					input{
						border: none;
					    border-radius: 8px;
					    font-size: 0.9em;
					    height: 16px;
					    padding: 3px 6px;
					    text-align: center;
					    width: 65%;
					}
				}
			}

			.create {
				cursor: default;
			}

			.create input {
				border: none;
			    border-radius: 8px;
			    font-size: 0.9em;
			    height: 16px;
			    padding: 3px 6px;
			    text-align: center;
			    width: 65%;

				&:focus {
					outline: none;
				}
			}

			.button-search,
			.button-filter {
				background: white;
				color: @purple;
				font-size: 0.7em;
				font-weight: bold;
				margin-left: 10px;
				padding: 2px 4px;
				text-transform: uppercase;
			}

			.suggested, .explanation {
				background: white;
				border-bottom: 3px solid @purple;
				color: @grey;
				display: none;
				font-size: 0.9em;
				margin-bottom: 10px;
				padding: 6px 15px 0 15px;
				-webkit-transform: translate(0,-10px);
				-moz-transform: translate(0,-10px);
				transform: translate(0,-10px);

				li {
					background: #FFF;
					border: @purple 1px solid;
					border-radius: 10px;
					color: @grey;
					cursor: pointer;
					display: inline-table;
					font-size: 0.8em;
					line-height: 20px;
					margin: 0 3px 6px 0;
					padding: 0 10px;
					vertical-align: middle;

					span {
						color: @purple !important;
						font-weight: bold;
					}

					&:hover {
						background: @purple;
						color: white;

						span {
							color: white;
						}
					}
				}

				p.tip {
					padding-bottom: 6px !important;
				}

				p.error {
					color: red;
					display: none;
					padding-bottom: 6px !important;
				}

				p.cancel {
					color: @lightGrey;
					cursor: pointer;
					font-size: 0.9em;
					padding: 6px 0;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&.discover-cluster {
			height: 25%;
		}

		&.watchlists {
			height: 50%;

			.create input {
				border: none;
			    border-radius: 8px;
			    font-size: 0.9em;
			    height: 16px;
			    padding: 3px 6px;
			    text-align: center;
			    width: 70%;

				&:focus {
					outline: none;
				}
			}
		}

		&.discover-search { background: @color5; }
		&.discover-filter, &.discover-filter .create { background: @purple; }
		&.discover-cluster { background: @color1; }
		&.clusters .create { background: @color1; }
		&.watchlists, &.watchlists .create { background: @color3; }
		&.tags { background: @color4;}

		&.discover-cluster .filter-list li:hover,
		&.discover-cluster .filter-list li.selected { background: @color1; }
		&.discover-filter .filter-list li:hover,
		&.discover-filter .filter-list li.selected { background: @purple; }
		&.watchlists .filter-list li:hover,
		&.watchlists .filter-list li.selected { background: @color3; }
		&.tags .filter-list li:hover,
		&.tags .filter-list li.selected { background: @color4;}

		&.discover-cluster .filter-list li {
			background: white;
			border: @color1 2px solid;
			border-radius: 6px;
			margin: 0 10px 10px 10px;
			padding: 6px;

			&:last-child { margin-bottom: 0; }
		}

		&.watchlists li {
			text-transform: lowercase;
		}

		&.watchlists .blacklist {
			font-size: 0.8em;
			color: @lightGrey;
			margin-bottom: 6px;
			text-transform: lowercase;

			&:hover {
				background: @darkGrey !important;
				color: white;
			}
		}

		&.selected {
			background: transparent;
			// height: 40%;

			h2 {
				border-bottom: black 1px solid;
				color: black;
				display: none;
				padding: 0 20px 10px 20px;
				text-shadow: 0 0 10px white;

				&.purple {
					border-color: @purple;
					color: @purple;
				}

				&.color1 {
					border-color: @color1;
					color: @color1;
				}

				&.color2 {
					border-color: @color2;
					color: @color2;
				}

				&.color3 {
					border-color: @color3;
					color: @color3;
				}

				&.color4 {
					border-color: @color4;
					color: @color4;
				}

				&.color5 {
					border-color: @color5;
					color: @color5;
				}
			}
		}

		&.minimized {
			// height: 20%;
		}

		.empty-list {
			color: @grey;
			font-size: 0.9em;
			padding: 5px 30px;
		}
	}

	.block {
		//height: 100%;
		display: table-cell;
		overflow: hidden;
   		//text-align: center;
   		vertical-align: middle;

   		.block-content-wrap {
   			position: relative;

   			&.selected {
				height: 100%;

				.simplePagerContainer {
					display: block;
				}

	   			.block-content {
	   				overflow-y: auto;
	   				position: absolute;
	   				top: 15px; right:0; bottom: 15px; left: 0;
	   			}

   			}
   		}
	}

	.results-search {
		display: none;
		margin: 5px 0 0 0;
		padding: 0 15px;
	}

	.filter-list {
		color: black;
		display: none;
		font-size: 0.9em;
		margin: 5px 0 0 0;
		overflow: hidden;

		&.show {
			display: block;
		}

		li {
			cursor: pointer;
			line-height: 1.4em;
			-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			transition: all .2s linear;

			&:hover, &.selected {
				color: white;

				span { opacity: 1; }
			}

			span {
				color: white;
				opacity: 0;
				-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				transition: all .2s linear;
			}

			&.create {
				color: white;
				margin: 10px 0;
				padding: 6px 0;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		a.delete {
			color: @bgColor;
			float: left;
			font-size: 0.8em;
			line-height: 1.4em;
			margin: 3px 0 0 10px;
			vertical-align: middle;

			&:hover {
				color: red;
				text-decoration: none;
			}
		}
	}

	.keywords {

		.progress{
			left: 0;
			margin: 0 auto 10px auto;
			position: relative;
			right: 0;
			text-align: center;
			top: 0px;
			width: 80%;
		}
	}

	h1 {
		color: black;
		font-size: 1.2em;
		line-height: 60px;
		margin: 0;
		padding: 0 15px;
		text-align: center;
		vertical-align: middle;
	}

	h2 {
		color: white;
		display: inline-block;
		font-size: 1.2em;
		font-weight: normal !important;
		letter-spacing: 5px;
		text-align: right;
		text-shadow: 0 0 10px @purple;
		text-transform: lowercase;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		span {
			font-size: 0.6em;
			font-style: italic;
			letter-spacing: 2px;
			text-transform: none;
		}
	}

	.results-toolbar {
		background: @midGrey;
		box-shadow: 0 6px 3px -3px @grey;
		height: 40px;
		position: fixed;
		top: 55px;
		width: 100%;
		z-index: 10;

		#nav-title-icon {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			color: white;
			display: inline-table;
			height: 40px;
			text-align: center;
			width: 36px;
			z-index: 102;

			&.my-universe,
			&.engage,
			&.build {
				background: @purple;
			}

			&.my-contacts {
				background: @linkedin;
			}

			&.blacklist {
				background: @grey;
			}

			i {
				line-height: 40px;
				text-transform: lowercase;
				vertical-align: middle;
			}
		}

		#nav-title-text {
			color: white;
			display: inline-table;
			height: 40px;
			position: relative;
			vertical-align: top;
			width: 240px + 30px;
			z-index: 10;

			.title-data {
				display: inline-table;
				height: 40px;
				padding: 0 15px;
				vertical-align: top;
				width: 240px;

				&.go-to-list {
					cursor: pointer;
				}

				&.grey {
					background: @darkGrey;
				}

				p {
					font-size: 1em;
					font-weight: normal;
					line-height: 40px;
					margin: 0;
					padding: 0;
					vertical-align: middle;
					width: auto;
				}

				span.alerts {
					background: red;
					border-radius: 6px;
					color: white;
					cursor: pointer;
					font-size: 0.8em;
					margin-left: 3px;
					padding: 1px 6px;
					position: absolute;
					right: 36px;
					top: 10px;
					vertical-align: middle;

					i {
						font-size: 0.8em;
						margin: 0 0 0 3px;
						vertical-align: baseline;
					}
				}
			}

			#nav-arrow-right {
				@arrowHeight: 20px;

				border-top: @arrowHeight solid transparent;
				border-bottom: @arrowHeight solid transparent;
				border-left: @arrowHeight solid transparent;
				display: inline-table;
				height: 0;
				position: relative;
				vertical-align: top; 
				width: 0;
				z-index: 9;

				&.grey {
					border-left-color: @darkGrey;
				}
			}
		}

		.tab {
			color: white;
			cursor: pointer;
			display: inline-table;
			height: 40px;
			position: relative;
			text-align: center;
			vertical-align: top;
			width: 35%;
			z-index: 8;

			&.tab-engage {
				background: @grey;

				.arrow {
					@arrowHeight: 20px;

					border-top: @arrowHeight solid transparent;
					border-bottom: @arrowHeight solid transparent;
					border-left: @arrowHeight solid transparent;
					border-left-color: @darkGrey;
					display: inline-table;
					height: 0;
					left: 0;
					position: absolute;
					top: 0;
					vertical-align: top; 
					width: 0;
					z-index: 9;
				}

				&.active,
				&:hover {
					background: @level3;

					.arrow {
						border-left-color: @darkGrey;
					}
				}
			}

			&.tab-build {
				background: @grey;

				.arrow {
					@arrowHeight: 20px;

					border-top: @arrowHeight solid transparent;
					border-bottom: @arrowHeight solid transparent;
					border-right: @arrowHeight solid transparent;
					border-right-color: @darkGrey;
					display: inline-table;
					height: 0;
					position: absolute;
					right: 0;
					top: 0;
					vertical-align: top; 
					width: 0;
					z-index: 9;
				}

				&.active,
				&:hover {
					background: @purple;

					.arrow {
						border-right-color: @darkGrey;
					}
				}
			}

			p {
				font-size: 1em;
				font-weight: normal;
				line-height: 40px;
				margin: 0;
				padding: 0;
				text-transform: lowercase;
				vertical-align: middle;
				width: auto;
			}
		}

		#content-library {
			color: white;
			cursor: pointer;
			display: inline-table;

			i {
				display: table-cell;
				font-size: 2em;
				line-height: 40px;
				padding: 0 6px;
				vertical-align: middle;
			}

			span {
				line-height: 1em;
				font-size: 0.9em;
				display: table-cell;
				opacity: 0;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				vertical-align: middle;
			}

			&:hover {
				span {
					opacity: 1;
				}
			}
		}

		nav.social-network-filter {
			display: inline-table;
			margin-left: 15px;
			text-align: center;
			vertical-align: top;

			p {
				color: white;
				cursor: pointer;
				font-size: 0.8em;
				margin: 3px 0;

				&:hover { text-decoration: underline }
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					color: black;
					cursor: pointer;
					display: inline-table;
					line-height: 40px;
					margin-left: 10px;
					vertical-align: middle;

					&:first-child {
						margin-left: 0;
					}

					img {
						vertical-align: middle;
						width: 20px;

						&.selected {
							border: black 2px solid;
							border-radius: 14px;
						}
					}

					&.show-all.selected {
						font-weight: bold;
						text-decoration: underline;
					}
				}
			}
		}

		.edit-input {
			background: none;
			border: none;
			border-bottom: 2px solid white;
			box-shadow: none;
			color: white;
			text-transform: lowercase;
			width: 120px;

			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color: @lightGrey;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color: @lightGrey;
			   opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color: @lightGrey;
			   opacity:  1;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color: @lightGrey;
			}
			&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
			  color: @lightGrey;
			}

			&:focus {
				outline: none;
			}
		}

		.open-edit-engage,
		.open-edit-watchlist {
			border-bottom-left-radius: 24px;
			border-bottom-right-radius: 24px;
			-moz-box-shadow: 0 6px 3px -3px @grey;
		    -webkit-box-shadow: 0 6px 3px -3px @grey;
			box-shadow: 0 6px 3px -3px @grey;
			color: white;
			cursor: pointer;
			margin: 0 auto;
			//max-width: 640px;
			min-width: 300px;
			padding: 3px 24px;
			text-align: center;
			width: 100%;

			p {
				color: white;
				display: inline-table;
				font-size: 0.7em;
				line-height: 1.6em;
				text-transform: uppercase;
			}

			i {
				font-size: 1.5em;
				margin: 0 6px;
				vertical-align: text-bottom;
			}
		}

		.open-edit-engage {
			background: @level3;
		}

		.open-edit-watchlist {
			background: @purple;
		}

		.close-edit-search,
		.close-engage-mode {
			background: @purple;
			border-bottom-left-radius: 24px;
			border-bottom-right-radius: 24px;
			-moz-box-shadow: 0 12px 6px -6px @grey;
		    -webkit-box-shadow: 0 12px 6px -6px @grey;
			box-shadow: 0 12px 6px -6px @grey;
			color: white;
			cursor: pointer;
			padding: 3px 24px;
			text-align: center;
			width: 100%;

			p {
				color: white;
				display: inline-table;
				font-size: 0.8em;
				line-height: 1.6em;
				text-transform: lowercase;
			}

			i {
				margin: 0 6px;
				vertical-align: text-bottom;
			}
		}

		.close-edit-search {
			background: @purple;
		}

		.close-engage-mode {
			background: @level3;
		}

		.edit-watchlist {
			position: absolute;
			width: 100%;
			z-index: 23;

			.edit-search-wrap {
				background: @lightestPurple;
				color: @darkGrey;
				padding: 0 15px 24px 15px;
			}

			h1 {
				height: 48px;
				text-transform: uppercase;
			}

			aside {
				text-align: center;
				text-transform: lowercase;
			}

			.edit-terms {
				margin: 0 auto 24px auto;
				max-width: 640px;
				width: 100%;
			}

			input {
				background: none;
				border: none;
				border-bottom: 2px solid @darkGrey;
				box-shadow: none;
				color: @darkGrey;
				font-size: 0.9em;
				margin-top: 15px;
				text-transform: lowercase;
				width: 100%;

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color: @lightGrey;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color: @lightGrey;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color: @lightGrey;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color: @lightGrey;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				  color: @lightGrey;
				}

				&:focus {
					outline: none;
				}
			}

			p.warning {
				color: red;
				font-size: 0.8em;
				margin: 3px 0 0 20px;
				padding: 0;
				text-transform: lowercase;
			}

			p.included-terms {
				color: @grey;
				font-size: 0.9em;
				margin: 12px 0 0 0;
				padding: 0;
				text-transform: lowercase;
			}

			ul.searchTerms {
				background: @bgColor;
				margin-top: 6px;
				padding: 6px;
				
				li {
					border-bottom: none;
					color: @darkGrey;
					display: inline-table;
					font-size: 0.9em;
					margin-right: 6px;
					text-transform: lowercase;
					word-break: normal;
					
					&:after {
						content: ', ';
					}

					&:last-child:after {
						content: '';
					}

					span.delete {
						font-size: 0.8em;
						color: @lightGrey;
						cursor: pointer;

						&:hover {
							color: red;
						}
					}

					&.empty { color: red; }
				}
			}

			.advancedSearch-wrap {
				text-align: center;
			}

			.advancedSearch { 

				&.block {
					display: inline-table;
					margin: 0 auto;
					min-width: 280px;
					max-width: 360px;
					padding: 12px;
					vertical-align: middle;
					width: 25%;
				}

				.section-title {
					//border-bottom: 1px solid @darkGrey;
					color: @darkGrey;
					cursor: pointer;
					font-size: 0.9em;
					margin: 12px 0 6px 0;
					padding: 6px 0;
					text-align: left;

					p {
						display: inline-table;
					}

					i {
						display: inline-table;
						vertical-align: baseline;

						&.left { margin-right: 3px; }
						&.right { margin-left: 3px; }
					}
				}

				.terms-condition,
				.negative-terms,
				.search-goal {
					margin: 12px 0 18px 0;

					p {
						color: @darkGrey;
						font-size: 0.9em;
						margin-bottom: 6px;
						text-align: center;
						text-transform: lowercase;

						i {
							margin-right: 3px;
							vertical-align: baseline;
						}

						&.goal-explanation {
							color: @grey;
							font-size: 0.8em;
							margin: 6px 0 0 0;
						}
					}

					ul {
						text-align: center;

						li {
							background: white;
							border: 2px solid black;
							border-right: none;
							color: @darkGrey;
							cursor: pointer;
							display: inline-table;
							font-size: 0.8em;
							padding: 6px;
							text-align: center;
							text-transform: lowercase;
							-webkit-transition: all .2s ease-in-out;
							-moz-transition: all .2s ease-in-out;
							transition: all .2s ease-in-out;

							&:first-child {
								border-bottom-left-radius: 6px;
								border-top-left-radius: 6px;
							}

							&:last-child {
								border-bottom-right-radius: 6px;
								border-right: 2px solid black;
								border-top-right-radius: 6px;
							}

							&.active, &:hover {
								background: @grey;
								color: white;
							}
						}
					}
				}

				.item {
					font-size: 0.9em;
					margin-top: 12px;
					margin-bottom: 6px;
					position: relative;
					width: 100%;

					i {
						color: @darkGrey;
						font-size: 1em;
						display: inline-table;
						margin-bottom: 6px;
						vertical-align: middle;
						text-align: center;
						width: 15%;

						&.last {
							margin-bottom: 0;
						}

						&.required {
							color: red;
						}
					}

					input, select {
						color: @grey;
						display: inline-table;
						height: 24px;
						font-size: 0.9em;
						vertical-align: top;
					}

					input {
						border: 2px solid @grey;
					    border-radius: 6px;
					    display: inline-table;
					    margin-bottom: 12px;
					    margin-top: 0;
						padding-right: 6px;
						text-indent: 6px;
						vertical-align: top;
						width: 85%;

						&:placeholder-shown {
							text-transform: lowercase;
						}

						&:last-child {
							margin-bottom: 0;
						}

						&.required {
							border-color: red;
						}

						&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color: @lightGrey;
						}
						&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
						   color: @lightGrey;
						   opacity:  1;
						}
						&::-moz-placeholder { /* Mozilla Firefox 19+ */
						   color: @lightGrey;
						   opacity:  1;
						}
						&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						   color: @lightGrey;
						}
						&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
						  color: @lightGrey;
						}

						&:focus {
							outline: none;
						}

						&.negative-terms-input {
							width: 100%;
						}
					}

					select {
						-webkit-align-items: center;
					    -webkit-appearance: none;
					    -webkit-rtl-ordering: logical;
					    -webkit-writing-mode: horizontal-tb;
					    background-color: @grey;
					    -webkit-border-radius: 0px !important;
					    border-radius: 0;
					    border: 0;
					    border-image-outset: 0px;
					    border-image-repeat: stretch;
					    border-image-slice: 100%;
					    border-image-source: none;
					    border-image-width: 1;
						border-bottom-left-radius: 6px !important;
						border-top-left-radius: 6px !important;
					    box-sizing: border-box;
					    color: white;
					    cursor: pointer;
					    display: inline-table;
					    font-weight: normal;
					    letter-spacing: normal;
					    line-height: normal;
					    margin: 0;
					    padding: 0;
					    text-align: start;
					    text-indent: 6px;
					    text-shadow: none;
					    text-transform: lowercase;
					    white-space: pre;
					    word-spacing: 0px;
					    width: 40%;
					}

					.caret {
						pointer-events: none;
						position: absolute;
						left: 64px;
						top: 11px;

						&:before {
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid transparent;
							content: '';
							right: 0;
							position: absolute;
							top: 0;
						}

						&:after {
							border-left: 0 solid transparent;
							border-right: 0 solid transparent;
							border-top: 4px solid white;
							content: '';
							right: 0;
							position: absolute;
							top: 0;
						}
					}

					.remove-item {
						color: red;
						display: inline-table;
					}

				}

				.add-more-filters {
					text-align: right;
					
					p {
						color: @grey;
						cursor: pointer;
						font-size: 0.9em;
						text-transform: lowercase;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			button.update-watchlist {
				background: @grey;
				border-radius: 6px;
				color: white;
				font-size: 1em;
				margin-top: 12px;
				max-width: 480px;
				padding: 12px 24px;
				text-align: center;
				text-transform: lowercase;
				width: 100%;

				&:hover {
					background: @darkGrey;
				}
			}

			button.close-update {
				background: none;
				font-size: 0.8em;
				margin-top: 6px;
				padding: 3px 12px;
				text-transform: lowercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.edit-engage {
			position: absolute;
			width: 100%;
			z-index: 23;

			.edit-engage-wrap {
				background: @lightGreen;
				color: white;
				padding: 0 15px 24px 15px;
			}

			ul {
				padding-top: 24px;
				text-align: center;

				li.mode {
					border: 2px solid white;
					border-radius: 12px;
					cursor: pointer;
					margin: 24px auto;
					max-width: 480px;
					padding: 12px;
					width: 90%;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}

					p {
						font-size: 1.1em;
					}

					.action-button {
						background: white;
						border-radius: 6px;
						color: @level3;
						display: inline-table;
						font-size: 0.9em;
						margin: 12px 6px;
						padding: 12px;

						&:first-child {
							margin-left: 0;
						}

						&:last-child {
							margin-right: 0;
						}

						i {
							vertical-align: baseline;
						}
					}

					hr {
						display: inline-table;
						border-right: 1px solid white;
						height: 24px;
						vertical-align: middle;
					}

					.sequence {
						border: 2px solid white;
						border-radius: 12px;
						margin-top: 12px;
					}

					&:hover, &.active {
						background: white;
						color: @level3;

						.action-button {
							background: @level3;
							color: white;
						}

						.sequence {
							border-color: @level3;
						}

						hr {
							border-color: @level3;
						}
					}
				}
			}

		}

		.results-filters {
			display: inline-table;
			height: 40px;
			position: relative;
			margin: 0;

			input {
				border: none;
				border-left: 1px solid @purple;
				font-size: 0.8em;
				height: 100%;
				padding: 0 6px;
				text-align: center;
				text-transform: lowercase;
				width: 90px;

				&:first-child {
					margin-left: 20px;
				}

				&:last-child {
					margin-right: 0;
				}

				&.last {
					border-right: 1px solid @purple;
					margin-right: 10px;
				}

				&.reset {
					background: black;
					border: none;
					border-radius: 6px;
					font-size: 0.7em;
					color: white;
					height: auto;
					text-transform: lowercase;
					padding-bottom: 5px;
					width: auto;
				}
			}
		}

		.search-wrap {
			display: inline-table;
			line-height: 50px;
			margin-right: 15px;
			position: absolute;
			right: 160px;
			top: 10px;
			vertical-align: middle;

			input {
				background-color: @lightGrey !important;
				background-image: url("../images/search-icon.png") !important;
				background-position: right center !important;
				background-repeat: no-repeat !important;
				border: 3px solid @darkGrey;
				border-radius: 12px;
				color: @lightGrey;
				display: block;
				height: 24px;
				font-size: 0.9em;
				padding: 0 24px 0 6px;
				text-transform: lowercase;
				-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				transition: all .2s linear;
				width: 60px;

				&.hover, &:focus {
					background-color: white !important;
					border-color: black; 
					-moz-box-shadow: 0 0 3px 3px @lightGrey;
					-webkit-box-shadow: 0 0 3px 3px @lightGrey;
					box-shadow: 0 0 3px 3px @lightGrey;
					color: black;
					outline: none;
					width: 150px;
				}
			}

			.search-tags {
				background: white;
				border: 3px solid black;
				border-top: none;
				color: black;
				display: none;
				margin: 0 8px;
				padding: 10px;
				position: absolute;
				width: 130px;

				p {
					font-size: 0.9em;
					margin-bottom: 10px;
					text-align: left;
				}

				li {
					cursor: pointer;
					font-size: 0.9em;
					margin-bottom: 5px;

					&:last-child {
						margin-bottom: 0;
					}
				} 
			}
		}

		.global-watchlist-sel {
			background-color: @purple;
			height: 100%;
			padding-right: 10px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;

			i {
				color: white;
				padding: 0 0 0 10px;
				vertical-align: text-bottom;
			}

			select {
				-webkit-align-items: center;
			    -webkit-appearance: menulist-button;
			    -webkit-rtl-ordering: logical;
			    -webkit-writing-mode: horizontal-tb;
			    background-color: @purple;
			    -webkit-border-radius: 0px !important;
			    border-radius: 0;
			    border: 0;
			    border-image-outset: 0px;
			    border-image-repeat: stretch;
			    border-image-slice: 100%;
			    border-image-source: none;
			    border-image-width: 1;
			    box-sizing: border-box;
			    color: white;
			    cursor: pointer;
			    display: inline-table;
			    font-size: 0.9em;
			    font-weight: normal;
			    height: 100%;
			    letter-spacing: normal;
			    line-height: normal;
			    margin: 0;
			    padding: 0;
			    text-align: start;
			    text-indent: 0px;
			    text-shadow: none;
			    text-transform: lowercase;
			    vertical-align: middle;
			    white-space: pre;
			    word-spacing: 0px;
				width: 120px;

				&:focus { outline: none; }
			}

			p {
				cursor: pointer;
				font-size: 0.9em;

				&.create-more-watchlist {
					color: @purple;
					display: inline-table;
					font-size: 2em;
					font-weight: bold;
					margin-left: 5px;
					vertical-align: top;

					&:hover {
						text-decoration: none;
					}
				}
			}

			.step-new-watchlist {
				background: black;
				padding: 12px;
				position: absolute;
				text-align: center;
				z-index: 11;

				p {
					color: white;
					margin: 0 0 4px 0;
				}

				input {
					line-height: 16px;
					margin-bottom: 4px;
					padding: 2px 4px;
				}

				button {
					background: @purple !important;
					border: 3px solid white;
					border-radius: 6px;
					color: white;
					padding: 3px 6px;
				}
			}
		}
	}

	.switch-mode-title {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		color: white;
		cursor: pointer;
		height: 40px !important;
		left: 0;
		position: absolute;
		text-align: center;
		width: 34px;
		top: 0;
		z-index: 102;

		&.engage {
			background: @level3;

			&:hover {
				background: @purple;
			}
		}

		&.build {
			background: @purple;

			&:hover {
				background: @level3;
			}
		}

		i {
			line-height: 40px;
			text-transform: lowercase;
			vertical-align: middle;

			&:last-child {
				display: none;
			}
		}

		&:hover {
			i:first-child {
				display: none;
			}

			i:last-child {
				display: block;
			}
		}
	}

	.switch-mode-label {
		border-bottom-left-radius: 6px;
		border-top-left-radius: 6px;
		color: white;
		cursor: pointer;
		display: none;
		height: 60px;
		position: fixed;
		right: 0;
		text-align: left;
		-moz-transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		width: 30px;
		top: 50%;
		z-index: 100;

		&.engage {
			background: @level3;
		}

		&.build {
			background: @purple;
		}

		i {
			line-height: 60px;
			text-transform: lowercase;
			padding: 0 8px;
			vertical-align: middle;	
		}

		&:hover {
			-moz-box-shadow: 0 0 3px 1px @grey;
            -webkit-box-shadow: 0 0 3px 1px @grey;
			box-shadow: 0 0 3px 1px @grey;
		}
	}

	.cards-container {
		margin: 0 auto;
		padding: 0 0 50px 0;
		position: relative;

		h2 {
			color: @darkGrey;
			font-size: 1.4em;
			margin-top: 64px;
			text-align: center;
			text-shadow: none;
			width: 100%;
		}

		.custom-search-contacts {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			cursor: pointer;
			line-height: 1.2em;
			margin: 24px auto 0 auto;
			max-width: 480px;
			padding: 12px 15px;
			text-align: center;
			width: 80%;

			&:hover {
				background: white;
			}

			p {
				text-transform: lowercase;

				i {
					margin-right: 6px;
					vertical-align: text-bottom;
				}
			}
		}
	}

	.contacts-list {
		font-size: 0.9em;
		margin: 30px auto 0 auto;
		padding: 0 !important;
		position: relative;
		text-align: left;
		width: 90%;
		z-index: 9;

		&.margin-top {
			margin-top: 30px;
		} 

		&.editSearchEnabled {
			margin-top: 48px;
		}

		li.item-wrap {
			position: relative;
			text-align: left;

			&:first-child {
				margin-top: 0;
			}
		}

		.item {
			background: white;
			border-top: none;
        	margin: 0;
        	padding: 15px 0;
        	position: relative;

			.col {
				display: inline-table;
				padding: 0 10px;
				vertical-align: top;
			}

			.user-info {
				vertical-align: top;

				h3 {
					font-weight: bold;
					margin-bottom: 5px;
				}

				aside {
					color: @grey;
					font-size: 0.9em;
					font-weight: bold;
					line-height: 1.2em;
					margin-bottom: 3px;

					p:first-child {
						font-weight: bold;
						margin-bottom: 5px;
					}
				}

				.location {
					color: @grey;
					font-size: 0.9em;
					font-style: italic;
					line-height: 1.2em;
					margin-bottom: 3px;
				}

				.view-on-linkedin {
					margin: 6px 0 12px 0;

					a {
						color: @grey !important;
						font-size: 0.9em;

						&:after {
							content: " >";
						}

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.view-profile{
					margin-top: 10px;

					a {
						color: @grey;
						font-size: 0.9em;

						&:after {
							content: " >";
						}
					}
				}

				img.linkedin_groups {
					border: none;
					border-radius: 0;
					display: inline-table;
					height: 40px;
					margin-top: 12px;
					padding: 0;
					vertical-align: top;
					width: 40px;
				}

				h6 {
					cursor: default;
					display: inline-table;
					font-size: 0.9em;
					font-weight: bold;
					margin: 18px 0 0 0px;
					max-width: 65%;
					vertical-align: top;
				}
			}

			.results {
				border-left: 2px solid @color2;
				padding-left: 20px;
				vertical-align: top;

				li.watchlist {
					background: @color1;
					border-radius: 6px;
					color: white;
					display: inline-table;
					font-size: 0.8em;
					margin-bottom: 0;
					padding: 5px 10px;

					&.title {
						background: transparent;
						font-weight: bold;
						color: black;
						font-size: 1em;
						padding-left: 0;
					}
				}

				.result-post {
					// border-top: 1px solid @color2;
					// margin-top: 10px;
					// padding-top: 10px;

					li {
						margin-bottom: 20px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					.result-post-wrap {
						margin-bottom: 20px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					.post-wrap {
						overflow: hidden;

						h5 {
							font-size: 1.1em;
							font-weight: bold;
							margin-bottom: 8px;
						}

						p {
							font-size: 1em;
							margin: 0 0 10px 0;
							text-align: justify;

							a {
								color: @grey;
								word-break: normal;
							}
						}

						.post-data {
							margin: 5px 0 10px 0;

							time {
								font-size: 0.9em;
								color: @lightGrey;
								line-height: 20px;
								vertical-align: middle;
							}

							a {
								margin: 0 0 0 20px;
								padding: 0;

								p {
									color: @darkGrey;
									display: inline-table;
									font-size: 0.9em;
									line-height: 20px;
									margin: 0;
									margin-left: 3px;
									padding: 0;
									vertical-align: middle;
								}

								img {
									vertical-align: middle;
									width: 18px;
								}

								&:hover p { text-decoration: underline; }
							}
						}

						img.post {
							float: left;
							padding: 0 10px 10px 0;
							width: 80px;
						}

						a.read-more {
							color: @lightGrey;
							font-size: 0.9em;
							line-height: 20px;
							margin: 0 0 0 20px;
							vertical-align: middle;
							
							&:hover { text-decoration: underline; }
						}
					}
				}
			}

			.user-keywords {
				border-left: 2px solid @darkGrey;
				height: 25px;
				overflow: hidden;
				vertical-align: middle;

				ul {
					margin: 0 0 0 0;
					padding: 5px;

					&.empty {
						cursor: default !important;
					}

					li {
						color: @grey;
						display: inline-table;
						margin: 0 5px 5px 0;
						position: relative;
						text-transform: lowercase;
						vertical-align: middle;

						&.keyword  p {
							border: 2px solid @grey;
							color: @grey;
							border-radius: 6px;
							font-size: 0.9em;
							line-height: 18px;
							padding: 0 10px;
							text-transform: lowercase;
						}

						&.tag p {
							border: 2px solid @lightPurple;
							color: @lightPurple;
							border-radius: 6px;
							font-size: 0.9em;
							line-height: 18px;
							padding: 0 10px;
							text-transform: lowercase;
						}

						&.related-to {
							background: none;
							color: @grey;
							margin-right: 6px;
							text-transform: lowercase;
						}
					}
				}
			}

			.user-bio {
				border-left: 2px solid @darkGrey;
				vertical-align: top;

				p {
					color: @grey;
					font-size: 0.9em;
					padding: 5px;
				}
			}

			.assigned-to {
				border-left: 2px solid @darkGrey;
				vertical-align: middle;

				.no-assigned {
					margin-bottom: 5px;
					text-transform: lowercase;

					&.watchlist {
						color: @color3;
					}

					&.tag {
						color: @color4;
					}
				}
			}

			.col.unit-push-right { padding-right: 0; }

			.add-to-watchlist-wrap {

				p.create-first-watchlist {
					color: @color3;
					font-size: 0.7em;
					line-height: 14px;
					margin-bottom: 1px;
					padding: 5px 15px 4px 15px;
					text-align: right;
					text-transform: uppercase;
					vertical-align: middle;
					width: 70px;
				}

				.add-to-watchlist {
					//background: url("../images/watchlist_icon.png") center center no-repeat;
					//background-size: 32px 32px;
					background: @color3;
					color: white;
					cursor: pointer;
					font-size: 0.7em;
					line-height: 14px;
					margin-bottom: 1px;
					padding: 5px 15px 4px 15px;
					text-align: right;
					text-transform: uppercase;
					vertical-align: middle;
					width: 70px;

					&:hover {
						background: @grey;
					}
				}
			}

			.blacklist-user {
				background: @lightGrey;
				color: white;
				cursor: pointer;
				font-size: 0.7em;
				line-height: 14px;
				margin-bottom: 1px;
				padding: 3px 15px 2px 15px;
				text-align: right;
				text-transform: uppercase;
				vertical-align: middle;
				width: 70px;

				&:hover {
					background: @grey;
				}
			}

			// .send-msg {
			// 	background: url("../images/send_msg.png") center center no-repeat;
			// 	background-size: 32px 32px;
			// 	cursor: pointer;
			// 	height: 32px;
			// 	text-align: center;
			// 	vertical-align: middle;
			// 	width: 32px;

			// 	&:hover {
			// 		background: url("../images/send_msg_hover.png") center center no-repeat;
			// 		background-size: 32px 32px;
			// 	}
			// }

			.show-more {
				background: @darkGrey;
				bottom: 0;
				color: white;
				cursor: pointer;
				font-size: 0.7em;
				line-height: 14px;
				padding: 5px 15px 4px 15px;
				position: absolute;
				text-align: right;
				text-transform: uppercase;
				vertical-align: middle;
				width: 80px;

				&:hover {
					background: @grey;
				}

				span.arrow-up {
					display: none;
				}
			}

			h4 {
				font-weight: bold;
			}
		}
	}

	.more {
		background: white;
		border: 1px solid @darkGrey;
		border-top: none;
		//border-bottom-left-radius: 6px;
		//border-bottom-right-radius: 6px;
		box-shadow: inset  0  10px 10px -10px black; 
		display: none;
		font-size: 0.9em;
		margin-bottom: 10px;
		overflow: auto;
		padding: 15px;

		.tag-list {
			span {
				color: @color4;
				font-size: 1.4em;
				font-weight: bold;
			}

			input {
				font-size: 0.9em;
				margin-left: 10px;

			}

			li {
				display: inline-table;
				margin: 10px 10px 0 0;

				span.tag {
					background: @color4;
					border-radius: 6px;
					color: white;
					display: inline-table;
					font-size: 0.8em;
					font-weight: normal;
					margin-bottom: 5px;
					padding: 5px 10px;
				}

				a {
					color: @grey;
					font-size: 0.8em;
					margin-left: 5px;

					&:hover {
						color: red;
					}
				}
			}
		}

		.user-note {

			p.editable_textarea {
				font-style: italic;
				text-decoration: underline;
			}

			textarea {
				max-width: 100%;
				min-height: 30px;
			}

			button {
				background: @color2;
				margin: 10px 10px 0 0;
				padding: 3px 15px;
			}
		}

		.posts-list {
			border-top: 1px solid @darkGrey;
			margin-top: 20px;
			padding-top: 20px;
			text-align: center;

			.owl-wrapper {
				cursor: url("../images/hor_drag_cursor.png"), auto;
			}

			.owl-wrapper.grabbing {
				cursor: -webkit-grabbing; cursor: -moz-grabbing;
			}

			.post {
				display: inline-table;
				margin-left: 20px;
				padding-left: 20px;
				width: 300px;

				.post-wrap {
					overflow: auto;
				}

				&:first-child {
					border-left: none;
					margin-left: 0;
					padding-left: 0;
				}

				h5 {
					font-size: 1em;
					font-weight: bold;
					margin-bottom: 8px;
					text-align: left;

					a {
						font-weight: bold;
					}
				}

				.post-data {
					margin: 5px 0 10px 0;
					text-align: left;

					time {
						font-size: 0.9em;
						color: @lightGrey;
						line-height: 20px;
						vertical-align: middle;
					}

					a {
						margin: 0 0 0 20px;
						padding: 0;

						p {
							color: @darkGrey;
							display: inline-table;
							font-size: 0.9em;
							line-height: 20px;
							margin: 0;
							margin-left: 3px;
							padding: 0;
							vertical-align: middle;
						}


						&.like,
						&.comment,
						&.retweet,
						&.fav {
							img {
								vertical-align: middle;
								width: 18px;
							}
						}

						&:hover p { text-decoration: none; }
					}
				}

				p {
					font-size: 1em;
					margin: 0 0 10px 0;
					text-align: justify;

					a {
						color: @grey;
						word-break: normal;
					}
				}

				img.post {
					border: 2px solid @grey;
					float: left;
					height: 60px;
					max-width: 80px !important;
					margin: 0 10px 0 0;
				}

				a.read-more {
					color: @lightGrey;
					font-size: 0.9em;
					line-height: 20px;
					margin: 0 0 0 20px;
					vertical-align: middle;
					
					&:hover { text-decoration: underline; }
				}
			}
		}
	}
}

#network-pref {
	color: white;
	font-size: 0.9em;
	margin: 24px auto 0 auto;
	vertical-align: top;

	p {
		margin-top: 3px;
	}

	ul {
		margin-top: 8px;
		text-align: center;

		li {
			@height: 24px;
			background: @bgColor;
			border: 2px solid @darkGrey;
			border-right: none;
			cursor: pointer;
			display: inline-table;
			height: @height;
			line-height: @height;
			padding: 0 18px;
			text-transform: lowercase;
			vertical-align: middle;

			&:first-child {
				border-top-left-radius: @height /2;
				border-bottom-left-radius: @height /2;
				border-right: none;
			}

			&:last-child {
				border-top-right-radius: @height /2;
				border-bottom-right-radius: @height /2;
				border-right: 3px solid @darkGrey;
			}

			&:hover {
				background: @grey;

				i {
					color: white !important;
				}
			}

			i {
				color: @lightGrey;
				font-size: 1em;
				line-height: @height;
				vertical-align: top;

				&.fa-linkedin {
					color: @linkedin;
				}

				&.fa-twitter {
					color: @twitter;
				}

				&.fa-envelope {
					color: @purple;
				}
			}

			&.active {

				i {
					color: white;
				}

				&.linkedin {
					background: @linkedin;
				}

				&.twitter {
					background: @twitter;
				}

				&.relevante {
					background: @purple;
				}
			}
		}
	}
}

.custom-search {
	background: rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	height: 100%;
	max-height: 100%;
	overflow: scroll !important;
	padding: 0!important;
	text-align: center;

	.modal-dialog {
		display: inline-block;
		margin: 30px 0;
		max-width: 960px;
		text-align: left;
		vertical-align: middle;
		width: 100%;
	}

	.modal-content {
		height: 100%;
		margin: 0;
		max-height: 100%;
		padding: 32px;
		position: relative;

		h1 {
			margin-bottom: 12px;
			text-align: center;
			text-transform: uppercase;
		}

		aside.title {
			font-size: 1.2em;
			margin-bottom: 24px;
			text-align: center;
			text-transform: lowercase;
		}

		#custom-search-input-wrap {
			margin: 0 auto;
			max-width: 640px;
			position: relative;
			width: 100%;

			p.wait {
				color: @grey;
				text-align: center;
				text-transform: lowercase;

				img {
					width: 32px;
				}
			}
		}

		.close-modal {
			background: @grey;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			cursor: pointer;
			padding: 3px 12px 3px 6px;
			position: absolute;
			right: 0;

			&:hover {
				background: @darkGrey;
			}

			p {
				color: white;
				font-size: 0.9em;
				text-transform: lowercase;
			}
		}

		input {
			background: white;
			border: 1px solid @darkGrey;
			border-radius: 3px;
			margin: 12px 0;
			padding: 6px !important;
			text-align: left;
			text-indent: 6px;
			width: 100%;
		}

		p.tip {
			color: @darkGrey;
			font-size: 0.9em;
			margin-left: 13px;
			text-transform: lowercase;
		}

		.custom-popup-wrapper {
			height: 500px;
			position: absolute;
			width: 100%;
		}

		ul.dropdown-menu {
			border: 1px solid @darkGrey;
			border-top: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,9);
    		box-shadow: 0 6px 12px rgba(0,0,0,.9);
			position: absolute;
			display: inline-table;
			margin: 0 3px;
			max-height: 300px;
			overflow: scroll;
			padding: 0;
			top: 0;
			z-index: 999999;

			h2 {
				background: @darkGrey;
				color: white;
				font-size: 0.8em;
				padding: 6px;
				text-transform: uppercase;
				width: 100%;

				i {
					margin: 0 3px;
					vertical-align: baseline;
				}

				span {
					color: @bgColor;
					font-size: 0.9em;
				}

				&.persons {
					cursor: pointer;
				}
			}

			li {
				border-bottom: 1px solid @lightGrey;
				cursor: pointer;
				color: @lightGrey;
				padding: 12px;

				&:hover {
					background: @lightestPurple;
				}

				&.more-results {
					background: @grey;
					color: white;
					text-align: center;
					text-transform: lowercase;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

					&:hover {
						background: @darkGrey;
					}
				}

				strong {
					font-family: 'GillSans Bold' !important;
					color: @darkGrey;
				}

				&:last-child {
					border-bottom: none;
				}

				&.single-context {
					color: @darkGrey;
				}

				.keyword {
					color: @darkGrey;
				}

				.count {
					color: @lightGrey;
					font-size: 0.9em;

					i {
						vertical-align: baseline;
					}
				}

				.item {

					.matched {
						color: @darkGrey;
					}

					.context {
						font-size: 0.9em;
						margin-top: 3px;
						padding-left: 12px;

						span {
							line-height: 1.2em;
						}
					}

					i {
						vertical-align: baseline;
					}
				}
			}
		}

		ul.contacts-list {
			min-height: 100% !important;
			margin-top: 32px;
			padding: 0 !important;
			text-align: center !important;

			li.singleResult {
				margin-right: 0;
			}

			.user-details {
				vertical-align: top;
			}

			.user-keywords {
				height: 55px !important;
				overflow: hidden;
				margin: 12px 10px !important;

				li {
					display: inline-table;
					margin-right: 12px;

					&:last-child {
						margin-right: 0;
					}

					p {
						line-height: 1.2em;
					}
				}
			}
		}

	}
}

.custom-search-bulk-list {
	@height: auto;
	background-color: @purple;
	box-shadow: 0 6px 3px -3px @grey;
	height: @height;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	text-align: center;
	padding: 6px 0;
	width: 100%;

	&.empty {

		&:hover {
			background: @darkPurple;
		}

		p {
			color: white;
			cursor: pointer;
			font-size: 1.2em;
			line-height: @height;
			text-transform: lowercase;
			vertical-align: middle;
		}
	}

	.select-wrap {
		display: inline-table;
		vertical-align: middle;
		margin-right: 12px;
		padding: 6px 0;
	}

	.buttons-wrap {
		display: inline-table;
		padding: 6px 0;
		text-align: center;
		vertical-align: middle;

		button.list {
			background: none;
			color: white;
			font-size: 0.9em;
			margin: 0 auto !important;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}

			&.engage {
				border: 2px solid white;
				border-radius: 6px;
				font-size: 1em;
				margin-bottom: 6px;
				padding: 6px 12px;

				&:hover {
					background: @darkPurple;
					text-decoration: none;
				}
			}
		}

		.go-to-list {
			color: white;
			display: inline-table;
			margin-top: 6px;
			min-width: 72px;
			text-transform: lowercase;

			p {
				color: white;
			}

			span {
				display: none;
			}

			&:hover {
				color: @bgColor;
				text-decoration: underline;

				span {
					display: inline-table;
				}
			}

			i {
				cursor: pointer;
				padding: 0 2px 0 12px;

				&:hover {
					color: @bgColor;
				}
			}
		}
	}

	.icon_wrap {
		display: inline-table;
		vertical-align: middle;

		i {
			color: white;
			padding: 0 0 0 10px;
			vertical-align: middle;

			&.fa-plus,
			&.fa-arrow-circle-o-right {
				cursor: pointer;
				padding: 0 2px 0 12px;

				&:hover {
					color: @bgColor;
				}
			}
		}
	}

	select {
		-webkit-align-items: center;
	    -webkit-appearance: menulist-button;
	    -webkit-rtl-ordering: logical;
	    -webkit-writing-mode: horizontal-tb;
	    background-color: @purple;
	    -webkit-border-radius: 0px !important;
	    border-radius: 0;
	    border: 0;
	    border-image-outset: 0px;
	    border-image-repeat: stretch;
	    border-image-slice: 100%;
	    border-image-source: none;
	    border-image-width: 1;
	    box-sizing: border-box;
	    color: white;
	    cursor: pointer;
	    display: inline-table;
	    font-size: 1em;
	    font-weight: normal;
	    height: @height -24px;
	    letter-spacing: normal;
	    line-height: normal;
	    margin: 0 12px 0 0;
	    padding: 0;
	    text-align: start;
	    text-indent: 0px;
	    text-shadow: none;
	    text-transform: lowercase;
	    vertical-align: middle;
	    white-space: pre;
	    word-spacing: 0px;

		&:focus, &:active {
			border: none !important;
			outline: none !important;
		}

		option {
			background: white !important;
			color: @grey !important;
		}
	}

	p {
		cursor: pointer;
		font-size: 0.9em;

		&.create-more-watchlist {
			color: @purple;
			display: inline-table;
			font-size: 2em;
			font-weight: bold;
			margin-left: 5px;
			vertical-align: top;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.content-library-modal {
	background: rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	padding: 0!important;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	

	.modal-dialog {
		display: inline-block;
		max-width: 640px;
		text-align: left;
		vertical-align: middle;
		width: 80%;
	}

	#add-content {
		padding: 30px;
		position: relative;

		h1 {
			font-size: 1.8em;
			text-transform: lowercase;
		}

		form {

			input, textarea {
				text-transform: lowercase;
			}

			textarea {
				max-height: 240px;
				resize: vertical;
			}

			.all-lists {
				input, label {
					display: inline-table;
					width: auto;
				}
			}
		}

		hr {
			border-color: @darkGrey;
			margin-bottom: 36px;
		}

		ul {
			li {
				border-bottom: 1px solid @lightGrey;
				margin: 0 32px 12px 32px;
				padding-bottom: 12px;

				&:last-child {
					border: none;
					padding-bottom: 0;
				}

				p {
					font-size: 1.1em;
					line-height: 1.2em;

					span {
						color: @lightGrey;
						font-size: 0.9em;
					}

					i {
						vertical-align: baseline;

						&.fa-pencil {
							color: @lightGrey;
							cursor: pointer;
							font-size: 0.7em;
						}
					}

					a:hover {
						text-decoration: underline;
					}

					&.delete {
						color: @lightGrey;
						cursor: pointer;
						font-size: 0.9em;
						margin-top: 6px;
						text-transform: lowercase;

						&:hover {
							color: @grey;
						}
					}
				}

				.saved-message {
					background: @bgColor;
					margin: 12px 0;
					padding: 12px 18px;
				}
			}
		}
	}
}


// Only smartphones and tablets
@media only screen 
  and (max-device-width: 1024px)  {
// .switch-mode-title {
// 	display: none !important;
// }
// .switch-mode-label {
// 	display: block !important;
// }
}






