.tutorial-filter-modal {
	background: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 10000000;

	#tutorial-filter {
		display: table-cell;
		height: 90%;
		margin: 5% auto 0 auto;
		max-height: 800px;
		padding: 0;
		vertical-align: middle;
	}

	iframe {
		border: none;
		height: 100%;
		margin: 0;
		min-height: 100%;
		padding: 0;
		width: 100%;
	}
}

.tutorial-filter-modal-close {
	cursor: pointer;
	display: none;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 10000002;
}

.tutorialTrigger {
	border: 2px solid white;
	border-radius: 14px;
	cursor: pointer;
	display: inline-table;
	margin: 10px 0 0 30px;
	height: 24px;
	position: absolute;
	right: 26px;
	text-align: center;
	top: 2px;
	vertical-align: middle;
	width: 24px;
	z-index: 10;

	span {
		color: white;
		font-size: 1.4em;
		line-height: 24px;
	}
}

#closeTutorial {
	bottom: 3%;
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000000;

	p {
		background: white;
		border-radius: 6px;
		color: @grey;
		margin: 0 auto;
		max-width: 70%;
		padding: 5px 20px;
		text-align: center;
	}
}

.recent-activity,
.quicksearch-template,
.blacklist-template,
.filter-interface {
	padding: 0 0 30px 30px !important;
	text-align: left !important;

	.item-wrap {
		display: inline-table;
		margin: 0 24px 24px 0;
		position: relative;
		text-align: left;
		width: 300px;

		.item-corner {
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 99999;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;

		&:hover{
			transform: scale(1.2);	
		}

			i {
				font-size: 1em;
				margin: 6px;
			}

			//&.active {

			// 	&:before {
			// 	  border-top: solid 16px @bgColor;
			// 	  border-right: solid 16px @bgColor;
			// 	  border-left: solid 16px transparent;
			// 	  border-bottom: solid 16px transparent;
			// 	}
			// 	&:after {
			// 	  border-bottom: solid 16px @lightGrey;
			// 	  border-left: solid 16px @lightGrey;
			// 	  border-right: solid 16px transparent;
			// 	  border-top: solid 16px transparent;
			// 	  box-shadow: -1px 1px 6px @midGrey;
			// 	}
			// }

			// &:last-child {
			//   margin-bottom: 0;
			// }
			// &:before, &:after {
			//   display: block;
			//   position: absolute;
			//   width: 32px;
			//   height: 32px;
			//   top: 0;
			//   right: 0;
			//   content: "";
			// }
			// &:before {
			//   border-top: solid 16px @midGrey;
			//   border-right: solid 16px @midGrey;
			//   border-left: solid 16px transparent;
			//   border-bottom: solid 16px transparent;
			// }
			// &:after {
			//   border-bottom: solid 16px @lightGrey;
			//   border-left: solid 16px @lightGrey;
			//   border-right: solid 16px transparent;
			//   border-top: solid 16px transparent;
			//   box-shadow: -1px 1px 6px @midGrey;
			// }
		}

		&:first-child {
			border-top: none !important;
		}

		&.hidden {
			display: none;
		}

		&:last-child {
			border: 0 !important;
		}

		.no-activity-level0 {
			background: rgba(0, 0, 0, 0.2);
			bottom: 0;

			.help-msg {
				background: black;
				color: white;
				font-size: 0.9em;
				line-height: 29px;
				margin-top: 92px;
				text-align: center;
			}
		}

		.already-connected,
		.not-connected {

			.help-msg {
				background: black;
				border-radius: 3px;
				color: white;
				font-size: 0.9em;
				line-height: 20px;
				margin: 151px auto 0 auto;
				text-align: center;
				width: 94%;
			}

			.skip-contact {
				background: white;
				border: 6px solid @lightGrey;
				bottom: 0;
				color: @lightGrey;
				cursor: pointer;
				height: 30px !important;
				margin: 0 !important;
				position: absolute;
				right: 0;
				text-align: center;
				width: 68px;

				p {
					display: inline-table;
					font-size: 1em !important;
					line-height: 20px;
					margin: 6px 0 6px 0 !important;
					padding: 0;
					vertical-align: middle;
				}

				&:hover {
					border-color: red;
				}
			}
		}

		// &.watchlist-detected {
		// 	opacity: 0.5;
		// 	-webkit-transition: all .3s ease-in-out;
		// 	-moz-transition: all .3s ease-in-out;
		// 	transition: all .3s ease-in-out;

		// 	&:hover {
		// 		opacity: 1;
		// 	}
		// }

		ul.engage-bar {
			height: 12px;
			margin: 12px 0;
			padding: 0;
			text-align: center;

			li {
				display: inline-table;
				color: @bgColor;
				cursor: default;
				height: 16px;
				width: 50%;
				vertical-align: top;

				&.shares {
					background: @darkGrey;
					width: 12%;

					&.active {
						background: @darkGreen;
					}
				}

				&.level {
					width: 25%;
					p {
						display: none;
					}

					&:hover p {
						display: block;
					}
				}

				&.active {
					color: white;
				}

				&.level1 { background: @level1grey; }
				&.level2 { background: @level2grey; }
				&.level3 { background: @level3grey; }
				&.level4 { background: @level4grey; }

				&.level1.active { background: @level1; }
				&.level2.active { background: @level2; }
				&.level3.active { background: @level3; }
				&.level4.active { background: @level4; }

				p {
					font-size: 0.8em;
					line-height: 16px;
					vertical-align: middle;
					text-transform: lowercase;
				}

				i {
					vertical-align: baseline;
				}
			}
		}

		.item {
			//border: 6px solid black !important;
			-moz-box-shadow: 0 0 8px 3px @darkGrey;
            -webkit-box-shadow: 0 0 8px 3px @darkGrey;
			box-shadow: 0 0 8px 3px @darkGrey;
			padding: 32px 0 0 0 !important;

			&.disabled-profile {
				-moz-box-shadow: 0 0 8px 3px @lightGrey;
        	    -webkit-box-shadow: 0 0 8px 3px @lightGrey;
				box-shadow: 0 0 8px 3px @lightGrey;
			}

			&.level-0 { border-color: @level0 !important; }
			&.level-1 { border-color: @level1 !important; }
			&.level-2 { border-color: @level2 !important; }
			&.level-3 { border-color: @level3 !important; }
			&.level-4 { border-color: @level4 !important; }
			&.actionDone { border-color: #DDD !important; }

			&.no-border-top { border-top: none !important; }
		}

		.blacklist-x {
			color: @lightGrey;
			cursor: pointer;
			font-size: 0.9em;
			position: absolute;
			right: 8px;
			top: 8px;

			&:hover { color: red; }
		}

		// hr {
		// 	&.card-top {
		// 		margin-bottom: 0;
		// 		margin-top: 12px;
		// 	}

		// 	&.card-bottom {
		// 		margin-bottom: 2px;
		// 		margin-top: 0;
		// 	}
		// }

		.user-img {
			display: inline-table;
			margin: 0 0 0 10px;
			position: relative;
			width: 64px;

			img {
				border: 2px solid @darkGrey;
				clip: rect(0px,60px,200px,0px);
				border-radius: 35px;
				height: 64px;
				object-fit: cover;
				overflow: hidden;
				width: 64px;
			}

			.universe-buble{
				@size : 20px;
				background: white;
				border-radius: @size / 2;
				left: 0;
				height: @size;
				position: absolute;
				text-align: center;
				top: 0;
				width: @size;

				i {
					color: black;
					font-size: @size;
					vertical-align: top;
				}
			}

			.relationship-type {
				border-radius: 6px;
				bottom: 0;
				color: white;
				font-size: 0.8em;
				margin: 0 auto;
				padding: 3px 0;
				position: absolute;
				text-align: center;
				text-transform: lowercase;
				width: 100%;

				&.universe {
					background: @purple;
				}

				&.contact {
					background: @linkedin;
				}

				&.prospect {
					background: black;
				}
			}

			.icon {
				bottom: 0;
				position: absolute;
				right: 0;

				img {
					border: none;
					height: 24px;
					width: 24px;
				}
			}
		}

		.remove-from-watchlist {
			color: @lightGrey;
			cursor: pointer;
			font-size: 0.9em;
			position: absolute;
			right: 8px;
			top: 8px;
			z-index: 10;

			&:hover { color: red; }
		}

		.user-info {
			display: inline-table;
			height: 78px;
			margin-left: 10px;
			max-width: 180px;

			h3 {
				margin-bottom: 3px !important;

				a {
					font-weight: bold;
				}
			}

			.asideTooltip,
			h3.nameTooltip,
			aside.headlineTooltip,
			aside.cursorPointer,
			aside.twitterBio,
			.location.locationTooltip {
				cursor: pointer;
			}

			.email {
				font-size: 0.9em;
				margin-top: 6px;

				&.email-true,
				&.email-false {
					p {
						margin-top: 9px;
						text-transform: lowercase;

						i {
							vertical-align: baseline;
						}
					}
				}

				&.email-true {
					.edit {
						color: @grey;
						cursor: pointer;
						font-size: 0.9em;
						margin-left: 6px;
						vertical-align: baseline;

						&:hover {
							color: @darkGrey;
						}
					}
				}

				&.email-false {
					cursor: pointer;
				}

				form {
					position: relative;
					width: 100%;

					.form-group {
						margin-bottom: 0;
					}

					input {
						height: auto;
						padding: 0 6px;
						text-transform: lowercase;
						width: 90%;
					}


					span {
						text-align: center;
						width: 10%;

						&.close {
							font-size: 1.4em;
						}
					}

					input, span {
						display: inline-table;
						vertical-align: top;
					}
				}

				a {
					&:hover {
						text-decoration: underline;
					}
				}

				select {
					max-width: 140px;
				}

				i.add-email {
					cursor: pointer;
					font-size: 1em;
					margin-left: 6px;
					vertical-align: middle;
				}
			}

			.view-profile {
				margin-top: 8px !important;
			}
		}

		.linkedin-group {
			cursor: help;
			height: 52px;
			margin: 0 10px;

			img.linkedin_groups {
				border: none;
				border-radius: 0;
				display: inline-table;
				height: 40px;
				margin-top: 12px;
				padding: 0;
				vertical-align: top;
				width: 40px;
			}

			h6 {
				display: inline-table;
				font-size: 0.9em;
				font-weight: bold;
				margin: 18px 0 0 0px;
				max-width: 65%;
				vertical-align: top;
			}
		}

		.twitter-name {
			height: 52px;
			line-height: 52px;
			margin: 0 10px;
			vertical-align: middle;
		}

		.user-keywords {
			border-left: 0 !important;
			height: 50px !important;
			margin: 14px 10px 15px 10px !important;

			&.hscroll {
				cursor: ew-resize;
			}

			ul {
				padding: 0 !important;
			}
		}

		.tag-list {
			height: 24px !important;
			display: inline-table;
			margin: 10px!important;

			input {
				border-color: @color4;
				border-radius: 6px;
				box-shadow: none;
				display: inline-table !important;
				font-size: 0.8em;
				height: 16px;
				line-height: 14px;
				padding: 2px 3px;
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
				vertical-align: middle;
				width: 60px;

				&:hover, &:focus {
					width: 150px;
				}
			}
		}

		.show-tag-watchlist {
			color: @color3;
			cursor: pointer;
			float: right;
			margin: 12px 10px 0 0;
			text-align: right;

			p {
				display: inline-table;
				vertical-align: middle;

				span {
					height: 25px;
					text-align: right;
					vertical-align: middle;
				}
			}

			.show-all {
				font-size: 0.7em;
				margin-right: 4px;
				text-align: right;
			}

			.arrow-up { display: none; }
		}

		.assigned-to {
			background: white;
			border: none !important;
			height: 55px;
			left: 6px;
			margin-bottom: 12px;
			padding: 0 10px;
			top: 171px;

			.no-assigned {
				display: inline-table;
			}

			ul {
				height: 24px;
				margin-bottom: 6px;
				overflow: hidden;

				&:last-child {
					margin-bottom: 1px;
				}

				li {
					display: inline-table;
					font-size: 1em;
					margin: 0 6px 6px 0;
					position: relative;
					vertical-align: middle;
					

					p {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
						border-radius: 6px;
						color: white;
						line-height: 18px;
						padding: 0 10px;
						text-transform: lowercase;
					}

					.delete {
						background: @lightGrey;
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
						color: @bgColor;
						cursor: pointer;
						height: 20px;
						position: absolute;
						right: 0;
						text-align: center;
						text-transform: lowercase;
						top: 0;
						vertical-align: middle;
						width: 14px;

						span {
							position: absolute;
							right: 4px;
							top: 2px;
						}

						&:hover {
							background: red;
							color: white;
						}
					}

					&.watchlist-title {
						padding-right: 0;

						p {
							color: @purple;
							font-size: 1em;
							padding: 0;
						}
					}

					&.watchlist {
						p {
							border: 2px solid @purple;
							color: @purple;
							font-size: 0.9em;
						}

						span.delete-list {
							cursor: pointer;
							margin-left: 3px;

							i {
								color: @lightGrey;
								font-size: 0.8em;
								vertical-align: baseline;
							}

							&:hover {
								i {
									color: red;
								}
							}
						}
					}

					&.tag-title {
						padding-right: 0;

						p {
							color: @lightPurple;
							font-size: 1em;
							padding: 0;
						}
					}

					&.add-tag {

						p {
							color: @lightPurple;
							cursor: pointer;
							padding: 2px 0;

							&:hover {
								color: @purple;
							}
						}
					}

					&.tag {

						p {
							border: 2px solid @lightPurple;
							color: @lightPurple;
							font-size: 0.9em;
						}

						span.delete-tag {
							cursor: pointer;
							margin-left: 3px;

							i {
								color: @lightGrey;
								font-size: 0.8em;
								vertical-align: baseline;
							}

							&:hover {
								i {
									color: red;
								}
							}
						}
					}
				}
			}

			// hr {
			// 	margin-bottom: 10px;
			// }
		}

		.level-3-actions,
		.level-4-actions {
			bottom: 0;
			left: 0;
			margin: 0 !important;
			position: absolute;
			width: 300px;

			.action {
				border: 6px solid black;
				display: inline-table;
				height: 30px !important;
				margin: 0 !important;
				text-align: center;

				p {
					display: inline-table;
					font-size: 1em !important;
					line-height: 20px;
					margin: 6px 0 6px 0 !important;
					padding: 0;
					vertical-align: middle;
				}

				img {
					border-radius: 14px;
					vertical-align: middle;
					width: 22px !important;
				}

				&.connect,
				&.follow,
				&.message,
				&.directMessage {
					//background: @level3;
					width: 192px;

					p {
						margin-left: 5px !important;
					}

					
				}

				&.contact {
					//background: @level4;
					width: 192px;

					p {
						margin-left: 5px !important;
					}

					
				}

				&.skip-contact {
					border: 6px solid @lightGrey;
					color: @lightGrey;
					cursor: pointer;
					width: 68px;

					&:hover {
						border-color: red;
					}
				}

				&:hover {
					border-color: #00cc33;
				}

				&.disabled,
				&.disabled:hover {
					border-color: @lightGrey;
				}

				&:hover a, &:hover p { text-decoration: none; }
			}
		}

		.actions {
			@height: 40px;

			cursor: pointer;
			position: relative;
			text-transform: lowercase;
			width: 100%;
			z-index: 12;

			&.margin-top {
				margin-top: 48px;
			}

			.action-wrap {
				display: inline-table;
			}

			.action {
				background: @level3;
				display: inline-table;
				height: @height !important;
				margin: 0 !important;
				position: relative;
				text-transform: lowercase;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				width: 70%;
				vertical-align: top;

				&.row-22 {
					color: white;
					font-size: 0.9em;
					text-align: center;
					width: 22% !important;

					p {
						line-height: 1.3em !important;
						padding-top: 5px !important;
					}

					i {
						font-size: 1em;
						margin-right: 0 !important;
					}
				}

				&.row-88 {
					width: 88% !important;

					i {
						vertical-align: middle;
						margin-right: 6px !important;
					}
				}

				&.row-44 {
					width: 44% !important;

					i {
						vertical-align: middle;
						margin-right: 6px !important;
					}
				}

				&.row-45 {
					width: 45% !important;

					i {
						margin-right: 0 !important;
					}
				}

				&.row-30 {
					width: 30% !important;

					i {
						margin-right: 0 !important;
					}
				}

				&.row-18 {
					width: 18% !important;

					i {
						margin-right: 0 !important;
					}
				}

				&.row-12 {
					width: 12% !important;

					i {
						margin-right: 0 !important;
					}
				}

				&.row-10 {
					width: 10% !important;

					i {
						margin-right: 0 !important;
					}
				}

				&.not-allowed {
					cursor: not-allowed;
				}

				i {
					font-size: 1.2em;
					margin-right: 3px;

					&.text {
						font-size: 0.9em;
					}

					&.small {
						font-size: 0.8em;
					}
				}

				p {
					color: white;
					font-size: 1em !important;
					height: @height;
					line-height: @height !important;
					margin: 0 !important;
					overflow: hidden;
					padding: 0 3px !important;
					text-align: center !important;
					vertical-align: middle !important;

					span {
						color: @bgColor;
						text-transform: lowercase;

						&.watchlistName {
							color: white;
							text-transform: lowercase;
						}
					}
				}

				.suggested-action {
					@size: 28px;

					cursor: pointer;
					position: absolute;
					left: @size;
					top: 0;
					z-index: 99999999;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

					&:last-child {
					  margin-bottom: 0;
					}
					&:before, &:after {
					  display: block;
					  position: absolute;
					  width: @size;
					  height: @size;
					  top: 0;
					  right: 0;
					  content: "";
					}
					&:before {
					  border-top: solid @size/2 @darkGrey;
					  border-right: solid @size/2 transparent;
					  border-left: solid @size/2 @darkGrey;
					  border-bottom: solid @size/2 transparent;
					}
					&:after {
					  border-bottom: solid @size/2 transparent;
					  border-left: solid @size/2 transparent;
					  border-right: solid @size/2 transparent;
					  border-top: solid @size/2 transparent;
					}

					i {
						color: white;
						font-size: 0.8em;
						position: absolute;
						left: 3px - @size;
						top: 4px;
					}
				}

				&.get-mail,
				&.send-mail {
					background: @purple;

					&:hover {
						background: @darkPurple;
					}

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @purple; }

						&:hover {
							background: @bgColor;

							p { color: @purple; }
						}
					}
				}

				&.engage-linkedin {
					background: @linkedin;

					&:hover {
						background: @bgColor;

						p {
							color: @linkedin;
						}
					}
				}

				&.engage-twitter {
					background: @twitter;

					&:hover {
						background: @bgColor;

						p {
							color: @twitter;
						}
					}
				}

				&.share {
					background: @darkGreen;
				}

				&.like, &.retweet, &.fav  {
					background: @level1;

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @level1; }

						&:hover {
							background: @bgColor;

							p { color: @level1; }
						}
					}
				}

				&.comment, &.reply {
					background: @level2;

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @level2; }

						&:hover {
							background: @bgColor;

							p { color: @level2; }
						}
					}
				}

				&.connect, &.follow {
					background: @level3;

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @level3; }

						&:hover {
							background: @bgColor;

							p { color: @level3; }
						}
					}
				}

				&.message, &.directMessage, &.mention,
				&.message.disabled {
					background: @level4;

					p { color: white; }

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @level4; }

						&:hover {
							background: @bgColor;

							p { color: @level4; }
						}
					}
				}

				&.like, &.retweet, &.fav,
				&.comment, &.reply,
				&.connect, &.follow,
				&.message, &.directMessage, &.mention {
					&:hover {
						background: @darkGreen;
					}
				}

				&.linkedin {
					background: @linkedin;

					p { color: white; }

					&:hover {
						background: @darkLinkedin;
					}

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @linkedin; }

						&:hover {
							background: @bgColor;

							p { color: @linkedin; }
						}
					}
				}

				&.twitter {
					background: @twitter;

					p { color: white; }

					&:hover {
						background: @darkTwitter;
					}

					&.triggered {
						background: @bgColor;
						cursor: default;
						text-decoration: none;

						p { color: @twitter; }

						&:hover {
							background: @bgColor;

							p { color: @twitter; }
						}
					}
				}

				&.validateResult {
					background: @level3;

					&:hover {
						background: @level4;
					}

					&.validated {
						background: @bgColor;

						i {
							color: @level3;
						}

						&:hover {
							//background: @level4;

							i {
								color: @level4;
							}
						}
					}
				}

				&.watchlistSel {
					background-color: @purple;
					display: inline-table;
					width: 60%;

					i {
						color: white;
						display: inline-table;
						margin: 0;
						padding: 0 0 0 10px;
						vertical-align: middle;

						&.fa-plus {
							padding: 0 2px 0 12px;

							&:hover {
								color: @bgColor;
							}
						}
					}

					select {
						-webkit-align-items: center;
					    -webkit-appearance: menulist-button;
					    -webkit-rtl-ordering: logical;
					    -webkit-writing-mode: horizontal-tb;
					    background-color: transparent;
					    -webkit-border-radius: 0px !important;
					    border-radius: 0;
					    border: 0;
					    border-image-outset: 0px;
					    border-image-repeat: stretch;
					    border-image-slice: 100%;
					    border-image-source: none;
					    border-image-width: 1;
					    box-sizing: border-box;
					    color: white;
					    cursor: pointer;
					    display: inline-table;
					    font-size: 0.9em;
					    font-weight: normal;
					    height: 40px;
					    letter-spacing: normal;
					    line-height: normal;
					    margin: 0;
					    padding: 0;
					    text-align: start;
					    text-indent: 0px;
					    text-shadow: none;
					    text-transform: lowercase;
					    vertical-align: middle;
					    width: 150px;
					    white-space: pre;
					    word-spacing: 0px;

						&:focus, &:active {
							border: none !important;
							outline: none !important;
						}

						option {
							background: white !important;
							color: @grey !important;
						}
					}

					&:hover {
						background: @darkPurple;
					}

					&.empty {
						width: 88%;
					}
				}

				&.watchlist {
					background: @purple;
					width: 28%;

					&:hover {
						background: @darkPurple;
					}

					&.disabled, &.disabled:hover {
						background: @grey;
						color: @lightGrey;
					}
				}

				&.retweet, &.fav {
					width: 35%;
				}

				&.skip-contact {
					background: @lightGrey; 
					color: white;
					cursor: pointer;
					width: 12%;

					i {
						margin: 0;
					}

					&.full-width {
						width: 100%;
					}

					&:hover {
						background: @red;
					}
				}

				&:hover {
					background: @level4;
				}

				&.already, &.already:hover {
					background: @bgColor;
					cursor: not-allowed;

					p, span { color: @grey; }
				}

				&.disabled {
					background: @bgColor;
					cursor: not-allowed;
					text-decoration: none;

					&.linkedin { background: @linkedin; }

					&.twitter { background: @twitter; }

					p { color: @lightGrey; }

					&:hover {
						background: @bgColor;

						p { color: @lightGrey; }
					}
				}

				&:hover a, &:hover p { text-decoration: none; }
			}

			.watchlistSignals {
				border: 6px solid @color3;
				display: inline-table;
				height: 30px !important;
				margin: 0 !important;
				text-align: center;
				width: 192px;

				p {
					display: inline-table;
					font-size: 1em !important;
					line-height: 20px;
					margin: 6px 0 6px 5px !important;
					padding: 0;
					vertical-align: middle;

					span {
						color: @grey;
						text-transform: none;

						&.watchlistName {
							color: black;
							text-transform: lowercase;
						}
					}
				}

				&:hover {
					border-color: #00cc33;
				}

				&:hover a, &:hover p { text-decoration: none; }
			}
		}

		.inProgress {
			display: inline-table;
			margin-right: 3px;
			vertical-align: middle;
		}

		.single-post {
			height: 26px;
		}

		.related-post, .recent-post {
			background: @lightGrey;
			border-radius: 3px;
			color: white;
			height: 20px;
			margin: 0 auto 8px auto !important;
			padding: 0;
			position: relative;
			text-align: center;
			width: 94%;
			
			&.level-1 { background: @color4; }
			&.level-2 { background: @color3; }

			p {
				line-height: 20px;
				margin: 0 !important;
				padding: 0;
				text-align: center !important;
				vertical-align: middle;
				width: auto;
			}
		}

		.personal-info {
			cursor: ns-resize;
			height: 180px;
			margin: 10px;
			overflow-y: hidden;

			h5 {
				font-weight: bold;
				margin-bottom: 10px;
			}
		}

		.vgradient-white {
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(90%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
			bottom: 46px;
			height: 20px;
			position: absolute;
			width: 100%;
		}

		.card-block-wrap {
			height: 180px;
			overflow: hidden;
		}

		.share-content {
			margin: 0;
			position: relative;

			.signals-title {
				background: @purple;
			}

			.share-wrap {
				cursor: pointer;
				height: 110px;
				margin: 0 10px 10px 10px;
				overflow: hidden;

				select {
					width: 100%;
				}

				textarea {
					height: 60px;
					max-width: 100%;
					margin-top: 12px;
					padding: 6px;
					width: 100%;
				}

				#checkbox {
					margin: 12px 0 6px 0;
				}

				.last-post-wrap {
					background: @bgColor;
					border-radius: 3px;
					height: 60px;
					padding: 6px 12px;
					overflow-y: hidden;

					h5 {
						line-height: 1.1em;
						font-size: 1em;
						font-weight: bold;
						margin-bottom: 6px;
					}

					p {
						font-size: 0.9em;
					}

					i {
						vertical-align: baseline;
					}
				}

				p.email {
					//font-size: 0.9em;
					margin-top: 12px;
					text-align: center;
				}

				p.empty {
					color: @grey;
					//font-size: 0.9em;
					margin-top: 6px;
					padding: 6px 12px;
					text-transform: lowercase;
				}

				.tip {
					p {
						padding: 6px 12px;

						i {
							vertical-align: baseline;
						} 
					}
				}

				input {
					margin-top: 6px;
				}
			}
		}

		.activity-info {
			margin: 24px 0 12px 0;

			nav {
				text-align: center;

				li {
					background: @bgColor;
					display: inline-table;
					color: @grey;
					cursor: pointer;
					padding: 6px 0;
					text-transform: lowercase;
					width: 50%;

					&:last-child {
						margin-right: 0;
					}

					&:hover {
						background: @grey;
						color: white;
					}

					&.active {
						color: white;

						&.linkedin {
							background: @linkedin;
						}

						&.twitter {
							background: @twitter;
						}
					}

					&.disabled {
						color: @lightGrey;

						&:hover {
							background: @bgColor;
							color: @lightGrey;
						}
					}
				}
			}
		}

		.user-info-layer {
			cursor: pointer;
			margin: 0 10px;
			height: 108px;
			margin-bottom: 12px;
			overflow: hidden;

			ul {
				li {
					color: @darkGrey;
					line-height: 1.2em;
					height: 1.2em;
					margin-bottom: 12px;
					overflow: hidden;

					i {
						font-size: 1.2em;
						margin-right: 3px;
						text-align: center;
						vertical-align: baseline;
						width: 20px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.twitter-bio {
				p {
					color: @darkGrey;
					font-size: 1em;
					line-height: 1.2em;
				}
			}
		}

		.posts-list {
			margin: 0;
			position: relative;

			.post {
				//margin-top: 2px;
				overflow-y: hidden;

				&:not(:first-child) {
					// display: none;
				}

				&.signalsPost {
					height: 270px !important;
				}

				.post-wrap {
					margin: 0 10px;
					height: 108px;
					margin-bottom: 12px;
					overflow: hidden;

					&.level-1, &.level-2 {
						margin-top: 0 !important;

						&.vscroll {
							height: 130px;
						}

						h5,
						p.tweet {
							margin-top: 6px;
						}

						time {
							color: @lightGrey;
							font-size: 0.9em;
						}

						img.post {
							margin-bottom: 3px;
						}
					}
				}

				.post-wrap.vscroll {
					cursor: ns-resize;
					height: 92px;
				}

				h5 {
					font-size: 1em;
					font-weight: bold;
					margin-bottom: 8px;

					a {
						font-weight: bold;
					}
				}

				.post-data {
					overflow: auto;

					time {
						font-size: 0.9em;
						color: @lightGrey;
						line-height: 20px;
						vertical-align: middle;
					}
				}

				p, a {
					word-break: normal;
				}

				p {
					font-size: 0.9em;
					margin: 0 0 10px 0;
					text-align: justify;

					a {
						color: @grey;
						word-break: normal;
					}
				}

				img.post {
					border: 2px solid @grey;
					float: right;
					height: 60px;
					max-width: 80px !important;
					margin: 0 0 0 10px;
				}

				a.read-more {
					color: @lightGrey;
					font-size: 0.9em;
					line-height: 20px;
					margin: 0 0 0 20px;
					vertical-align: middle;
					
					&:hover { text-decoration: underline; }
				}

				.signals {
					border: 6px solid black;
					border-left: none;
					border-right: none;
					cursor: pointer;
					margin-top: 10px;
					padding: 6px 10px;
					text-align: center;

					&.no-signals {
						cursor: not-allowed;

						h6 {
							line-height: 74px;
							margin-bottom: 0;
							vertical-align: middle;
						}
					}

					h6 {
						font-size: 1.1em;
						font-weight: bold;
						margin-bottom: 8px;

						span {
							font-size: 0.8em;
							font-weight: normal;
						}
					}

					ul {
						height: 50px;
						overflow: hidden;

						li {
							display: inline-table;
							margin: 0;
							padding: 0;

							img {
								height: 50px;
							}
						}
					}
					
					&:hover {
						background: @bgColor;
					}
				}
			}
		}

		.comment-wrap,
		.contact-wrap {
			border-top: 1px solid white;
			bottom: 0;
			display: none;
			left: 0;
			padding: 12px;
			position: absolute;
			text-align: center;
			width: 100%;
			z-index: 99999;

			&.linkedin {
				background: @linkedin;
			}

			&.twitter {
				background: @twitter;
			}

			textarea {
				@height: 180px;
				height: @height;
				max-height: @height;

				&.noContentLibrary {
					@height: 234px;
					height: @height;
					max-height: @height;
				}
			}

			&.filter {
				height: 109px !important;

				textarea {
					height: 62px;
					max-height: 62px;
				}
			}

			.share-content-library {

				p {
					color: white;
				}

				select {
					margin: 6px 0 12px 0;
				}
			}

			textarea {
				border-color: @grey;
				//font-size: 0.9em;
				height: 52px;
				margin-bottom: 12px;
				max-height: 52px;
				max-width: 100%;
				width: 100%;
				padding: 12px;
				width: 100%;
			}

			button {
				border: none;
				border-radius: 6px;
				margin: 0;
				padding: 6px 24px;
				text-transform: lowercase;

				&.submit {
					background: white;
					border: 3px solid transparent;
					border-radius: 4px;
					color: black;
					font-size: 0.9em;
					padding: 6px 24px;
					text-transform: lowercase;
					width: auto;

					&.linkedin {
						color: @linkedin;
					}

					&.twitter {
						color: @twitter;
					}

					&.disabled {
						cursor: not-allowed;
					}

					&:hover {
						border-color: white;
						color: white;

						&.linkedin {
							background: @linkedin;
						}

						&.twitter {
							background: @twitter;
						}
					}
				}

				&.cancel {
					background: none;
					color: white;

					&:hover,
					&:active,
					&:focus {
						background: none;
						color: white;
						text-decoration: underline;
					}
				}
			}

		}

		.message-wrap {
			background: @bgColor;
			border: 1px solid @grey;
			border-left: none;
			border-right: none;
			display: none;
			height: 125px;
			left: 0;
			position: absolute;
			text-align: center;
			top: 34px;

			textarea {
				border-color: @grey;
				border-top: none;
				font-size: 0.9em;
				max-width: 254px;
				padding: 6px;
				width: 254px;

				&.subject {
					height: 18px;
					margin-bottom: 6px;
					max-height: 18px;
				}

				&.content {
					border-top: 1px solid @grey;
					height: 38px;
					max-height: 38px;
				}
			}

			input.submitMessage {
				background: black;
				border: none;
				border-radius: 4px;
				color: white;
				font-size: 0.9em;
				margin-top: 6px;
				padding: 3px 20px;
				text-transform: lowercase;
				width: auto;
			}
		}

		.followers {
			border: 6px solid black;
			border-left: none;
			border-right: none;
			height: 74px;
			margin: 6px 10px 0 10px;
			padding: 6px 10px;text-align: center;

			h6 {
				font-size: 1.1em;
				font-weight: bold;
				margin: 20px 0 6px 0
			}

			aside {
				color: @lightGrey;
			}

			&:hover {
				background: @bgColor;
			}
		}
	}
}

.uploadPending {
	background: white;
	width: 300px;
	height: 437px;
	vertical-align: top;

	p {
		line-height: 1.2em;
		margin: 0 24px;
		text-align: center;

		i {
			font-size: 3em;
			margin: 128px 0 32px 0;
		}
	}
}

.card-hover {
	background: rgba(0, 0, 0, 0.82);
	cursor: pointer;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10;

	&.active {
		display: block;
	}

	hr {
		border: 1px solid white;
		border-bottom: none;
		margin: 12px 12px;
	}

	.hover-user-img {
		margin: 32px auto 0 auto;
		position: relative;
		text-align: center;
		width: 70px;

		img {
			border: 3px solid white;
			clip: rect(0px,60px,200px,0px);
			border-radius: 35px;
			height: 64px;
			object-fit: cover;
			overflow: hidden;
			width: 64px;

			&.linkedin_groups {
				border: none;
				border-radius: 0;
				height: 40px;
				padding: 5px 0 0 15px;
				width: 40px;
			}
		}

		.icon {		
			bottom: 0;
			position: absolute;
			right: 0;
			

			img {
				border: none;
				height: 24px;
				width: 24px;
			}
		}
	}

	.hover-user-data {
		color: white;
		margin-top: 12px;
		padding: 0 12px;

		h3 {
			font-family: "GillSans Bold";
			font-size: 1em;
			margin-bottom: 10px;
		}

		aside {
			font-style: italic;
			margin-bottom: 10px;
		}

		.location {
			color: @bgColor;
			font-size: 0.9em;
		}
	}

	.hover-user-keywords {
		ul {
			margin: 0 12px !important;
			padding: 0;

			&.empty {
				cursor: default !important;
			}

			li {
				color: white;
				display: inline-table;
				font-size: 1em;
				font-style: italic;
				margin: 0 6px 0 0;
				text-transform: lowercase;
				vertical-align: top;

				&.related-to {
					color: @bgColor;
					display: block;
					font-style: normal;
					margin-bottom: 3px;
				}

				&:after {
					content: ' / '
				}

				&:first-child:after,
				&:last-child:after {
					content: '';
				}
			}
		}
	}

	.expand {
		background: @lightGrey;
		border-radius: 3px;
		font-size: 0.9em;
		padding: 3px 12px;
		text-transform: uppercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: auto;

		p {
			width: auto;
		}
	}

	&:hover .expand {
		background: @bgColor;
		color: @grey;
	}
}

.signals-modal {
	position: fixed;
    top: 125px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    overflow-y: scroll;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    text-align: center;

    &.target {
    	opacity: 1;
    	pointer-events: auto;
    }

    .close {
	    background: white;
	    color: red;
	    cursor: pointer;
	    line-height: 25px;
	    position: absolute;
	    right: 10px;
	    text-align: center;
	    top: 10px;
	    width: 24px;
	    text-decoration: none;
	    font-weight: bold;
	    -webkit-border-radius: 12px;
	    -moz-border-radius: 12px;
	    border-radius: 12px;
	    -moz-box-shadow: 1px 1px 3px #000;
	    -webkit-box-shadow: 1px 1px 3px #000;
	    box-shadow: 1px 1px 3px #000;

	    &:hover {
		    background: red;
		    color: white;
		}

	}

	.global-watchlist-sel {
		line-height: 14px;
		position: absolute;
		right: 30px;
		text-align: center;
		top: 20px;
		width: 180px;

		select {
			-webkit-align-items: center;
		    -webkit-appearance: menulist-button;
		    -webkit-rtl-ordering: logical;
		    -webkit-writing-mode: horizontal-tb;
		    background-color: @color3;
		    border-radius: 0px;
		    border: 0;
		    border-image-outset: 0px;
		    border-image-repeat: stretch;
		    border-image-slice: 100%;
		    border-image-source: none;
		    border-image-width: 1;
		    box-sizing: border-box;
		    color: white;
		    cursor: pointer;
		    display: inline-table;
		    font-size: 1em;
		    font-weight: normal;
		    height: 30px;
		    letter-spacing: normal;
		    line-height: normal;
		    margin: 0px 0px 10px 0px;
		    padding: 4px 6px;
		    text-align: start;
		    text-indent: 0px;
		    text-shadow: none;
		    text-transform: lowercase;
		    vertical-align: middle;
		    white-space: pre;
		    word-spacing: 0px;
			width: 150px;

			&:focus { outline: none; }
		}

		p {
			cursor: pointer;
			font-size: 0.9em;

			&:hover {
				text-decoration: underline;
			}

			&.create-more-watchlist {
				color: @color3;
				display: inline-table;
				font-size: 2em;
				font-weight: bold;
				margin: 0 0 0 5px;
				vertical-align: top;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	ul {
		display: inline-block;
		margin: 30px;
		text-align: center;
		
		li {
			background: white;
			border-bottom: 1px solid @lightGrey;
			margin: 0;
			padding: 30px 5% 30px 5%;

			&:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			&:last-child {
				border-bottom: none;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			&.author {

				p.author-seal {
					background: black;
					color: white;
					font-size: 0.8em;
					margin: 0 0 6px 0;
					padding: 3px 10px;
					text-align: center;
					text-transform: uppercase;
					width: 120px;
				}


			}

			img{
				display: inline-table;
				vertical-align: top;
				width: 64px;
			}

			.user-data {
				display: inline-table;
				margin-left: 20px;
				vertical-align: top;
				width: 330px;

				h1 {
					font-weight: bold;
					font-size: 1.2em;
					line-height: 1.2em;
					margin-bottom: 6px;
					padding: 0;
					text-align: left;
				}

				aside {
					text-align: left;
				}

				.view-profile {
					margin-top: 10px;
					text-align: left;
				}
			}

			.actions-buttons {
				display: inline-table;
				margin: 10px 0 0 0;
				vertical-align: top;

				button {
					border: 5px solid transparent;
					display: inline-table;
					font-size: 1.1em;
					padding: 4px 10px;
					vertical-align: top;

					&.watchlist,
					&.watchlist-connect {
						background: @color3;
						color: white;
					}

					&.blacklist {
						background: @bgColor;
						color: @grey;
						margin-left: 10px;
						text-transform: lowercase;
					}

					&.already {
						background: white;
						border: 5px solid @bgColor;
						color: @grey;
						cursor: not-allowed;
					}

					p {
						margin: 0 !important;
						padding: 0;

						span {
							color: @bgColor;
						}

						span.watchlistName {
							color: white;
							text-transform: lowercase;
						}
					}
				}
			}

			.post-author {
				color: @grey;
				margin: 0 auto;
				max-width: 90%;
				padding: 20px 20px 0 20px;
				width: 440px;

				h2 {
					color: black;
					display: block;
					font-size: 1.2em;
					letter-spacing: 0;
					margin-bottom: 10px;
					text-align: center;
					text-shadow: none;
				}
			}

			.comment, .post-author {
				color: @grey;
				margin: 0 auto;
				max-width: 90%;
				padding: 20px 20px 0 20px;
				width: 440px;

				h2 {
					color: black;
					display: block;
					font-size: 1.2em;
					letter-spacing: 0;
					margin-bottom: 10px;
					text-align: left;
					text-shadow: none;

					&:before {
						color: @lightGrey;
						content: "\201C\00a0";
						font-size: 1.4em;
					}


					&:after {
						color: @lightGrey;
						content: "\00a0\201D";
						font-size: 1.4em;
					}
				}
			}
		}
	}
}