@font-face {
  font-family: "GillSans";
  src: url("../fonts/GillSans.woff") format("woff");
}

@font-face {
  font-family: "GillSans Light";
  src: url("../fonts/GillSans-Light.woff") format("woff");
}

@font-face {
  font-family: "GillSans SemiBold";
  src: url("../fonts/GillSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "GillSans Bold";
  src: url("../fonts/GillSans-Bold.woff") format("woff");
}

@font-face {
    font-family:"Helvetica";
    src: url("../fonts/helvetica.woff") format("woff");
}

@font-face {
    font-family:"Miso";
    src: url("../fonts/miso.woff") format("woff");
}
