body.login {
	background-attachment: fixed;
	background-image: url("/static/images/login_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.signUp {
	background-attachment: fixed;
	background-image: url("/static/images/login_bw_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.formComplete {
    	background-image: url("/static/images/login_bg.jpg");
    }
}

#user-login,
#user-signup {
	background-size: cover;
	bottom: 0;
	height: 100%;
	min-height: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	.tip {
		border: 1px solid;
		border-radius: 6px;
		color: white;
		margin: 0 auto 15px auto;
		max-width: 480px;
		text-align: center;
		text-transform: lowercase;
		width: 100%;

		p {
			padding: 12px;
		}

		a {
			word-break: normal !important;

			&:hover {
				text-decoration: underline;
			}
		}

		&.success {
			background: @level1;
			border-color: @level4;
		}

		&.error {
			background: @lightRed;
			border-color: red;
		}

		&.href {
			cursor: pointer;
		}

		ul {
			margin-top: 12px;
			text-align: left;

			li {
				line-height: 1.2em;
				margin-bottom: 3px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

.login-form-wrap,
.signup-form-wrap {
	background: rgba(0, 0, 0, 0.9);
	border-style: solid;
	border-width: 5px;
    -moz-border-image: -moz-linear-gradient(left, @purple 0%, @color3 100%);
    -webkit-border-image: -webkit-linear-gradient(left, @purple 0%, @color3 100%);
    border-image: linear-gradient(to right, @purple 0%, @color3 100%);
    border-image-slice: 1;
	color: white;
	margin: 0 auto;
	max-width: 960px;
	padding: 50px 30px;
	position: relative;
	text-align: center;
	top: 20%;
	width: 90%;

	h1 {
		font-size: 2em;
		margin-bottom: 24px !important;
	}

	aside {
		font-size: 1.2em;
		line-height: 1em;
		margin: 12px 0 24px 0;
		text-transform: lowercase;
	}
}

form.login-form,
form.signup-form {
	display: inline-table;
	font-size: 1em;
	margin: 0 auto;
	max-width: 640px;
	position: relative;
	text-align: left;
	width: 100%;

	.form-group {
		label {
			text-transform: lowercase;

			i {
				vertical-align: baseline;
			}
		}

		p {
			margin: 12px 0 3px 0;

			&:first-child {
				margin-top: 0;
			}

			span {
				color: @grey;
				font-size: 0.9em;
			}
		}

		textarea, input {
			font-family: 'GillSans';
			max-width: 640px;
			padding: 6px;
			width: 100%;
		}

		textarea {
			min-height: 60px;
		}

		input {
			&.has-error,
			&.emptySubmit {
				border-width: 3px;
			}
		}

		select {
			color: @darkGrey;
			font-size: 0.9em;
			text-transform: lowercase;
		}

		button {
			border: none;
			border-radius: 6px;
			margin: 0 0 12px 0;
			padding: 6px 24px;
			text-transform: lowercase;

			&.save {
				background: @orange;
				color: white;
				margin-right: 12px;

				&:hover {
					background: @darkOrange;
				}

				&.disabled {
					background: @grey;
					color: white;
					cursor: not-allowed;
				}
			}

			&.reset {
				background: none;
				color: @lightGrey;

				&:hover,
				&:active,
				&:focus {
					background: none;
					color: @lightGrey;
					text-decoration: underline;
				}
			}

			&.password-recovery {
				background: @grey;

				&:hover {
					background: @midGrey;
				}
			}

			&:focus {
				outline: none;
			}
		}
	}

	#choose-pricing-plan {
		background: transparent;
		border: 3px solid white;
		border-radius: 12px;
		padding: 12px;

		.description-wrap {
			background: white;
			border-radius: 12px;
			margin: 12px 0 0 0;
			padding: 12px;

			p {
				color: @darkGrey;
				margin-bottom: 6px;

				&.free-trial {
					font-size: 1.2em;
				}
			}
		}
	}

	.checkbox {
		margin-bottom: 12px;
		width: auto !important;

		label {
			text-transform: none !important;
		}

		span {
			color: @bgColor;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.password-revealer {
		margin-top: 6px;
		text-align: right;

		input, label {
			display: inline-table;
			vertical-align: baseline;
			width: auto;
		}

		label {
			cursor: pointer;
			margin-right: 3px;
			text-transform: lowercase;
		}

		p {
			cursor: pointer;
			font-size: 0.9em;
			margin: 0;
			padding: 0;
			text-transform: lowercase;

			i {
				margin-left: 3px;
				vertical-align: middle;
			}
		}
	}

	.remember-me {
		input, label {
			display: inline-table;
			vertical-align: baseline;
			width: auto;
		}

		label {
			cursor: pointer;
			margin-right: 3px;
			text-transform: lowercase;
		}
	}
}

a.create-user-account {
	&:hover {
		text-decoration: underline;
	}
}

.passwordRecovery {
	background: rgba(0, 0, 0, 0.8);
	font-size: 0.9em;
	padding: 0!important;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		display: inline-block;
		max-width: 480px;
		text-align: left;
		vertical-align: middle;
		width: 80%;
	}

	.modal-content {
		border-style: solid;
		border-width: 5px;
	    -moz-border-image: -moz-linear-gradient(left, @purple 0%, @color3 100%);
	    -webkit-border-image: -webkit-linear-gradient(left, @purple 0%, @color3 100%);
	    border-image: linear-gradient(to right, @purple 0%, @color3 100%);
	    border-image-slice: 1;
		padding: 30px;

		h1 {
			color: @darkGrey;
			font-size: 1.6em;
			margin-bottom: 24px;

			i {
				margin-right: 3px;
				vertical-align: baseline;
			}
		}

		.tip {
			border: 1px solid;
			border-radius: 6px;
			color: white;
			margin: 0 auto 15px auto;
			max-width: 300px;
			text-align: center;
			text-transform: lowercase;
			width: 100%;

			p {
				padding: 12px;
			}

			a {
				word-break: normal !important;

				&:hover {
					text-decoration: underline;
				}
			}

			&.success {
				background: @level1;
				border-color: @level4;
			}

			&.error {
				background: @lightRed;
				border-color: red;
			}

			&.href {
				cursor: pointer;
			}

			ul {
				margin-top: 12px;
				text-align: left;

				li {
					line-height: 1.2em;
					margin-bottom: 3px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}

		input {
			border: 1px solid @darkGrey;
			border-radius: 3px;
			max-width: 300px;
			padding: 6px;
			text-transform: lowercase;
			width: 100%;
		}

		.recovery-password-wrap {
			text-align: center;
		}

		.passwordRecoverySuccess h1 {
			margin-bottom: 0;
		}

		.button-area {

			button {
				background: @orange;
				border-radius: 6px;
				margin-bottom: 0;
				padding: 6px 24px;
				text-transform: lowercase;
				-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				transition: all .2s linear;
				vertical-align: middle;

				&.submit {
					color: white;

					&:hover {
						-moz-box-shadow: 0 0 4px 2px @grey;
        			    -webkit-box-shadow: 0 0 4px 2px @grey;
						box-shadow: 0 0 4px 2px @grey;
					}

					&.disabled {
						background: @grey;
						cursor: not-allowed;

						&:hover {
							-moz-box-shadow: none;
							-webkit-box-shadow: none;
							box-shadow: none;
						}

						&:focus {
							outline: none;
						}
					}
				}

				&.cancel {
					background: none;
					color: @grey;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.privacy-tooltip {
	opacity: 1 !important;
	z-index: 100;

	.tooltip-arrow {
		border-right-color: white !important;
	}
	.tooltip-inner {
		background: white !important;
		color: red;
	}
}