header {
	background: @darkGrey;
	border-style: solid;
	border-width: 0 0 5px 0;
	display: block;
    -moz-border-image: -moz-linear-gradient(left, @level3 0%, @purple 100%);
    -webkit-border-image: -webkit-linear-gradient(left, @level3 0%, @purple 100%);
    border-image: linear-gradient(to right, @level3 0%, @purple 100%);
    border-image-slice: 1;
    min-height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1040;

	.header-min {
		display: none;
	}

	.branding {
		cursor: pointer;
		display: inline-table;
		height: 40px;
		margin: 5px 0 5px 15px;
		padding-right: 15px;
		position: relative;
		vertical-align: middle;
		z-index: 102;

		img {
			height: 40px;
			vertical-align: middle;
		}
	}

	.home-button,
	.menu-button {
		color: white;
		cursor: pointer;
		display: inline-table;
		line-height: 50px;
		position: relative;
		text-align: center;
		vertical-align: top;
		z-index: 103;
	}

	.home-button {
		font-size: 1.4em;
		margin-left: 15px;
	}

	.menu-button {
		font-size: 1.6em;
	}

	nav#main-menu {
		background: rgba(0, 0, 0, 0.8);
		bottom: 0;
		-moz-box-shadow: 8px 0px 12px -2px @darkGrey;
		-webkit-box-shadow: 8px 0px 12px -2px @darkGrey;
		box-shadow: 8px 0px 12px -2px @darkGrey;
		color: white;
		display: none;
		overflow: auto;
		margin-top: 55px;
		position: fixed;
		text-transform: lowercase;
		top: 0;
		width: 270px;
		z-index: 100;

		li {
			border-bottom: 1px solid @darkGrey;
			color: white;
			list-style: none;
			position: relative;
			text-transform: lowercase;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}

		.my-universe,
		.my-contacts,
		.discover,
		.list,
		.blacklist {
			background: @darkGrey;
			border-top: 1px solid @purple;
			color: white;
			cursor: pointer;
			margin-right: 0;
			padding: 15px 20px;
			vertical-align: middle;

			i {
				margin-right: 6px;
				vertical-align: text-bottom;
			}

			&:hover {
				background: @lightGrey;
				color: @darkGrey;
			}

			&.disabled {
				cursor: not-allowed;
				background: @grey;
				color: @lightGrey;

				&:hover {
					background: @grey;
					color: @lightGrey;
				}
			}
		}

		.my-universe {
			border-top: none;
		}


		.list {
			border: none;
			text-transform: none;

			&.index0 {
				border-top: 1px solid @level3;
			}

			&:hover {
				.count {
					color: @grey;
					font-size: 0.7em;
				}
			}

			.count {
				color: @bgColor;
				font-size: 0.7em;
				margin-left: 3px;
			}

			input {
				background: none;
				border: none;
				border-bottom: 2px solid white;
				box-shadow: none;
				color: white;
				font-size: 0.9em;
				text-transform: lowercase;

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color: @lightGrey;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color: @lightGrey;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color: @lightGrey;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color: @lightGrey;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				  color: @lightGrey;
				}

				&:focus {
					outline: none;
				}
			}

			&.add-list {
				border-top: 1px solid @level3;
				cursor: pointer;
				text-transform: lowercase;

				&:hover {
					background: @darkGrey;
					color: white;
				}

				p.name-tip {
					color: @bgColor;
					font-size: 0.7em;
					margin-left: 22px;
					margin-bottom: 6px;
				}

				p.warning {
					margin-left: 22px;
				}
			}
		}

		.blacklist {
			background: none;
			border-top: 1px solid @level3;
			color: @lightGrey;

			i {
				vertical-align: top;
			}
			
			&:hover {
				background: @lightGrey !important;

				.name {
					color: @darkGrey;
				}
			}
		}

		.create-context,
		.update-list {
			background: white;
			border: none;
			padding: 15px 20px;

			input.create-filter {
				background: none;
				border: none;
				border-bottom: 2px solid @darkGrey;
				box-shadow: none;
				color: @darkGrey;
				font-size: 0.9em;
				text-transform: lowercase;
				width: 100%;

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color: @darkGrey;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color: @darkGrey;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color: @darkGrey;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color: @darkGrey;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				  color: @darkGrey;
				}

				&:focus {
					outline: none;
				}

				&.light {

					&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color: @lightGrey;
					}
					&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color: @lightGrey;
					   opacity:  1;
					}
					&::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color: @lightGrey;
					   opacity:  1;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color: @lightGrey;
					}
					&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
					  color: @lightGrey;
					}

					&:focus {
						outline: none;
					}
				}
			}

			.advancedSearchTrigger {
				cursor: pointer;
				margin: 12px 0;

				p {
					border: 2px solid @darkGrey;
					border-radius: 3px;
					color: @darkGrey;
					font-size: 0.9em;
					padding: 6px;
					text-align: center;
				}
			}

			.advancedSearch {
				.section-title {
					//border-bottom: 1px solid @darkGrey;
					color: @darkGrey;
					cursor: pointer;
					font-size: 0.9em;
					margin: 12px 0 6px 0;
					padding: 6px 0;
					text-align: left;

					p {
						display: inline-table;
					}

					i {
						display: inline-table;
						vertical-align: baseline;

						&.left { margin-right: 3px; }
						&.right { margin-left: 3px; }
					}
				}

				.terms-condition,
				.negative-terms,
				.search-goal {
					margin: 12px 0 18px 0;

					p {
						color: @darkGrey;
						font-size: 0.9em;
						margin-bottom: 6px;
						text-align: center;
						text-transform: lowercase;

						i {
							margin-right: 3px;
							vertical-align: baseline;
						}

						&.goal-explanation {
							color: @grey;
							font-size: 0.8em;
							margin: 6px 0 0 0;
						}
					}

					ul {
						text-align: center;

						li {
							background: white;
							border: 2px solid black;
							border-right: none;
							color: @darkGrey;
							cursor: pointer;
							display: inline-table;
							font-size: 0.8em;
							padding: 6px;
							text-align: center;
							text-transform: lowercase;
							-webkit-transition: all .2s ease-in-out;
							-moz-transition: all .2s ease-in-out;
							transition: all .2s ease-in-out;

							&:first-child {
								border-bottom-left-radius: 6px;
								border-top-left-radius: 6px;
							}

							&:last-child {
								border-bottom-right-radius: 6px;
								border-right: 2px solid black;
								border-top-right-radius: 6px;
							}

							&.active, &:hover {
								background: @grey;
								color: white;
							}
						}
					}
				}

				.item {
					font-size: 0.9em;
					margin-bottom: 6px;
					position: relative;
					width: 100%;

					i {
						color: @darkGrey;
						font-size: 1em;
						display: inline-table;
						margin-bottom: 6px;
						vertical-align: middle;
						text-align: center;
						width: 15%;

						&.last {
							margin-bottom: 0;
						}

						&.required {
							color: red;
						}
					}

					input, select {
						color: @grey;
						display: inline-table;
						height: 24px;
						font-size: 0.9em;
						vertical-align: top;
					}

					input {
						border-color: @grey;
					    border-radius: 6px;
					    display: inline-table;
					    margin-bottom: 6px;
						padding-right: 6px;
						text-indent: 6px;
						vertical-align: middle;
						width: 85%;

						&:placeholder-shown {
							text-transform: lowercase;
						}

						&:last-child {
							margin-bottom: 0;
						}

						&.required {
							border-color: red;
						}

						&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color: @lightGrey;
						}
						&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
						   color: @lightGrey;
						   opacity:  1;
						}
						&::-moz-placeholder { /* Mozilla Firefox 19+ */
						   color: @lightGrey;
						   opacity:  1;
						}
						&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						   color: @lightGrey;
						}
						&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
						  color: @lightGrey;
						}

						&:focus {
							outline: none;
						}

						&.negative-terms-input {
							width: 100%;
						}
					}

					select {
						-webkit-align-items: center;
					    -webkit-appearance: none;
					    -webkit-rtl-ordering: logical;
					    -webkit-writing-mode: horizontal-tb;
					    background-color: @grey;
					    -webkit-border-radius: 0px !important;
					    border-radius: 0;
					    border: 0;
					    border-image-outset: 0px;
					    border-image-repeat: stretch;
					    border-image-slice: 100%;
					    border-image-source: none;
					    border-image-width: 1;
						border-bottom-left-radius: 6px !important;
						border-top-left-radius: 6px !important;
					    box-sizing: border-box;
					    color: white;
					    cursor: pointer;
					    display: inline-table;
					    font-weight: normal;
					    letter-spacing: normal;
					    line-height: normal;
					    margin: 0;
					    padding: 0;
					    text-align: start;
					    text-indent: 6px;
					    text-shadow: none;
					    text-transform: lowercase;
					    white-space: pre;
					    word-spacing: 0px;
					    width: 40%;
					}

					.caret {
						pointer-events: none;
						position: absolute;
						left: 64px;
						top: 11px;

						&:before {
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid transparent;
							content: '';
							right: 0;
							position: absolute;
							top: 0;
						}

						&:after {
							border-left: 0 solid transparent;
							border-right: 0 solid transparent;
							border-top: 4px solid white;
							content: '';
							right: 0;
							position: absolute;
							top: 0;
						}
					}

					.remove-item {
						color: red;
						display: inline-table;
					}

				}

				.add-more-filters {
					text-align: right;
					
					p {
						color: @grey;
						cursor: pointer;
						font-size: 0.9em;
						text-transform: lowercase;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.watchlist-active {
				margin-top: 6px;

				.terms{
					p.tip {
						color: @lightGrey;
						font-size: 0.8em;
					}

					ul {
						background: @bgColor;
						margin-top: 6px;
						padding: 6px;
						
						li {
							border-bottom: none;
							color: @darkGrey;
							display: inline-table;
							font-size: 0.9em;
							margin-right: 6px;
							text-transform: lowercase;
							word-break: normal;
							
							&:after {
								content: ', ';
							}

							&:last-child:after {
								content: '';
							}

							span.delete {
								font-size: 0.8em;
								color: @lightGrey;
								cursor: pointer;

								&:hover {
									color: red;
								}
							}
						}
					}
				}

				p.included-terms,
				p.give-name {
					color: @grey;
					font-size: 0.9em;
					margin: 12px 0 0 0;
					padding: 0;
				}

				p.name-tip {
					font-size: 0.7em;
					color: @lightGrey;
					margin: 3px 0 0 0;
					text-align: right;
				}

				input.watchlist-name {
					background: @grey;
					border: none;
					border-radius: 6px;
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
					box-shadow: none;
					color: white;
					font-size: 0.9em;
					line-height: 24px;
					margin-top: 6px;
					padding: 3px 12px;
					text-transform: lowercase;
					width: 100%;

					&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color: @lightGrey;
					}
					&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color: @lightGrey;
					   opacity:  1;
					}
					&::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color: @lightGrey;
					   opacity:  1;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color: @lightGrey;
					}
					&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
					  color: @lightGrey;
					}

					&:focus {
						outline: none;
					}
				}

				.watchlistNameInput {
					display: inline-table;
					width: 80%;
				}

				.saveWatchlist {
					color: @darkGrey;
					cursor: pointer;
					display: inline-table;
					text-align: center;
					width: 20%;

					p {
						border: 3px solid @grey;
						line-height: 24px;
						margin: 0 auto;						
					}
				}

				.save-only {
					border-radius: 6px;
					color: @grey;
					cursor: pointer;
					margin-top: 6px;
					padding: 0 6px;

					&:hover {
						p.action {
							text-decoration: underline;
						}
					}

					p.action {
						font-size: 0.8em;
						text-align: center;
						margin-bottom: 6px;
					}
				}
			}
		}

		.cancel {
			color: @lightGrey;
			cursor: pointer;
			margin-top: 18px;
			padding: 0 6px;

			&:hover {
				p {
					text-decoration: underline;
				}
			}

			p {
				font-size: 0.8em;
				text-align: center;
				margin-bottom: 6px;
			}
		}

		p.tip {
			color: @lightGrey;
			font-size: 0.8em;
		
			&.warning {
				color: red;
			}

			&.center {
				text-align: center;
			}

			&.margin-top {
				margin-top: 6px;
			}

		}

		.saved-watchlist {
			background: @grey;
			border: none;
			border-top: 1px solid @purple;
			cursor: pointer;
			font-size: 0.9em;
			padding-left: 20px;
			position: relative;

			.context-wrap,
			.edit,
			.delete-wrap {
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				vertical-align: top;
			}

			.context-wrap {
				padding: 15px 0;
				&.delete-active {
					transform: translate(32px, 0);
				}
			}

			.count {
				color: @bgColor;
				font-size: 0.8em;
			}

			.terms {
				margin-top: 3px;
				padding-right: 40px;

				li {
					border-bottom: none;
					color: @lightGrey;
					display: inline-table;
					font-size: 0.8em;

					&.title {
						color: @lightGrey;
					}

					&:after {
						content: ',\00a0';
					}

					&.title:after,
					&:last-child:after {
						content: '';
					}
				}
			}

			.advanced-search {
				padding-right: 40px;

				li {
					border-bottom: none;
					color: @lightGrey;
					display: inline-table;
					font-size: 0.8em;
					margin: 6px 6px 0 0;

					&.title {
						color: @lightGrey;
					}

					i {
						vertical-align: baseline;
					}

					&:after {
						content: ',\00a0';
					}

					&.title:after,
					&:last-child:after {
						content: '';
					}
				}
			}

			.build-mode {
				background: @lightGrey;
				height: 100%;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
				width: 34px;

				&:before {
					content: '';
				    display: inline-block;
				    vertical-align: middle;
				    height: 100%;
				}

				p.more {
					display: inline-block;
					font-size: 1.6em;
					vertical-align: middle;
					text-align: center;
				}

				p.more-text {
					display: none;
					font-size: 0.9em;
					padding: 0 10px;
					text-align: center;
					vertical-align: middle;
				}

				&:hover {
					width: 68px;

					p.more {
						display: none;
					}

					p.more-text {
						display: inline-block;
					}
				}
			}

			.edit {
				color: @grey;
				display: none;
				font-size: 0.9em;
				margin-left: 3px;
				vertical-align: baseline;

				&:hover {
					color: @darkGrey;
				}

				i {
					font-size: 1.2em;
				}
			}

			span.delete {
				color: @lightGrey;
				display: none;
				font-size: 0.8em;
				left: 8px;
				position: absolute;
				top: 17px;

				&:hover {
					color: red;
				}
			}

			span.delete-button {
				background: black;
				border-radius: 3px;
				color: white;
				display: none;
				left: 5px;
				font-size: 0.8em;
				padding: 2px 6px;
				position: absolute;
				top: 15px;
			}

			&.saved-filter:hover,
			&.saved-watchlist:hover {
				background: @bgColor;

				.name, .count,
				.more, .more-text {
					color: @darkGrey;
				}

				.edit {
					display: inline-table;
				}

				.delete { display: block; }

				.terms {
					li {
						color: @grey;

						&.title {
							color: @grey;
						}
					}
				}
			}
		}
	}

	.header-lang-sel {
		display: inline-block;
		margin-bottom: 16px;
		position: absolute;
		right: 15px;
		top: 16px;

		.caret {
			color: transparent;
			pointer-events: none;
			position: absolute;
			right: 12px;
			top: 3px;

			&:before {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid @darkGrey;
				content: '';
				left: 0;
				position: absolute;
				top: 0;
			}

			&:after {
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid white;
				content: '';
				left: 1px;
				position: absolute;
				top: 0;
			}
		}

		.lang-control {
			-webkit-appearance: none;
			background: white;
			border: 1px solid black;
			border-radius: 0;
			color: black;
			cursor: pointer;
			display: block;
			line-height: inherit;
			font-family: inherit;
			font-size: 0.9em;
			line-height: normal;
			outline: none;
			margin: 0;
			padding: 0 18px 0 4px;
			transition: border-color 0.2s;
			width: auto;
		}
	}

	.user {
		color: white;
		height: 50px;
		margin: 0 20px 0 0; 
		min-width: 210px;
		position: absolute;
		right: 0px;
		text-align: right;
		top: 0px;
		z-index: 103;

		#custom-search {
			cursor: pointer;
			display: inline-table;
			margin-right: 12px;
			vertical-align: middle;

			i {
				font-size: 1.2em;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;

				&:hover {
					font-size: 1.4em;
				}
			}
		}

		.search-wrap,
		#username-menu, .username, img, .signout {
			display: inline-table;
			line-height: 50px;
			vertical-align: middle;
		}

		#username-menu {
			cursor: pointer;
		}

		.search-wrap {
			margin-right: 15px;

			input {
				background-color: @lightGrey !important;
				background-image: url("../images/search-icon.png") !important;
				background-position: right center !important;
				background-repeat: no-repeat !important;
				border: 3px solid white;
				border-radius: 12px;
				color: @lightGrey;
				display: block;
				height: 20px;
				font-size: 0.8em;
				padding: 0 24px 0 6px;
				-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				transition: all .2s linear;
				width: 30px;

				&.hover {
					background-color: white !important;
					border-color: black; 
					-moz-box-shadow: 0 0 3px 3px @lightGrey;
					-webkit-box-shadow: 0 0 3px 3px @lightGrey;
					box-shadow: 0 0 3px 3px @lightGrey;
					color: black;
					width: 110px;
				}
			}

			.search-tags {
				background: white;
				border: 3px solid black;
				border-top: none;
				color: black;
				display: none;
				margin: 0 8px;
				padding: 10px;
				position: absolute;
				width: 102px;

				p {
					font-size: 0.9em;
					margin-bottom: 10px;
					text-align: left;
				}

				li {
					cursor: pointer;
					font-size: 0.9em;
					margin-bottom: 5px;

					&:last-child {
						margin-bottom: 0;
					}
				} 
			}
		}

		img {
			border: 3px solid white;
			border-radius: 23px;
			height: 34px;
			margin: 0 0 0 10px;
			object-fit: cover;
			vertical-align: middle;
			width: 34px;
		}

		.signout {
			color: @lightGrey;
			font-size: 0.8em;
			margin-left: 3px;

			&:hover {
				color: red;
				text-decoration: none;
			}
		}
	}
}