body.home {
    background-attachment: fixed;
	background-image: url("/static/images/home_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-wrap {
	height: 100%;
	min-height: 100%;
}

#home {
	position: relative;
	text-align: center;
	top: 100px;
	width: 100%;

	h1 {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		font-size: 3em;
		margin: 0 auto 32px auto;
		max-width: 960px;
		padding: 10px 5%;
		text-transform: none;

		i {
			font-size: 0.9em;
			margin-right: 12px;
		}
	}

	aside {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		font-size: 2em;
		margin: 12px auto 0 auto;
		max-width: 960px;
		padding: 10px 5%;
	}

	.steps-wrapper {
		background: rgba(0, 0, 0, 0.3);
		margin: 24px auto 12px auto;
		max-width: 960px;
		padding: 10px 5% 22px 5%;

		i {
			color: white;
			font-size: 2em;
			margin: 12px 12px 0 12px;
			vertical-align: middle;
		}
	}

	.step {
		@size: 270px;
		display: inline-table;
		margin: 12px 12px 0 12px;
		vertical-align: middle;

		.step-title {
			display: inline-table;
			vertical-align: middle;
			width: @size;

			p {
				color: white;
				font-family: 'GillSans SemiBold';
				font-size: 1em;
				text-transform: uppercase;
			}
			
			.top {
				background: @darkGrey;
				border-right: 12px solid @grey;
				position: relative;


				p {
					color: white;
					line-height: 1.2em;
					padding: 12px 0;
				}
			}

			.bottom {
				background: white;
				text-align: left;

				p {
					display: inline-table;
					vertical-align: middle;
				}

				p.step-number {
					font-family: 'GillSans SemiBold';
					font-size: 7em;
					margin-left: 12px;
				}

				p.step-description {
					color: @darkGrey;
					font-size: 1.2em;
					margin: 0 0 0 18px;
					text-transform: none;
					width: 150px;
				}
			}

		}

		&.step-setup-list {
			.top{
				border-color: @level3;
			}

			.bottom {
				p.step-number {
					color: @level3;
				}
			}
		}

		&.step-engage-mode {
			.top{
				border-color: @greenPurple;
			}

			.bottom {
				p {
					color: @greenPurple;
				}
			}
		}

		&.step-engage,
		&.step-add-people {
			.top{
				border-color: @purple;
			}

			.bottom {
				p.step-number {
					color: @purple;
				}
			}
		}
	}

	button.start-here {
		background: @orange;
		border-radius: 6px;
		color: white;
		font-family: 'GillSans SemiBold';
		font-size: 1em;
		margin: 32px auto;
		padding: 12px;
		text-transform: uppercase;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		width: 240px;

		&:hover {
			background: @darkOrange;
		}
	}

	button.create-new-list {
		background: @orange;
		border-radius: 12px;
		color: white;
		font-size: 1.2em;
		margin-bottom: 24px;
		padding: 12px;
		text-transform: lowercase;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		width: 280px;

		&:hover {
			background: @darkOrange;
		}
	}

	ul {
		margin-bottom: 32px;

		li {
			background: white;
			border: 2px solid @darkGrey;
			border-radius: 12px;
			color: @darkGrey;
			font-size: 0.9em;
			margin: 12px auto;
			max-width: 280px;
			padding: 12px 0;
			position: relative;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;


			p.list-name {
				font-size: 1.2em;
				cursor: pointer;

				span.alerts {
					background: red;
					border-radius: 6px;
					color: white;
					font-size: 0.8em;
					margin-left: 3px;
					padding: 1px 6px;
					vertical-align: middle;

					i {
						font-size: 0.8em;
						margin: 0 0 0 3px;
						vertical-align: middle;
					}
				}
			}

			.list-data {
				background: @bgColor;
				border-radius: 3px;
				margin: 6px auto 0 auto;
				padding: 6px;
				width: 90%;

				p {
					color: @grey;
				}

				.num {
					display: inline-table;
					vertical-align: middle;
				}

				.monitoring {
					display: inline-table;
					margin-left: 1px;
					vertical-align: middle;

					p {
						display: inline-table;
						vertical-align: middle;
					}

					/* The switch - the box around the slider */
					.switch {
					  display: inline-table;
					  height: 18px;
					  margin-left: 6px;
					  position: relative;
					  vertical-align: middle;
					  width: 42px;
					}

					/* Hide default HTML checkbox */
					.switch input {display:none;}

					/* The slider */
					.slider {
					  position: absolute;
					  cursor: pointer;
					  top: 0;
					  left: 0;
					  right: 0;
					  bottom: 0;
					  background-color: #ccc;
					  -webkit-transition: .4s;
					  transition: .4s;
					}

					.slider:before {
					  position: absolute;
					  content: "";
					  height: 12px;
					  width: 12px;
					  left: 3px;
					  bottom: 3px;
					  background-color: white;
					  -webkit-transition: .4s;
					  transition: .4s;
					}

					input:checked + .slider {
					  background-color: @level3;
					}

					input:focus + .slider {
					  box-shadow: 0 0 1px #2196F3;
					}

					input:checked + .slider:before {
					  -webkit-transform: translateX(25px);
					  -ms-transform: translateX(25px);
					  transform: translateX(25px);
					}

					/* Rounded sliders */
					.slider.round {
					  border-radius: 12px;
					}

					.slider.round:before {
					  border-radius: 50%;
					}
				}
			}

			&:hover {
				background: @purple;
				border-color: @darkPurple;

				p {
					color: white;
				}

				.list-data {
					background: white;

					p {
						color: @purple;
					}
				}
			}

			.delete {
				color: white;
				cursor: pointer;
				display: none;
				position: absolute;
				right: 12px;
				top: 9px;
				text-transform: lowercase;
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;

				&.listHover {
					display: block;
				}

				i {
					color: @lightGrey;
					font-size: 1em;

					&:hover {
						color: white;
					}
				}

				.deleteList {
					background: white;
					border-radius: 6px;
					color: red;
					font-size: 0.9em;
					padding: 2px 6px;
				}
			}

			&.build,
			&.engage {
				color: white;
				
				span.count {
					color: @bgColor;
				}
			}

			&.build {
				background: @purple;
			}

			&.engage {
				background: @level3;
			}

			&.create {
				background: rgba(0, 0, 0, 0.3);
				color: white;

				&:hover {
					background: @darkGrey;
					color: white;
				}

				p {
					color: @bgColor;
					font-size: 0.8em;
					margin-bottom: 6px;
					text-align: center;

					&.warning {
						color: red;
					}
				}


				input {
					background: none;
					border: none;
					border-bottom: 2px solid white;
					box-shadow: none;
					color: white;
					margin-bottom: 6px;
					text-transform: lowercase;
					width: 160px;

					&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color: @lightGrey;
					}
					&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color: @lightGrey;
					   opacity:  1;
					}
					&::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color: @lightGrey;
					   opacity:  1;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color: @lightGrey;
					}
					&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
					  color: @lightGrey;
					}

					&:focus {
						outline: none;
					}
				}

				button {
					border: 2px solid @darkGrey;
					color: @darkGrey;
					font-size: 0.9em;
					margin-left: 12px;
					padding: 3px 12px;
					text-transform: lowercase;
				}			
			}

			i {
				font-size: 0.9em;
				margin-right: 3px;
				vertical-align: baseline;
			}

			span.count {
				color: @lightGrey;
				font-size: 0.8em;
				margin-left: 3px;
			}

			.go {
				cursor: pointer;
				min-width: 70px;
				padding: 6px 12px;
				position: absolute;
				top: 0;

				span {
					-webkit-transition: all .3s ease-in-out;
					-moz-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
				}

				&.go-build {
					background: @purple;
					border-bottom-left-radius: 8px;
					border-top-left-radius: 8px;
					left: 0;

					span {
						color: @lightPurple;
					}
				}

				&.go-engage {
					background: @level3;
					border-bottom-right-radius: 8px;
					border-top-right-radius: 8px;
					right: 0;


					span {
						color: @level1;
					}
				}

				&:hover {
					span {
						color: white;
					}
				}
			}
		}
	}

	#chrome-extension {

		button {
			background: @orange;
			border-radius: 6px;
			color: white;
			font-family: 'GillSans SemiBold';
			font-size: 1em;
			margin: 32px auto;
			padding: 12px;
			text-transform: uppercase;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			i {
				vertical-align: baseline;
			}

			&:hover {
				background: @darkOrange;
			}
		}
	}
}