#upload {
	text-align: center;

	h3 {
		font-size: 1.2em;
		margin-top: 32px;
	}

	.title-balloon {
		margin: 0 24px;
		max-width: 640px;

		svg {
			margin: 0 12px;
		}

		aside {
			color: @grey;
			font-size: 1.2em;
			margin: 12px 10% 0 10%;
		}
	}

	.upload-form {
		margin: 32px 0;
		text-align: center;

		input {
			margin: 0 auto;
			margin-top: 12px;
		}

	}

	.upload-btn {
		background: @orange;
		border-radius: 6px;
		color: white;
		margin-top: 12px;
		padding: 6px 24px;
		text-transform: lowercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: @darkOrange;
		}
	}

	.saved-csv-matches {
		margin: 12px auto;
		position: relative;
		max-width: 640px;

		.match {
			display: table;
			margin: 12px 0;
			padding: 0;
			position: relative;
			width: 100%;

			&:hover {
				cursor: pointer;

				.csv-row-title, .csv-mandatory-field {
					background: @bgColor;
					border-color: @grey;
					color: @grey;

					i {color: @grey;}
				}
			}
		}

		.csv-row-title, .csv-mandatory-field {
			border: 1px solid;
			border-radius: 3px;
			cursor: pointer;
			display: table-cell;
			line-height: 1.2em;
			max-width: 300px;
			padding: 6px 3%;
			position: relative;
			text-transform: lowercase;
			vertical-align: middle;
			width: 45%;

			i {
				vertical-align: baseline;
			}
		}

		.csv-row-title {
			background: @level3;
			border-color: @level3;
			color: white;
			text-align: right;

			i {
				color: white;
				margin-left: 6px;
			}
		}

		.csv-mandatory-field {
			background: white;
			color: white;
			text-align: left;

			i {
				color: white;
				margin-right: 6px;
			}

			&.linkedin {
				background: @linkedin;
				border-color: @linkedin;
			}

			&.twitter {
				background: @twitter;
				border-color: @twitter;
			}

			&.email {
				background: @purple;
				border-color: @purple;
			}

			&.common-field {
				background: @level3;
				border-color: @level3;
			}
		}

		.link {
			display: table-cell;
			vertical-align: middle;
			width: 10%;

			i {
				font-size: 1.6em;
				text-shadow: 2px 2px 4px @lightGrey;
			}
		}
	}

	.column {
		display: inline-table;
		margin: 12px 0 12px 0;
		max-width: 320px;
		vertical-align: top;
		width: 50%;

		&.left {
			text-align: right;

			i { margin-left: 6px;}
		}

		&.right {
			text-align: left;

			i { margin-right: 6px; }
		}

		i {
			vertical-align: baseline;
		}

		ul {

			li {
				background: white;
				border: 1px solid @grey;
				color: @grey;
				cursor: pointer;
				line-height: 1.2em;
				margin: 12px 0;
				padding: 6px 6%;
				text-transform: lowercase;

				&.allUsed {
					background: @bgColor !important;
					border-color: @lightGrey !important;
					color: @lightGrey !important;

					i { color: @lightGrey !important; }

					&:hover {
						border-color: @lightGrey !important;
						color: @lightGrey !important;

						i { color: @lightGrey !important; }
					}
				}

				&.loading {
					color: #999;
					cursor: default;

					img {
						height: 16px;

						&.left {
							margin-left: 0;
						}

						&.right {
							margin-right: 0;
						}
					}

					&:hover {
						color: #999 !important;
						border-color: @grey !important;
					}
				}
			}

			&.csv-row-title {

				li {
					border-color: @level3;
					border-radius: 3px;
					color: @level3;
					margin-right: 10%;
					position: relative;

					&.dragging {
					z-index: 12;
				}
				}

				li:hover,
				li.active {
					background: @level3;
					border-color: @level3;
					color: white;

					i {color: white}
				}
			}

			&.mandatory-fields {

				li {
					border-radius: 3px;
					margin-left: 10%;
					position: relative;
					z-index: 9;

					span.flag-icon {
						height: 12px;
						vertical-align: middle;
						z-index: 1;
					}

					&.linkedin {
						border-color: @linkedin;
						color: @linkedin;

						i {color: @linkedin}
					}

					&.twitter {
						border-color: @twitter;
						color: @twitter;

						i {color: @twitter}
					}

					&.email {
						border-color: @purple;
						color: @purple;

						i {color: @purple}
					}

					&.common-field {
						border-color: @level3;
						color: @level3;

						i {color: @level3}
					}
				}

				li:hover,
				li.drag-enter,
				li.active {

					&.linkedin {
						background: @linkedin;
						border-color: @linkedin;
						color: white;

						i {color: white}
					}

					&.twitter {
						background: @twitter;
						border-color: @twitter;
						color: white;

						i {color: white}
					}

					&.email {
						background: @purple;
						border-color: @purple;
						color: white;

						i {color: white}
					}

					&.common-field {
						background: @level3;
						border-color: @level3;
						color: white;

						i {color: white}
					}
				}
			}
		}
	}

	button.save-workflow {
		background: @orange;
		border-radius: 6px;
		color: white;
		margin-top: 12px;
		padding: 6px 24px;
		text-transform: lowercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: @darkOrange;
		}
	}
}