@media screen and (max-width: 640px){

header {

	.user {
		min-width: 40px !important;
		width: 40px !important;

		p.username { display: none !important; }
	}
}

#create-list-nav {
	li.step {
		width: 100%;
	}
}

#list-settings-panel-trigger {
	span {
		display: none;
	}
}

.block-create-list {
	margin-top: 90px !important;

	.left {
		margin-bottom: 32px;
		width: 100%;
	}

	.right {
		width: 100%;
	}
}

ul.contacts-list {
	margin: 40px auto 0 auto !important;
	padding: 0 !important;
	text-align: center !important;
	top: 0 !important;
	width: 100% !important
}

.cards-container {
	margin: 0 auto !important;
	padding: 0 !important;
	text-align: center !important;
}

.item-wrap {
	margin-right: 0 !important;
}

.modal-content {
	margin: 50px auto !important;
}

.results-toolbar {
	min-width: auto !important;
	top: 55px !important;

	&.activeMenu {
		top: 132px !important;
	}

	#nav-title {
		border-left: none !important;
		height: 40px !important;
		width: 100% !important;

		&.discover-border,
		&.engage-border {
			border-left: none !important;
		}

		.title-data {
			height: 40px !important;
			width: 100% !important;
		}

		#nav-arrow-right {
			display: none !important;
		}

		i.edit {
			left: 180px;
			right: inherit;
		}
	}

	#network-pref {
		background: @darkGrey;
		border-top: 2px solid white;
		margin: 0 !important;
		text-align: center;
		top: 0;
		width: 100%;

		ul {
			margin-top: 0 !important;

			li {
				padding: 3px 0;

				i {
					font-size: 0.9em !important;
				}

				&.active {
					i{
						font-size: 1em;
					}
				}
			}
		}
	}

	.social-network-filter {
		background: @midGrey;
		border-bottom-right-radius: 6px;
		margin: 0 !important;
		padding: 3px 15px!important;
		position: absolute !important;
		text-align: left !important;
		top: 50px !important;
		z-index: 22 !important;

		p.show-all,
		p.show-all-extended {
			display: none !important;
		}

		ul {
			height: 24px !important;

			li {
				line-height: 20px !important;
				margin-left: 10px !important;
				margin-top: 0 !important;

				&:first-child {
					margin-left: 0 !important;
				}

				&.gmail-signin {
					display: none !important;
				}
			}
		}
	}

	.tutorialTrigger {
		display: none !important;
		margin: 5px 0 0 20px !important;
	}

	.global-watchlist-sel {
		right: 0 !important;
		top: 46px !important;

		select {
			margin: 0 !important;
			width: 100px !important;
		}
	}

	nav.watchlist-actions {
		background: @level4grey;
		box-shadow: 0 6px 3px -3px @grey;
		display: block !important;
		min-width: 100px !important;

		.approach-arrow-right {
			display: none !important;
		}		

		ul {
			height: 20px !important;
			min-width: 100% !important;
			width: 100% !important;

			li {
				height: 20px !important;
				line-height: 20px !important;
				margin-left: 0 !important;
				padding-left: 0 !important;
				text-align: center !important;
				width: 25% !important;

				.approach-level {
					height: 20px !important;
					line-height: 20px !important;
					margin: 0 !important;
					padding: 0 !important;
					text-align: center !important;
					text-indent: 0 !important;
					width: auto !important;

					h3 {
						height: 20px !important;
						font-size: 0.9em !important;
						line-height: 20px !important;
						margin-top: 0 !important;
						text-align: center !important;
						vertical-align: middle !important;
					}
				}
			}
		}
	}
}

.contacts-list {
	top: 140px !important;

	&.activeMenu {
		top: 222px !important;
	}

	&.listView {
		margin-left: 0 !important;

		.item {
			padding-bottom: 60px !important; 
			text-align: center !important;

			.user-img {
				display: block !important;
				margin: 0 10px 0 0 !important;
				min-width: inherit !important;
				padding: 0 15% !important;
				text-align: left !important;
				width: auto !important;
			}

			.icon{
				left: 48px !important;
				margin-left: 15% !important
			}

			.user-info {
				display: block !important;
				margin-bottom: 10px !important;
				min-width: inherit !important;
				padding: 0 15% !important;
				text-align: left !important;
				width: auto !important;
			}

			.user-keywords,
			.assigned-to {
				border-left: none !important;
				display: block !important;
				margin-bottom: 10px !important;
				min-width: inherit !important;
				padding: 0 15% !important;
				text-align: left !important;
				width: auto !important;

				h4 {
					margin-bottom: 5px !important;
				}

				ul {
					margin: 0 !important;
					padding: 0 !important;
				}
			}

			.unit-push-right {
				bottom: 0 !important;
				position: absolute !important;
				right: 0 !important;

				.blacklist-user {
					margin-bottom: 0 !important;
				}
			}
		}

		.more {
			ul {
				margin: 0 !important;
			}
		}
	}

	&.watchlist-interface,
	&.filter-interface {
		.item .user-keywords ul {
			margin-left: 0 !important;
		}
	}

	/* =Grid Responsive Kube
-----------------------------------------------------------------------------*/
	.unit-90,
	.unit-80,
	.unit-75,
	.unit-70,
	.unit-66,
	.unit-65,
	.unit-60,
	.unit-40,
	.unit-30,
	.unit-35,
	.unit-33,
	.unit-25,
	.unit-20,
	.unit-10 {
		float: none !important;
	}
}

.card-expanded {
	.expanded-shares {
		ul li {
			border-bottom: 1px solid @darkGrey !important;
			padding: 12px 0 !important;
			width: 100%;

			.post-icon, .post-data {
				display: block !important;
			}

			.post-icon {
				text-align: center !important;

				img {
					width: 32px !important;
				}
			}

			.post-data {
				padding-left: 0 !important;
				margin-top: 12px;

				.post-info {
					margin-bottom: 18px !important;
					text-align: center !important;
				}

				.post-image {
					float: none !important;
					margin: 0 auto 18px auto !important;
					text-align: center !important;

					img {
						margin: 0 auto !important;
						text-align: center !important;
						width: 100px;
					}
				}

				h5 {
					font-size: 1.1em !important;
				}

				p {
					word-break: normal;
				}
			}

			.actions {
				margin-top: 12px !important;
				text-align: center !important;

				a, a:first-child {
					display: block !important;
					margin: 0 auto 6px auto !important;
					text-align: center !important;
				}
			}
		}
	}

}

.loading-results {
	margin-top: 270px !important;
}

.signals-modal {
	top: 232px !important;

	ul {
		margin: 40px 10px !important;

		li {
			padding: 20px 2% !important;

			.user-data, .comment {
				width: 100% !important;
			}

			.user-data {
				margin-top: 10px !important;
			}

			.comment {
				padding: 20px !important;
			}
		}
	}
}

.list-container {
	margin-top: 30px;
}

}