@import "reset.less";
@import "fonts.less";
@import "header.less";
@import "admin.less";
@import "forms.less";
@import "user_account.less";
@import "home.less";
@import "build_mode.less";
@import "import.less";
@import "content_hub.less";
@import "cards.less";
@import "list.less";
@import "filter.less";
@import "automation.less";
@import "card_expanded.less";
@import "loading_animation.less";
@import "dashboard.less";
@import "dashboardv2.less";
@import "watchlist.less";
@import "progress_bar.less";
@import "video-js.less";
@import "loading_circle.less";
//@import "/font-awesome/font-awesome.less";
@import "../css/vendor/ui-grid.min.css";
//@import "../css/vendor/vegas.css";
@import "../css/vendor/article-slider.css";
@import "../css/vendor/loading-indicator.css";
@import "../css/vendor/wdtLoading.css";
@import "../css/vendor/full_screen_loader.css";
@import "../css/vendor/jquery.qtip.min.css";
@import "../css/vendor/sausage.css";
@import "../css/vendor/owl.carousel.css";
@import "../css/vendor/owl.theme.css";
@import "../css/vendor/introjs.min.css";
@import "../css/vendor/introjs-nazanin.css";
@import "../../bower_components/flag-icon-css/less/flag-icon.less";

@import "layout960.less";
@import "layout640.less";

@purple: #58135a;
@lightPurple: #914e93;
@lightestPurple: #fef9fe;
@darkPurple: #380d3a;
@lightGreen: #83dbcb;
@darkGreen: #186a5b;
@greenPurple: #44727d;
@grey: #666;
@lightGrey: #AAA;
@midGrey: #3c3c3c;
@darkGrey: #2c2c2c;
@bgColor: #f2f2f2;
@darkRed: #cc0000;
@lightRed: #ea8a8a;
@lightestRed: #d8a9a9;
@orange: #fb8e00;
@darkOrange: #f08800;
@gold: #f7d300;
@midGold: #e5c400;
@darkGold: #514500;
@blue: #199bff;
@darkBlue: #1377c4;

@level0: black;
@level1: #2CC9AD;
@level2: #27B59B;
@level3: #229C85;
@level4: #1B7C6A;
@level1grey: #c6c9c8;
@level2grey: #b2b3b3;
@level3grey: #979898;
@level4grey: #797a7a;
@trial: #51c451;
@pricingPlanFree: #1fb3c4;
@pricingPlan1: #1e73be;
@pricingPlan2: @purple;
@pricingPlan3: @purple;
@darkpricingPlanFree: #178592;
@darkPricingPlan1: #145085;
@darkPricingPlan2: @darkPurple;
@darkPricingPlan3: @darkPurple;

@linkedin: #3983bb;
@darkLinkedin: #295e87;
@twitter: #479def;
@darkTwitter: #3373af;


.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

html, body {
	height: 100%;
	opacity: 1 !important;
}

body {
	//background: @lightGrey;
	background: url('/static/images/body_bg.jpg') repeat;
	font-family: 'GillSans';
	font-size: 1em;
}

a {
	color: inherit !important;
	text-decoration: none;
	word-break: normal !important;

	&:hover {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}
}

i { vertical-align: text-bottom; }

p:visited { text-decoration: none; }

h1 {
	font-size: 2em;
	margin: 0 0 15px 0;
}

h5 {
	word-break: normal !important;
}

li:focus, a:focus {
	outline: none !important;
}

// button {
// 	background: @purple;
// 	border: transparent 3px solid;
// 	border-radius: 6px;
// 	color: white;
// 	padding: 3px 25px;

// 	&:hover {
// 		border: white 3px dotted;
// 	}
// }

i.pointer {
	cursor: pointer;
}

input.submit, input.save {
	background: @purple;
	border: transparent 3px solid;
	border-radius: 6px;
	font-size: 0.8em;
	color: white;
	padding: 3px 15px;

	&:hover {
		border: white 3px dotted;
	}
}

.no-margin-bottom {
	margin-bottom: 0;
}

.text-align-center {
	text-align: center;
}

.view-profile a {
	display: none !important;
}

//.ng-hide-remove,
.ng-hide-add {
    /* ensure visibility during the transition */
    display: none !important; /* yes, important */
    opacity: 0 !important;
}

// Stripe
h1.Header-companyName {
	text-transform: uppercase !important;
}

// Loading screen phrases
.wdt-loading-screen {
	background: rgba(170,170,170,1) !important;
	top: 95px;

	.wdt-loading-phrases {
		margin-top: -95px;
		max-width: 480px;
		width: 90%;
		color: white;

		&:before {
			border: 3px solid white;
			border-radius: 12px;
			background: rgba(170,170,170,1) !important;
			background: -moz-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(0,0,0,0) 50%, rgba(170,170,170,1) 100%) !important;
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,170,170,1)), color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(170,170,170,1))) !important;
			background: -webkit-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(0,0,0,0) 50%, rgba(170,170,170,1) 100%) !important;
			background: -o-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(0,0,0,0) 50%, rgba(170,170,170,1) 100%) !important;
			background: -ms-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(0,0,0,0) 50%, rgba(170,170,170,1) 100%) !important;
			background: linear-gradient(to bottom, rgba(170,170,170,1) 0%, rgba(0,0,0,0) 50%, rgba(170,170,170,1) 100%) !important;
		}

		.wdt-loading-phrase {
			margin-left: 24px;
		}
	}
}

#chromeExtensionAdvice {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58135a+0,229c85+100 */
	background: rgb(88,19,90); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(88,19,90,1) 0%, rgba(34,156,133,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(88,19,90,1) 0%,rgba(34,156,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(88,19,90,1) 0%,rgba(34,156,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58135a', endColorstr='#229c85',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	-moz-box-shadow: 0 0 12px 4px @darkGrey;
    -webkit-box-shadow: 0 0 12px 4px @darkGrey;
	box-shadow: 0 0 12px 4px @darkGrey;
	color: white;
	max-width: 400px;
	padding: 24px;
	position: fixed;
	right: 5%;
	text-align: center;
	top: 120px;
	width: 90%;
	z-index: 99999999999;

	i {
		font-size: 2.4em;
		margin-bottom: 12px;
	}

	h1 {
		font-size: 1.4em;
		text-transform: uppercase;
	}

	p {
		font-size: 1em;
		line-height: 1.2em;
		margin-bottom: 12px;
		text-align: left;

		&.dismiss {
			color: @bgColor;
			cursor: pointer;
			font-size: 0.9em;
			margin: 12px 0 0 0;
			text-align: center;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	button {
		background: white;
		border-radius: 6px;
		color: @grey;
		font-size: 1em;
		line-height: 1.4em;
		margin-top: 12px;
		padding: 6px 12px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		width: 100%;

		i {
			font-size: 1em;
			margin-bottom: 0;
			vertical-align: baseline;
		}

		&:hover {
			background: @orange;
			color: white;
		}
	}

	.closeGCEAdvice {
		color: @lightGrey;
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 12px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {
			color: white;
		}
	}
}

.subscribeNow,
.upgradeAccount,
.trialPeriodOffer,
.trialPeriodExpired {

	.modal-content {
		padding: 24px;
		text-align: center;
	}

	h1 {
		margin-bottom: 12px;
		text-transform: uppercase;
	}

	aside {
		font-size: 1.4em;
		margin-bottom: 24px;
	}

	p.cancel {
		cursor: pointer;
		font-size: 0.9em;

		&:hover {
			text-decoration: underline;
		}
	}

	.cancel-confirm {
		border: 3px solid red;
		border-radius: 12px;
		padding: 12px;

		h2 {
			color: red;
			margin-bottom: 12px;
			text-transform: uppercase;
		}

		p {
			margin-bottom: 12px;
			text-align: left;
		}

		button {
			display: inline-table;
			font-size: 0.9em;
			margin-top: 3px;
			padding: 3px 12px;
			text-align: lowercase;
			text-transform: lowercase;
			width: auto;

			&.confirm {
				border: 2px solid red;
				background: white;
				border-radius: 6px;
				color: red;

				&:hover {
					background: red;
					color: white;
				}
			}

			&.cancel {
				background: none;
				color: @darkGrey;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

#subscription-modal-buttons {
	button {
		overflow: hidden;
		position: relative !important;
	}

	button.monthly {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		color: white;
		padding: 24px;
		width: 100%;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&.level1 {
			background: @pricingPlan1;

			&:hover {
				background: @darkPricingPlan1;
			}
		}

		&.level2 {
			background: @pricingPlan2;

			&:hover {
				background: @darkPricingPlan2;
			}
		}

		&.level3 {
			background: @pricingPlan3;

			&:hover {
				background: @darkPricingPlan3;
			}
		}

		h2 {
			font-size: 1.4em;
			line-height: 1.4em;
			margin-bottom: 6px;
			text-transform: uppercase;
		}

		aside {
			font-size: 1.2em;
			margin-bottom: 0;
		}

		&.offer {
			//background: @gold;
			//border: 6px solid @;
			border-radius: 12px;
			box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
			//color: @darkGold;
			margin-bottom: 24px;
			padding: 24px;

			h2 {
				span.strike-out {
					color: red;
					text-decoration: line-through;
				}
				span.offer-explanation {
					background: white;
					border-radius: 6px;
					color: @pricingPlan2;
					padding: 0 12px;
					text-transform: lowercase;
					//text-decoration: underline;
				}
			}

			p.offer-expiration {
				border: 3px solid red;
				border-radius: 6px;
				color: white;
				display: inline-table;
				margin-top: 18px;
				padding: 6px 24px;
				text-transform: lowercase;
			}
		}

		.offer-explanation {
			p {
				padding: 6px 36px;
				text-transform: lowercase;
			}
		}
	}

	button.yearly {
		background: @lightGrey;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		border-top: 3px solid white;
		color: white;
		margin-bottom: 24px;
		padding: 6px 24px;
		width: 100%;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&.level1 {
			background: @pricingPlan1;

			&:hover {
				background: @darkPricingPlan1;
			}
		}

		&.level2 {
			background: @pricingPlan2;

			&:hover {
				background: @darkPricingPlan2;
			}
		}

		&.level3 {
			background: @pricingPlan3;

			&:hover {
				background: @darkPricingPlan3;
			}
		}

		&.solo {
			border-radius: 12px;
			padding: 24px;

			h2 {
				font-size: 1.4em;
				margin-bottom: 12px;
				text-transform: uppercase;
			}

			aside {
				font-size: 1.2em;
				margin-bottom: 0;
			}
		}

		&:hover {
			background: @grey;
		}

		h3 {
			color: white;
			font-size: 1em;
			line-height: 1.8em;
			text-transform: uppercase;
			vertical-align: middle;

			span {
				background: red;
				border-radius: 6px;
				color: white;
				margin-left: 12px;
				padding: 3px 12px;
				text-transform: lowercase;

				&.notFeatured {
					background: transparent;
					
					&:before {
						content: '(';
					}

					&:after {
						content: ')';
					}
				}
			}
		}
	}

	button.free {
		background: @grey;
		border-radius: 12px;
		border-top: 3px solid white;
		color: white;
		font-size: 0.8em;
		margin-bottom: 24px;
		padding: 12px;
		width: 100%;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {
			background: @darkGrey;
		}

		h2 {
			font-size: 1.4em;
			line-height: 1.4em;
			margin-bottom: 6px;
			text-transform: uppercase;
		}

		aside {
			font-size: 1.2em;
			margin-bottom: 0;
		}
	}
}

.corner-ribbon{
	width: 200px;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);

	&.shadow {
		box-shadow: 0 0 3px rgba(0,0,0,.3);
	}

	&.sticky{
		position: fixed;
	}

	&.top-right{
	  top: 25px;
	  right: -50px;
	  left: auto;
	  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	}
}

#feedback-msg {
	bottom: 0;
	cursor: pointer;
	padding: 18px 24px;
	position: fixed;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	vertical-align: middle;
	width: 100%;
	z-index: 99999;

	&.ng-hide {
		opacity: 0;
	}

	&.ng-hide-add, &.ng-hide-remove {
    	/* ensure visibility during the transition */
    	display: block !important; /* yes, important */
	}

	p {
		line-height: 1.6em;
		font-size: 0.9em;
	}

	&.error {
		background: red;

		p { color: white;}

		&:hover {
			background: @darkRed;
		}
	}

	&.response {
		background: @orange;

		p {
			color: white;

			span {
				font-size: 1.4em;
			}

			&.error,
			&.already {
				color: @bgColor;
				font-size: 0.9em;
			}
		}

		&:hover {
			background: @darkOrange;
		}
	}
}

footer {
	background: #FFF;
	border-top: @purple 3px solid;
	bottom: 0;
	height: 30px;
	position: fixed;
	width: 100%;
	z-index: 99;

	nav.info {
		font-size: 0.8em;
		margin: 8px 0 0 15px;

		ul {
			li {
				display: inline-table;
				margin-left: 15px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	.lang-select {
		position: absolute;
		right: 240px;
		top: 3px;
		width: 60px;

		ul {
			li {
				display: inline-table;
				margin-left: 6px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	.copyright {
		color: @lightGrey;
		font-size: 0.7em;
		line-height: 12px;
		position: absolute;
		right: 15px;
		text-align: right;
		top: 3px;
	}
}

body.firstTime-bg {
	background: url("/static/images/firstTimeUser_bg.jpg");
	background-size: cover;
	min-height: 100%;
	height: 100%;
	position: relative;
	width: 100%;
}

body.appCrash-bg {
	background: url("/static/images/firstTimeUser_bg.jpg");
	background-size: cover;
}

#welcome-page-wrap,
.firstTimeUser-wrap {
	background: url("/static/images/firstTimeUser_bg.jpg");
	background-size: cover;
	bottom: 0;
	height: 100%;
	min-height: 100%;
	top: 0;
}

#welcome-page {
	position: relative;
	text-align: center;
	top: 20%;
	width: 100%;

	h1 {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		font-size: 3em;
		margin: 0;
		padding: 10px 5%;
	}

	aside {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		font-size: 1.4em;
		margin: 12px 0 0 0;
		padding: 10px 5%;
	}

	input {
			text-transform: lowercase;
	}

	#create-filter-block {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		margin: 24px 0 0 0;
		padding: 10px 5%;

		input {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			line-height: 1.2em;
			max-width: 640px;
			padding: 12px 15px;
			text-align: center;
			width: 100%;

			&.required {
				border-color: red;
			}
			input::-webkit-input-placeholder {
				   color: @lightGrey;
				}

			input:-moz-placeholder { /* Firefox 18- */
				   color: @lightGrey;
				}

			input::-moz-placeholder {  /* Firefox 19+ */
				   color: @lightGrey;
				}

			input:-ms-input-placeholder {  
				   color: @lightGrey; 
				}
		}

		p.tip {
			text-transform: lowercase;

			&.warning {
				color: red;
			}
		}
	}

	#discover-block,
	#myContacts-block {
		background: rgba(255, 255, 255, 0.3);
		border: 3px solid white;
		border-radius: 12px;
		color: @darkGrey;
		display: inline-table;
		margin: 32px 5%;
		min-width: 300px;
		padding: 24px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 30%;

		&:hover {
			-moz-box-shadow: 0 0 8px 3px white;
            -webkit-box-shadow: 0 0 8px 3px white;
			box-shadow: 0 0 8px 3px white;
		}

		&.disabled {
			background: rgba(0, 0, 0, 0.5) !important;
			border-color: @lightGrey;
			color: @lightGrey;
			cursor: wait;

			aside {
				color: @lightGrey;
			}

			&:hover {
				-moz-box-shadow: none;
	            -webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		h2 {
			color: @darkGrey;
			font-size: 2em;
			margin-bottom: 24px;
			text-align: center;
			text-shadow: none;
			text-transform: uppercase;

			i {
				margin-top: 12px;
			}
		}

		aside {
			background: transparent;
			font-size: 1.1em;
			line-height: 1em;
			margin-bottom: 24px;
			text-transform: none;
		}

		i.fa-cogs {
			font-size: 1.6em;
			margin-bottom: 6px;
		}

		input {
			text-transform: lowercase;
		}

		input.create-filter {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			line-height: 1.2em;
			padding: 12px 15px;
			text-align: center;
			width: 100%;

			&.location {
				width: 15%;
			}

			&.required {
				border-color: red;
			}
		}

		input::-webkit-input-placeholder {
			   color: @lightGrey;
			}

		input:-moz-placeholder { /* Firefox 18- */
			   color: @lightGrey;
			}

		input::-moz-placeholder {  /* Firefox 19+ */
			   color: @lightGrey;
			}

		input:-ms-input-placeholder {  
			   color: @lightGrey; 
			}

		button,
		.tip.warning {
			background: white;
			border: 3px solid @darkGrey;
			color: @darkGrey;
			height: 32px;
			line-height: 1.2em;
			padding: 3px 0;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}

		p.tip {
			color: @bgColor;
			font-size: 0.9em;
			margin: 0 0 3px 6px;
			text-align: left;
			text-transform: lowercase;
		}

		.custom-search-contacts {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			cursor: pointer;
			line-height: 1.2em;
			padding: 12px 15px;
			text-align: center;
			width: 100%;

			&:hover {
				background: white;
			}

			p {
				text-transform: lowercase;

				i {
					margin-right: 6px;
					vertical-align: text-bottom;
				}
			}
		}

		p.view-all-contacts {
			cursor: pointer;
			font-size: 0.9em;
			margin-top: 12px;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}

		p.updated-on {
			color: @lightGrey;
			font-size: 0.9em;
			margin-top: 24px;
			text-transform: lowercase;
		}

		.tip.warning {
			border-color: red;
			color: red;

			p {
				text-transform: lowercase;
			}
		}
	}

	#chrome-extension {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58135a+0,229c85+100 */
		background: rgb(88,19,90); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(88,19,90,1) 0%, rgba(34,156,133,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(88,19,90,1) 0%,rgba(34,156,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(88,19,90,1) 0%,rgba(34,156,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58135a', endColorstr='#229c85',GradientType=0 ); /* IE6-9 */
		border-radius: 6px;
		-moz-box-shadow: 0 0 12px 4px @darkGrey;
	    -webkit-box-shadow: 0 0 12px 4px @darkGrey;
		box-shadow: 0 0 12px 4px @darkGrey;
		color: white;
		cursor: pointer;
		margin: 0 auto;
		max-width: 640px;
		padding: 48px;
		text-align: center;
		top: 20%;
		width: 90%;
		z-index: 99999999999;

		&:hover {
			button {
				background: @orange;
				color: white;
			}
		}

		i {
			font-size: 2.4em;
			margin-bottom: 12px;
		}

		h1 {
			background: transparent;
			font-size: 2em;
			margin-bottom: 24px;
			text-transform: uppercase;
		}

		aside {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 24px;
			text-align: center;

			&.dismiss {
				color: @bgColor;
				cursor: pointer;
				font-size: 0.9em;
				margin: 12px 0 0 0;
				text-align: center;
				text-transform: lowercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		button {
			background: white;
			border-radius: 6px;
			color: @grey;
			font-size: 1em;
			line-height: 1.4em;
			margin-top: 12px;
			padding: 6px 12px;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			width: 100%;

			i {
				font-size: 1em;
				margin-bottom: 0;
				vertical-align: baseline;
			}
		}

		.closeGCEAdvice {
			color: @lightGrey;
			cursor: pointer;
			position: absolute;
			right: 12px;
			top: 12px;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			&:hover {
				color: white;
			}
		}
	}
} 

#list-sources {
	position: relative;
	text-align: center;
	top: 20%;
	width: 100%;

	h1 {
		background: rgba(255, 255, 255, 0.3);
		color: @darkGrey;
		font-size: 3em;
		margin: 0;
		padding: 10px 5%;
	}

	aside {
		background: rgba(255, 255, 255, 0.3);
		color: @darkGrey;
		font-size: 1.4em;
		margin: 12px 0 0 0;
		padding: 10px 5%;
	}

	input {
			text-transform: lowercase;
	}

	#create-filter-block {
		background: rgba(255, 255, 255, 0.3);
		color: @darkGrey;
		margin: 24px 0 0 0;
		padding: 10px 5%;

		input {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			line-height: 1.2em;
			max-width: 640px;
			padding: 12px 15px;
			text-align: center;
			width: 100%;

			&.required {
				border-color: red;
			}
			input::-webkit-input-placeholder {
				   color: @lightGrey;
				}

			input:-moz-placeholder { /* Firefox 18- */
				   color: @lightGrey;
				}

			input::-moz-placeholder {  /* Firefox 19+ */
				   color: @lightGrey;
				}

			input:-ms-input-placeholder {  
				   color: @lightGrey; 
				}
		}

		p.tip {
			text-transform: lowercase;

			&.warning {
				color: red;
			}
		}
	}

	#discover-block,
	#myContacts-block {
		background: rgba(255, 255, 255, 0.3);
		border: 3px solid white;
		border-radius: 12px;
		color: @darkGrey;
		display: inline-table;
		margin: 32px 5%;
		min-width: 300px;
		padding: 24px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 30%;

		&:hover {
			-moz-box-shadow: 0 0 8px 3px white;
            -webkit-box-shadow: 0 0 8px 3px white;
			box-shadow: 0 0 8px 3px white;
		}

		&.disabled {
			background: rgba(0, 0, 0, 0.5) !important;
			border-color: @lightGrey;
			color: @lightGrey;
			cursor: wait;

			aside {
				color: @lightGrey;
			}

			&:hover {
				-moz-box-shadow: none;
	            -webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		h2 {
			color: @darkGrey;
			font-size: 2em;
			margin-bottom: 24px;
			text-align: center;
			text-shadow: none;
			text-transform: uppercase;

			i {
				margin-top: 12px;
			}
		}

		aside {
			background: transparent;
			font-size: 1.1em;
			line-height: 1em;
			margin-bottom: 24px;
			text-transform: none;
		}

		i.fa-cogs {
			font-size: 1.6em;
			margin-bottom: 6px;
		}

		input {
			text-transform: lowercase;
		}

		input.create-filter {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			line-height: 1.2em;
			padding: 12px 15px;
			text-align: center;
			width: 100%;

			&.location {
				width: 15%;
			}

			&.required {
				border-color: red;
			}
		}

		input::-webkit-input-placeholder {
			   color: @lightGrey;
			}

		input:-moz-placeholder { /* Firefox 18- */
			   color: @lightGrey;
			}

		input::-moz-placeholder {  /* Firefox 19+ */
			   color: @lightGrey;
			}

		input:-ms-input-placeholder {  
			   color: @lightGrey; 
			}

		button,
		.tip.warning {
			background: white;
			border: 3px solid @darkGrey;
			color: @darkGrey;
			height: 32px;
			line-height: 1.2em;
			padding: 3px 0;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}

		p.tip {
			color: @bgColor;
			font-size: 0.9em;
			margin: 0 0 3px 6px;
			text-align: left;
			text-transform: lowercase;
		}

		.custom-search-contacts {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			color: @darkGrey;
			cursor: pointer;
			line-height: 1.2em;
			padding: 12px 15px;
			text-align: center;
			width: 100%;

			&:hover {
				background: white;
			}

			p {
				text-transform: lowercase;

				i {
					margin-right: 6px;
					vertical-align: text-bottom;
				}
			}
		}

		p.view-all-contacts {
			cursor: pointer;
			font-size: 0.9em;
			margin-top: 12px;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}

		p.updated-on {
			color: @lightGrey;
			font-size: 0.9em;
			margin-top: 24px;
			text-transform: lowercase;
		}

		.tip.warning {
			border-color: red;
			color: red;

			p {
				text-transform: lowercase;
			}
		}
	}

	#chrome-extension {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58135a+0,229c85+100 */
		background: rgb(88,19,90); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(88,19,90,1) 0%, rgba(34,156,133,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(88,19,90,1) 0%,rgba(34,156,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(88,19,90,1) 0%,rgba(34,156,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58135a', endColorstr='#229c85',GradientType=0 ); /* IE6-9 */
		border-radius: 6px;
		-moz-box-shadow: 0 0 12px 4px @darkGrey;
	    -webkit-box-shadow: 0 0 12px 4px @darkGrey;
		box-shadow: 0 0 12px 4px @darkGrey;
		color: white;
		cursor: pointer;
		margin: 0 auto;
		max-width: 640px;
		padding: 48px;
		text-align: center;
		top: 20%;
		width: 90%;
		z-index: 99999999999;

		&:hover {
			button {
				background: @orange;
				color: white;
			}
		}

		i {
			font-size: 2.4em;
			margin-bottom: 12px;
		}

		h1 {
			background: transparent;
			font-size: 2em;
			margin-bottom: 24px;
			text-transform: uppercase;
		}

		aside {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 24px;
			text-align: center;

			&.dismiss {
				color: @bgColor;
				cursor: pointer;
				font-size: 0.9em;
				margin: 12px 0 0 0;
				text-align: center;
				text-transform: lowercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		button {
			background: white;
			border-radius: 6px;
			color: @grey;
			font-size: 1em;
			line-height: 1.4em;
			margin-top: 12px;
			padding: 6px 12px;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			width: 100%;

			i {
				font-size: 1em;
				margin-bottom: 0;
				vertical-align: baseline;
			}
		}

		.closeGCEAdvice {
			color: @lightGrey;
			cursor: pointer;
			position: absolute;
			right: 12px;
			top: 12px;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			&:hover {
				color: white;
			}
		}
	}
}

.firstTimeUser {
	position: relative;
	text-align: center;
	top: 20%;

	h1 {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		font-size: 3em;
		padding: 10px 5%;
	}

	aside {
		background: rgba(0, 0, 0, 0.3);
		color: white;
		font-size: 1.4em;
		line-height: 1.2em;
		margin-bottom: 20px;
		padding: 0 5% 10px 5%;

		span.purple { color: @purple; }
		span.green { color: @level3; }
	}

	input {
		text-transform: lowercase;
	}

	input.create-filter {
		background: rgba(255, 255, 255, 0.9);
		border: 3px solid black;
		line-height: 1.2em;
		padding: 12px 15px;
		text-align: center;
		width: 50%;

		&.location {
			width: 15%;
		}

		&.required {
			border-color: red;
		}
	}

	input::-webkit-input-placeholder {
		   color: @lightGrey;
		}

	input:-moz-placeholder { /* Firefox 18- */
		   color: @lightGrey;
		}

	input::-moz-placeholder {  /* Firefox 19+ */
		   color: @lightGrey;
		}

	input:-ms-input-placeholder {  
		   color: @lightGrey; 
		}

	button {
		background: white;
		border: 3px solid black;
		line-height: 1.2em;
		padding: 12px 15px;
		text-align: center;
		text-transform: uppercase;
	}

	p.tip {
		color: @bgColor;
		font-size: 0.9em;
		margin: 0 auto 0 auto;
		text-align: left;
		text-transform: lowercase;
		width: 50%;
	}

	.tip.warning {
		font-size: 0.9em;
		margin: 6px auto 0 auto;

		p {
			background: white;
			border-radius: 3px;
			-moz-box-shadow: 0 0 2px 2px @darkGrey;
            -webkit-box-shadow: 0 0 2px 2px@darkGrey;
			box-shadow: 0 0 2px 2px @darkGrey;
			display: inline-block;
			color: @darkGrey;
			padding: 3px 20px;
			text-transform: lowercase;
		}
	}

	.negative-terms {
		margin: 12px 0;

		p {
			color: white;
			font-size: 0.9em;
			margin-bottom: 6px;
			text-transform: lowercase;

			i {
				margin-right: 3px;
				vertical-align: baseline;
			}

			&.goal-explanation {
				font-size: 0.8em;
				margin: 6px 0 0 0;
			}
		}

		input {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			font-size: 0.9em;
			margin-bottom: 6px;
			margin-left: 6px;
			min-width: 180px;
			padding: 6px 15px;
			text-align: center;
			text-transform: lowercase;
			width: 30%;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.search-goal {
		margin: 12px 0;

		p {
			color: white;
			font-size: 0.9em;
			margin-bottom: 6px;
			text-transform: lowercase;

			i {
				margin-right: 3px;
				vertical-align: baseline;
			}

			&.goal-explanation {
				font-size: 0.8em;
				margin: 6px 0 0 0;
			}
		}

		ul {
			li {
				background: rgba(255, 255, 255, 0.9);
				border: 3px solid black;
				border-right: none;
				color: @darkGrey;
				cursor: pointer;
				display: inline-table;
				font-size: 0.9em;
				line-height: 1.2em;
				padding: 6px 0;
				text-transform: lowercase;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				width: 100px;

				&:last-child {
					border-right: 3px solid black;
				}

				&.active, &:hover {
					background: rgba(0, 0, 0, 0.3);
					color: white;
				}
			}
		}
	}

	.accurate-search {
		margin-top: 24px;
	}

	.additional-filters {
		margin: 12px auto 0 auto;
		max-width: 960px;
		position: relative;
		text-align: center;
		width: 80%;

		h2 {
			//border-bottom: 1px solid white;
			color: white;
			cursor: pointer;
			font-size: 1.1em;
			line-height: 1.1em;
			text-transform: lowercase;

			i {
				margin-left: 3px;
			}

			span {
				font-size: 0.8em;
			}
		}

		.extra-inputs {
			text-align: center;
		}


		input {
			background: rgba(255, 255, 255, 0.9);
			border: 3px solid black;
			font-size: 0.9em;
			line-height: 1.2em;
			margin-bottom: 6px;
			margin-left: 6px;
			min-width: 180px;
			padding: 6px 15px;
			text-align: center;
			text-transform: lowercase;
			width: 30%;

			&:first-child {
				margin-left: 0;
			}
		}

		input::-webkit-input-placeholder {
			   color: @lightGrey;
			}

		input:-moz-placeholder { /* Firefox 18- */
			   color: @lightGrey;
			}

		input::-moz-placeholder {  /* Firefox 19+ */
			   color: @lightGrey;
			}

		input:-ms-input-placeholder {  
			   color: @lightGrey; 
			}

		button {
			background: white;
			border: 3px solid black;
			padding: 8px 15px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.suggested {
		background: rgba(255, 255, 255, 0.8);
		border: 3px solid black;
		border-top: none;
		color: @darkGrey;
		display: none;
		font-size: 0.9em;
		margin: 10px auto 10px auto;
		padding: 15px 10px 0 10px;
		text-align: center;
		width: 50%;

		ul {
			margin-left: 0 !important;
			padding: 0 10px;
			text-align: center;
		}

		li {
			background: #FFF;
			border: black 2px solid;
			border-radius: 6px;
			color: black;
			cursor: pointer;
			display: inline-table;
			font-size: 0.8em;
			line-height: 20px;
			margin: 0 3px 6px 0;
			padding: 0 6px;
			vertical-align: middle;

			span {
				color: black;
				font-family: "GillSans Bold";
			}

			&:hover {
				background: black;
				color: white;

				span {
					color: white;
				}
			}
		}

		p.tip {
			padding-bottom: 6px !important;
		}

		p.error {
			color: red;
			display: none;
			padding-bottom: 6px !important;
		}

		p.cancel {
			color: @grey;
			cursor: pointer;
			font-size: 0.9em;
			padding: 6px 0;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.content-wrap {
	height: 100%;
	position: relative;
	z-index: 10;

	.content {
		left: 50%;
		margin-left: -480px;
		padding: 50px 0;
		position: absolute;
		text-align: center;
		top: 100px;
		width: 960px;
		z-index: 1;

		&.welcome {
			position: absolute;
  			top: 50%;
  			-webkit-transform: translateY(-50%);
  			-moz-transform: translateY(-50%);
  			transform: translateY(-50%);

			button {
				margin: 30px 0 0 0;
			}

			#welcomeanimation_hype_container {
				margin: 0 auto;
			}

			.go-to-dashboard {
				color: @grey;
				text-decoration: underline;
			}
		}
	}
}

.status-msg-wrap {
	background: url("/static/images/firstTimeUser_bg.jpg");
	background-size: cover;
	bottom: 0;
	height: 100%;
	min-height: 100%;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 8;

	.status-msg {
		background: white;
		border-radius: 10px;
		-moz-box-shadow: 0 0 8px 3px @grey;
		-webkit-box-shadow: 0 0 8px 3px@grey;
	  	box-shadow: 0 0 8px 3px @grey;
		color: @darkGrey;
		display: inline-block;
		margin: 90px 20px 30px 20px;
		padding: 20px 30px;
		position: relative;
		text-align: center;
		top: 15%;
		vertical-align: middle;
	}

	h1 {
		font-size: 1.4em;
	}

	a {
		font-weight: bold;
	}
}

.qtip {
	h2 {
		font-size: 1.2em;
		font-weight: bold;
	}

	aside {
		font-size: 0.9em;
		font-style: italic;
	}

	p {
		font-weight: 0.9em;
		margin-top: 10px;
	}

	.tutorial-left,
	.tutorial-right {
		display: inline-table;
		position: relative;
		vertical-align: top;
		width: 45%;

		img {
			max-width: 100%;
		}
	}

	.tutorial-right { margin-left: 10px; }

	.tour-counter, .tour-buttons {
		text-align: center;
	}
}