@media screen and (max-width: 960px) {

nav.watchlist-actions {
	// background: @level4grey;
	// display: block !important;
	// min-width: 100px !important;
	// z-index: 349058590481905;

	.approach-arrow-right {
		display: none !important;
	}		

	li {
		margin-left: 0 !important;

		&.level-1 {
			margin-left: -20px !important;
		}

		.approach-level {
			text-indent: 0 !important;
			width: 90px !important;
		}
	}
}

ul.contacts-list {
	padding: 0 !important;
	text-align: center !important;
	top: 0 !important;
	width: 100% !important
}

.cards-container {
	padding: 0 !important;
	text-align: center !important;
}

.modal-content {
	margin: 50px auto !important;
}


.close-expanded {
	display: block !important;
}

}