@media screen and (min-width: 800px) and (max-width: 1000px) {

nav.main_menu {
	position: fixed !important;
	top: 75px !important;

	li {
		width: 50% !important;

		ul.filter-list,
		ul.watchlist-list {
			width: 100% !important;

			li {
				width: 85% !important;
			}
		} 
	}
}

#username-menu p.username { display: none !important; }

#wrapper {
	padding-top: 145px !important;
}

.results-toolbar {
	min-width: 800px !important;
	overflow-x: auto !important;
	top: 145px !important;
}

.contacts-list {
	top: 200px !important
}

.loading-results {
	margin-top: 240px !important;
}

.signals-modal {
	top: 195px !important;
}

}