#create-list-nav {
	background: @level3;
	box-shadow: 0 6px 3px -3px @grey;
	position: fixed;
	top: 55px;
	width: 100%;
	text-align: right;
	z-index: 10;

	li.step {
		background: @grey;
		color: white;
		cursor: default;
		display: inline-table;
		font-size: 0.9em;
		line-height: 40px;
		list-style: none;
		text-align: center;
		text-transform: uppercase;
		vertical-align: top;
		width: 50%;

		i {
			margin-left: 6px;
			vertical-align: baseline;
		}

		&.active {
			&.step1 {
				background: @level3;
			}

			&.step2 {
				background: @purple;
			}
		}

		&.disabled {
			cursor: not-allowed;
		}
	}
}

.title-step {
	vertical-align: top;

	.step-title {
		display: inline-table;
		vertical-align: middle;
		width: 100%;

		p {
			color: white;
		}
		
		.top {
			background: @darkGrey;
			border-right: 12px solid @grey;
			position: relative;

			p {
				color: white;
				font-size: 0.8em;
				padding: 12px;
				text-transform: uppercase;
			}
		}

		.bottom {
			background: white;
			text-align: left;

			p.step-number {
				font-family: 'GillSans SemiBold';
				font-size: 4.5em;
				margin-left: 12px;
			}

			.list-data {
				padding-bottom: 12px;

				.list-title {
					color: white;
					margin-bottom: 12px;
					padding: 12px 24px;
					position: relative;
					text-align: center;

					h1 {
						font-size: 1.4em;
						margin: 0;
						word-break: break-all;

						&.edit {
							cursor: pointer;
						}

						i {
							margin-right: 6px;
							vertical-align: baseline;
						}
					}

					form {

						input {
							background: none;
							border: none;
							border-bottom: 2px solid white;
							box-shadow: none;
							color: white;
							font-size: 1.4em;
							padding: 0 0 3px 0;
							text-align: center;
							width: 100%;

							&.name {
								font-size: 1.2em;
							}

							&.email {
								font-size: 1em;
							}

							&.password {
								font-size: 1em;
								margin-top: 6px;
							}

							&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
							    color: @lightGrey;
							}
							&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
							   color: @lightGrey;
							   opacity:  1;
							}
							&::-moz-placeholder { /* Mozilla Firefox 19+ */
							   color: @lightGrey;
							   opacity:  1;
							}
							&:-ms-input-placeholder { /* Internet Explorer 10-11 */
							   color: @lightGrey;
							}
							&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
							  color: @lightGrey;
							}

							&:focus {
								outline: none;
							}
						}

						p {
							font-size: 0.8em;
							margin-top: 12px;
							text-transform: lowercase;
							
							&.tip {
								color: @bgColor;
							}

							&.warning {
								background: white;
								border: 3px solid red;
								border-radius: 6px;
								color: red;
								padding: 3px 12px;
							}
						}

						button {
							display: inline-table;
							margin-top: 0px;

							&.save {
								background: @orange;
								border: none;
								color: white;
								text-transform: uppercase;
								
								&:hover,
								&:active,
								&:focus {
									background: @darkOrange;
								}
							}

							&.cancel {
								background: none;
								border: none;
								color: @bgColor;
								text-transform: lowercase;

								&:hover,
								&:active,
								&:focus {
									background: none;
									color: white;
									text-decoration: underline;
								}
							}
						}
					}					
				}

				p {
				 	color: @grey;
				 	margin: 0 12px;
				 	text-align: center;
				 	text-transform: lowercase;

				 	span {
				 		color: @darkGrey;
				 		font-size: 0.9em;
				 		text-transform: uppercase;
				 	}
				}

				hr {
					border-color: @darkGrey;
					margin: 12px;
				}

				.search {
					color: @darkGrey;
					margin:  0 12px;

					ul.terms {
						background: @bgColor;
						border-radius: 6px;
						margin-bottom: 6px;
						padding: 12px;

						li {
							border-bottom: none;
							color: @darkGrey;
							display: inline-table;
							line-height: 1.2em;
							margin-right: 3px;
							text-transform: lowercase;

							&:last-child {
								margin-right: 0;
							}

							&.title {
								color: @grey;
							}

							i {
								vertical-align: baseline;
							}

							&:after {
								content: ',\00a0';
							}

							&.title:after,
							&:last-child:after {
								content: '';
							}
						}
					}

					ul.advanced-search {
						margin: 12px 0;

						li {
							margin-bottom: 12px;
							text-transform: lowercase;

							i {
								margin-right: 3px;
								vertical-align: baseline;
							}
						}
					}
				}

				.monitoring-switch {
					padding: 0 12px;
					text-align: center;
					width: 100%;

					p {
						display: inline-table;
						margin: 0;
					}
				}

				/* The switch - the box around the slider */
				.switch {
				  display: inline-table;
				  height: 24px;
				  margin-left: 3px;
				  position: relative;
				  vertical-align: middle;
				  width: 48px;
				}

				/* Hide default HTML checkbox */
				.switch input {display:none;}

				/* The slider */
				.slider {
				  position: absolute;
				  cursor: pointer;
				  top: 0;
				  left: 0;
				  right: 0;
				  bottom: 0;
				  background-color: #ccc;
				  -webkit-transition: .4s;
				  transition: .4s;
				}

				.slider:before {
				  position: absolute;
				  content: "";
				  height: 16px;
				  width: 16px;
				  left: 4px;
				  bottom: 4px;
				  background-color: white;
				  -webkit-transition: .4s;
				  transition: .4s;
				}

				input:checked + .slider {
				  background-color: @level3;
				}

				input:focus + .slider {
				  box-shadow: 0 0 1px #2196F3;
				}

				input:checked + .slider:before {
				  -webkit-transform: translateX(26px);
				  -ms-transform: translateX(26px);
				  transform: translateX(26px);
				}

				/* Rounded sliders */
				.slider.round {
				  border-radius: 12px;
				}

				.slider.round:before {
				  border-radius: 50%;
				}

				.engage-mode-data {

					.mode {
						background: white;
						border: 3px solid @greenPurple;
						border-radius: 12px;
						cursor: pointer;
						margin: 24px 12px;
						max-width: 480px;
						padding: 6px;
					

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}

						p {
							color: @greenPurple;
							font-size: 1em;
						}

						i {
							color: @greenPurple;
							font-size: 1em;
							vertical-align: middle;

							&.fa-arrow-right {
								font-size: 0.6em;
							}
						}

						.action-button {
							display: inline-table;
						}

						hr {
							display: inline-table;
							border-right: 1px solid @greenPurple;
							height: 24px;
							vertical-align: middle;
						}

						.sequence {
							margin-top: 3px;
							text-align: center;
						}
					}
				}
			}
		}

		.edit-list {
			margin-bottom: 12px;
			margin-top: 24px;
			position: relative;
			text-align: center;

			button {
				background: @lightGrey !important;
				border: 3px solid transparent;
				border-radius: 6px;
				color: white;
				line-height: 1.2em;
				margin: 0 auto !important;
				padding: 0 32px !important;
				text-transform: lowercase !important;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;

				&:hover {
					background: @grey !important;
				}
			}
		}

		&.step1 {

			.top {
				border-color: @level3;
			}

			.bottom {
				p.step-number {
					color: @level3;
				}

				.list-data .list-title {
					background: @level3;
				}
			}
		}

		&.step2 {

			.top {
				border-color: @greenPurple;
			}

			.bottom {
				p.step-number {
					color: @greenPurple;
				}

				.list-data .list-title {
					background: @greenPurple;
				}
			}
		}

		&.step3 {

			.top {
				border-color: @purple;
			}

			.bottom {
				p.step-number {
					color: @purple;
				}

				.list-data .list-title {
					background: @purple;
				}
			}
		}
	}

	&.active, &:hover {

		.top {
			background: @darkGrey;
		}

		.bottom {
			background: white;
		}

		&.step-build {

			.top{
				border-color: @purple;

				p {
					color: white;
				}
			}

			.bottom {
				p {
					color: @purple;
				}
			}
		}

		&.step-engage {

			.top{
				border-color: @level3;
			}

			.bottom {
				p {
					color: @level3;
				}
			}
		}
	}
}

.title-balloon {
	border: 3px solid @darkGrey;
	border-radius: 12px;
	display: inline-table;
	margin-bottom: 32px;
	padding: 12px;
	text-align: center;
	vertical-align: top;
	width: 100%;

	&.margin-top {
		display: block;
		margin: 140px auto 32px auto;
		max-width: 960px;
		width: 80%;
	}

	.glyph {
		display: inline-table;
		vertical-align: middle;
		width: 64px;

		.icon {
			height: 64px !important;
			width: 64px !important
		}
	}

	h2 {
		color: @darkGrey !important;
		font-size: 2em !important;
		margin-top: 6px;
		display: inline-table !important;
		vertical-align: middle;
		letter-spacing: normal !important;
		text-align: center !important;
		text-shadow: none !important;
		text-transform: none !important;
		width: auto;
	}
}

.block-create-list {
	margin: 0 auto;
	max-width: 1280px;
	padding: 140px 10% 64px 10%;
	position: relative;

	&.no-margin-bottom {
		margin-bottom: 0 !important;
	}

	.left, .right {
		display: inline-block;
		vertical-align: top;
	}

	.left {
		margin-right: 5%;
		width: 25%;
	}

	.right {
		width: 70%;
	}

	.list-name {
		font-size: 1.2em;
		margin-top: 24px;
		text-align: center;

		input {
			background: none;
			border: none;
			border-bottom: 2px solid @darkGrey;
			box-shadow: none;
			color: @darkGrey;
			text-indent: 12px;
			text-transform: none !important;
			width: 270px;

			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color: @grey;
			    text-transform: lowercase;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color: @grey;
			   text-transform: lowercase;
			   opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color: @grey;
			   opacity:  1;
			   text-transform: lowercase;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color: @grey;
			   text-transform: lowercase;
			}
			&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
			  color: @grey;
			  text-transform: lowercase;
			}

			&:focus {
				outline: none;
			}
		}

		button {
			border: 2px solid @darkGrey;
			color: @darkGrey;
			margin-left: 12px;
			padding: 3px 12px;
			text-transform: lowercase;
		}

		.tip {
			font-size: 0.9em;
			margin-bottom: 3px;
			text-transform: lowercase;

			&.warning {
				color: red;
				margin-bottom: 0;
			}

			&.margin-top {
				margin-top: 3px;
			}
		}
	}

}

.next-step {
	margin-top: 48px;
	text-align: center;
	width: 100%;

	button {
		background: @orange;
		border: 3px solid transparent;
		border-radius: 6px;
		color: white;
		font-size: 1em;
		line-height: 1.2em;
		min-width: 300px;
		padding: 12px 15px;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: @darkOrange;
		}
	}
}

.just-create-list {
	margin-top: 32px;
	text-align: center;
	width: 100%;

	.no-search {
		background: white !important;
		border: 1px solid @darkGrey !important;
		border-radius: 6px;
		color: @darkGrey !important;
		font-size: 0.9em;
		line-height: 1.2em;
		min-width: 300px;
		padding: 6px 12px;
		text-align: center;
		text-transform: none !important;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: white;
			text-decoration: underline;
		}
	}
}

#search-setup {
	font-size: 1.1em;
	margin-top: 32px;

	input {
		background: rgba(255, 255, 255, 1);
		border: 3px solid black;
		color: @darkGrey;
		line-height: 1.2em;
		padding: 12px 0;
		text-align: left;
		text-indent: 12px;
		text-transform: lowercase;
		width: 100%;

		&.required {
			border-color: red;
		}

		&.watchlist-name {
			max-width: 320px;
		}


		input::-webkit-input-placeholder {
			   color: @lightGrey;
			}

		input:-moz-placeholder { /* Firefox 18- */
			   color: @lightGrey;
			}

		input::-moz-placeholder {  /* Firefox 19+ */
			   color: @lightGrey;
			}

		input:-ms-input-placeholder {  
			   color: @lightGrey; 
			}
	}

	button {
		background: @orange;
		border: 3px solid transparent;
		border-radius: 6px;
		color: white;
		font-size: 1em;
		line-height: 1.2em;
		padding: 12px 15px;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: @darkOrange;
		}
	}


	p.tip {
		margin-top: 3px;
		text-transform: lowercase;

		&.warning {
			color: red;
		}
	}

	p.show-advanced {
		background: @darkGrey;
		border-radius: 8px;
		color: white;
		cursor: pointer;
		line-height: 16px;
		margin: 12px auto 0 auto;
		max-width: 300px;
		padding: 3px 24px;
		text-transform: lowercase;
	}

	p.warning {
		color: red;
		margin-bottom: 3px;
		padding: 0;
		text-transform: lowercase;
	}

	p.included-terms {
		color: @darkGrey;
		font-size: 0.9em;
		margin: 12px 0 0 0;
		padding: 0;
		text-transform: lowercase;
	}

	.terms {
		ul {
			background: @lightGrey;
			margin: 6px auto 0 auto;
			//max-width: 640px;
			padding: 12px 24px;
			
			li {
				border-bottom: none;
				color: white;
				display: inline-table;
				font-size: 0.9em;
				margin-right: 6px;
				text-transform: lowercase;
				word-break: normal;
				
				&:after {
					content: ', ';
				}

				&:last-child:after {
					content: '';
				}

				span.delete {
					font-size: 0.8em;
					color: @grey;
					cursor: pointer;

					&:hover {
						color: red;
					}
				}

				&.empty { color: red; }
			}
		}
	}

	.advancedSearchTrigger {
		margin: 24px 0;

		p {
			//background: @darkGrey;
			border-bottom: 3px solid @darkGrey;
			border-radius: 3px;
			color: @darkGrey;
			cursor: pointer;
			margin: 12px auto;
			line-height: 32px;
			text-align: center;
			text-transform: lowercase;
			width: 100%;

			i {
				font-size: 0.8em;
				margin: 0 3px;
				vertical-align: middle;
			}
		}
	}

		.advancedSearch-wrap {
			text-align: center;
		}

		.advancedSearch { 
			margin:  0 auto;
			max-width: 640px;

			&.block {
				display: inline-table;
				margin: 0 auto;
				min-width: 280px;
				max-width: 360px;
				padding: 12px;
				vertical-align: middle;
				width: 25%;
			}

			.section-title {
				//border-bottom: 1px solid @darkGrey;
				color: @darkGrey;
				cursor: pointer;
				font-size: 0.9em;
				margin: 12px 0 6px 0;
				padding: 6px 0;
				text-align: left;

				p {
					display: inline-table;
				}

				i {
					display: inline-table;
					vertical-align: baseline;

					&.left { margin-right: 3px; }
					&.right { margin-left: 3px; }
				}
			}

			.terms-condition,
			.negative-terms,
			.search-goal {
				margin: 12px 0 18px 0;

				p {
					color: @darkGrey;
					font-size: 0.9em;
					margin-bottom: 6px;
					text-align: center;
					text-transform: lowercase;

					i {
						color: @darkGrey;
						margin-right: 3px;
						vertical-align: baseline;
					}

					&.goal-explanation {
						color: @darkGrey;
						font-size: 0.8em;
						margin: 6px 0 0 0;
					}
				}

				ul {
					text-align: center;

					li {
						background: white;
						border: 2px solid black;
						border-right: none;
						color: @darkGrey;
						cursor: pointer;
						display: inline-table;
						font-size: 0.8em;
						padding: 6px;
						text-align: center;
						text-transform: lowercase;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
						transition: all .2s ease-in-out;

						&:first-child {
							border-bottom-left-radius: 6px;
							border-top-left-radius: 6px;
						}

						&:last-child {
							border-bottom-right-radius: 6px;
							border-right: 2px solid black;
							border-top-right-radius: 6px;
						}

						&.active, &:hover {
							background: @grey;
							color: white;
						}
					}
				}
			}

			.item {
				font-size: 0.9em;
				margin: 12px auto 6px auto;
				position: relative;
				width: 80%;

				i {
					color: @darkGrey;
					font-size: 1em;
					display: inline-table;
					margin-bottom: 12px;
					vertical-align: middle;
					text-align: center;
					width: 10%;

					&.last {
						margin-bottom: 0;
					}

					&.required {
						color: red;
					}
				}

				input, select {
					color: @grey;
					display: inline-table;
					height: 24px;
					font-size: 0.9em;
					vertical-align: middle;
				}

				input {
					border: 2px solid @grey;
				    border-radius: 6px;
				    display: inline-table;
				    margin-bottom: 12px;
				    margin-top: 0;
					padding-right: 6px;
					text-indent: 6px;
					width: 90%;

					&:placeholder-shown {
						text-transform: lowercase;
					}

					&:last-child {
						margin-bottom: 0;
					}

					&.required {
						border-color: red;
					}

					&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color: @lightGrey;
					}
					&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color: @lightGrey;
					   opacity:  1;
					}
					&::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color: @lightGrey;
					   opacity:  1;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color: @lightGrey;
					}
					&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
					  color: @lightGrey;
					}

					&:focus {
						outline: none;
					}

					&.negative-terms-input {
						width: 100%;
					}
				}

				select {
					-webkit-align-items: center;
				    -webkit-appearance: none;
				    -webkit-rtl-ordering: logical;
				    -webkit-writing-mode: horizontal-tb;
				    background-color: @grey;
				    -webkit-border-radius: 0px !important;
				    border-radius: 0;
				    border: 0;
				    border-image-outset: 0px;
				    border-image-repeat: stretch;
				    border-image-slice: 100%;
				    border-image-source: none;
				    border-image-width: 1;
					border-bottom-left-radius: 6px !important;
					border-top-left-radius: 6px !important;
				    box-sizing: border-box;
				    color: white;
				    cursor: pointer;
				    display: inline-table;
				    font-weight: normal;
				    letter-spacing: normal;
				    line-height: normal;
				    margin: 0;
				    padding: 0;
				    text-align: start;
				    text-indent: 6px;
				    text-shadow: none;
				    text-transform: lowercase;
				    white-space: pre;
				    word-spacing: 0px;
				    width: 40%;
				}

				.caret {
					pointer-events: none;
					position: absolute;
					left: 64px;
					top: 11px;

					&:before {
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid transparent;
						content: '';
						right: 0;
						position: absolute;
						top: 0;
					}

					&:after {
						border-left: 0 solid transparent;
						border-right: 0 solid transparent;
						border-top: 4px solid white;
						content: '';
						right: 0;
						position: absolute;
						top: 0;
					}
				}

				.remove-item {
					color: red;
					display: inline-table;
				}

			}

			.add-more-filters {
				text-align: right;
				
				p {
					color: @lightGrey;
					cursor: pointer;
					font-size: 0.9em;
					text-transform: lowercase;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		p.give-name,
		p.name-tip {
			color: white;
			font-size: 0.9em;
			padding: 0;
			text-transform: lowercase;
		}

		p.give-name {
			margin: 12px 0 6px 0;
		}

		p.name-tip {}

		button.saveWatchlist {
			background: @grey;
			border: 3px solid @darkGrey;
			border-radius: 6px;
			color: white;
			font-size: 1em;
			margin: 12px 0 0 0;
			max-width: 320px;
			padding: 12px 24px;
			text-align: center;
			text-transform: uppercase;
			width: 100%;

			&:hover {
				background: @darkGrey;
				color: white;
			}
		}

	button.engage-after-bookmark {
		background: white;
		border: 3px solid @orange;
		color: @orange;
		margin-top: 32px;
		text-transform: none;

		&:hover {
			background: white;
			border-color: @darkOrange;
			color: @darkOrange;
		}
	}
}

.search-data {
	background: white;
	border: 3px solid @purple;
	border-radius: 12px;
	cursor: pointer;
	margin-bottom: 24px;

	h1.list-name {
		background: @purple;
		color: white;
		font-size: 1.2em;
		height: auto;
		line-height: 1.2em;
		margin: 0;
		margin: 0 0 12px 0;
		padding: 12px;
		text-align: center;

		i {
			margin-right: 12px;
			vertical-align: baseline;
		}
	}

	.search {
		color: @darkGrey;
		margin:  12px;

		ul.terms {
			background: @bgColor;
			border-radius: 6px;
			margin-bottom: 12px;
			padding: 12px;

			li {
				border-bottom: none;
				color: @darkGrey;
				display: inline-table;
				line-height: 1.2em;
				margin-right: 3px;
				text-transform: lowercase;

				&:last-child {
					margin-right: 0;
				}

				&.title {
					color: @grey;
				}

				i {
					vertical-align: baseline;
				}

				&:after {
					content: ',\00a0';
				}

				&.title:after,
				&:last-child:after {
					content: '';
				}
			}
		}

		ul.advanced-search {
			margin: 12px 0 12px 12px;

			li {
				display: inline-table;
				margin: 0 12px 12px 0;
				text-transform: lowercase;

				i {
					margin-right: 3px;
					vertical-align: baseline;
				}

				&:last-child {
					margin-right: 0;
				}

				&:after {
					content: ',\00a0';
				}

				&.title:after,
				&:last-child:after {
					content: '';
				}
			}
		}
	}
}

#engage-mode {
	position: relative;

	h3 {
		font-size: 1.2em;
		cursor: pointer;
		text-transform: lowercase;

		span {
			background: white;
			border: 2px solid @greenPurple;
			border-radius: 6px;
			color: @greenPurple;
			margin-left: 12px;
			padding: 3px 24px;
			text-transform: none;
		}

		i {
			margin-left: 3px;
			vertical-align: baseline;
		}
	}

	.engage-setup {
		width: 100%;
		z-index: 23;

		ul {
			padding-top: 24px;
			text-align: center;

			li.mode {
				background: @grey;
				border: 3px solid @darkGrey;
				border-radius: 12px;
				cursor: pointer;
				margin: 24px auto;
				max-width: 480px;
				padding: 12px;
				width: 90%;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				p {
					color: white;
					font-size: 1.1em;
				}

				i {
					color: white;
				}

				.action-button {
					background: white;
					border-radius: 6px;
					display: inline-table;
					font-size: 0.9em;
					margin: 12px 6px;
					padding: 12px;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					p {
						color: @greenPurple;
					}

					i {
						color: @greenPurple;
						vertical-align: baseline;
					}
				}

				hr {
					display: inline-table;
					border-right: 1px solid white;
					height: 24px;
					vertical-align: middle;
				}

				.sequence {
					border: 3px solid white;
					border-radius: 12px;
					margin-top: 12px;
				}

				&:hover, &.active {
					background: white;
					border-color: @greenPurple;

					p {
						color: @greenPurple;
					}

					i {
						color: @greenPurple;
					}

					.action-button {
						background: @greenPurple;

						i {
							color: white;
						}
					}

					.sequence {
						border-color: @greenPurple;
					}

					hr {
						border-color: @greenPurple;
					}
				}
			}
		}

		.engage-explanation {
			font-size: 1em;
			opacity: 1;

			.tooltip-arrow {
				border-bottom-color: @greenPurple;
			}

			.tooltip-inner {
				background: @greenPurple;
				-moz-box-shadow: 0 0 3px 1px @darkGrey;
        	    -webkit-box-shadow: 0 0 3px 1px @darkGrey;
				box-shadow: 0 0 3px 1px @darkGrey;
				max-width: 300px;
				opacity: 1;
				padding: 12px;
			}
		}
	}
}

#add-people {
	.source {
		background: white;
		border: 3px solid @purple;
		border-radius: 6px;
		cursor: pointer;
		display: inline-table;
		margin: 0 1%;
		margin-top: 12px;
		padding: 24px;
		position: relative;
		text-align: center;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 48%;

		&:hover {
			background: @purple;

			i, p {
				color: white;
			}

			.coming-soon {
				display: block;
			}
		}

		&.disabled {
			background: @lightGrey;
			border-color: @grey;
			cursor: not-allowed;

			i, p {
				color: @grey;
			}
		}

		.coming-soon {
			bottom: 6px;
			display: none;
			font-family: "GillSans bold";
			font-size: 0.6em;
			left: 0;
			padding: 0 24px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}

		p {
			color: @purple;
			line-height: 1.2em;
			font-size: 1.2em;
			margin-top: 6px;
			text-align: center;

			i {
				font-size: 1em;
				margin-right: 6px;
				vertical-align: baseline;
			}
		}

		i {
			color: @purple;
			font-size: 2em;
			vertical-align: baseline;
		}
	}
}

.list-container {
	display: flex;
  	flex-flow: column;
	height: 100% !important;
	//overflow: hidden;

	&.margin-top {
		margin-top: 32px !important;
	}
}

.gridStyle {
	flex: 1 1 auto;
}

.ngViewport.ng-scope {
	flex: 1 1 auto;
}

.ui-grid-viewport {
	display: flex;
  flex-flow: column;
    overflow-anchor: none;
}

.ui-grid-row:hover .ui-grid-cell {
  background-color: @purple;
  color: white;
  cursor: pointer;
}

.uiGrid {
	flex: 1 1 auto;
	font-size: 0.9em;
	width: 100%;

	input {
		color: @darkGrey !important;
		padding: 0 6px !important;
	}

	.ui-grid-header-cell-wrapper, .ui-grid-menu-button {
		background: @grey;
		color: white;
		text-align: center;
		text-transform: lowercase;


		.ui-grid-invisible {
			display: none !important;
		}
	}

	.ui-grid-header-cell {
		vertical-align: middle;

		.ui-grid-column-menu-button {
			display: none;
		}
	}

	.ui-grid-menu-button {
		font-size: 1.2em;
		text-align: center !important;
		width: 50px;

		i {
			&:before{
				margin: 0 !important;
				padding: 0 6px !important;
				text-align: center !important;
			}
		}
	}

	.ui-grid-menu-items {
		color: @darkGrey;
	}

	.ui-grid-selection-row-header-buttons.ui-grid-icon-ok {
		color: @bgColor;
	}

	.ui-grid-selection-row-header-buttons {
		line-height: 60px;
		opacity: 0.3;
		vertical-align: middle;

		&:before{
			color: @bgColor;

			&:hover {
				color: @darkPurple !important;
			}
		}
	}

	.ui-grid-disable-selection {
		background: @lightGrey;
	}

	.ui-grid-all-selected {
		color: white;
		opacity: 1;

		&:before{
			color: @darkPurple;
		}
	}

	.level1 {
		background: @level1 !important;
		color: white;
	}

	.level2 {
		background: @level2 !important;
		color: white;
	}

	.level3 {
		background: @level3 !important;
		color: white;
	}

	.level4 {
		background: @level4 !important;
		color: white;
	}

	.ui-grid-row-selected{
		opacity: 1;

		&:before{
			color: @darkPurple;
		}

		.ui-grid-cell {
			background: @darkPurple !important;
			color: white;
		}
	}

	.ui-grid-row.ng-scope.ui-grid-row-selected {
		background: yellow;
	}

	.ui-grid-row, .ui-grid-cell {
		border: none !important;
		line-height: 50px;
		vertical-align: middle;
	}

	.ui-grid-icon-container {
		text-align: center !important;
	}

	.ui-grid-cell-contents.ng-binding {
		padding: 5px 12px;
	}

	.image-cell {
		text-align: center;
			
		.list-img {
			padding: 6px 0;

			img {
				border-radius: 24px;
				height: 48px;
				vertical-align: top;
			}
		}
	}

	.network {
		text-align: center;
	}

	.cell-list {
		display: inline-table;
		padding: 5px 3px;

		&:first-child {
			padding-left: 12px;
		}

		&:last-child {
			padding-right: 12px;

			&:after {
				content: '';
			}
		}

		&:after {
			content: ',';
		}
	}
}

.ui-grid-menu-button {
	border: none;
	height: auto;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 80px !important;

	.ui-grid-menu {
		left: 0;
		right: inherit;
		font-size: 0.8em;

		.ui-grid-menu-mid {
			min-width: 200px;
		}
	}

	.ui-grid-icon-container {
		background: white;
		border-bottom-right-radius: 6px;
		color: @darkGrey;
		font-size: 0.8em;
		line-height: 20px;
		margin: 0;

		i {
			color: @darkGrey;
			vertical-align: middle;

			&:after {
				content: '\00a0 menu';
				font-style: normal;
			}
		}
	}
}

.bulk-actions {
	margin: 12px 0 0 0;
	text-align: center;

	button {
		background: @lightGrey;
		border-radius: 6px;
		cursor: not-allowed;
		font-size: 1em;
		color: white;
		line-height: 1.1em;
		margin-right: 3%;
		margin-bottom: 12px;
		max-width: 120px;
		padding: 6px 6px 12px 6px;
		text-transform: lowercase;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		transition: all .2s linear;
		width: 24%;

		&:focus {
			outline: none;
		}

		&.active {
			cursor: pointer;

			&.level1 {
				background: @level1;
			}

			&.level2 {
				background: @level2;
			}

			&.level3 {
				background: @level3;
			}

			&.level4 {
				background: @level4;
			}

			&.tag {
				background: @lightPurple;
			}

			&.watchlist {
				background: @purple;
			}

			&:hover {
				-moz-box-shadow: 0 0 8px 3px @grey;
        	    -webkit-box-shadow: 0 0 8px 3px @grey;
				box-shadow: 0 0 8px 3px @grey;
			}
		}

		p {
			font-size: 0.8em;
			line-height: 1em;
			margin-top: 6px;
		}
	}
}

.bulkTapModal,
.bulkTouchModal,
.bulkConnectModal,
.bulkContactModal,
.bulkTagModal,
.bulkWatchlistModal {
	background: rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	padding: 0!important;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		display: inline-block;
		max-width: 960px;
		text-align: left;
		vertical-align: middle;
		width: 80%;
	}

	.bulk-modal-pref-wrapper {
		background: @bgColor;
		border-radius: 6px;
		margin-bottom: 18px;
		padding: 12px;
	}

	.bulk-modal-content-wrapper {
		border: 3px solid @darkGrey;
		border-radius: 6px;
		padding: 0 12px;
	}

	.modal-content {
		padding: 30px;

		h1.sending-info {
			color: @darkGrey;
			font-size: 1.4em;
			margin: 18px 0;
			text-align: left;
			text-transform: lowercase;

			i {
				margin-right: 3px;
				vertical-align: middle;
			}

			&.linkedin {
				i {
					color: @linkedin;
				}
			}

			&.twitter {
				i {
					color: @twitter;
				}
			}

			i.fa-heart {
				color: @level1;
			}

			i.fa-reply {
				color: @level2;
			}

			i.fa-user-plus {
				color: @level3;
			}

			i.fa-comment {
				color: @level4;
			}

			i.fa-tag {
				color: @lightPurple;
			}

			i.fa-eye {
				color: @purple;
			}

			&.disabled {
				color: @lightGrey;

				i {
					color: @lightGrey;
				}
			}
		}

		h2 {
			color: @darkGrey;
			font-size: 1.2em;
			text-align: center;
			text-transform: lowercase;

			i {
				cursor: pointer;

				&.linkedin.selected {
					color: @linkedin;
				}

				&.twitter.selected {
					color: @twitter;
				}
			}
		}

		aside {
			color: @grey;
			font-size: 1em;
			text-align: center;
			text-transform: lowercase;
		}


		ul {
			margin: 0 32px 6px 32px;
			text-align: center;

			li.addressee {
				color: @grey;
				display: inline-table;
				margin: 0 24px 12px 0;

				&:last-child {
					margin-right: 0;
				}

				&.disabled {
					color: @lightGrey;

					&:after {
						color: @grey;
					}
				}

				&.empty {
					color: @lightGrey;
					text-transform: lowercase;
				}

				i {
					cursor: pointer;
					font-size: 1em;
					margin-right: 4px;
					vertical-align: baseline;

					&.linkedin.selected {
						color: @linkedin;
					}

					&.twitter.selected {
						color: @twitter;
					}
				}

				span.delete {
					color: @lightestRed;
					cursor: pointer;

					&:hover {
						color: red;
					}
				}
			}
		}

		p.tip {
			color: @grey;
			margin: 12px 0;
			text-align: center;
			text-transform: lowercase;

			i {
				margin-right: 3px;
				vertical-align: baseline;
			}
		}

		input {
			border: 1px solid @darkGrey;
			margin-bottom: 12px;
			padding: 6px;
			width: 100%;

			&.subject {
				margin-top: 12px;
			}

			&.tag {
				border: 1px solid @lightPurple;
				border-radius: 3px;
				margin-bottom: 24px;
				max-width: 300px;
				text-transform: lowercase;
				width: 100%;
			}
		}

		ul.dropdown-menu {
			margin: 0;
			padding: 6px 0;
			width: auto;

			li {
				color: @grey;
				display: block;
				font-size: 0.9em;
				margin: 0;
				padding: 0;
				text-align: left;


				a {
					background: none;
					padding: 3px 12px;
				}

				&:hover,
				&.active {
					color: white;

					a {
						background: @lightPurple;
					}
				}
			}
		}

		textarea {
			max-width: 100%;
			min-height: 120px;
			padding: 6px;
			width: 100%;

			&.margin-top {
				margin-top: 12px;
			}
		}

		.bulk-watchlist-tag {
			text-align: center;
		}

		.bulk-watchlist-wrap {
			position: relative;
			text-align: center;
			width: 100%;
		}

		.bulk-watchlist {
			@height: 32px;

			background-color: @purple;
			display: inline-table;
			height: @height;
			margin: 0 auto 24px auto;
			max-width: 300px;
			width: 100%;

			i {
				color: white;
				padding: 0 0 0 10px;
				vertical-align: middle;
			}

			select {
				-webkit-align-items: center;
			    -webkit-appearance: menulist-button;
			    -webkit-rtl-ordering: logical;
			    -webkit-writing-mode: horizontal-tb;
			    background-color: @purple;
			    -webkit-border-radius: 0px !important;
			    border-radius: 0;
			    border: 0;
			    border-image-outset: 0px;
			    border-image-repeat: stretch;
			    border-image-slice: 100%;
			    border-image-source: none;
			    border-image-width: 1;
			    box-sizing: border-box;
			    color: white;
			    cursor: pointer;
			    display: inline-table;
			    font-size: 0.9em;
			    font-weight: normal;
			    height: @height;
			    letter-spacing: normal;
			    line-height: normal;
			    margin: 0;
			    padding: 0;
			    text-align: start;
			    text-indent: 0px;
			    text-shadow: none;
			    text-transform: lowercase;
			    vertical-align: middle;
			    white-space: pre;
			    word-spacing: 0px;

				&:focus, &:active {
					border: none !important;
					outline: none !important;
				}

				option {
					background: white !important;
					color: @grey !important;
				}
			}
		}

		.button-area {
			margin-top: 18px;
			text-align: center;
			width: 100%;

			button {
				border-radius: 6px;
				padding: 6px 24px;
				text-transform: lowercase;
				-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				transition: all .2s linear;

				&.social {
					color: white;
					cursor: pointer;
					display: block;
					margin: 0 auto 12px auto;

					i {
						vertical-align: baseline;
					}

					&.linkedin {
						background: @linkedin;

						&:hover {
							background: @darkLinkedin;
						}
					}

					&.twitter {
						background: @twitter;

						&:hover {
							background: @darkTwitter;
						}
					}
				}

				&.submit {
					color: white;

					&.level1 {
						background: @level1;
					}

					&.level2 {
						background: @level2;
					}

					&.level3 {
						background: @level3;
					}

					&.level4 {
						background: @level4;
					}

					&.tag {
						background: @lightPurple;
					}

					&.watchlist {
						background: @purple;
					}

					&:hover {
						-moz-box-shadow: 0 0 4px 2px @grey;
        			    -webkit-box-shadow: 0 0 4px 2px @grey;
						box-shadow: 0 0 4px 2px @grey;
					}

					&.disabled {
						background: @lightGrey;
						cursor: not-allowed;

						&:hover {
							-moz-box-shadow: none;
							-webkit-box-shadow: none;
							box-shadow: none;
						}

						&:focus {
							outline: none;
						}
					}
				}

				&.cancel {
					background: none;
					color: @grey;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.template-actions {
		text-align: center;
	}
}

#list-settings-panel-trigger {
	color: white;
	cursor: pointer;
	position: absolute;
	right: 24px;
	text-transform: lowercase;
	top: 8px;
	z-index: 99;

	i {
		color: white;
		font-size: 1.4em;
		margin-left: 6px;
		vertical-align: middle;
	}
}

#list-settings-panel {
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	-moz-box-shadow: -8px 0px 12px -2px @darkGrey;
	-webkit-box-shadow: -8px 0px 12px -2px @darkGrey;
	box-shadow: -8px 0px 12px -2px @darkGrey;
	color: white;
	display: none;
	margin-top: 55px;
	max-width: 390px;
	overflow: auto;
	padding: 0 0 96px 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000000;

	.list-settings-wrap {
		display: none;
		margin: 0 auto;
		max-width: 390px;
	}

	.list-name {

		i, h1, form {
			display: inline-table;
			vertical-align: top;
		}

		i {
			font-size: 1.4em;
			margin-right: 6px;
			vertical-align: baseline;
		}

		h1 {
			font-size: 1.4em;
			margin: 0;

			.edit {
				color: @lightGrey;
				cursor: pointer;
				font-size: 0.8em;

				&:hover {
					color: @white;
				}
			}
		}

		form {
			margin-left: 18px;
			max-width: 240px;

			input {
				background: none;
				border: none;
				border-bottom: 2px solid white;
				box-shadow: none;
				color: white;
				font-size: 1.4em;
				padding: 0 0 6px 0;
				text-align: left;

				&.name {
					font-size: 1.2em;
				}

				&.email {
					font-size: 1em;
				}

				&.password {
					font-size: 1em;
					margin-top: 6px;
				}

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color: @lightGrey;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color: @lightGrey;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color: @lightGrey;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color: @lightGrey;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				  color: @lightGrey;
				}

				&:focus {
					outline: none;
				}
			}

			.tip {
				font-size: 0.9em;
				margin-top: 3px;
				text-transform: lowercase;

				.warning {
					color: red;
				}
			}

			button {
				margin-top: 0px;

				&.cancel {
					background: none;
					color: @lightGrey;

					&:hover,
					&:active,
					&:focus {
						background: none;
						color: @lightGrey;
						text-decoration: underline;
					}
				}
			}
		}
	}

	h2 {
		text-transform: uppercase;
	}

	hr {
		margin: 24px 0 !important;
	}

	button {
		background: @orange;
		border: 3px solid transparent;
		border-radius: 6px;
		color: white;
		font-size: 0.9em;
		line-height: 1.2em;
		margin-top: 12px;
		padding: 3px 24px;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: @darkOrange;
		}

		&.cancel {
			background: none;
			color: @lightGrey;

			&:hover,
			&:active,
			&:focus {
				background: none;
				color: @lightGrey;
				text-decoration: underline;
			}
		}
	}

	.list-settings-wrap {
		//display: none;
		padding: 20px !important;
	}

	.monitored-switch {
		margin: 24px auto;
		text-align: center;
		width: 180px;

		p {
			color: white;
			display: inline-table;
			text-transform: lowercase;
			vertical-align: middle;
		}

		/* The switch - the box around the slider */
		.switch {
		  display: inline-table;
		  height: 24px;
		  margin-left: 3px;
		  position: relative;
		  vertical-align: middle;
		  width: 48px;
		}

		/* Hide default HTML checkbox */
		.switch input {display:none;}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 16px;
		  width: 16px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: @level3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 12px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
	}

	input.update-watchlist {
		background: white;
		border: 2px solid @darkGrey;
		box-shadow: none;
		color: @darkGrey;
		font-size: 0.9em;
		margin-top: 15px;
		padding: 6px;
		text-align: center;
		text-transform: lowercase;
		width: 100%;

		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color: @lightGrey;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: @lightGrey;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: @lightGrey;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color: @lightGrey;
		}
		&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		  color: @lightGrey;
		}

		&:focus {
			outline: none;
		}
	}

	p.warning {
		color: red;
		font-size: 0.8em;
		margin: 3px 0 0 20px;
		padding: 0;
		text-transform: lowercase;
	}

	p.included-terms {
		color: white;
		font-size: 0.9em;
		margin: 12px 0 0 0;
		padding: 0;
		text-transform: lowercase;
	}

	ul.searchTerms {
		background: @bgColor;
		margin-top: 6px;
		padding: 6px;

		&.edit {
			cursor: pointer;
		}
		
		li {
			border-bottom: none;
			color: @darkGrey;
			display: inline-table;
			font-size: 0.9em;
			margin-right: 6px;
			text-transform: lowercase;
			word-break: normal;
			
			&:after {
				content: ', ';
			}

			&:last-child:after {
				content: '';
			}

			span.delete {
				font-size: 0.8em;
				color: @lightGrey;
				cursor: pointer;

				&:hover {
					color: red;
				}
			}

			&.empty { color: red; }
		}
	}

	.advancedSearchTrigger {
		cursor: pointer;
		margin: 12px 0;

		p {
			border: 2px solid white;
			border-radius: 3px;
			color: white;
			font-size: 0.9em;
			padding: 6px;
			text-align: center;
			text-transform: lowercase;
		}
	}

	.advancedSearch {
		.section-title {
			//border-bottom: 1px solid @darkGrey;
			color: white;
			cursor: pointer;
			font-size: 0.9em;
			margin: 12px 0 6px 0;
			padding: 6px 0;
			text-align: left;

			p {
				color: white;
				display: inline-table;
			}

			i {
				color: white;
				display: inline-table;
				vertical-align: baseline;

				&.left { margin-right: 3px; }
				&.right { margin-left: 3px; }
			}
		}

		.terms-condition,
		.negative-terms,
		.search-goal {
			margin: 12px 0 18px 0;

			p {
				color: white;
				font-size: 0.9em;
				margin-bottom: 6px;
				text-align: center;
				text-transform: lowercase;

				i {
					margin-right: 3px;
					vertical-align: baseline;
				}

				&.goal-explanation {
					color: @white;
					font-size: 0.8em;
					margin: 6px 0 0 0;
				}
			}

			ul {
				text-align: center;

				li {
					background: @grey;
					border: 2px solid black;
					border-right: none;
					color: white;
					cursor: pointer;
					display: inline-table;
					font-size: 0.8em;
					padding: 6px;
					text-align: center;
					text-transform: lowercase;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

					&:first-child {
						border-bottom-left-radius: 6px;
						border-top-left-radius: 6px;
					}

					&:last-child {
						border-bottom-right-radius: 6px;
						border-right: 2px solid black;
						border-top-right-radius: 6px;
					}

					&.active, &:hover {
						background: white;
						color: @darkGrey;
					}

					.small {
						font-size: 0.8em;
					}
				}
			}
		}

		.item {
			font-size: 0.9em;
			margin-bottom: 6px;
			position: relative;
			width: 100%;

			i {
				color: white;
				font-size: 1em;
				display: inline-table;
				margin-bottom: 6px;
				vertical-align: middle;
				text-align: center;
				width: 15%;

				&.last {
					margin-bottom: 0;
				}

				&.required {
					color: red;
				}
			}

			input, select {
				color: @grey;
				display: inline-table;
				height: 24px;
				font-size: 0.9em;
				vertical-align: top;
			}

			input {
				border-color: @grey;
			    border-radius: 6px;
			    display: inline-table;
			    height: 24px;
			    margin-bottom: 6px;
				padding: 6px;
				text-indent: 6px;
				vertical-align: middle;
				width: 85%;

				&:placeholder-shown {
					text-transform: lowercase;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&.required {
					border-color: red;
				}

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color: @lightGrey;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color: @lightGrey;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color: @lightGrey;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color: @lightGrey;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				  color: @lightGrey;
				}

				&:focus {
					outline: none;
				}

				&.negative-terms-input {
					width: 100%;
				}
			}

			select {
				-webkit-align-items: center;
			    -webkit-appearance: none;
			    -webkit-rtl-ordering: logical;
			    -webkit-writing-mode: horizontal-tb;
			    background-color: @grey;
			    -webkit-border-radius: 0px !important;
			    border-radius: 0;
			    border: 0;
			    border-image-outset: 0px;
			    border-image-repeat: stretch;
			    border-image-slice: 100%;
			    border-image-source: none;
			    border-image-width: 1;
				border-bottom-left-radius: 6px !important;
				border-top-left-radius: 6px !important;
			    box-sizing: border-box;
			    color: white;
			    cursor: pointer;
			    display: inline-table;
			    font-weight: normal;
			    letter-spacing: normal;
			    line-height: normal;
			    margin: 0;
			    padding: 0;
			    text-align: start;
			    text-indent: 6px;
			    text-shadow: none;
			    text-transform: lowercase;
			    white-space: pre;
			    word-spacing: 0px;
			    width: 40%;
			}

			.caret {
				pointer-events: none;
				position: absolute;
				left: 64px;
				top: 11px;

				&:before {
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid transparent;
					content: '';
					right: 0;
					position: absolute;
					top: 0;
				}

				&:after {
					border-left: 0 solid transparent;
					border-right: 0 solid transparent;
					border-top: 4px solid white;
					content: '';
					right: 0;
					position: absolute;
					top: 0;
				}
			}

			.remove-item {
				color: red;
				display: inline-table;
			}

		}

		.add-more-filters {
			text-align: right;
			
			p {
				color: @grey;
				cursor: pointer;
				font-size: 0.9em;
				text-transform: lowercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	ul.add-people-options {
		margin-top: 12px;

		li {
			border: 3px solid white;
			border-radius: 6px;
			cursor: pointer;
			display: inline-table;
			padding: 6px 0;
			margin-left: 4%;
			width: 16%;

			&:first-child {
				margin-left: 0 !important;
			}

			&:hover {
				background: white; 
				color: @darkGrey;
			}

			&.disabled {
				border-color: @lightGrey;
				color: @lightGrey;
				cursor: not-allowed;

				&:hover {
					background: none;
					border-color: @lightGrey;
					color: @lightGrey;
				}
			}
		}
	}


	ul.engage-setup {
		font-size: 0.9em;
		margin-top: 12px;
		text-align: center;

		li.mode {
			background: @grey;
			border: 3px solid @darkGrey;
			border-radius: 12px;
			cursor: pointer;
			margin: 6px auto;
			max-width: 480px;
			padding: 12px;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			p {
				color: white;
				font-size: 1.1em;
			}

			i {
				color: white;
			}

			.action-button {
				background: white;
				border-radius: 6px;
				display: inline-table;
				font-size: 0.9em;
				margin: 12px 3px;
				padding: 6px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				p {
					color: @greenPurple;
				}

				i {
					color: @greenPurple;
					vertical-align: middle;
				}
			}

			hr {
				display: inline-table;
				border-right: 1px solid white;
				height: 24px;
				vertical-align: middle;
			}

			.sequence {
				border: 3px solid white;
				border-radius: 12px;
				margin-top: 12px;
			}

			&:hover, &.active {
				background: white;
				border-color: @greenPurple;

				p {
					color: @greenPurple;
				}

				i {
					color: @greenPurple;
				}

				.action-button {
					background: @greenPurple;

					i {
						color: white;
					}
				}

				.sequence {
					border-color: @greenPurple;
				}

				hr {
					border-color: @greenPurple;
				}
			}
		}

		.engage-explanation {
			font-size: 1em;
			opacity: 1;

			.tooltip-arrow {
				border-bottom-color: @greenPurple;
			}

			.tooltip-inner {
				background: @greenPurple;
				-moz-box-shadow: 0 0 3px 1px @darkGrey;
        	    -webkit-box-shadow: 0 0 3px 1px @darkGrey;
				box-shadow: 0 0 3px 1px @darkGrey;
				max-width: 240px;
				opacity: 1;
				padding: 12px;
			}
		}
	}

	.delete {

		p {
			cursor: pointer;
			text-transform: lowercase;

			i {
				vertical-align: baseline;
			}

			&.delete {
				color: @lightGrey;

				&:hover {
					color: white;
				}
			}

			&.deleteList {
				background: white;
				border-radius: 6px;
				color: red;
				font-size: 0.9em;
				margin: 0 auto;
				padding: 6px 12px;
				width: 150px;

				&:hover {
					background: red;
					color: white;
				}
			}
		}
	}
}