body.loading {
	background: @lightGrey;
}

#circles {
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.circle {
	color:	@purple;
	font-size: 3em;
    left: 0px;
    margin: 54px 0 0 0;
    position: absolute;
    top: 0;
    z-index: 200;
}

.loading-msg {
	background: white;
	border-radius: 10px;
	color: @purple;
	left: 50%;
	margin: -50px 0 0 -290px;
	padding: 20px;
	position: absolute;
	top: 50%;
	width: 540px;
	z-index: 10001;

	h1 img {
		margin: 0 10px 0 0;
		vertical-align: middle;
		width: 48px;
	}
}