.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px; //add this
}

#user-account {
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	-moz-box-shadow: -8px 0px 12px -2px @darkGrey;
	-webkit-box-shadow: -8px 0px 12px -2px @darkGrey;
	box-shadow: -8px 0px 12px -2px @darkGrey;
	color: white;
	display: none;
	overflow: auto;
	margin-top: 55px;
	padding: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 270px;
	z-index: 1090000;

	.user-content-wrap {
		display: none;
		padding: 20px;
	}

	.user-image {

		img {
			border: white 3px solid;
			border-radius: 48px;
			height: 90px;
			margin: 0;
			object-fit: cover;
			vertical-align: middle;
			width: 90px;
		}
	}

	h2 {
		
		&.logout {
			background: @lightGrey;
			border-radius: 3px;
			color: white;
			cursor: pointer;
			display: inline-table;
			font-size: 0.9em;
			margin: 64px 0 12px 0;
			padding: 6px 12px;
			text-transform: lowercase;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			&:hover {
				background: @grey;

				a {
					text-decoration: none;
				}
			}
		}

		&:hover a {
			text-decoration: underline;
		}
	}

	.user-details {
		margin-top: 12px;

		h1 {
			display: inline-table;
			font-size: 1.2em;
			margin-bottom: 6px;
		}

		h2 {
			display: inline-table;
			font-size: 1em;
			margin-bottom: 6px;

			&.logout {
				display: none;
				color: @lightGrey;
				cursor: pointer;
				font-size: 0.9em;
				margin: 24px 0;
				text-transform: lowercase;
			}

			&:hover a {
				text-decoration: underline;
			}
		}

		aside {
			color: @lightGrey;
			cursor: pointer;
			font-size: 0.9em;
			margin: 6px 0;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}

		form {
			width: 100%;

			input {
				background: none;
				border: none;
				border-bottom: 2px solid white;
				box-shadow: none;
				color: white;
				padding-top: 0;
				text-align: center;

				&.name {
					font-size: 1.2em;
				}

				&.email {
					font-size: 1em;
				}

				&.password {
					font-size: 1em;
					margin-top: 6px;
				}

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color: @lightGrey;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color: @lightGrey;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color: @lightGrey;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color: @lightGrey;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				  color: @lightGrey;
				}

				&:focus {
					outline: none;
				}
			}

			button {
				border: none;
				border-radius: 6px;
				margin: 0;
				padding: 1px 12px;
				text-transform: lowercase;

				&.save {
					background: @orange;
					color: white;
					margin-right: 12px;

					&:hover {
						background: @darkOrange;
					}

					&.disabled {
						background: @grey;
						cursor: not-allowed;
					}
				}

				&.reset {
					background: none;
					color: @lightGrey;

					&:hover,
					&:active,
					&:focus {
						background: none;
						color: @lightGrey;
						text-decoration: underline;
					}
				}

				&:focus {
					outline: none;
				}
			}
		}

		i {
			color: @lightGrey;
			display: inline-table;
			font-size: 0.8em;
			margin-left: 6px;
			vertical-align: baseline;

			&:hover {
				color: white;
			}
		}

		.password-revealer {
			font-size: 0.8em;
			margin-top: 6px;
			text-align: right;

			input, label {
				display: inline-table;
				vertical-align: baseline;
				width: auto;
			}

			label {
				cursor: pointer;
				margin-right: 3px;
				text-transform: lowercase;
			}
		}

		.tip {
			border: 1px solid;
			border-radius: 6px;
			color: white;
			margin: 0 auto 15px auto;
			max-width: 480px;
			text-align: center;
			text-transform: lowercase;
			width: 100%;

			p {
				padding: 12px;
			}

			a {
				word-break: normal !important;

				&:hover {
					text-decoration: underline;
				}
			}

			&.success {
				background: @level1;
				border-color: @level4;
			}

			&.error {
				background: @lightRed;
				border-color: red;
			}

			&.href {
				cursor: pointer;
			}

			ul {
				margin-top: 12px;
				text-align: left;

				li {
					line-height: 1.2em;
					margin-bottom: 3px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.user-preferences {
		margin: 24px 0 0 0;
		overflow: hidden;
		position: relative;
		text-align: center;

		h2 {
			display: inline-block;
			font-size: 0.9em;
			margin-right: 3px;
			text-transform: lowercase;
		}

		.lang-sel {
			display: inline-block;
			margin-bottom: 16px;
			position: relative;

			.caret {
				pointer-events: none;
				position: absolute;
				right: 12px;
				top: 3px;

				&:before {
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid @darkGrey;
					content: '';
					left: 0;
					position: absolute;
					top: 0;
				}

				&:after {
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 4px solid white;
					content: '';
					left: 1px;
					position: absolute;
					top: 0;
				}
			}

			.lang-control {
				-webkit-appearance: none;
				background: white;
				border: 1px solid black;
				border-radius: 0;
				color: black;
				cursor: pointer;
				display: block;
				line-height: inherit;
				font-family: inherit;
				font-size: 0.9em;
				line-height: normal;
				outline: none;
				margin: 0;
				padding: 0 18px 0 4px;
				transition: border-color 0.2s;
				width: auto;
			}
		}
	}

	.user-social-networks {
		margin: 20px 0 0 0;
		text-align: center;

		.social {
			display: table;
			margin-bottom: 20px;
			text-align: left;
			width: 100%;

			.block {
				display: inline-table;
				vertical-align: middle;

				&.left {
					width: 24%;
				}

				&.right {
					width: 76%;
				}
			}

			img {
				width: 32px;
			}

			h2 {
				display: inline-table;
				margin: 0;
				text-transform: lowercase;

				&.name {
					text-transform: none;
				}

				span { text-transform: none; }
			}

			p.logout {
				color: @lightGrey;
				font-size: 0.8em;
				margin-top: 2px;
				text-transform: lowercase;

				&:hover {
					text-decoration: underline;
				}
			}

			.function {
				cursor: pointer;
			}
		}
	}

    #credit-details {
		background: @level3;
		padding: 12px;

		p {
			font-size: 0.9em;
			text-transform: lowercase;

			&.remaining {
				line-height: 1.2em;

				span {
					color: @bgColor;
				}
			}

			&.spent {
				color: @lightGrey;
			}
		}

		span {

			&.profiles {
				font-size: 0.9em;
			}
		}

		#show-payment-history {
			border-top: 1px solid white;
			color: @bgColor;
			cursor: pointer;
			margin-top: 12px;
			padding-top: 12px;

			i {
				margin-left: 3px;
				vertical-align: baseline;
			}
		}

		#payment-history {
			background: white;
			margin-top: 12px;
			padding: 12px;

			ul {
				li {
					border-bottom: 1px solid @lightGrey;
					padding: 12px;

					&:first-child {
						padding-top: 0;
					}

					&:last-child {
						border-bottom: none;
						padding-bottom: 0;
					}

					p {
						color: @darkGrey;

						&.date {
							color: @grey;
							font-size: 0.9em;
							margin-top: 3px;
						}
					}
				}
			}

			.spent {
				border: 3px solid @grey;
				border-width: 3px;
				border-radius: 6px;
				margin-top: 12px;
				padding: 12px;

				p {
					color: @darkGrey;
					font-size: 0.9em;
					line-height: 1.2em;
					text-transform: lowercase;

					&.total {
						margin-bottom: 6px;
					}

					span {
						color: @grey;
					}
				}
			}
		}
	}

	#increase-enrichment-budget {
		background: white;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-top: 3px solid white;
		cursor: pointer;
		padding: 6px 12px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {
			h3 {
				text-decoration: underline;
			}
		}

		h3 {
			color: @level3;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}

	#credit-title,
	#subscription-title {
		background: white;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		margin-top: 24px;
		padding: 6px 12px;

		h3 {
			color: @darkGrey;
			font-size: 0.9em;
			text-transform: lowercase;
		}
	}
	#subscription {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		padding: 12px;

		&.showing-details {
			border-radius: 0;
		}

		&.trial {
			background: @trial;
			border-radius: 0;

			h2 {
				margin-bottom: 6px;
			}
		}

		&.level1 {
			background: @pricingPlan1;

			.coupon {
				@borderColor: @pricingPlan1;
			}
		}

		&.level2 {
			background: @pricingPlan2;

			.coupon {
				border-color: @pricingPlan2;
			}
		}

		&.level3 {
			background: @pricingPlan3;

			.coupon {
				border-color: @pricingPlan3;
			}
		}

		h2 {
			cursor: pointer;
			padding: 0;
			font-size: 0.9em;
			text-transform: uppercase;

			i {
				margin-left: 3px;
				vertical-align: baseline;
			}
		}

		aside {
			color: white;
			cursor: text;
			font-size: 0.9em;
			line-height: 1em;
			margin: 0;

			span {
				color: @bgColor;
				text-transform: lowercase;
			}

			&:hover {
				text-decoration: none;
			}
		}

		p.show-more {
			cursor: pointer;
			font-size: 0.9em;
			margin-top: 12px;
			text-transform: lowercase;
		}

		.subscription-details {
			background: white;
			margin-top: 6px;
			padding: 12px;

			p {
				color: @darkGrey;
				font-size: 0.9em;
				line-height: 1.2em;
				margin-bottom: 6px;
				text-align: center;
				text-transform: lowercase;

				&:last-child {
					margin-bottom: 0;
				}

				span {
					color: @lightGrey;
					font-size: 0.9em;
					text-transform: lowercase;

					&.small {
						color: @darkGrey;
						font-size: 0.8em;

						&:before {
							content: '('
						}

						&:after {
							content: ')'
						}
					}
				}

				&.date {
					text-transform: none;
				}
			}

			.alert {
				color: red;
			}

			.coupon {
				border-style: solid;
				border-width: 3px;
				border-radius: 6px;
				margin-top: 12px;
				padding: 12px;

				h3 {
					color: @darkGrey;
					font-size: 0.9em;
					margin-bottom: 6px;
					text-transform: uppercase;
				}

				p.date {
					text-transform: none;

					&.forever {
						text-transform: lowercase;
					}
				}
			}
		}
	}

	#subscribe-now {
		background: @grey;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		cursor: pointer;
		padding: 6px 12px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {
			background: @midGrey;
		}

		h3 {
			color: white;
			font-size: 0.9em;
			text-transform: lowercase;
		}
	}

	#upgrade-account {
		background: @grey;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-top: 3px solid white;
		cursor: pointer;
		padding: 6px 12px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {
			background: @midGrey;
		}

		&.level1,
		&.level1yearly {
			background: @pricingPlan1;

			&:hover {
				background: @darkPricingPlan1;
			}
		}

		&.level2,
		&.level2yearly {
			background: @pricingPlan2;

			&:hover {
				background: @darkPricingPlan2;
			}
		}

		&.level3,
		&.level3yearly {
			background: @pricingPlan3;

			&:hover {
				background: @darkPricingPlan3;
			}
		}

		h3 {
			color: white;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}

	#cancel-subscription {
		margin-top: 12px;

		p {
			color: @lightGrey;
			cursor: pointer;
			font-size: 0.9em;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	#cancel-subscription-confirm {
		background: white;
		border-radius: 6px;
		margin-top: 12px;
		padding: 12px;

		h2 {
			color: red;
			margin-bottom: 6px;
			text-transform: uppercase;
		}

		p {
			color: @darkGrey;
			font-size: 0.9em;
			line-height: 1.1em;
			margin-bottom: 12px;
			text-align: left;
		}

		button {
			font-size: 0.9em;
			margin-top: 3px;
			padding: 3px 12px;
			text-align: lowercase;
			text-transform: lowercase;

			&.confirm {
				border: 2px solid red;
				background: white;
				border-radius: 6px;
				color: red;

				&:hover {
					background: red;
					color: white;
				}
			}

			&.cancel {
				background: none;
				color: @darkGrey;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.download-chrome-extension {
		
		button {
			background: transparent;
			border: 2px solid white;
			border-radius: 6px;
			color: white;
			font-size: 1em;
			line-height: 1.4em;
			margin-top: 24px;
			padding: 6px 12px;
			text-align: center;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			width: 100%;

			i {
				font-size: 1em;
				margin-bottom: 0;
				vertical-align: baseline;
			}

			&:hover {
				background: white;
				color: @grey;
			}
		}
	}

	p.privacy-policy {
		color: @lightGrey;
		cursor: pointer;
		font-size: 0.9em;
		text-transform: lowercase;

		&:hover {
			text-decoration: underline;
		}
	}

	#content-hub {
		margin-top: 24px;
		text-align: center;

		a {
			background: @orange;
			border-radius: 6px;
			padding: 6px 18px;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			i {
				vertical-align: baseline;
			}

			&:hover {
				background: @darkOrange;
			}
		}
	}
}

.enrichmentBudget {
  	padding: 0!important;
 	text-align: center;
 	
	&::before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -4px;
	}

	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	}

    .modal-content {
        padding: 24px;
        text-align: center;
    }

    h1 {
    	font-size: 2em;
        margin-bottom: 12px;
        text-transform: lowercase;
    }

    aside {
        color: @grey;
        font-size: 1.4em;
        margin-bottom: 12px;
        text-transform: lowercase;
    }

    p {
        margin: 6px 0;
        text-transform: lowercase;

        &.tip {
        	color: @grey;
            font-size: 0.9em;
        }
    }

    span.invalid {
        color: red;
        text-transform: lowercase;
    }

    input {
        margin: 12px 6px 3px 0;
        min-width: 240px;
        padding: 3px;
        width: 50%;
        text-align: right;
    }

    button {
        background: @orange;
        border-radius: 6px;
        color: white;
        margin-top: 12px;
        padding: 6px 18px;
        text-transform: lowercase;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        &:hover {
            background: @darkOrange;
        }
    }
}