.watchlist-actions {
	display: inline-table;
	position: relative;
	vertical-align: top;
	z-index: 8;

	ul {
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			display: inline-table;
			margin-left: -20px;
			vertical-align: top;

			&:last-child {
				margin-right: 0;
			}

			&.level-1 {
				background: @level1grey;
				z-index: 7;

				&:hover, &.selected {
					background: @level1;

					.approach-arrow-right.level-1 {
						border-left-color: @level1;
					}
				}
			}
			&.level-2 {
				background: @level2grey;
				z-index: 6;

				&:hover, &.selected {
					background: @level2;
					
					.approach-arrow-right.level-2 {
						border-left-color: @level2;
					}
				}
			}
			&.level-3 {
				background: @level3grey;
				z-index: 5;

				&:hover, &.selected {
					background: @level3;
					
					.approach-arrow-right.level-3 {
						border-left-color: @level3;
					}
				}
			}
			&.level-4 {
				background: @level4grey;
				z-index: 4;

				&:hover, &.selected {
					background: @level4;
					
					.approach-arrow-right.level-4 {
						border-left-color: @level4;
					}
				}
			}

			.approach-level {
				color: white;
				display: inline-table;
				height: 40px;
				padding: 0;
				text-align: center;
				text-indent: 20px;
				width: 130px;
				vertical-align: top;
				z-index: 8;

				h3 {
					font-size: 1em;
					font-weight: normal;
					line-height: 40px;
					text-transform: lowercase;
					vertical-align: middle;
				}

				p {
					font-size: 1em;
					font-weight: normal;
					text-transform: lowercase;
				}
			}

			.approach-arrow-right {
				@arrowHeight: 20px;

				border-top: @arrowHeight solid transparent;
				border-bottom: @arrowHeight solid transparent;
				border-left: @arrowHeight solid transparent;
				display: inline-table;
				height: 0;
				margin: 0;
				padding: 0;
				position: relative;
				vertical-align: top; 
				width: 0;
				z-index: 9;

				&.level-1 {
					background: transparent;
					border-left-color: @level1grey;
				}
				&.level-2 {
					background: transparent;
					border-left-color: @level2grey;
				}
				&.level-3 {
					background: transparent;
					border-left-color: @level3grey;
				}
				&.level-4 {
					background: @midGrey;
					border-left-color: @level4grey;
				}
			}
		}
	}
}

.watchlist-interface {
	margin: 0 auto !important;
	padding: 0 0 30px 10px !important;
	text-align: left !important;

	.item-wrap {
		display: inline-table;
		margin: 0 8px 8px 0;
		position: relative;
		text-align: left;
		width: 300px;

		&.hidden {
			display: none;
		}

		&:first-child {
			border-top: none !important;
		}

		&:last-child {
			border: 0 !important;
		}

		.no-activity-level0 {
			background: rgba(0, 0, 0, 0.2);
			bottom: 6px;
			left: 6px;
			position: absolute;
			right: 6px;
			top: 178px;

			.help-msg {
				background: black;
				color: white;
				font-size: 0.9em;
				line-height: 29px;
				margin-top: 88px;
				text-align: center;
			}
		}

		.no-activity,
		.already-connected,
		.not-connected {
			background: rgba(0, 0, 0, 0.2);
			bottom: 6px;
			left: 6px;
			position: absolute;
			right: 6px;
			top: 6px;

			.help-msg {
				background: black;
				color: white;
				font-size: 0.9em;
				line-height: 29px;
				margin-top: 99px;
				text-align: center;
			}

			.skip-contact {
				background: white;
				border: 6px solid @lightGrey;
				bottom: 0;
				color: @lightGrey;
				cursor: pointer;
				height: 30px !important;
				margin: 0 !important;
				position: absolute;
				right: 0;
				text-align: center;
				width: 68px;

				p {
					display: inline-table;
					font-size: 1em !important;
					line-height: 20px;
					margin: 6px 0 6px 0 !important;
					padding: 0;
					vertical-align: middle;
				}

				&:hover {
					border-color: red;
				}
			}
		}

		.item {
			border: 6px solid;
			padding: 15px 0 5px 0 !important;

			&.level-0 { border-color: @level0}
			&.level-1 { border-color: @level1}
			&.level-2 { border-color: @level2}
			&.level-3 { border-color: @level3}
			&.level-4 { border-color: @level4}
			&.actionDone { border-color: #DDD}
		}

		hr {
			&.card-top {
				margin-bottom: 0;
				margin-top: 12px;
			}

			&.card-bottom {
				margin-bottom: 2px;
				margin-top: 0;
			}
		}

		.user-img {
			display: inline-table;
			margin-right: 0 !important;

			img {
				border-width: 2px !important;
			}

			.icon {
				left: 48px !important;
			}
		}

		.remove-from-watchlist {
			color: @lightGrey;
			cursor: pointer;
			font-size: 0.9em;
			position: absolute;
			right: 8px;
			top: 8px;

			&:hover { color: red; }
		}

		.user-info {
			display: inline-table;
			height: 72px;
			margin-left: 10px;
			max-width: 180px;

			h3 {
				margin-bottom: 3px !important;

				a {
					font-weight: bold;
				}
			}

			h3.nameTooltip,
			aside.headlineTooltip,
			aside.cursorPointer,
			.location.locationTooltip {
				cursor: pointer;
			}

			.view-profile {
				margin-top: 8px !important;
			}
		}

		.user-keywords {
			border-left: 0 !important;
			height: 24px !important;
			margin: 0 10px 0 10px !important;

			&.hscroll {
				cursor: ew-resize;
			}

			ul {
				margin: 2px 0 0 0;
				padding: 2px 0 !important;

				&.empty {
					cursor: default !important;
				}

				li {
					background: white;
					border-radius: 6px;
					color: black;
					display: inline-table;
					font-size: 1em;
					margin: 0 6px 0 0;
					padding: 2px 0;
					text-transform: lowercase;

					&.related-to {
						color: @grey;
						margin-right: 10px;
						text-transform: none;
					}

					&:after {
						content: ' / '
					}

					&:first-child:after,
					&:last-child:after {
						content: '';
					}
				}
			}
		}

		.tag-list {
			height: 24px !important;
			display: inline-table;
			margin: 10px!important;

			input {
				border-color: @color4;
				border-radius: 10px;
				box-shadow: none;
				display: inline-table !important;
				font-size: 0.8em;
				height: 16px;
				line-height: 14px;
				padding: 2px 6px;
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
				vertical-align: middle;
				width: 64px;

				&:hover, &:focus {
					width: 150px;
				}
			}
		}

		.show-tag-watchlist {
			color: @color3;
			cursor: pointer;
			float: right;
			margin: 12px 10px 0 0;
			text-align: right;

			p {
				display: inline-table;
				vertical-align: middle;

				span {
					height: 25px;
					text-align: right;
					vertical-align: middle;
				}
			}

			.show-all {
				font-size: 0.7em;
				margin-right: 4px;
				text-align: right;
			}

			.arrow-up { display: none; }
		}

		.assigned-to {
			background: white;
			border: 2px solid @grey !important;
			display: none;
			height: 180px !important;
			left: 6px;
			overflow-y: scroll;
			padding: 10px;
			position: absolute;
			top: 160px;
			width: 252px;
			z-index: 99999;

			.no-assigned {
				display: inline-table;
			}
		}

		.level-3-actions,
		.level-4-actions {
			bottom: 6px;
			left: 6px;
			margin: 0 !important;
			position: absolute;
			width: 300px;

			.action {
				border: 6px solid black;
				display: inline-table;
				height: 30px !important;
				margin: 0 !important;
				text-align: center;

				p {
					display: inline-table;
					font-size: 1em !important;
					line-height: 20px;
					margin: 6px 0 6px 0 !important;
					padding: 0;
					vertical-align: middle;
				}

				img {
					border: 3px solid white;
					border-radius: 14px;
					vertical-align: middle;
					width: 22px !important;
				}

				&.connect {
					//background: @level3;
					width: 192px;

					p {
						margin-left: 5px !important;
					}

					
				}

				&.contact {
					//background: @level4;
					width: 192px;

					p {
						margin-left: 5px !important;
					}

					
				}

				&.skip-contact {
					border: 6px solid @lightGrey;
					color: @lightGrey;
					cursor: pointer;
					width: 68px;

					&:hover {
						border-color: red;
					}
				}

				&:hover {
					border-color: #00cc33;
				}

				&:hover a, &:hover p { text-decoration: none; }
			}
		}

		.single-post {
			height: 26px;
		}

		.posts-list {
			margin: 0 10px;

			.post {
				height: 170px;
				margin-top: 5px;

				&.level-1 {
					height: 178px;
				}

				.post-wrap {
					height: 60px;
					overflow: hidden;
				}

				.post-wrap.vscroll {
					cursor: ns-resize;
					//height: 92px;
				}

				h5 {
					font-size: 1em;
					font-weight: bold;
					margin-bottom: 8px;

					a {
						font-weight: bold;
					}
				}

				.post-data {
					margin: 5px 0 10px 0;
					overflow: auto;

					time {
						font-size: 0.9em;
						color: @lightGrey;
						line-height: 20px;
						vertical-align: middle;
					}

					a.like,
					a.comment,
					a.retweet,
					a.fav {
						margin: 0 12px 15px 0;
						padding: 0;

						p {
							color: @darkGrey;
							display: inline-table;
							font-size: 0.9em;
							line-height: 20px;
							margin: 10px 0 10px 1px;
							padding: 0;
							vertical-align: middle;
						}

						img {
							vertical-align: middle;
							width: 18px;
						}

						&:hover p { text-decoration: none; }
					}
				}

				p {
					font-size: 0.9em;
					margin: 0 0 10px 0;
					text-align: justify;

					a {
						color: @grey;
						word-break: normal;
					}
				}

				img.post {
					border: 2px solid @grey;
					float: right;
					height: 60px;
					max-width: 80px !important;
					margin: 0 0 0 10px;
				}

				a.read-more {
					color: @lightGrey;
					font-size: 0.9em;
					line-height: 20px;
					margin: 0 0 0 20px;
					vertical-align: middle;
					
					&:hover { text-decoration: underline; }
				}
			}
		}
	}
}