<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender()" id="{{result.id}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false" bn-line-item>
    <card-corner-expand></card-corner-expand>
    <div class="item">
        <card-profiles-tabs></card-profiles-tabs>
        <div class="relevante-profile" ng-show="result.activeProfile == 'relevante'">
        	<card-header></card-header>
            <card-keywords></card-keywords>
            <hr class="card-top" />
            <card-tags-watchlists></card-tags-watchlists>
        </div>

        <div ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key">
            <card-header></card-header>
            <card-user-signals></card-user-signals>
        </div>

        <div class="actions">
            <div class="action watchlistSel" ng-if="!blacklist && site.savedLists.length > 0" ng-mouseenter="createListEnabled = true" ng-mouseleave="createListEnabled = false">
                <i class="fa fa-folder" aria-hidden="true" ng-if="!createListEnabled"></i><!--
                --><i class="fa fa-plus" aria-hidden="true" ng-if="createListEnabled" ng-click="createListModal()"></i><!--
                --><select ng-change="alreadyInCardWatchlist(result.id, result.selectedList); $parent.setSelectedList(result.selectedList)" ng-init="result.selectedList = $parent.getSelectedList()" ng-model="result.selectedList" style="font-family: 'FontAwesome', 'GillSans';">
                    <option ng-repeat="list in site.savedLists" ng-value="list.name" on-finish-retrieve="watchlistFunctions()">{{list.name}}</option>
                </select>
            </div><!--
            --><a ng-if="!alreadyInCardWatchlist(result.id, result.selectedList)" class="action watchlist" ng-show="!blacklist && site.savedLists.length > 0" ng-click="addToList(resultIndex, result.id, result.type, result.selectedList); $parent.hover = false">
                <p><span>{{translation.ADD}}</span></p>
            </a><!--
            --><a ng-if="alreadyInCardWatchlist(result.id, result.selectedList)" ng-show="!blacklist && site.savedLists.length > 0" class="action watchlist already">
                <p>{{translation.ADDED}}</p>
            </a><!--
            --><div class="action watchlistSel empty" ng-show="!blacklist && site.savedLists.length == 0">
                <p ng-click="createListModal()"><i class="fa fa-plus" aria-hidden="true"></i> {{translation.CREATE_LIST}}</p>
            </div><!--
            --><div ng-if="!blacklist" class="action skip-contact" ng-click="addToBlacklist(resultIndex, result.type, result.id); fadeOutResult(result.id)"
                uib-tooltip="{{translation.BLACKLIST_TOOLTIP}}" 
                tooltip-placement="left"><p><i class="fa fa-ban" aria-hidden="true"></i></p></div><!--
            --><div ng-if="blacklist" class="action skip-contact relist full-width" ng-click="relistFromBlacklist(0, result.type, result.id); fadeOutResult(result.id)"><p>{{translation.RELIST_FROM_BLACKLIST}}</p></div>
        </div>
    </div>
    <card-hover></card-hover>
</li>
