<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender(); cardWatchlistRender()" id="{{$index}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false">
    <div class="item-corner" ng-mouseenter="hover = true" ng-click="hover = true" ng-hide="hover"></div>
    <div class="item level-3 no-border-top" ng-class="{'actionDone' : result.actionDoneLv3}">
        <card-header></card-header>
        <hr class="card-top" />
        <card-tags-watchlists></card-tags-watchlists>
        <card-engage-bar></card-engage-bar>
        <div class='actions margin-top'>
            <!-- LinkedIn Connect enabled -->
            <a ng-if="result.type == 'linkedin' && linkedinAccount && result.connectRequest == 'none'" class='action connect' ng-href="{{result.url}}" target="_blank" ng-click="linkedinConnect(resultIndex, result.id)">
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.CONNECT}}</p>
            </a><!-- LinkedIn Connect disabled
            --><a ng-if="result.type == 'linkedin' && linkedinAccount && result.connectRequest != 'none'" class='action connect disabled' href='javascript:void(0)'>
                <p>
                    <!-- LinkedIn Connect: in progress -->
                    <i ng-if="result.connectRequest == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                    <!-- LinkedIn Connect: done -->
                    <i ng-if="result.connectRequest == 'done'" class="fa fa-check" aria-hidden="true"></i>

                    <!-- LinkedIn Connect: forbidden -->
                    <i ng-if="result.connectRequest == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                    <!-- LinkedIn Connect: error -->
                    <i ng-if="result.connectRequest == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                    {{translation.CONNECT}}
                </p>
            </a><!-- LinkedIn account not connected
            --><a ng-if="result.type == 'linkedin' && !linkedinAccount" class="action connect" href='javascript:void(0)' ng-click="linkedinSignin()">
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.CONNECT}}</p>
            </a><!-- Twitter Follow enabled 
            --><a ng-if="result.type == 'twitter' && twitterAccount && result.follow == 'none'" class='action follow' href='javascript:void(0)' ng-click="twitterFollow(resultIndex, result.id); $parent.hover = false">
                <p><i class="fa fa-twitter-square" aria-hidden="true"></i> {{translation.FOLLOW}}</p>
            </a><!-- Twitter follow disabled
            --><a ng-if="result.type == 'twitter' && twitterAccount && result.follow != 'none'" class='action follow disabled' href='javascript:void(0)'>
                <p>
                    <!-- Twitter Follow: in progress -->
                    <i ng-if="result.follow == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                    <!-- Twitter Follow: done -->
                    <i ng-if="result.follow == 'done'" class="fa fa-check" aria-hidden="true"></i>

                    <!-- Twitter Follow: forbidden -->
                    <i ng-if="result.follow == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                    <!-- Twitter Follow: error -->
                    <i ng-if="result.follow == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                    {{translation.FOLLOW}}
                </p>
            </a><!-- Twitter account not connected
            --><a ng-if="result.type == 'twitter' && !twitterAccount" class='action follow' href='javascript:void(0)' ng-click="twitterSignin()">
                <p><i class="fa fa-twitter-square" aria-hidden="true"></i> {{translation.FOLLOW}}</p>
            </a><!--
            --><div class="action skip-contact" ng-click="removeFromCurrentWatchlist(result.id, result.type, nameWatchlist); fadeOutResult(resultIndex);">
                <p><i class="fa fa-eye" aria-hidden="true"></i> {{translation.REMOVE}}</p>
            </div>
        </div>
    </div>
    <card-hover-small></card-hover-small>
</li>