<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender(); cardWatchlistRender()" id="{{$index}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false">
    <div class="item-corner" ng-mouseenter="hover = true" ng-click="hover = true" ng-hide="hover"></div>
    <div class="item level-2 no-border-top" ng-class="{'actionDone' : result.actionDoneLv2}">
        <card-header></card-header>
        <hr class="card-top" />
        <card-tags-watchlists></card-tags-watchlists>
        <card-engage-bar></card-engage-bar>
        <ul class="posts-list">
            <li ng-if="result.shares.length > 0" ng-repeat="post in result.shares | limitTo: 1" class="post {{$index}} {{post.id}} level-2" ng-init="postNum = $index">
                <div ng-if="result.id == post.authorId" class="signals-title">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.MOST_RECENT_POST}}:</p>
                </div>
                <div ng-if="result.id != post.authorId" class="signals-title">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.PERSON_RELATED_TO_POST}}:</p>
                </div>
                <div class="post-wrap {{$index}} level-2">
                    <div>
                        <a href="{{post.url}}" target="_blank" ng-if="post.url_picture != null && post.url_picture != ''">
                            <img class="post" ng-src="{{post.url_picture}}" />
                        </a>
                        <time>{{post.date}}</time><br />
                        <h5><a href="{{post.url}}" target="_blank">{{post.title}}</a></h5>
                        <p>{{post.text}}</p>
                    </div>
                </div>
                    <!-- LinkedIn Comment layer -->
                <div class="comment-wrap levelTouch" ng-if="result.type == 'linkedin'">
                    <textarea placeholder="{{translation.WRITE_COMMENT}}" ng-model="comment"></textarea>
                    <input type="button" value="{{translation.SUBMIT}}" class="submitComment" ng-click="submitComment(resultIndex, post.id, comment, postNum); $parent.$parent.$parent.hover = false">
                </div>
                    <!-- Twitter Reply layer -->
                <div class="comment-wrap levelTouch" ng-if="result.type == 'twitter'">
                    <textarea placeholder="{{translation.WRITE_REPLY}}" ng-model="twitterReply"></textarea>
                    <input type="button" value="{{translation.SUBMIT}}" class="submitReply" ng-click="submitReply(resultIndex, post.id, twitterReply, postNum); $parent.$parent.$parent.hover = false">
                </div>
                <div class="post-data actions">
                    <!-- LinkedIn Comment enabled-->
                    <a ng-if="result.type == 'linkedin' && linkedinAccount && post.comment == 'none'" class="action comment" ng-href="{{post.url}}" target="_blank" ng-click="submitComment(resultIndex, post.id, 'Fake comment, opening post in LinkedIn.', postNum)">
                        <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> Comment</p>
                    </a><!-- LinkedIn Comment disabled
                    --><a ng-if="result.type == 'linkedin' && linkedinAccount && post.comment != 'none'" href='javascript:void(0)' class="action like disabled">
                        <p>
                            <!-- LinkedIn Comment: in progress -->
                            <i ng-if="post.comment == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                            <!-- LinkedIn Comment: done -->
                            <i ng-if="post.comment == 'done'" class="fa fa-check" aria-hidden="true"></i>

                            <!-- LinkedIn Comment: forbidden -->
                            <i ng-if="post.comment == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                            <!-- LinkedIn Comment: error -->
                            <i ng-if="post.comment == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                            Comment
                        </p>
                    </a><!-- LinkedIn account not connected
                    --><a ng-if="result.type == 'linkedin' && !linkedinAccount" class="action comment" href='javascript:void(0)' ng-click="linkedinSignin()">
                        <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> Comment</p>
                    </a><!-- Twitter Reply enabled
                    --><a ng-if="result.type == 'twitter' && twitterAccount && post.reply == 'none'" href='javascript:void(0)' target="_blank" class="action reply" ng-click="showReply(resultIndex, postNum)">
                        <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Reply</p>
                    </a><!-- Twitter Reply disabled
                    --><a ng-if="result.type == 'twitter' && twitterAccount && post.reply != 'none'" href='javascript:void(0)' target="_blank" class="action reply disabled">
                        <p>
                            <!-- Twitter Reply: in progress -->
                            <i ng-if="post.reply == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                            <!-- Twitter Reply: done -->
                            <i ng-if="post.reply == 'done'" class="fa fa-check" aria-hidden="true"></i>

                            <!-- Twitter Reply: forbidden -->
                            <i ng-if="post.reply == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                            <!-- Twitter Reply: error -->
                            <i ng-if="post.reply == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                            Reply
                        </p>
                    </a><!-- Twitter account not connected
                    --><a ng-if="result.type == 'twitter' && !twitterAccount" class="action reply" href='javascript:void(0)' ng-click="twitterSignin()">
                        <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Reply</p>
                    </a><!--
                    --><div class="action skip-contact" ng-click="removeFromCurrentWatchlist(result.id, result.type, nameWatchlist); fadeOutResult(resultIndex);">
                        <p><i class="fa fa-eye" aria-hidden="true"></i> {{translation.REMOVE}}</p>
                    </div>
                </div>
            </li>
            <li ng-if="!result.shares.length" class="post level-1 watchlist-no-activity">
                <div class="signals-title">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.NO_ACTIVITY}}</p>
                </div>
                <div class="fake-layer-level1"></div>
                <div class="actions">
                    <div class="action skip-contact full-width" ng-click="removeFromCurrentWatchlist(result.id, result.type, nameWatchlist); fadeOutResult(resultIndex);">
                        <p><i class="fa fa-eye" aria-hidden="true"></i> {{translation.REMOVE}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <card-hover></card-hover>
</li>