<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender(); cardWatchlistRender()" id="{{$index}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false">
    <div class="item-corner" ng-mouseenter="hover = true" ng-click="hover = true" ng-hide="hover"></div>
    <div class="item level-4 no-border-top" ng-class="{'actionDone' : result.actionDoneLv4}">
        <card-header></card-header>
        <hr class="card-top" />
        <card-tags-watchlists></card-tags-watchlists>
        <card-engage-bar></card-engage-bar>
        <!-- Twitter DM layer-->
        <div ng-if="result.type == 'twitter'" class="contact-wrap levelContact">
            <textarea placeholder="{{translation.WRITE_DM}}" ng-model="message"></textarea>
            <input type="button" value="{{translation.SUBMIT}}" class="submitReply" ng-click="submitDM(resultIndex, result.id, message); $parent.hover = false">
        </div>
        <!-- LinkedIn Message layer-->
        <div ng-if="result.type == 'linkedin'"  class="contact-wrap levelContact">
            <textarea class="content" placeholder="{{translation.WRITE_INMAILMESSAGE}}" ng-model="message"></textarea>
            <input type="button" value="{{translation.SUBMIT}}" class="submitMessage" ng-click="submitMessage(resultIndex, result.id, null, message); $parent.hover = false">
        </div>
        <div class='post-data actions margin-top'>
            <!-- LinkedIn Message enabled -->
            <a ng-if="result.type == 'linkedin' && linkedinAccount && result.message == 'none'" class='action message' ng-href="{{result.url}}" target="_blank" ng-click="submitMessage(resultIndex, result.id, 'Fake subject', 'Fake comment, opening profile in LinkedIn.')">
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.MESSAGE}}</p>
            </a><!-- LinkedIn Message disabled 
            --><a ng-if="result.type == 'linkedin' && linkedinAccount && result.message != 'none'" class='action message disabled' href='javascript:void(0)'>
                <p>
                    <!-- LinkedIn Message: in progress -->
                    <i ng-if="result.message == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                    <!-- LinkedIn Message: done -->
                    <i ng-if="result.message == 'done'" class="fa fa-check" aria-hidden="true"></i>

                    <!-- LinkedIn Message: forbidden -->
                    <i ng-if="result.message == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                    <!-- LinkedIn Message: error -->
                    <i ng-if="result.message == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                    {{translation.MESSAGE}}
                </p>
            </a><!-- LinkedIn account not connected
            --><a ng-if="result.type == 'linkedin' && !linkedinAccount" class="action message" href='javascript:void(0)' ng-click="linkedinSignin()">
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.MESSAGE}}</p>
            </a><!-- Twitter DM enabled
            --><a ng-if="result.type == 'twitter' && twitterAccount && result.directMessage == 'none'" class='action directMessage' href='javascript:void(0)' ng-click="showTwitterDM(resultIndex)">
                <p><i class="fa fa-twitter-square" aria-hidden="true"></i> {{translation.DIRECT_MESSAGE}}</p>
            </a><!-- Twitter DM disabled
            --><a ng-if="result.type == 'twitter' && twitterAccount && result.directMessage != 'none'" class='action directMessage disabled' href='javascript:void(0)'>
                <p>
                    <!-- Twitter DM: in progress -->
                    <i ng-if="result.directMessage == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                    <!-- Twitter DM: done -->
                    <i ng-if="result.directMessage == 'done'" class="fa fa-check" aria-hidden="true"></i>

                    <!-- Twitter DM: forbidden -->
                    <i ng-if="result.directMessage == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                    <!-- Twitter DM: error -->
                    <i ng-if="result.directMessage == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                    {{translation.DIRECT_MESSAGE}}
                </p>
            </a><!-- Twitter account not connected
            --><a ng-if="result.type == 'twitter' && !twitterAccount" class='action directMessage' href='javascript:void(0)' ng-click="twitterSignin()">
                <p><i class="fa fa-twitter-square" aria-hidden="true"></i> {{translation.DIRECT_MESSAGE}}</p>
            </a><!--
            --><div class="action skip-contact" ng-click="removeFromCurrentWatchlist(result.id, result.type, nameWatchlist); fadeOutResult(resultIndex);">
                <p><i class="fa fa-eye" aria-hidden="true"></i> {{translation.REMOVE}}</p>
            </div>
        </div>
    </div>
    <card-hover-small></card-hover-small>
</li>