<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender(); cardWatchlistRender()" id="{{$index}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false">
    <div class="item-corner" ng-mouseenter="hover = true" ng-click="hover = true" ng-hide="hover"></div>
    <div id="item{{resultIndex}}" class="item level-1" ng-class="{'actionDone' : result.actionDoneLv1}">
        <card-profiles-tabs></card-profiles-tabs>
        <div class="relevante-profile" ng-show="result.activeProfile == 'relevante'">
            <card-header></card-header>
            <card-keywords></card-keywords>
        </div>
        <card-engage-bar></card-engage-bar>
        <ul class="posts-list watchlist">
            <li ng-if="result.visibleProfile.lastPost != null" class="post {{$index}} level-1">
                <div ng-if="result.id == result.visibleProfile.lastPost.authorId" class="signals-title">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.MOST_RECENT_POST}}:</p>
                </div>
                <div ng-if="result.id != result.visibleProfile.lastPost.authorId" class="signals-title">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.PERSON_RELATED_TO_POST}}:</p>
                </div>
                <div class="post-wrap {{$index}} level-1">
                    <div>
                        <img ng-if="result.visibleProfile.lastPost.url_picture != null && result.visibleProfile.lastPost.url_picture != ''" class="post" ng-src="{{result.visibleProfile.lastPost.url_picture}}" />
                        <time>{{result.visibleProfile.lastPost.date}}</time>
                        <h5><a href="{{post.url}}" target="_blank">{{result.visibleProfile.lastPost.title}}</a></h5>
                        <p>{{result.visibleProfile.lastPost.text}}</p>
                    </div>
                </div>
                <div class="post-data actions">
                    <!-- LinkedIn Like enabled -->
                    <a ng-if="result.visibleProfile == result.networkProfiles.linkedin && linkedinAccount && result.networkProfiles.linkedin.lastPost.like == 'none'" ng-href="{{result.visibleProfile.lastPost.url}}" target="_blank" ng-click="linkedinLike(resultIndex, $index, result.visibleProfile.lastPost.id, result.type)" class="action like">
                        <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> Like</p>
                    </a><!-- LinkedIn Like disabled
                    --><a ng-if="result.visibleProfile == result.networkProfiles.linkedin && linkedinAccount && result.visibleProfile.lastPost.like != 'none'" href='javascript:void(0)' class="action like disabled">
                        <p>
                            <!-- LinkedIn Like: in progress -->
                            <i ng-if="result.visibleProfile.lastPost.like == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                            <!-- LinkedIn Like: done -->
                            <i ng-if="result.visibleProfile.lastPost.like == 'done'" class="fa fa-check" aria-hidden="true"></i>

                            <!-- LinkedIn Like: forbidden -->
                            <i ng-if="result.visibleProfile.lastPost.like == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                            <!-- LinkedIn Like: error -->
                            <i ng-if="result.visibleProfile.lastPost.like == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                            Like
                        </p>
                    </a><!-- LinkedIn account not connected
                    --><a ng-if="result.visibleProfile == result.networkProfiles.linkedin && !linkedinAccount" class="action like" href='javascript:void(0)' ng-click="linkedinSignin()">
                        <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> Like</p>
                    </a><!-- Twitter RT enabled
                    --><a ng-if="result.visibleProfile == result.networkProfiles.twitter && twitterAccount && result.visibleProfile.lastPost.retweet == 'none'" class="action retweet" ng-click="twitterRt(resultIndex, $index, result.visibleProfile.lastPost.id); $parent.$parent.$parent.hover = false" href='javascript:void(0)'>
                        <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Retweet</p>
                    </a><!-- Twitter RT disabled 
                    --><a ng-if="result.visibleProfile == result.networkProfiles.twitter && twitterAccount && result.visibleProfile.lastPost.retweet != 'none'" class="action retweet disabled" href='javascript:void(0)'>
                        <p>
                            <!-- Twitter Retweet: in progress -->
                            <i ng-if="result.visibleProfile.lastPost.retweet == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                            <!-- Twitter Retweet: done -->
                            <i ng-if="result.visibleProfile.lastPost.retweet == 'done'" class="fa fa-check" aria-hidden="true"></i>

                            <!-- Twitter Retweet: forbidden -->
                            <i ng-if="result.visibleProfile.lastPost.retweet == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                            <!-- Twitter Retweet: error -->
                            <i ng-if="result.visibleProfile.lastPost.retweet == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                            Retweet
                        </p>
                    </a><!-- Twitter account not connected
                    --><a ng-if="result.visibleProfile == result.networkProfiles.twitter && !twitterAccount" class="action retweet" href='javascript:void(0)' ng-click="twitterSignin()">
                        <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Retweet</p>
                    </a><!-- Twitter Fav enabled
                    --><a ng-if="result.visibleProfile == result.networkProfiles.twitter && twitterAccount && result.visibleProfile.lastPost.fav == 'none'" class="action fav" ng-click="twitterFav(resultIndex, $index, result.visibleProfile.lastPost.id); $parent.$parent.$parent.hover = false" href='javascript:void(0)'>
                        <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Fav</p>
                    </a><!-- Twitter Fav disabled 
                    --><a ng-if="result.visibleProfile == result.networkProfiles.twitter && twitterAccount && result.visibleProfile.lastPost.fav != 'none'" class="action fav disabled" href='javascript:void(0)'>
                        <p>
                            <!-- Twitter Fav: in progress -->
                            <i ng-if="result.visibleProfile.lastPost.fav == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                            <!-- Twitter Fav: done -->
                            <i ng-if="result.visibleProfile.lastPost.fav == 'done'" class="fa fa-check" aria-hidden="true"></i>

                            <!-- Twitter Fav: forbidden -->
                            <i ng-if="result.visibleProfile.lastPost.fav == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                            <!-- Twitter Fav: error -->
                            <i ng-if="result.visibleProfile.lastPost.fav == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                            Fav
                        </p>
                    </a><!-- Twitter account not connected
                    --><a ng-if="result.visibleProfile == result.networkProfiles.twitter && !twitterAccount" class="action fav" href='javascript:void(0)' ng-click="twitterSignin()">
                        <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Fav</p>
                    </a><!--
                    --><div class="action skip-contact" ng-click="removeFromCurrentWatchlist(result.id, result.type, nameWatchlist); fadeOutResult(resultIndex);">
                        <p><i class="fa fa-eye" aria-hidden="true"></i> {{translation.REMOVE}}</p>
                    </div>
                </div>
            </li>
            <li ng-if="result.visibleProfile.lastPost == null" class="post level-1 watchlist-no-activity">
                <div class="signals-title">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.NO_ACTIVITY}}</p>
                </div>
                <div class="fake-layer-level1"></div>
                <div class="actions">
                    <div class="action skip-contact full-width" ng-click="removeFromCurrentWatchlist(result.id, result.type, nameWatchlist); fadeOutResult(resultIndex);">
                        <p><i class="fa fa-eye" aria-hidden="true"></i> {{translation.REMOVE}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <card-hover></card-hover>
</li>