<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender(); startOnboardingBuild()" id="{{result.id}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false" bn-line-item ng-hide="alreadyInCardWatchlist(result.id, currentList.name)">
    <card-corner-expand></card-corner-expand>
    <div class="item" ng-class="{'disabled-profile' : result.disabledProfile}">
        <div class="card-tabs-wrap">
            <ul class="card-tabs">
                <li ng-if="result.watchlists.length > 0"
                    ng-click="result.activeProfile = 'relevante'"
                    ng-class="{active:result.activeProfile == 'relevante'}"
                    class="profile-enabled relevante">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </li><!--
                --><li ng-if="result.watchlists.length == 0"
                    class="profile-disabled build"
                    tooltip-class="tooltip-card-tab"
                    uib-tooltip="Add this person to a list in order to enrich his profile and engage!"
                    tooltip-placement="bottom">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </li><!--
                --><li ng-if="result.networkProfiles.linkedin != null"
                    ng-click="result.activeProfile = 'linkedin'"
                    ng-class="{active:result.activeProfile == 'linkedin'}"
                    class="profile-enabled linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </li><!--
                --><li ng-if="result.networkProfiles.linkedin == null"
                    class="profile-disabled build"
                    tooltip-class="tooltip-card-tab"
                    uib-tooltip="Add this person to a list in order to enrich his profile and engage!"
                    tooltip-placement="bottom">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </li><!--

                --><li ng-if="result.networkProfiles.twitter != null"
                    ng-click="result.activeProfile = 'twitter'"
                    ng-class="{active:result.activeProfile == 'twitter'}"
                    class="profile-enabled twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </li><!--
                --><li ng-if="result.networkProfiles.twitter == null"
                    class="profile-disabled build"
                    tooltip-class="tooltip-card-tab"
                    uib-tooltip="Add this person to a list in order to enrich his profile and engage!"
                    tooltip-placement="bottom">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </li>
            </ul>
        </div>

        <div class="relevante-profile" ng-show="result.activeProfile == 'relevante'">
            <card-header></card-header>
            <card-keywords></card-keywords>
        </div>

        <div ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key">
            <card-header></card-header>
            <card-keywords></card-keywords>
        </div>

        <div class="user-signals top">
            <div class="signals-title">
                <p>{{translation.TOP_SIGNALS}}</p>
            </div>
            <div ng-repeat="signal in result.signals" class="signal-block">
                <!-- <div class="block section-network">
                    <i ng-if="signal.network == 'linkedin'" class="fa fa-fw fa-linkedin-square linkedin" aria-hidden="true"></i> 
                    <i ng-if="signal.network == 'twitter'" class="fa fa-fw fa-twitter-square twitter" aria-hidden="true"></i> 
                </div> -->
                <div class="block section-icon">
                    <i ng-if="signal.category == 'bio'" class="fa fa-fw fa-briefcase" aria-hidden="true" title="{{translation.BIO}}"></i>
                    <i ng-if="signal.category == 'social'" class="fa fa-fw fa-rss" aria-hidden="true" title="{{translation.PUBLISHED_POST}}"></i>
                    <i ng-if="signal.category == 'habitat'" class="fa fa-fw fa-users" aria-hidden="true" title="{{translation.LINKEDIN_GROUP}}"></i>
                </div>
                <div class="block section-content">
                    <p>{{signal.description | limitTo: 60}}...</p>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="action validateResult row-88" ng-show="!result.validated" ng-click="pushBuildResultToList(result); result.validated = true">
                <p><i class="fa fa-check" aria-hidden="true"></i></p>
            </div><!--
            --><div class="action validateResult validated row-88" ng-show="result.validated" ng-click="removeBuildResultTFromList(result); result.validated = false">
                <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
            </div><!--
            --><div ng-if="!blacklist" class="action skip-contact" ng-click="addToBlacklist(resultIndex, result.type, result.id); fadeOutResult(result.id)"
                uib-tooltip="{{translation.BLACKLIST_TOOLTIP}}" 
                tooltip-placement="left"><p><i class="fa fa-ban" aria-hidden="true"></i></p></div><!--
            --><div ng-if="blacklist" class="action skip-contact relist full-width" ng-click="relistFromBlacklist(0, result.type, result.id); fadeOutResult(result.id)"><p>{{translation.RELIST_FROM_BLACKLIST}}</p></div>
        </div>
    </div>
    <card-hover></card-hover>
    <div class="disabled-card" ng-if="result.disabledProfile"></div>
</li>