<li class="item-wrap uploadPending" ng-if="contactListRetrieved && currentList.uploadPending">
    <p>
        <i class="fa fa-upload" aria-hidden="true"></i>
    </p>
    <p>
        {{translation.UPLOAD_PENDING_EXPLANATION}}
    </p>
</li>

<li ng-repeat="result in contactList track by $index"  on-finish-retrieve="cardFunctions()" on-finish-render="cardRender(); startOnboardingEngage()" id="{{result.id}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false" bn-line-item>
    <card-corner-expand></card-corner-expand>
    <div class="item level-0" ng-class="{'disabled-profile' : result.disabledProfile}">
        <card-profiles-tabs></card-profiles-tabs>
        <div class="relevante-profile" ng-show="result.activeProfile == 'relevante'">
            <card-header></card-header>
            <card-tags-watchlists></card-tags-watchlists>
        </div>

        <div ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key">
            <card-header></card-header>
            <card-tags-watchlists></card-tags-watchlists>
<!--             <div class="user-signals single">
                <div class="user-personal-info">
                    <div class="block section-icon"><i class="fa fa-fw fa-briefcase" aria-hidden="true" title="{{translation.BIO}}"></i></div>
                    <div class="block section-content">
                        <p ng-if="key == 'linkedin'" ng-show="profile.summary != null || profile.title != null">{{profile.summary || profile.title | limitTo: 45}}</p>
                        <p ng-if="key == 'twitter'" ng-show="profile.headline != null || profile.userBio != null">{{profile.headline || profile.userBio | limitTo: 45}}</p>
                        <p ng-if="key == 'linkedin'" ng-show="!profile.summary.length && !profile.title.length" class="empty">{{translation.NO_BIO}}</p>
                        <p ng-if="key == 'twitter'" ng-show="!profile.headline.length && !profile.userBio.length" class="empty">{{translation.NO_BIO}}</p>
                    </div>
                </div>
            </div> -->
        </div>

        <card-engage-bar></card-engage-bar>

        <div class="activity-info" ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key">
            <nav>
                <!-- LinkedIn with activity -->
                <li ng-show="key == 'linkedin' && profile.lastPost != null" ng-class="{active : profile.profileTab == 'activity'}" ng-click="profile.profileTab = 'activity'" class="linkedin">
                    <p><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.MOST_RECENT_POST}}</p>
                </li><!-- Linkedin with no activity
                --><li ng-show="key == 'linkedin' && profile.lastPost == null" class="disabled" uib-tooltip="{{translation.NO_ACTIVITY}}" tooltip-placement="bottom" class="linkedin disabled">
                    <p><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.MOST_RECENT_POST}}</p>
                </li><!-- Twitter with activity
                --><li ng-show="key == 'twitter' && profile.lastPost != null" ng-class="{active : profile.profileTab == 'activity'}" ng-click="profile.profileTab = 'activity'" class="twitter">
                    <p ng-show="key == 'twitter'"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.MOST_RECENT_TWEET}}</p>
                </li><!-- LinkedIn info
                --><li ng-show="key == 'linkedin'" ng-class="{active : profile.profileTab == 'info'}" ng-click="profile.profileTab = 'info'" class="linkedin">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{translation.INFO}}
                </li><!-- Twitter with info
                --><li ng-show="key == 'twitter' && profile.headline != null" ng-class="{active : profile.profileTab == 'info'}" ng-click="profile.profileTab = 'info'" class="twitter">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{translation.INFO}}
                </li><!-- Twitter with no info
                --><li ng-show="key == 'twitter' && profile.headline == null" uib-tooltip="{{translation.NO_BIO}}" tooltip-placement="bottom" class="twitter disabled">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{translation.INFO}}
                </li>
            </nav>
        </div>

        <ul class="posts-list watchlist" ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key && profile.profileTab == 'activity'">
            <li ng-if="profile.lastPost != null" ng-init="post = profile.lastPost" class="post level-1">
                <div class="post-wrap {{$index}} level-1">
                    <div>
                        <img ng-if="post.postImg != null && post.postImg != ''" class="post" ng-src="{{post.postImg}}" />
                        <time>{{post.date * 1000 | date:'longDate'}}</time>
                        <h5><a href="{{post.url}}" target="_blank">{{post.title}}</a></h5>
                        <p><a href="{{post.url}}" target="_blank">{{post.text}}</a></p>
                    </div>
                </div>
            </li>
            <li ng-if="profile.lastPost == null" class="post level-1 watchlist-no-activity">
                <div class="signals-title"
                    ng-class="{linkedin : key == 'linkedin',
                        twitter: key == 'twitter'}">
                    <p><i class="fa fa-fw fa-rss" aria-hidden="true"></i> {{translation.NO_ACTIVITY}}</p>
                </div>
                <div class="fake-layer-level1"></div>
            </li>
        </ul>

        <div class="user-info-layer" ng-repeat="(key, profile) in result.networkProfiles" ng-show="result.activeProfile == key && profile.profileTab == 'info'" ng-click="expand(resultIndex, result.id, 'lg')" uib-tooltip="{{translation.CLICK_TO_EXPAND_INFO}}">
            <ul ng-if="key == 'linkedin'">
                <li ng-if="profile.title != null">
                    <i class="fa fa-briefcase" aria-hidden="true"></i> {{profile.title}}
                </li>
                <li ng-if="profile.industry != null">
                    <i class="fa fa-industry" aria-hidden="true"></i> {{profile.industry}}
                </li>
                <li ng-if="profile.summary != null">
                    <i class="fa fa-user" aria-hidden="true"></i> {{profile.summary}}
                </li>
                <li ng-if="profile.groups.length > 0">
                    <i class="fa fa-users" aria-hidden="true"></i> {{profile.groups[0]}}
                </li>
            </ul>

            <div class="twitter-bio" ng-if="key == 'twitter'">
                <p>{{profile.headline}}</p>
            </div>
        </div>


        <div class="actions">
            <card-profile-relevante ng-if="result.activeProfile == 'relevante'"></card-profile-relevante>
            <card-profile-linkedin ng-if="result.activeProfile == 'linkedin'"></card-profile-linkedin>
            <card-profile-twitter ng-if="result.activeProfile == 'twitter'"></card-profile-twitter>
        </div>
    </div>
    <card-hover></card-hover>
    <div class="disabled-card" ng-if="result.disabledProfile"></div>
</li>