<li ng-repeat="result in contactList track by $index" on-finish-retrieve="cardFunctions()" on-finish-render="cardRender()" id="{{result.id}}" class="item-wrap {{$index}} {{result.type}}" ng-init="resultIndex = $index" ng-mouseleave="hover = false" bn-line-item>

    <div class="item" ng-class="{'disabled-profile' : result.disabledProfile}">

        <div class="user-img">
            <img ng-if="result.imageUrl.length" ng-src="{{result.imageUrl}}" err-src="/static/images/default_user_image.jpg" />
            <img ng-if="result.imageUrl == null || result.imageUrl == ''" src="/static/images/default_user_image.jpg"/>
            <div ng-if="!result.distance == 'DISTANCE_1'" class="relationship-type contact">
                <p>{{translation.CONTACT}}</p>
            </div>
            <div ng-if="!result.distance != 'DISTANCE_1'" class="relationship-type prospect">
                <p>{{translation.PROSPECT}}</p>
            </div>
        </div>
        <div class="user-info user-details">
            <h3>{{result.name | limitTo:23}}</h3>
            <aside>{{result.occupation | limitTo:23}}</aside>
            <aside>{{translation.COMMON_CONTACTS}}: {{result.common_contacts}} x <i class="fa fa-user" aria-hidden="true"></i></aside>
            <div class="location">{{result.location | limitTo:28}}</div>
            <div class="view-on-linkedin">
                <a href="https://www.linkedin.com/in/{{result.public_identifier}}" target="_blank">{{translation.VIEW_ON_LINKEDIN}}</a>
            </div>
        </div>

        <div class="actions">
            <div class="action validateResult row-88" ng-show="!result.validated" ng-click="pushBuildResultToList(result)">
                <p><i class="fa fa-check" aria-hidden="true"></i></p>
            </div><!--
            --><div class="action validateResult validated row-88" ng-show="result.validated">
                <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
            </div><!--
            --><div ng-if="!blacklist" class="action skip-contact" ng-click="addToBlacklist(resultIndex, result.type, result.id); fadeOutResult(result)"
                uib-tooltip="{{translation.BLACKLIST_TOOLTIP}}" 
                tooltip-placement="left"><p><i class="fa fa-ban" aria-hidden="true"></i></p></div><!--
            --><div ng-if="blacklist" class="action skip-contact relist full-width" ng-click="relistFromBlacklist(0, result.type, result.id); fadeOutResult(result.id)"><p>{{translation.RELIST_FROM_BLACKLIST}}</p></div>
        </div>
    </div>
    <card-hover></card-hover>
    <div class="disabled-card" ng-if="result.disabledProfile"></div>
</li>