<!DOCTYPE html>
<html ng-app="relevante">
<head>
	<meta charset="utf8">
	<title>sequences.me</title>
    <meta name="keywords" content="Sequences, social selling, inbound selling, pretargeting, social prospecting, lead generation, social outreach, triggers, Linkedin outreach, GDPR outreach, GDPR for sales, Sales hacking, Linkedin Automation, artificial intelligence, A.I. for sales, Growth Hacking">
    <meta name="description" content="Sequences of social interactions and messages triggered by keywords.">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <base href="/">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css" charset="utf-8" />
    <!-- Hotjar Tracking Code for relevante.me -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:821958,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("dc2e431c6e52e50a035e106a78e663c2");</script><!-- end Mixpanel -->
    <!-- LogRocket -->
    <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
    <!-- TruConversion for  -->
<!--     <script type="text/javascript">
        var _tip = _tip || [];
        (function(d,s,id){
            var js, tjs = d.getElementsByTagName(s)[0];
            if(d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.async = true;
            js.src = d.location.protocol + '//app.truconversion.com/ti-js//d41d8.js';
            tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'ti-js'));
    </script> -->
</head>
<body ng-controller="SiteCtrl as site" class="{{$state.current.name}}">

<svg-icons></svg-icons>

<header></header>

<data-ui-view></data-ui-view>

<feedback-messages></feedback-messages>

<!-- Load JavaScript libs -->
<script src="./static/js/vendor/hmac-sha256.js"></script>
<script src="./static/js/vendor/enc-base64-min.js"></script>
<script type="text/javascript" src="./static/js/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/jquery-ui.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/hscroll.js"></script>
<script type="text/javascript" src="./static/js/vendor/jquery.qtip.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/quickpager.jquery.js"></script>
<script type="text/javascript" src="./static/js/vendor/intro.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular.js"></script>
<script type="text/javascript" src="./static/js/vendor/angularjs-crypto.js"></script>
<script src="./static/js/vendor/CryptoJSCipher.js"></script>
<script src="./static/js/vendor/aes.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-animate.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-ui-bootstrap.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-ui-scroll.js"></script>
<script type="text/javascript" src="./static/js/vendor/ui-grid.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/csv.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-resource.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-cookies.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-validator.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/query-string.js"></script>
<script type="text/javascript" src="./static/js/vendor/angularJwt.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-oauth2.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-ui-router.js"></script>
<script type="text/javascript" src="./static/js/vendor/angular-local-storage.js"></script>
<script type="text/javascript" src="./static/js/vendor/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="./static/js/vendor/clickoutside.directive.js"></script>
<script type="text/javascript" src="./static/js/vendor/ngDraggable.js"></script>
<script type="text/javascript" src="./static/js/vendor/wdtLoading.js"></script>
<script src="https://use.fontawesome.com/2a44bcfed2.js"></script>
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://checkout.quaderno.io/checkout.js"></script>

<script src="./static/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>

<script type="text/javascript" src="./static/js/app.js"></script>
<script type="text/javascript" src="./config.js"></script>
<script type="text/javascript" src="./static/js/services/translationService.js"></script>
<script type="text/javascript" src="./static/js/services/selWatchlistService.js"></script>
<script type="text/javascript" src="./static/js/controllers/list-settings.js"></script>
<script type="text/javascript" src="./static/js/controllers/customsearch.js"></script>
<script type="text/javascript" src="./static/js/controllers/recent-activity.js"></script>
<script type="text/javascript" src="./static/js/controllers/my-contacts.js"></script>
<script type="text/javascript" src="./static/js/controllers/build.js"></script>
<script type="text/javascript" src="./static/js/controllers/filter.js"></script>
<script type="text/javascript" src="./static/js/controllers/watchlist.js"></script>
<script type="text/javascript" src="./static/js/controllers/blacklist.js"></script>
<script type="text/javascript" src="./static/js/controllers/content-hub.js"></script>
<script type="text/javascript" src="./static/js/controllers/quicksearch.js"></script>
<script type="text/javascript" src="./static/js/controllers/onboardingFilter.js"></script>
<script type="text/javascript" src="./static/js/controllers/onboardingWatchlist.js"></script>
<script type="text/javascript" src="./static/js/controllers/cards.js"></script>

<!-- start Intercom -->
<script>
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
s.src='https://widget.intercom.io/widget/{app_id}';
var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>
<!-- end Intercom -->
</body>
</html>