<div id="user-account" click-outside="hideUserAccount()" outside-if-not="username-menu user-content-wrap notClose">
	<div class="user-content-wrap">
		<div class="user-image">
			<img ng-src="{{userImg}}" />
		</div>
		<div class="user-details">
			<h1 ng-show="!editNameEnabled">{{site.user.name}}</h1>
			<form ng-show="editNameEnabled" angular-validator-submit="updateUserData(form)" name="updateUserDataForm" class="form-horizontal update-user-data-form" novalidate angular-validator>
	            
	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10">
	                    <input  show-focus="editNameEnabled"
	                    		type = "text"
	                            name = "name"
	                            class = "form-control name"
	                            ng-model = "form.name"
	                            placeholder="{{site.user.name}}"
	                            required
	                            ng-enter="updateUserData(form)"></div>
	            </div>

	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10 text-align-center">
	                    <button type="submit" class="btn btn-primary save">{{translation.SAVE}}</button>
	                    <button type="button" ng-click="updateUserDataForm.reset(); editNameEnabled = false" class="btn btn-primary reset">{{translation.CANCEL}}</button>
	                </div>
	            </div>
	        </form>
	        <i ng-show="!editNameEnabled" class="fa fa-pencil pointer edit" aria-hidden="true" ng-click="editNameEnabled = true; focusInput = true"></i><br />
			<h2 ng-show="!editEmailEnabled">{{site.user.email}}</h2>
			<form ng-show="editEmailEnabled" angular-validator-submit="updateUserData(form)" name="updateUserDataForm" class="form-horizontal update-user-data-form" novalidate angular-validator>
	 
	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10">
	                    <input  show-focus="editEmailEnabled"
	                    		ng-change="alreadyRegisteredEmail = false"
	                    		type = "email"
	                            name = "emailAddress"
	                            class = "form-control email"
	                            ng-model = "form.email"
	                            invalid-message="'{{translation.NO_REAL_EMAIL}}'"
	                            placeholder="{{site.user.email}}"
	                            required
	                            ng-enter="updateUserData(form)"></div>
	            </div>

	            <div ng-if="alreadyRegisteredEmail" class="tip error">
	                <p>{{translation.EMAIL_ALREADY_REGISTERED}}</p>
	            </div>

	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10 text-align-center">
	                    <button type="submit" class="btn btn-primary save">{{translation.SAVE}}</button>
	                    <button type="button" ng-click="updateUserDataForm.reset(); editEmailEnabled = false" class="btn btn-primary reset">{{translation.CANCEL}}</button>
	                </div>
	            </div>
	        </form>

	        <i ng-show="!editEmailEnabled" class="fa fa-pencil pointer edit" aria-hidden="true" ng-click="editEmailEnabled = true; focusInput = true"></i><br />

			<aside ng-show="!editPasswordEnabled" ng-click="editPasswordEnabled = true; focusInput = true">{{translation.CHANGE_PASSWORD}}</aside>
			<form ng-show="editPasswordEnabled" angular-validator-submit="updateUserData(form)" name="updateUserDataForm" class="form-horizontal update-user-data-form" novalidate angular-validator>

	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10">
	                    <input  show-focus="editPasswordEnabled"
	                    		type = "{{inputType}}"
	                            name = "password"
	                            class = "form-control password"
	                            ng-model = "form.password"
	                            validator = "passwordValidator(form.password) === true"
	                            invalid-message = "passwordValidator(form.password)"
	                            placeholder="{{translation.NEW_PASSWORD}}"
	                            required
	                            ng-enter="updateUserData(form)"></div>
	            </div>
	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10">
	                    <input  type = "{{inputType}}"
	                            name = "confirmPassword"
	                            class = "form-control"
	                            ng-model = "form.confirmPassword"
	                            validator = "form.password === form.confirmPassword"
	                            invalid-message = "'{{translation.PASSWORDS_DONT_MATCH}}'"
	                            required
	                            placeholder="{{translation.CONFIRM_NEW_PASSWORD}}"></div>
	                <div class="password-revealer col-sm-offset-1 col-sm-10">
	                    <label for="checkbox" ng-if="!passwordCheckbox">{{translation.SHOW_PASSWORD}}</label>
	                    <label for="checkbox" ng-if="passwordCheckbox">{{translation.HIDE_PASSWORD}}</label>
	                    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
	                </div>
	            </div>

	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-10 text-align-center">
	                    <button type="submit" class="btn btn-primary save">{{translation.SAVE}}</button>
	                    <button type="button" ng-click="updateUserDataForm.reset(); editPasswordEnabled = false" class="btn btn-primary reset">{{translation.CANCEL}}</button>
	                </div>
	            </div>
	        </form>
		</div>
		<div class="user-preferences">
			<h2>{{translation.APP_LANGUAGE}}:</h2>
			<div class="lang-sel">
	            <span class="caret"></span>
	            <select class="lang-control" ng-change="translate(selectedLanguage)" ng-model="selectedLanguage">
		            <option value="en">EN</option>
		            <option value="es">ES</option>
	            </select>
	        </div>
		</div>
		<div class="user-social-networks">
			<div ng-show="linkedinAccount" class="social linkedin">
				<div class="block left"><img src="./static/images/linkedin_enabled.png" /></div><!--
				--><div class="block right">
					<h2 class="name">{{site.userInfo.linkedin.name_linkedin}}</h2>
					<p class="logout function" ng-click="linkedinLogout()">{{translation.DISCONNECT}}</p>
				</div>
			</div>
			<div ng-show="!linkedinAccount" class="social linkedin">
				<div class="block left"><img src="./static/images/linkedin_signin.png" /></div><!--
				--><div class="block right"><h2 ng-click="linkedinSignin()" class="function">{{translation.CONNECT}} <span>LinkedIn</span></h2></div>
			</div>
			<div ng-show="twitterAccount" class="social twitter">
				<div class="block left"><img src="./static/images/twitter_enabled.png" /></div><!--
				--><div class="block right">
					<h2 class="name">@{{site.userInfo.twitter.screenNameTwitter}}</h2>
					<p class="logout function" ng-click="twitterLogout()">{{translation.DISCONNECT}}</p>
				</div>
			</div>
			<div ng-show="!twitterAccount" class="social twitter">
				<div class="block left"><img src="./static/images/twitter_signin.png" /></div><!--
				--><div class="block right"><h2 ng-click="twitterSignin()" class="function">{{translation.CONNECT}} <span>Twitter</span></h2></div>
			</div>
		</div>
		<div id="subscription-title">
        	<h3>{{translation.CURRENT_SUBSCRIPTION}}</h3>
        </div><!-- TRIAL PERIOD ENABLED
        --><div ng-if="!site.user.subscribed" id="subscription" class="trial">
        	<h2>{{translation.TRIAL_PERIOD}}</h2>
        	<aside ng-if="site.user.trialPeriodRemainingDays >= 0"><span>{{translation.DAYS_REMAINING}}:</span> {{site.user.trialPeriodRemainingDays}}</aside>
        	<aside ng-if="site.user.trialPeriodRemainingDays < 0"><span>{{translation.DAYS_REMAINING}}:</span> 0</aside>
        </div><!--
        --><div id="subscribe-now" ng-if="!site.user.subscribed" ng-click="openSubscribeNowModal()">
        	<h3>{{translation.SUBSCRIBE_NOW}}</h3>
        </div><!-- SUBSCRIBED USER
        --><div ng-if="site.user.subscribed" id="subscription" class="{{site.user.pricingPlan}}" ng-class="{'showing-details' : showSubscriptionDetails && site.user.pricingPlan != 'level2' && site.user.pricingPlanInterval != 'year'}">
        	<h2 ng-click="$parent.showSubscriptionDetails = !$parent.showSubscriptionDetails">
	        	<span ng-if="site.user.pricingPlan == 'level1'">{{translation.PRICING_LEVEL1}}</span>
	        	<span ng-if="site.user.pricingPlan == 'level2'">{{translation.PRICING_LEVEL2}}</span>
	        	<span ng-if="site.user.pricingPlan == 'level3'">{{translation.PRICING_GROWTH}}</span>
	        	<span ng-if="!$parent.showSubscriptionDetails"><i class="fa fa-caret-down notClose" aria-hidden="true"></i></span><span ng-if="$parent.showSubscriptionDetails"><i class="fa fa-caret-up notClose" aria-hidden="true"></i></span>
	        </h2>
        	<div class="subscription-details" ng-if="$parent.showSubscriptionDetails">
	        	<p><span>{{translation.MONITORED_PROFILES}}</span><br />{{site.user.maxMonitoredProfiles}}/{{translation.MONTH}}</p>
				<!-- <p><span>{{translation.INCLUDED_EMAILS}}</span><br />{{site.user.monthlyEnrichmentLimit}}/{{translation.MONTH}}</p>
	        	<p><span>{{translation.PRICE_EXTRA_EMAIL}}</span><br />{{site.user.extraEnrichmentPricePerUnit}}</p> -->
	        	<p class="date"><span ng-if="site.user.status != 'deleted'">{{translation.NEXT_PAYMENT_DUE_DATE}}</span><span ng-if="site.user.status == 'deleted'" class="alert">{{translation.SUBSCRIPTION_EXPIRATION_DATE}}</span><br />
	        	{{site.user.nextSubscriptionCheckoutDate * 1000 | date:'longDate'}}<br />
	        	<span class="small">{{site.user.currentSubscriptionRemainingDays}} {{translation.DAYS_REMAINING}}</span>
	        	</p>
	        	<div ng-if="site.user.coupon" ng-init="coupon = site.user.coupon" class="coupon">
	        		<h3>{{translation.PROMO_ENABLED}}</h3>
	        		<p><span>{{translation.NAME}}</span><br />{{coupon.name}}</p>
	        		<p ng-if="coupon.amountOff" class="discount-amount"><span>{{translation.OFFER_DISCOUNT}}</span><br />{{coupon.amountOff / 100 | currency : coupon.currency : 2}}/{{translation.MONTH}}</p>
	        		<p ng-if="coupon.percentOff" class="discount-amount"><span>{{translation.OFFER_DISCOUNT}}</span><br />{{coupon.percentOff}}/{{translation.MONTH}}</p>
	        		<p class="date" ng-if="!coupon.forever"><span>{{translation.EXPIRATION_DATE}}</span><br />{{coupon.expirationDate * 1000 | date:'longDate'}}</p>
	        		<p class="date forever" ng-if="coupon.forever"><span>{{translation.EXPIRATION_DATE}}</span><br />{{translation.FOREVER}}</p>
	        	</div>
        	</div>
        </div><!-- UPGRADE ACCOUNT
        --><div id="upgrade-account"
        	ng-if="site.user.subscribed
        		&& showSubscriptionDetails
        		&& site.user.status != 'deleted'"
        	ng-hide="site.user.pricingPlan == 'level2'
        		&& site.user.pricingPlanInterval == 'year'"
        	ng-click="openUpgradeAccountModal()"
        	ng-class="site.user.pricingPlan">
        	<h3 ng-if="site.user.pricingPlan != 'level2'">{{translation.UPGRADE_YOUR_ACCOUNT}}</h3>
        	<h3 ng-if="site.user.pricingPlan == 'level2' && site.user.pricingPlanInterval == 'month'">{{translation.SAVE_BY_ANUAL_PLAN}}</h3>
        </div><!-- RE-ENABLE ACCOUNT
        --><div id="upgrade-account"
        	ng-if="site.user.subscribed
        		&& showSubscriptionDetails
        		&& site.user.status == 'deleted'"
        	ng-click="openReenableAccountModal()"
        	ng-class="site.user.pricingPlan">
        	<h3>{{translation.REENABLE_SUBSCRIPTION}}</h3>
        </div><!-- CANCEL SUBSCRIPTION
        --><div id="cancel-subscription" ng-if="showSubscriptionDetails && site.user.subscribed && site.user.status != 'deleted'" ng-hide="$parent.cancelSubscriptionRequest" ng-click="$parent.cancelSubscriptionRequest = true">
        	<p>{{translation.CANCEL_SUBSCRIPTION}}</p>
        </div>
        <div id="cancel-subscription-confirm" ng-show="cancelSubscriptionRequest">
        	<h2>{{translation.IMPORTANT_NOTICE}}</h2>
        	<p>{{translation.CANCEL_SUBSCRIPTION_EXPLANATION_1}}</p>
        	<p>{{translation.CANCEL_SUBSCRIPTION_EXPLANATION_2}}</p>
        	<p>{{translation.CANCEL_SUBSCRIPTION_EXPLANATION_3}}</p>
        	<button class="confirm" ng-click="cancelRelevanteSubscription(); cancelSubscriptionRequest = false">{{translation.CONFIRM}}</button>
        	<button class="cancel" ng-click="cancelSubscriptionRequest = false">{{translation.CANCEL}}</button>
        </div>

        <div id="credit-title"
        	ng-hide="site.user.subscribed">
        	<h3>{{translation.ENRICHMENT_CREDIT}}</h3>
        </div><!-- USER CREDIT
        --><div id="credit-details"
        	ng-hide="site.user.subscribed">
    		<p class="remaining"><span>{{translation.REMAINING_CREDIT}}:</span> {{currentCreditAmount | currency : '€' : 2}}<br />
    		<span class="profiles">{{remainingEnrichmentQuantity}} {{translation.PROFILES}} | {{site.user.extraEnrichmentPricePerUnit | currency : '€'}}/{{translation.PROFILE}}</span></p>
    		<p id="show-payment-history" ng-click="$parent.showPaymentHistory = !$parent.showPaymentHistory" ng-if="paymentHistory.length > 0">{{translation.SHOW_PAYMENT_HISTORY}} <span ng-if="!$parent.showPaymentHistory"><i class="fa fa-caret-down" aria-hidden="true"></i></span><span ng-if="$parent.showPaymentHistory"><i class="fa fa-caret-up" aria-hidden="true"></i></span></p>

	    	<div id="payment-history" ng-if="showPaymentHistory">
	    		<ul>
	    			<li ng-repeat="payment in paymentHistory track by $index">
	    				<p>{{payment.amount | currency : '€' : 2}}</p>
	    				<p class="date">{{payment.date * 1000 | date:'longDate'}}</p>
	    			</li>
	    		</ul>
	    		<div class="spent">
	    			<p class="total"><span>{{translation.TOTAL}}:</span> {{totalCreditAmount | currency : '€' : 2}}</p>
	    			<p class="total-spent"><span>{{translation.SPENT_CREDIT}}:</span> {{spentCreditAmount | currency : '€' : 2}}<br />
	    			<span class="emails">({{(spentCreditAmount/(site.user.extraEnrichmentPricePerUnit)) | number: 0}} {{translation.OBTAINED_PROFILES}})</span></p>
	    		</div>
	        </div>
        </div><!--
    	--><div id="increase-enrichment-budget"
    		ng-click="openEnrichmentBudgetModal(); hideUserAccount()"
    		ng-hide="site.user.subscribed">
			<h3>{{translation.ADD_CREDIT}}</h3>
		</div>
<!-- 		<div class="download-chrome-extension">
			<button ng-click="goToChromeExtensionUrl()"><i class="fa fa-chrome" aria-hidden="true"></i> {{translation.GCE_DOWNLOAD_BUTTON}}</button>
		</div> -->
		<div ng-show="hubEnabled" id="content-hub">
			<a href="/contentHUB" ng-click="hideUserAccount()" class="config-content-hub"><i class="fa fa-cog" aria-hidden="true"></i> {{translation.CONTENT_HUB}}</a>
		</div>
		<h2 class="logout"><a ng-click="logoutRelevante()" target="_self">{{translation.LOGOUT_FROM_RELEVANTE}}</a></h2>
		<p class="privacy-policy" ng-click="showPrivacyPolicy()">{{translation.PRIVACY_POLICY}}</p>
	</div>
</div>