<div class="status-msg">
    <h1>{{translation.APP_FAIL}}</h1>
    <aside>{{translation.APP_FAIL_MSG}} <a href="goBack()">{{translation.APP_FAIL_LINK_MSG}}</a>.</aside>
</div>

<!-- Mixpanel -->
<script type="text/javascript">
	$( document ).ready(function() {
		mixpanel.track("App fail");
	});
</script>
