<section class="dashboardv2 right column unit-100">

    <div id="wrapper" class="units-row units-split" ng-controller="build">
      <div class="results-toolbar list">
        <div id="nav-title-icon" class="build">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
        </div><!--
        --><div id="nav-title-text">
            <div class="title-data grey">
                <p>{{currentList.name}} </p>
            </div><!--
            --><div id="nav-arrow-right" class="grey"></div>
        </div>

        <div id="list-settings-panel-trigger" ng-click="showListSettingsPanel()">
            <span>{{translation.LIST_SETTINGS}}</span> <i class="fa fa-cogs"></i>
        </div>
      </div>

      <div class="title-balloon margin-top" ng-if="currentList.num == 0">
          <div class="glyph">
              <svg class="icon">
                <use xlink:href="#technology-2"></use>
            </svg>
          </div>
          <h2>{{translation.SELECT_PEOPLE_TO_START_ENGAGING}}</h2>
      </div>

        <div ng-controller="cards" class="cards-container">

            <ul class="contacts-list filter-interface editSearchEnabled">
                <cards-build></cards-build>
            </ul>

            <div id="engage-action" ng-click="goToList(currentList.id, currentList.name); hideEngageAction = true" ng-show="contactList.length > 0 && selectedBuildResults.length > 0 && !hideEngageAction">
                <p>{{translation.START_ENGAGING}} {{selectedBuildResults.length}} x <i class="fa fa-user" aria-hidden="true"></i> | {{translation.LIST}}: {{currentBuildList.name}}</p>
            </div>
            <results-status-messages></results-status-messages>
        </div>
    </div>
</section>

<list-settings-panel></list-settings-panel>