<div id="configHub" ng-controller="content-hub">

	<h1>{{translation.CONTENT_HUB_CLAIM}}</h1>
	<section id="connect-pocket">
		<div ng-if="!pocketAccount" class="block pocket disabled" ng-click="pocketSignin()">
			<i class="fa fa-get-pocket disabled" aria-hidden="true"></i>
			<p><span>{{translation.CONNECT_YOUR}}</span> Pocket</p>
		</div>
		<div ng-if="pocketAccount" class="block pocket">
			<i class="fa fa-get-pocket" aria-hidden="true"></i>
			<p>{{pocketUsername}}</p>
			<p class="logout" ng-click="pocketLogout()">{{translation.LOGOUT}}</p>
		</div>
		<div ng-if="!pocketAccount" class="block arrow">
			<i class="fa fa-arrow-right" aria-hidden="true"></i>
		</div>
		<div ng-if="pocketAccount" class="block link">
			<i class="fa fa-link" aria-hidden="true"></i>
		</div>
		<div class="block hub">
			<i class="fa fa-wordpress" aria-hidden="true"></i>
			<p>{{translation.CONTENT_HUB}}</p>
		</div>
		<h2 ng-if="!pocketAccount">{{translation.CONNECT_POCKET_TIP}}</h2>
	</section>

	<section ng-if="pocketAccount" id="config-hub-workflow">
		<h2 ng-if="savedHubWorkflows.length < 1">{{translation.FIRST_POCKET_TO_HUB_TIP}}</h2>
		
		<h2 ng-if="savedHubWorkflows.length > 0">{{translation.SAVED_WORKFLOWS}}:</h2>
		<aside ng-if="savedHubWorkflows.length > 0">{{translation.WORKFLOW_REFRESH_TIP}}</aside>
		<ul class="saved-workflows">
			<li ng-repeat="workflow in savedHubWorkflows track by $index" class="workflow" ng-click="deleteHubWorkflow($index, workflow.id)" ng-mouseover="hoverWorkflowIn()" ng-mouseleave="hoverWorkflowOut()">
				<div class="pocket"><span ng-if="workflow.pocket != '*'">{{workflow.pocket}}</span><span ng-if="workflow.pocket == '*'">{{translation.ALL_POCKET_CONTENT}}</span><i class="fa fa-get-pocket" aria-hidden="true"></i></div><!--
				--><div ng-if="!hoverWorkflow" class="link"><i class="fa fa-link" aria-hidden="true"></i></div><!--
				--><div ng-if="hoverWorkflow" class="link"><i class="fa fa-chain-broken" aria-hidden="true"></i></div><!--
				--><div class="hub"><span class="flag-icon flag-icon-{{workflow.language}}"></span> <i class="fa fa-wordpress" aria-hidden="true"></i> {{workflow.match}}</div>
			</li>
		</ul>



		<h3>{{translation.CHOOSE_POCKET}} <span class="pocket">Pocket</span> {{translation.CHOOSE_HUB}} <span class="hub">HUB</span></h3>

		<div class="column left">
			<ul class="pocket">
				<li class="loading" ng-show="pocketTags == undefined">
					{{translation.LOADING_POCKET_TAGS}} <img src="/static/images/gears_grey.gif" class="left" />
				</li>
				<li ng-repeat="pocketTag in pocketTags track by $index" ng-class="{active : isPocketActive(pocketTag)}" ng-click="setPocketActive(pocketTag, $index); saveHubWorkflow(pocketSelected, pocketTagIndex, hubSelected, hubLanguage)" ng-hide="pocketTagUsed(pocketTag)" ng-drag="true" ng-drag-start="setPocketActive(pocketTag, $index)" ng-drag-data="pocketTag">
					<span ng-if="pocketTag != '*'">{{pocketTag}}</span><!--
					--><span ng-if="pocketTag == '*'">{{translation.ALL_POCKET_CONTENT}}</span><!--
					--><i class="fa fa-get-pocket" aria-hidden="true"></i>
				</li>
				<li ng-if="allPocketTagsUsed()" class="allUsed">{{translation.ALL_POCKET_TAGS_USED}} <i class="fa fa-get-pocket" aria-hidden="true"></i></li>
			</ul>
		</div><!--
		--><div class="column right">
			<ul class="hub">
				<li class="loading" ng-show="hubCategories == undefined">
					<img src="/static/images/gears_grey.gif" class="right" /> {{translation.LOADING_HUB_CATEGORIES}}
				</li>
				<li ng-repeat="hubCategory in hubCategories track by $index" ng-class="{active : isHubActive(hubCategory.name), allUsed : allPocketTagsUsed()}" ng-click="setHubActive(hubCategory); saveHubWorkflow(pocketSelected, pocketTagIndex, hubSelected, hubLanguage)" ng-drop="true" ng-drop-success="setHubActive(hubCategory); saveHubWorkflow(pocketSelected, pocketTagIndex, hubSelected, hubLanguage)"><span class="flag-icon flag-icon-{{hubCategory.language}}"></span> <i class="fa fa-wordpress" aria-hidden="true"></i> {{hubCategory.name}}<br /><p ng-if="hubCategory.slug != null" class="slug"><i class="fa fa-link" aria-hidden="true"></i> "/{{hubCategory.slug}}"</p></li>
			</ul>
		</div>
	</section>
</div>