<list-settings-nav></list-settings-nav>

<section id="list-setup" class="block-create-list">
    <div class="left">
        <div class="title-step step1">
            <div class="step-title step1">
                <div class="top">
                    <p>{{translation.LIST_SETUP}}</p>
                </div>
                <div class="bottom">
                    <p class="step-number">1.</p>
                </div>
            </div>
        </div>
    </div><!-- LIST NAME
    --><div class="right">
        <div class="title-balloon">
            <div class="glyph">
                <svg class="icon">
                  <use xlink:href="#technology-2"></use>
              </svg>
            </div>
            <h2>{{translation.STEP_CREATE_LIST_TITLE}}</h2>
        </div>
        <div class="list-name" ng-init="focusAddListInput = true">
            <p class="tip" ng-show="focusAddListInput">{{translation.LIMIT}}: 20 {{translation.CHARS}}</p>
            <input ng-enter="createList(listName, false, true); focusAddListInput = false" ng-model="listName" placeholder="{{translation.LIST_NAME_PLACEHOLDER}}" ng-change="checkListName(listName); userWriting = true" limit-to="20" show-focus="focusAddListInput" ng-class="{required: userWriting && !listName.length}"><button ng-if="!listNameExists" ng-click="createList(listName, false, true); focusAddListInput = false">{{translation.SAVE}}</button>
            <p class="tip warning margin-top" ng-if="listNameExists && focusAddListInput">{{translation.NAME_ALREADY_EXISTS}}</p>
        </div>
    </div>
</section>