<div id="admin-enable-user">
	<div class="form-wrap">
	<h1>Disable user form</h1>
		<form novalidate name="enableUserForm" class="simple-form">
		    <p>e-mail (press enter to add multiple e-mail):</p>
		    <textarea type="text" ng-model="data.emails" ng-list="&#10;" ng-trim="false" placeholder="e.g.: xxxxx@gmail.com" />

		    <button class="save" ng-click="adminDisableUser(data)" ng-class="{disabled: !data.emails.length}">Save</button>
		    <button class="reset" ng-click="resetEnableUserData(data)">Reset</button>
		    <div class="tip success" ng-if="successfullyUserDisabled">
		    	<p>Successfully disabled!</p>
		    </div>
		    <div class="tip error" ng-if="errorUserEnabled">
		    	<p>Could not complete this operation, please check your data and try again.</p>
		    </div>
		    <div class="tip error" ng-if="notValidEmailUserEnabled">
		    	<p>These e-mail does not exist as registered users:</p>
		    	<ul>
		    		<li ng-repeat="email in notValidEmailArray track by $index">
		    			<a href="mailto:{{email}}">{{email}}</a>
		    		</li>
		    	</ul>
		    </div>
		 </form>
	 </div>
 </div>