<div id="admin-enable-user">
	<div class="form-wrap">
	<h1>Enable user form</h1>
		<form novalidate name="enableUserForm" class="simple-form">
		    <p>e-mail (press enter to add multiple e-mail):</p>
		    <textarea type="text" ng-model="data.emails" ng-list="&#10;" ng-trim="false" placeholder="e.g.: xxxxx@gmail.com" />

		    <p>HUB url:</p>
		    <input class="text" type="text" ng-model="data.hubUrl" placeholder="e.g.: http://hub.relevante.me" />

		    <p>HUB user:</p>
		    <input class="text" type="text" ng-model="data.hubUser" placeholder="e.g.: admin" />

		    <p>HUB password:</p>
		    <input class="text" type="text" ng-model="data.hubPassword" placeholder="e.g.: ***** ;)" />

		    <p>Pricing plan:</p>
		    <select ng-init="data.pricingPlan='level1'" ng-model="data.pricingPlan">
		    	<option value="free">Free</option>
		    	<option value="level1">Basic</option>
		    	<option value="level2">Salesforce</option>
		    	<option value="level3">Growth</option>
		    </select>

		    <label><input class="checkbox" type="checkbox" ng-model="data.bulkEngageEnabled" />Enable engage bulk actions</label>

		    <button class="save" ng-click="adminEnableUser(data)" ng-class="{disabled: !data.emails.length}">Save</button>
		    <button class="reset" ng-click="resetEnableUserData(data)">Reset</button>
		    <div class="tip success" ng-if="successfullyUserEnabled">
		    	<p>Successfully enabled!</p>
		    </div>
		    <div class="tip error" ng-if="errorUserEnabled">
		    	<p>Could not complete this operation, please check your data and try again.</p>
		    </div>
		    <div class="tip error" ng-if="notValidEmailUserEnabled">
		    	<p>These e-mail does not exist as registered users:</p>
		    	<ul>
		    		<li ng-repeat="email in notValidEmailArray track by $index">
		    			<a href="mailto:{{email}}">{{email}}</a>
		    		</li>
		    	</ul>
		    </div>
		    <div class="tip error" ng-if="downgradeMsg">
		    	<p>Current pricing plan for this user is highest than the chosen one. Downgrading an account is not allowed.</p>
		    </div>
		 </form>
	 </div>
 </div>