<section class="dashboardv2 right column unit-100">
    <div id="step-watchlistLevels" class="results-toolbar list">
        <div id="nav-title-icon" class="engage">
            <i class="fa fa-folder" aria-hidden="true"></i>
        </div><!--
        --><div id="nav-title-text">
            <div class="title-data grey">
                <p>{{currentList.name | limitTo: 20}} </p>
                <span class="alerts" ng-click="goToSearch(currentList.id, currentList.name, 'alerts')" ng-if="currentList.alerts > 0 && currentList.alerts <= 1000">{{currentList.alerts}}<i class="fa fa-bell" aria-hidden="true"></i></span>
                <span class="alerts" ng-click="goToSearch(currentList.id, currentList.name, 'alerts')" ng-if="currentList.alerts > 0 && currentList.alerts > 1000">1000<i class="fa fa-bell" aria-hidden="true"></i></span>
            </div><!--
            --><div id="nav-arrow-right" class="grey"></div>
        </div>

        <div id="content-library" ng-click="contentLibraryModal('lg')" ng-if="contentLibraryEnabled">
            <i class="fa fa-book" aria-hidden="true"></i> <span>content<br />library</span>
        </div>

        <div id="list-settings-panel-trigger" ng-click="showListSettingsPanel()">
            <span>{{translation.LIST_SETTINGS}}</span> <i class="fa fa-cogs"></i>
        </div>
    </div>

    
    <div id="wrapper" class="units-row units-split" ng-controller="watchlist">
        
        <switch-view></switch-view>

        <div ng-controller="cards" class="cards-container" ng-show="cardsView">
            <div id="network-pref" ng-if="contactList.length > 0">
                <ul>
                    <!-- <li ng-repeat="network in networksList track by $index" ng-click="setNetworkPref(network)" ng-drop="true" ng-drop-success="onDropCompleteNetworks($index, $data,$event)" ng-class="{active: networkPref[0] == network || networkPref[1] == network}"> -->
                    <li ng-repeat="network in networksList track by $index" ng-click="setNetworkPref(network)" ng-class="{active: networkPref[0] == network || networkPref[1] == network}" class="{{network}}">
                        <i ng-show="network == 'linkedin'" class="fa fa-linkedin" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                        <i ng-show="network == 'twitter'" class="fa fa-twitter" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                        <i ng-show="network == 'relevante'" class="fa fa-envelope" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                    </li>
                </ul>
            </div>
            <ul class="contacts-list recent-activity" infinite-scroll="loadMore()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0'>
                <cards-watchlist-level0></cards-watchlist-level0>
            </ul>
            <results-status-messages></results-status-messages>
        </div>
        <div ng-controller="cards" class="list-container margin-top" ng-if="listView" ng-init="cardRender()">
            <bulk-actions></bulk-actions>
            <div ui-grid="gridOptions" class="uiGrid"
                ui-grid-selection 
                ui-grid-resize-columns 
                ui-grid-auto-resize 
                ui-grid-move-columns
                ui-grid-save-state
                ui-grid-infinite-scroll
                ui-grid-exporter></div>
        </div>
    </div>
</section>

<list-settings-panel></list-settings-panel>

<chrome-extension-advice></chrome-extension-advice>