<div id="home-wrap">

<!-- Chrome extension installed and first time user -->
<div id="home" ng-show="relevanteExtensionInstalled && savedLists.length == 0">
    <h1>{{translation.WELCOME}}, {{userName}}</h1>
    <div class="steps-wrapper">
        <div class="step step-setup-list">
            <div class="step-title" ng-click="selectedStep = 'build'">
                <div class="top">
                    <p>{{translation.CREATE_LIST}}</p>
                </div>
                <div class="bottom">
                    <p class="step-number">1.</p><!--
                    --><p class="step-description">{{translation.HOME_STEP_1_DESCRIPTION}}</p>
                </div>
            </div>
        </div><!--

        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

        --><div class="step step-engage">
            <div class="step-title" ng-click="selectedStep = 'engage'">
                <div class="top">
                    <p>{{translation.ENGAGE}}</p>
                </div>
                <div class="bottom">
                    <p class="step-number">2.</p><!--
                    --><p class="step-description">{{translation.HOME_STEP_2_DESCRIPTION}}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="start-here" ng-click="goToCreateFirstList()">{{translation.CREATE_NEW_LIST}}</button>
</div>

<!-- Chrome extension installed and at least one list created -->
<div id="home" ng-show="relevanteExtensionInstalled && savedLists.length > 0">
    <h1><i class="fa fa-folder" aria-hidden="true"></i> {{translation.YOUR_LISTS}}</h1>
    <button class="create-new-list" ng-click="goToCreateFirstList()">{{translation.CREATE_NEW_LIST}}</button>
    <ul>
        <li ng-repeat="list in savedLists track by $index" class="list"
            ng-mouseenter="listHover = true"
            ng-mouseleave="listHover = false">
            <div>
                <p class="list-name" ng-click="goToList(list.id, list.name, false)">{{list.name}} <span class="alerts" ng-if="list.alerts > 0 && list.alerts <= 1000">{{list.alerts}}<i class="fa fa-bell" aria-hidden="true"></i></span><span class="alerts" ng-if="list.alerts > 0 && list.alerts > 1000">1000<i class="fa fa-bell" aria-hidden="true"></i></span></p>
                <div class="list-data">
                    <div class="num"><p>{{list.num}} x <i class="fa fa-user" aria-hidden="true"></i> | </p></div>
                    <div class="monitoring">
                        <p>{{translation.MONITORING}}: </p>
                        <label class="switch">
                            <input type="checkbox" ng-model="list.monitored" ng-click="editListHome(list)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="delete" ng-class="{listHover : listHover}">
                <i class="fa fa-trash" aria-hidden="true" ng-click="$parent.showDeleteListConfirm = true" ng-if="!showDeleteListConfirm"></i>
                <span class="deleteList" ng-click="deleteList(list.id, list.name); $parent.showDeleteListConfirm = false" ng-if="showDeleteListConfirm" click-outside="$parent.showDeleteListConfirm = false" outside-if-not="deleteList">{{translation.DELETE_CONFIRM}} {{translation.LIST}}</span>
            </div>
        </li>
    </ul>
</div>

<!-- Chrome extension NOT installed -->
<div id="home" ng-if="relevanteExtensionNotInstalled" ng-hide="relevanteExtensionInstalled" ng-click="goToChromeExtensionUrl()">
    <div id="chrome-extension">
        <h1>{{translation.GCE_DOWNLOAD_TITLE}}</h1>
        <aside>{{translation.GCE_ASIDE}}</aside>
        <button><i class="fa fa-chrome" aria-hidden="true"></i> {{translation.GCE_BUTTON_DOWNLOAD}}</button>
    </div>
</div>

</div>