<section class="dashboardv2 right column unit-100">
    <div id="wrapper" class="units-row units-split">

        <div class="results-toolbar list">
            <div id="nav-title-icon" class="build">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
            </div><!--
            --><div id="nav-title-text">
                <div class="title-data go-to-list grey" ng-click="goToList(currentList.id, currentList.name, false)">
                    <p>{{currentList.name}} </p>
                </div><!--
                --><div id="nav-arrow-right" class="grey"></div>
            </div>

            <div id="list-settings-panel-trigger" ng-click="showListSettingsPanel()">
                <span>{{translation.LIST_SETTINGS}}</span> <i class="fa fa-cogs"></i>
            </div>
        </div>

        <div id="upload">

            <div class="title-balloon">
                <div class="glyph">
                    <svg class="icon">
                        <use xlink:href="#technology-2"></use>
                    </svg>
                </div>
                <h2 ng-if="!uploadedFileData.length">{{translation.UPLOAD_TITLE}}</h2>
                <div ng-if="uploadedFileData.length > 0">
                    <h2>{{translation.UPLOAD_MATCH_INSTRUCTIONS}}</h2>
                    <aside><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{translation.UPLOAD_MATCH_INSTRUCTIONS_ASIDE}}</aside>
                </div>
            </div>

            <div class="upload-form" ng-if="!uploadedFileData.length">
            	<input type="file" data-file-reader-directive="fileContent" accept=".csv" />
                <input type='button' value="{{translation.LOAD_CSV}}" ng-click="uploadFile(fileContent)" class="upload-btn">
            </div>

            <div ng-if="uploadedFileData.length > 0">
                <h3 ng-if="csvMatches.length > 0">{{translation.SAVED_CSV_MATCHES}}:</h3>
                <div>
                    <ul class="saved-csv-matches">
                        <li ng-repeat="match in csvMatches track by $index" class="match" ng-click="deleteCsvMatch($index, match.csvRowTitle, match.csvRowTitleIndex)" ng-mouseover="hoverCsvMatchIn()" ng-mouseleave="hoverCsvMatchOut()">
                            <div class="csv-row-title">{{match.csvRowTitle}} <i class="fa fa-table" aria-hidden="true"></i></div><!--
                            --><div ng-if="!hoverCsvMatch" class="link"><i class="fa fa-link" aria-hidden="true"></i></div><!--
                            --><div ng-if="hoverCsvMatch" class="link"><i class="fa fa-chain-broken" aria-hidden="true"></i></div><!--
                            --><div class="csv-mandatory-field {{match.csvMandatoryField.class}}"><i class="{{match.csvMandatoryField.icon}}" aria-hidden="true"></i> {{match.csvMandatoryField.name}}</div>
                        </li>
                    </ul>
                    <button ng-if="csvMatches.length > 0 && requiredMatch()" ng-click="submitCsvFile()" class="upload-btn">{{translation.UPLOAD_YOUR_LIST}}</button>
                </div>

                <div class="column left">
                    <ul class="csv-row-title">
                        <li ng-repeat="rowTitle in uploadedFileData track by $index"
                            ng-class="{active : isRowTitleActive(rowTitle)}"
                            ng-click="setRowTitleActive(rowTitle, $index); saveCsvMatch(rowTitleSelected, rowTitleIndex, csvMandatoryFieldSelected)"
                            ng-hide="rowTitleUsed(rowTitle)"
                            ng-drag="true"
                            ng-drag-start="setRowTitleActive(rowTitle, $index)"
                            ng-drag-data="rowTitle">
                            {{rowTitle}} <i class="fa fa-table" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="column right">
                    <ul class="mandatory-fields" ng-init="csvMandatoryFields = getCsvMandatoryFields()">
                        <li ng-repeat="csvMandatoryField in csvMandatoryFields"
                            class="{{csvMandatoryField.class}}"
                            ng-class="{active : isCsvMandatoryFieldActive(csvMandatoryField)}"
                            ng-click="setCsvMandatoryFieldActive(csvMandatoryField, $index); saveCsvMatch(rowTitleSelected, rowTitleIndex, csvMandatoryFieldSelected)"
                            ng-hide="csvMandatoryFieldUsed(csvMandatoryField)"
                            ng-drop="true"
                            ng-drop-success="setCsvMandatoryFieldActive(csvMandatoryField, $index); saveCsvMatch(rowTitleSelected, rowTitleIndex, csvMandatoryFieldSelected)">
                            <i class="{{csvMandatoryField.icon}}" aria-hidden="true"></i>
                            {{csvMandatoryField.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<list-settings-panel></list-settings-panel>