<list-settings-nav></list-settings-nav>

<section id="list-setup" class="block-create-list">
    <div class="left">
        <div class="title-step step1">
            <div class="step-title step1" ng-click="selectedStep = 'build'">
                <div class="top">
                    <p>{{translation.LIST_SETUP}}</p>
                </div>
                <div class="bottom">
                    <p class="step-number">1.</p>
                    <div class="list-data">
                        <div class="list-title">

                            <h1 class="edit" uib-tooltip="{{translation.CLICK_TO_EDIT}}" tooltip-placement="bottom" ng-if="!editNameList" ng-click="$parent.editNameList = !$parent.editNameList"><i class="fa fa-folder"></i> {{currentList.name}}</h1><!--

                            --><form ng-show="editNameList"
                                angular-validator-submit="editList(currentList); editNameList = false"
                                name="editNameListForm"
                                class="form-horizontal" novalidate angular-validator>
                                
                                <div class="form-group">
                                    <input  show-focus="editNameList"
                                            type = "text"
                                            name = "name"
                                            limit-to="20"
                                            class = "form-control name"
                                            ng-model = "currentList.name"
                                            ng-change="checkListName(currentList.name)" 
                                            placeholder="{{currentList.name}}"
                                            required>
                                    <p class="tip" ng-show="editNameList">{{translation.LIMIT}}: 20 {{translation.CHARS}}</p>
                                    <p class="warning" ng-if="listNameExists && editNameList">{{translation.NAME_ALREADY_EXISTS}}</p>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary save" ng-show="!listNameExists && currentList.name.length > 0">{{translation.SAVE}}</button>
                                    <button type="button" ng-click="currentList.name = listNameCopy; editNameList = false" class="btn btn-primary cancel">{{translation.CANCEL}}</button>
                                </div>
                            </form>
                        </div>

                        <div class="monitoring-switch">
                            <p uib-tooltip="{{translation.MONITORING_EXPLANATION}}" tooltip-placement="bottom">{{translation.MONITORING}}:</p>
                            <label class="switch">
                              <input type="checkbox" ng-model="currentList.monitored" ng-click="editList(currentList)">
                              <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--
    --><div class="right">
        <div class="title-balloon">
            <div class="glyph">
                <svg class="icon">
                  <use xlink:href="#technology-2"></use>
              </svg>
            </div>
            <h2 ng-if="!checkBookmarkFromLinkedIn">{{translation.STEP_SETUP_LIST_TITLE}}</h2>
            <h2 ng-if="checkBookmarkFromLinkedIn">{{translation.STEP_SEARCH}}</h2>
        </div>

        <div id="engage-mode">
            <h3 ng-click="showEngageMode = !showEngageMode">
                {{translation.ENGAGE_MODE}}:
                <span ng-if="currentList.automationConfiguration.custom == true">{{translation.AUTOMATED_SEQUENCE}}</span>
                <span ng-if="currentList.automationConfiguration.custom == false">{{translation.AUTOCONNECT}}</span>
                <span ng-if="currentList.automationConfiguration == null">{{translation.MANUAL_MODE}}</span>
                <i class="fa fa-caret-down" aria-hidden="true" ng-if="!showEngageMode"></i><i class="fa fa-caret-up" aria-hidden="true" ng-if="showEngageMode"></i>
            </h3>
            <div class="engage-setup" ng-if="showEngageMode">
                <engage-setup></engage-setup>
            </div>
        </div>

        <!-- CREATE SEARCH -->
        <div id="search-setup" ng-if="currentSearch == undefined">
            <div class="create-list" ng-init="watchlistActive = true">
                <input ng-enter-command="saveWatchlist(currentList.name, contextInput, watchlistTerms, advancedSearchFilter, currentList.id, true, true)" ng-enter="addWatchlistTerm(contextInput, currentList.name, currentList.id, advancedSearchFilter)" class="create-filter" ng-class="{light : watchlistActive }" style="font-family: 'FontAwesome', 'GillSans';" placeholder="{{translation.CREATELIST_PLACEHOLDER_EG}}" ng-click="watchlistActive = true" ng-model="contextInput" ng-change="checkContextInputLength()" show-focus="watchlistActive">

                <div class="list-config" ng-show="watchlistActive" ng-hide="!watchlistActive">
                    <div class="terms">
                        <p class="tip save" ng-if="emptyWatchlistInput">{{translation.SAVE_CURRENT_TERMS}}</p>
                        <p class="tip" ng-if="!emptyWatchlistInput">{{translation.ENTER_MULTIPLE_TERMS}}</p>
                        <p ng-show="watchlistTerms.length > 0" class="included-terms">{{translation.INCLUDED_TERMS}}:</p>
                        <ul ng-show="watchlistTerms.length > 0">
                            <li ng-repeat="term in watchlistTerms track by $index">
                                <span class="delete" ng-click="deleteWatchlistTerm($index)">x</span> {{term}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- SAVE SEARCH BUTTON -->
            <div class="next-step">
                <button ng-if="contextInput.length > 1 || watchlistTerms.length > 0" ng-click="saveWatchlist(currentList.name, contextInput, watchlistTerms, advancedSearchFilter, currentList.id, true, true)">
                    {{translation.SEARCH_PEOPLE_NOW}}
                </button>
            </div>
            <!-- JUST CREATE LIST -->
            <div class="just-create-list">
                <button ng-if="contextInput.length > 1 || watchlistTerms.length > 0" ng-click="saveWatchlist(currentList.name, contextInput, watchlistTerms, advancedSearchFilter, currentList.id, true, false)" class="no-search">
                    {{translation.JUST_CREATE_LIST_EXPLANATION}}
                </button>
            </div>
        </div>
        <!-- EDIT SEARCH -->
        <div id="search-setup" ng-if="currentSearch != undefined">
            <div class="create-list edit-watchlist" ng-init="watchlistActive = true">
                <input ng-enter="updateAddWatchlistTerm(contextInput, nameFilter, editAdvancedSearchFilter, true)" class="create-filter terms" ng-class="{light : watchlistActive }" style="font-family: 'FontAwesome', 'GillSans';" placeholder="{{translation.CREATELIST_PLACEHOLDER_EG}}" ng-click="watchlistActive = true" ng-model="contextInput" ng-change="checkContextInputLength()" show-focus="watchlistActive">
                <div class="list-config">
                    <div class="terms">
                        <p class="tip save" ng-if="emptyWatchlistInput">{{translation.SAVE_CURRENT_TERMS}}</p>
                        <p class="tip" ng-if="!emptyWatchlistInput">{{translation.ENTER_MULTIPLE_TERMS}}</p>
                        <p ng-show="editWatchlistTerms.length > 0" class="included-terms">{{translation.INCLUDED_TERMS}}:</p>
                        <ul ng-show="editWatchlistTerms.length > 0">
                            <li ng-repeat="term in editWatchlistTerms track by $index">
                                <span class="delete" ng-click="updateDeleteWatchlistTerm($index)">x</span> {{term}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- SAVE SEARCH BUTTON -->
            <div class="next-step">
                <button ng-if="editWatchlistTerms.length > 0" ng-click="editSearch(nameFilter, editNameFilter,  editWatchlistTerms, editAdvancedSearchFilter, currentList.id, true, true)">
                    {{translation.SEARCH_PEOPLE_NOW}}
                </button>
            </div>
            <!-- JUST CREATE LIST -->
            <div class="just-create-list">
                <button ng-if="editWatchlistTerms.length > 0" ng-click="editSearch(nameFilter, editNameFilter,  editWatchlistTerms, editAdvancedSearchFilter, currentList.id, false, false)" class="no-search">
                    {{translation.JUST_CREATE_LIST_EXPLANATION}}
                </button>
            </div>

            <button ng-if="checkBookmarkFromLinkedIn" class="engage-after-bookmark" ng-click="goToList(currentList.id, currentList.name, false)">{{translation.GO_TO_ENGAGE_AFTER_BOOKMARK}}</button>
        </div>
    </div>
</section>