<list-settings-nav></list-settings-nav>

<section id="add-people" class="block-create-list">
    <div class="left">
        <div class="title-step step3">
            <div class="step-title step3">
                <div class="top">
                    <p>{{translation.ADD_PEOPLE}}</p>
                </div>
                <div class="bottom">
                    <p class="step-number">3.</p>
                    <div class="list-data">
                        <h1 ng-if="currentList.name != undefined" class="list-name"><i class="fa fa-folder"></i>{{currentList.name}}</h1>

                        <div class="monitoring-switch">
                            <p uib-tooltip="{{translation.MONITORING_EXPLANATION}}" tooltip-placement="bottom">{{translation.MONITORING}}:</p>
                            <label class="switch">
                              <input type="checkbox" ng-model="currentList.monitored" ng-click="editList(currentList)">
                              <span class="slider round"></span>
                            </label>
                        </div>

                        <hr />

                        <div class="search">
                            <ul class="terms">
                                <li class="title">{{translation.TERMS}}:</li>
                                <li ng-repeat="term in currentSearch.searchTerms track by $index">{{term}}</li>
                            </ul>
                            <ul class="advanced-search">
                                <li class="title" ng-if="currentSearch.location != null"><i class="fa fa-map-marker" aria-hidden="true"></i> {{currentSearch.location}}</li>
                                <li class="title" ng-if="currentSearch.industry != null"><i class="fa fa-industry" aria-hidden="true"></i>  {{currentSearch.industry}}</li>
                                <li class="title" ng-if="currentSearch.company != null"><i class="fa fa-building" aria-hidden="true"></i> {{currentSearch.company}}</li>
                                <li class="title" ng-if="currentSearch.searchGoal == 'misc'"><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.MISC}}</li>
                                <li class="title" ng-if="currentSearch.searchGoal == 'prospects'"><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.PROSPECTS}}</li>
                                <li class="title" ng-if="currentSearch.searchGoal == 'professionals'"><i class="fa fa-id-card" aria-hidden="true"></i> {{translation.PROFESSIONALS}}</li>
                                <li class="title" ng-if="currentSearch.searchTerms.length > 1 && currentSearch.searchCondition == 'and'"><i class="fa fa-filter" aria-hidden="true"></i> {{translation.ALL_TERMS}}</li>
                                <li class="title" ng-if="currentSearch.searchTerms.length > 1 && currentSearch.searchCondition == 'or'"><i class="fa fa-filter" aria-hidden="true"></i> {{translation.ANY_TERM}}</li>
                                <li class="title" ng-if="currentSearch.negativeTerms.length > 0"><i class="fa fa-search-minus" aria-hidden="true"></i> {{currentSearch.negativeTerms}}</li>
                            </ul>
                        </div>

                        <hr />

                        <div class="engage-mode-data">
                            <div class="mode automation" ng-if="currentList.automationConfiguration.custom == true">
                                <p>{{translation.AUTOMATED_SEQUENCE}}</p>
                                <div class="sequence">
                                    <div class="action-button"><i class="fa fa-heart" aria-hidden="true"></i></div>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <div class="action-button"><i class="fa fa-reply" aria-hidden="true"></i></div>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <div class="action-button"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <div class="action-button"><i class="fa fa-comment" aria-hidden="true"></i></div>
                                </div>
                            </div>

                            <div class="mode automation default" ng-if="currentList.automationConfiguration.custom == false">
                                <p>{{translation.AUTOCONNECT}}</p>
                                <div class="sequence">
                                    <div class="action-button"><i class="fa fa-heart" aria-hidden="true"></i></div>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <div class="action-button"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                                </div>
                            </div>

                            <div class="mode manual" ng-if="currentList.automationConfiguration == null">
                                <p>{{translation.MANUAL_MODE}}</p>
                            </div>
                        </div>

                        <div class="edit-list">
                            <button ng-click="showListSettingsPanel()">{{translation.EDIT}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--
    --><div class="right" ng-init="checkPeopleInLists()">
        <div class="title-balloon">
            <div class="glyph">
                <svg class="icon">
                  <use xlink:href="#technology-2"></use>
              </svg>
            </div>
            <h2>{{translation.STEP_ADD_PEOPLE_TITLE}}</h2>
        </div>
        <div class="source discover" ng-click="goToSearch(currentList.id, currentList.name, 'discover')">
            <i class="fa fa-search"></i>
            <p>{{translation.SOCIAL_SEARCH_MY_KEYWORDS}}</p>
        </div><!--
        --><div class="source bookmark-linkedin" ng-click="openLinkedinTab(currentList)">
            <i class="fa fa-linkedin-square"></i>
            <p>{{translation.BOOKMARK_FROM_LINKEDIN}}</p>
        </div><!--
        --><div class="source contacts disabled" uib-tooltip="{{translation.SEARCH_MY_UNIVERSE_DISABLED}}" tooltip-placement="bottom" ng-show="!site.user.linkedin.integratedContacts && !peopleInLists">
            <i class="fa fa-users"></i>
            <p>{{translation.SEARCH_MY_UNIVERSE}}</p>
        </div><!--
        --><div class="source contacts" ng-click="goToSearch(currentList.id, currentList.name, 'universe')" ng-show="site.user.linkedin.integratedContacts || peopleInLists">
            <i class="fa fa-users"></i>
            <p>{{translation.SEARCH_MY_UNIVERSE}}</p>
        </div><!--
        --><div class="source upload-file disabled" uib-tooltip="{{translation.COMING_SOON}}" tooltip-placement="bottom">
            <i class="fa fa-upload"></i>
            <p>{{translation.UPLOAD_A_FILE}}</p>
        </div>
    </div>
</section>

<list-settings-panel></list-settings-panel>