<div id="user-login" ng-init="$parent.loggedUser = false">
	<div class="login-form-wrap">
    <h1>{{translation.SIGNIN_RELEVANTE}}</h1>

        <form angular-validator-submit="loginUser(form)" name="loginForm" class="form-horizontal login-form" novalidate angular-validator>

            <div ng-if="incorrectLogin && !hideTip" class="tip error">
                <p>{{translation.INCORRECT_EMAIL_PASSWORD}}</p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input  type = "email"
                            name = "emailAddress"
                            class = "form-control"
                            ng-model = "form.email"
                            ng-change = "inputChange(true)"
                            invalid-message="'{{translation.NO_REAL_EMAIL}}'"
                            required
                            placeholder="e-mail"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input  type = "{{inputType}}"
                            name = "password"
                            class = "form-control"
                            ng-model = "form.password"
                            ng-change = "inputChange(true)"
                            validator = "passwordValidator(form.password) === true"
                            invalid-message = "passwordValidator(form.password)"
                            required
                            placeholder="{{translation.PASSWORD}}"></div>
                <div class="password-revealer col-sm-offset-1 col-sm-10">
                    <p for="checkbox" ng-show="!passwordCheckbox" ng-click="passwordCheckbox = !passwordCheckbox; hideShowPassword()">{{translation.SHOW_PASSWORD}} <i class="fa fa-eye" aria-hidden="true"></i></p>
                    <p for="checkbox" ng-show="passwordCheckbox" ng-click="passwordCheckbox = !passwordCheckbox; hideShowPassword()">{{translation.HIDE_PASSWORD}} <i class="fa fa-eye-slash" aria-hidden="true"></i></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10 text-align-center">
                    <button type="submit" class="btn btn-primary save">{{translation.SUBMIT}}</button>
                    <button type="button" ng-click="passwordRecoveryModal()" class="btn btn-primary password-recovery">{{translation.FORGOTTEN_PASSWORD}}</button>
                </div>
                <div class="remember-me col-sm-offset-1 col-sm-10 text-align-center">
                    <input type="checkbox" id="rememberMeCheckbox" ng-model="form.rememberMe" />
                    <label for="rememberMeCheckbox">{{translation.REMEMBER_ME}}</label>
                </div>
            </div>
        </form>
        <div>
            <a href="/signup" class="create-user-account">{{translation.DO_NOT_HAVE_RELEVANTE_ACCOUNT}}</a>
        </div>
	</div>
 </div>