<section class="dashboardv2 right column unit-100">
    <div class="results-toolbar">
        <div class="results-toolbar list">
        <div id="nav-title-icon" class="my-contacts">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div><!--
        --><div id="nav-title-text">
            <div class="title-data grey">
                <p>{{translation.MY_CONTACTS}}</p>
            </div><!--
            --><div id="nav-arrow-right" class="grey"></div>
        </div>
      </div>
    </div>

    <div id="wrapper" class="units-row units-split">
        <switch-view></switch-view>
        <div ng-controller="cards" class="cards-container" ng-show="cardsView">
            <div class="custom-search-contacts" ng-click="showCustomSearch()" ng-if="showCustomSearchButton">
                <p><i class="fa fa-search" aria-hidden="true"></i> {{translation.SEARCH_YOUR_CONTACTS}}</p>
            </div>
            <ul class="contacts-list recent-activity" infinite-scroll="loadMore()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0'>
                <cards></cards>
            </ul>
            <results-status-messages></results-status-messages>
        </div>
        <div ng-controller="cards" class="list-container" ng-if="listView" ng-init="cardRender()">
            <bulk-actions></bulk-actions>
            <div ui-grid="gridOptions" class="uiGrid"
                ui-grid-selection 
                ui-grid-resize-columns 
                ui-grid-auto-resize 
                ui-grid-move-columns
                ui-grid-save-state
                ui-grid-infinite-scroll
                ui-grid-exporter></div>
        </div>
    </div>
</section>