<h2>YOUR PRIVACY IS IMPORTANT</h2>
<p>Sequences.me consider the privacy of our customers and users paramount. For this reason we apply a policy of transparency to all our processes so that users are always informed and have control over their privacy and data.</p>
<p>Please read each of these terms carefully to know and be able to manage your privacy within Sequences.me.</p>
<p>These are the principles that apply to Sequences.me to protect your privacy:</p>
<ul>
	<li>
		<p>Protecting your privacy is paramount for us, we will only provide it to third parties with your consent, when necessary to process your instructions, when required by law, to maintain the functions and functionalities of the platform or whenever necessary to comply with the conditions of use or protect the rights, property or security of Sequences.me, its users or visitors.</p>
	</li>
	<li>
		<p>Taking into account the state of the art, the costs of implementation,scope and purpose of the treatment, as well as the likelihood and gravity for the rights and freedoms of natural persons, Sequences.me has taken organizational measures to ensure a risk-adjusted safety.</p>
		<p>These measures include the ability to guarantee confidentiality, integrity, availability and permanent residence of treatment systems and services, the ability to restore availability and access to personal data quickly in case of a physical or technical incident and a verification process, evaluation and assessment of the effectiveness of technical and organizational measures to ensure the safety treatment.</p>
	</li>
</ul>

<p>Sequences.me is an application that facilitate the contact with people of your interest through social media. The data you provide us will be used in order to:</p>
<ul>
	<li>
		<p>To manage the sending of the information that you request to us.</p>
	</li>
	<li><p>Provide you with offers and information about products and services of interest to you.</p></li>
	<li><p>To be able to offer you products and services according to your interests and to improve your User experience. We will elaborate a "commercial profile", based on the Information provided. This privacy policy can be modified, by the introduction of changes, however you will be informed through our service or by any other means so that you can review them before entering Sequences.me.</p></li>
</ul>

<h3>What information does Sequences.me collect?</h3>
<p>Relevante operates under the European Union legislation for the purposes of the provisions of the Organic Law on Data Protection 15/1999, of 13 December, Protection of Personal Data and Regulation EU 2016/679 Sequences.me, informs you that the data that you voluntarily provide will be incorporated to a file of data of personal character, declared to the Agency of Protection of Data.</p>
<p>This privacy policy applies to any user or visitor.</p>
<p>The information collected by our platform will be controlled by Sequences.me, located in C / Manuel Uribe N17, door G, 28033 Madrid, SPAIN . If you have any questions about the processes applied to yourInformation you can contact us through this email:</p>
<p><a href="mailto:contact@Sequences.me">contact@Sequences.me</a></p>

<p>The personal data that we treat in Sequences.me come from the interested party can also be obtained from sources accessible to the public.</p>

<p>When you create an account in our application we can request some of this data based on the needs of the requested service:</p>
<ul>
	<li><p class="no-margin-bottom">Contact:</p>
		<ul>
			<li><p class="no-margin-bottom">Name and surname</p></li>
			<li><p class="no-margin-bottom">Email address</p></li>
			<li><p class="no-margin-bottom">Country and city of residence</p></li>
		</ul>
	</li>
	<li><p class="no-margin-bottom">Professionals:</p>
		<ul>
			<li><p class="no-margin-bottom">Business</p></li>
			<li><p class="no-margin-bottom">Position</p></li>
			<li><p class="no-margin-bottom">Profile in social networks</p></li>
		</ul>
	</li>
</ul>
<p>If you want to use our services "premium" you must also provide a card number as well as your data of fiscal information if it is a company (to manage the exemption of VAT).</p>
<p><b>In Sequences.me we do not use advertising technology and web banners. We do not share your personal information with any advertiser or with networks of advertising ads.</b></p>
<p>While using the app you have the option to share your experience with third parties people by synchronizing your contact list, this information will remain under your absolute control being used only for the object detailed in this privacy policy.</p>
<p>To facilitate the management of contacts within the application you have the possibility to write Personal Notes, these data will be absolutely confidential and only you will have access to it.</p>

<h3>How do we use your relevante data?</h3>
<p>Your profile information can be viewed by other users, and will be used by in the manner described in this privacy policy and the Terms of Use.</p>
<p>By accepting this legal notice you are voluntarily declaring your agreement with the Terms and conditions of this Privacy Policy and the Terms of Use of Sequences.me so that you are authorizing us to treat your information in the ways established in this privacy policy.</p>
<p>You can cancel any authorization at any moment by visiting to <a href="https//Sequences.me" target="_blank">Sequences.me</a>.</p>
<p>Children under the age of 16 need express authorization from their parents or guardians to access Sequences.me. In case Sequences.me become aware that a user is under 16 years old it will proceed to delete that information from the application.</p>
<p>We will be able to communicate with you through emails and other means available, including mobile text messages and automatic notifications via our application to send you information about our services.</p>
<p>We use your information to provide you with contact information from people of your interest, for that it is necessary to analyze the information, so we can develop our services and show you relevant content for you , offering you a personalized service.</p>
<p>Sequences.me may share personal information with those companies or Employees who are essential to perform the service that the user has entrusted us, these collaborators have signed a contract guaranteeing the confidentiality and security of your data. The collaborators that Sequences.me uses for improve your services are as follows:</p>
<ul>
	<li>
		<p>Intercom: <a href="https://www.intercom.com/privacy" target="_blank">https://www.intercom.com/privacy</a></p>
	</li>
	<li>
		<p>Mixpanel: <a href="https://mixpanel.com/privacy" target="_blank">https://mixpanel.com/privacy/</a></p>
	</li>
</ul>

<p>Sequences.me uses for the storage of data of its application the services of Digital Oceans, a company that collects all data protection requirements which sets the standard. Digital Oceans privacy policy can be found at following link: <a href="https://www.digitalocean.com/legal/terms/" target="_blank">https://www.digitalocean.com/legal/terms/</a></p>
<p>Sequences.me will provide information to third parties when required by law, a citation or a Judicial procedement. However, in the case of being assigned to any company, information prior to delivery, requesting the express consent of the affected.</p>

<p>Sequences.me uses cookies to allow you to browse and improve your experience within the application.</p>

<h3>How long will we keep your data?</h3>
<p>The personal data provided will be kept as long as your account is active or to the extent necessary to provide you with services and your request is not deletion by the interested party.</p>
<p>We may retain your personal information even after finalizing this requirement if necessary to comply with any legal obligation, the data would remain the period required by the Law to then to disposal.</p>

<h3>What is the legitimation for the treatment of your data?</h3>
<p>The legal basis for the processing of your data is based on obtaining your consent.</p>

<h3>What rights do you have with respect to the data you provide to Sequences.me?</h3>
<p>Any person has the right to obtain confirmation on whether Sequences.me is treating the personal data concerning them, or not.</p>
<p>The persons concerned have the right to access their personal data, as well as to request rectification of inaccurate data or, where appropriate, request the deletion when, among other reasons, the data are no longer necessary for the purposes that were collected.</p>
<p>In certain circumstances, interested parties may request limitation of treatment of your data, in which case we will only keep them for exercise or the defense of complaints.</p>
<p>In certain circumstances and for reasons relating to their particular situation, the may object to the processing of their data. Sequences.me will cease to treat the data, except for compelling legitimate reasons, or in the exercise or defense of possible complaints.</p>
<p>You have the right to request the portability of your data as well as to withdraw the consent for treatment at any time.</p>
<p>You can do this by sending a letter to Sequences.me, to the address indicated above, Indicating as subject "LOPD, ARCO Rights" and attaching a photocopy of your Identity card or any other means valid in law. You have the right to file a complaint to the supervisory authority.</p>

<h3>What obligations do you have with respect to the data you provide to Sequences.me?</h3>
<p>As the owner of your data, you must guarantee the accuracy of the data and you commit to communicate any changes that occur to them.</p>
<p>The sending of personal data is obligatory to contact and receive information about the products and services of Sequences.me. By not providing the requested personal data or not accepting the present data protection policy implies the impossibility of subscribing, registering or receiving information about the products and services of Sequences.me.</p>
<p>As a user you You agree that the information provided to Sequences.me from third parties has been collected in accordance with the current regulations and having collected the consent of the data owner.</p>

<h3>Data management</h3>
<p>Sequences.me is an organization committed to privacy and data protection.All Data of the system have been obtained through your express consent and authorization for the processing of data for purposes of processing, analysis and sending of commercial information.</p>

<h3>Content of the Web and Links</h3>
<p>Sequences.me reserves the right to update, modify or eliminate the Information contained in its application, and may even limit or deny access to to the said information.</p>
<p>Sequences.me does not assume any responsibility for the information contained in third party web pages that can be accessed by "links" or links from the application of Sequences.me. the presence of "links" in the Sequences.me application is purely informational and in no case supposes suggestion, invitation or recognition.</p>

<h2>Last updated on 12/19/2017.</h2>
<p>In Sequences.me we believe that the privacy of our customers and users should be paramount. For this reason we apply a transparency policy to all of our processes so that our users are always informed and have control over their privacy.</p>
<p>Please read carefully each of these terms that aim to regulate access, use, and in general, all the relationship with Sequences.me.</p>

<h3>Who is responsible for the processing of your data?</h3>
<p>In compliance with Chapter II of Law 34/2002, LSSICE, and art. 13.1a of the Regulation (EU) 2016/679 we inform you of the identity of Sequences.me:</p>
<address>
	ADDRESS: C/ Manuel Uribe num. 17 door G, 28033, Madrid, MADRID<br />
	CIF: B86586971<br />
	TELEPHONE: 699965059<br />
	EMAIL: <a href="mailto:contact@Sequences.me">contact@Sequences.me</a><br />
	DPO: Larisa Ontiveros<br />
	EMAIL contact DPO: <a href="mailto:larisa@team.Sequences.me">larisa@team.Sequences.me</a><br />
</address>
<p>Sequences.me guarantees the respect of the rules and procedures provided in the legal framework to protect the rights to personal and family privacy and the personal data protection.</p>
<p>For the purposes of the provisions of the Spanish Ley Organica de Protection de datos 15/1999, of 13 December, Protection of Personal Data , Sequences.me, informs you that the data that you voluntarily provide will be incorporated into a data file of personal character, declared to the Spanish Data Protection Agency. This file has implemented all the security measures required by the regulations.</p>

<h3>How we obtain your data?</h3>
<p>As a user, you provide us with personal data through the LinkedIn social network and other social sites, having previously requested your consent to be able to process your profile data available in the indicated social network.</p>
<p>This information is collected in order to offer you our products and services in accordance with your interests, always trying to improve your experience as a user. The service that we offer is aim to improve your professional relations outside and within the scope of LinkedIn other social sites in a way that comply with the rules of protection of personal data.</p>
<p>Sequences.me elaborates a profile in an automated way based on the information that you provide us.</p>
<p>Sequences.me will collect only those data, adequate, relevant and limited to what is necessary for the provision of our services.</p>

<h3>What will we use your data for?</h3>
<p>We will use your data to manage our services to improve your professional relations by facilitating the
contact with potential clients, collaborators and external services in a lawful manner regarding the regulation of personal data protection.</p>

<h3>How long will we keep your data?</h3>
<p>The personal data you provide to us will be kept as long as we mantain the business relationship and as long as you do not request deletion for a period of one year from of the last confirmation of interest.</p>
<p>We may retain your personal information even after the end of this need if necessary to comply with a legal obligation, the data would remain blocked the time necessary to meet the period set by the Law to proceed later to its elimination.</p>

<h3>What is the legitimacy for the treatment of your data?</h3>
<p>The legal basis for the processing of your data is based on obtaining your consent, according to article 6.1a of Regulation (EU) 2016/679.</p>

<h3>Recipients</h3>
<p>To be able to perform the described services Sequences.me, can share the data included in your LinkedIn profile and other social sites with potential clients, potential collaborators and people or companies interested in establishing an employment relationship with you.</p>
<p>You as a user, authorize to Sequences.me to formalise, in each case, the contracts of commissioning of data processing that are necessary to perform the service that you has entrusted us.</p>
<p>Sequences.me checks that all treatment managers with whom you work comply with their security policies, maintain security levels and technical measures imposed by the regulations and follow their instructions in the provision and correct development of the services for which they are hired.</p>
<p>Specifically the external services that may have access to your data under the conditions before arranged are the following:</p>
<ul>
	<li>Intercom, as a software provider, you can consult its policy of privacy <a href="https://www.intercom.com/terms-and-policies#privacy" target="_blank">HERE</a>.</li>
	<li>Mixpanel, as a software provider, you can consult its policy of privacy <a href="https://mixpanel.com/privacy/" target="_blank">HERE</a>.</li>
	<li>Sequences.me technical team , as a service of maintenance of equipment and / or applications.</li>
</ul>
<p>Sequences.me will not make transfers of personal data that will be subject to treatment or will be after transfer to a third country or international organization.</p>
<p>Sequences.me will not rent or sell personal information or share your information personal with an advertiser or advertising ad networks without your permission explicit.</p>
<p>The use of the services available on this website by minors requires that they have previously received authorization from their parents, guardians or legal representatives, who shall be considered as legal responsible for any acts carried out by the persons under their charge.</p>
<p>The legal representatives of the underage persons have full responsibility for access to content and Internet services by said minors, for this purpose they have computer programs and blocking and filtering tools restricting access to content or websites not suitable for minors.</p>
<p>Sequences.me will provide information to third parties when required by law, a citation or a judicial proceeding.</p>

<h3>Data Security</h3>
<p>Sequences.me apply the appropriate technical and organisational measures to provide a level of security appropriate to the risk, guaranteeing the confidentiality, integrity and availability of your data.</p>

<h3>Navigation Advise</h3>
<p>Check that the server you are connecting to is located in the correct domain, even when links stored in favourites are used.</p>
<p>Do not use web addresses (URL) or links received by electronic messaging (mail, sms, etc.) in the that you request to carry out some management with your personal data.</p>
<p>Type directly the addresses of the web sites you wish to connect to.</p>

<h3>What rights do you have regarding the data you provide us?</h3>
<p>You have the right to obtain confirmation on whether Sequences.me is using your data or not.</p>
<p>Also, the interested persons have the right to access their personal data, as well as request the rectification of the inaccurate data or, where appropriate, request the deletion when, among other reasons, the data are no longer necessary for the purposes that were collected.</p>
<p>In certain circumstances, the interested parties may request the limitation of the treatment of your data, in which case we will only keep them for the exercise or defence against claims.</p>
<p>In certain circumstances and for reasons related to your particular situation, you may object to the processing of your data. Sequences.me. will stop treating your data, except for compelling legitimate reasons, or in the exercise or defense of possible claims.</p>
<p>You have the right to request the portability of your data as well as to withdraw consent for your treatment at any time.</p>
<p>You can exercise your rights by contacting Sequences.me, by means of the aforementioned contact data, indicating as subject "LOPD, Rights" and attaching a photocopy of your National Identity Document or any other means valid in Law.</p>
<p>You have the right to file a claim with the authority of control.</p>

<h3>What obligations do you have with respect to the data that you share?</h3>
<p>You, as owner of your data, must guarantee the veracity of the same and commit to communicate any change that occurs on them.</p>
<p>The sharing of personal data is needed to contact and receive information about the products and services of Sequences.me, as well as to use our services.</p>
<p>Failure to provide the requested personal data or not accepting this data protection policy implies the impossibility to subscribe, register or receive information about the products and services of the website and the application.</p>
<p>As a user, you agree that the information provided to Sequences.me about third parties has been collected in accordance with current regulations and that you have obtained the consent of the owner of the data.</p>
<p>THIS LEGAL NOTICE will be updated periodically, so that the current regulation at the time of use of the services will be applicable. Please read this information carefully before proceeding to use the service, as well as periodically, in order to stay fully informed.</p>
<p>If you have any questions regarding this Legal Notice, you can contact us through the contact information previously referred to you.</p>

<h3>Consent</h3>
<p>You agree to be informed of the conditions on protection of personal character data, accepting and consenting to the manual and automated treatment of the same by Sequences.me in the form and for the purposes indicated in the present Policy of Protection of Personal Data.</p>
<p>You can cancel any authorisation when you wish addressing Sequences.me.</p>

<h3>Applicable Legislation</h3>
<p>Applicable legislation to this LEGAL NOTICE shall be the Spanish legislation, and the jurisdiction competent to hear any claims that this website raises shall be the courts and tribunals of MADRID, the user expressly waiving any other jurisdiction that it could correspond to them.</p>

<p class="cert-safe"><img src="/static/images/cert_safe_en.png" title="Certificate Safe Sequences.me" /></p>