<h2>SU PRIVACIDAD ES IMPORTANTE</h2>
<p>En Sequences.me consideramos que la privacidad de nuestros clientes y usuarios debe ser primordial. Por esta razón aplicamos una política de transparencia a todos nuestros procesos para que los usuarios estén siempre informados y tengan control sobre su privacidad.</p>
<p>Te rogamos leas atentamente cada uno de estos términos para conocer y poder controlar tu privacidad dentro de Sequences.me.</p>
<p>Estos son los principios que se aplican en Sequences.me para proteger tu privacidad:</p>
<ul>
	<li>
		<p>Proteger tu privacidad es primordial para nosotros , solo se la proporcionaremos a terceros con tu consentimiento, cuando sea necesario para tramitar tus instrucciones, cuando lo exija una ley, para mantener las funciones y funcionalidades de la plataforma o cuando sea necesario para cumplir las condiciones de uso o proteger los derechos, propiedad o seguridad de Sequences.me, sus usuarios o visitantes.</p>
	</li>
	<li>
		<p>Teniendo en cuenta el estado de la técnica, los costes de aplicación, y la naturaleza, el alcance, el contexto y los fines del tratamiento, así como los riesgos de probabilidad y gravedad variables para los derechos y libertades de las personas físicas, Sequences.me ha aplicado medidas técnicas y organizativas apropiadas para garantizar un nivel de seguridad adecuado al riesgo.</p>
		<p>Estas medidas incluyen la capacidad de garantizar la confidencialidad, integridad, disponibilidad y residencia permanentes de los sistemas y servicios de tratamiento, la capacidad de restaurar la disponibilidad y el acceso a los datos de carácter personal de forma rápida en caso de incidente físico o técnico y un proceso de verificación, evaluación y valoración de la eficacia de las medidas técnicas y organizativas para garantizar la seguridad del tratamiento.</p>
	</li>
</ul>

<p>Sequences.me es una aplicación que sirve para facilitar el contacto con personas de tu interés a través de las redes sociales. Los datos que nos facilites serán utilizados con el fin de:</p>
<ul>
	<li>
		<p>Gestionar el envío de la información que nos solicites.</p>
	</li>
	<li>
		<p>Facilitarte ofertas e información sobre productos y servicios de tu interés.</p>
	</li>
	<li>
		<p>Poder ofrecerte productos y servicios de acuerdo con tus intereses y así mejorar tu experiencia de usuario. Elaboraremos un “perfil comercial”, en base a la información facilitada. Esta política de privacidad puede ser modificada, por la introducción de cambios, sin embargo serás informado a través de nuestro servicio o por cualquier otro medio para que puedas revisarlos antes de entrar a Sequences.me.</p>
	</li>
</ul>

<h3>¿Qué información recaba Sequences.me?</h3>
<p>A efectos de lo previsto en la Ley Orgánica de Protección de Datos 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Reglamento UE 2016/679 Sequences.me, te informa de que los datos que voluntariamente facilitas serán incorporados a un fichero de datos de carácter personal, declarado a la Agencia de Protección de Datos.</p>
<p>Esta política de privacidad se aplica a cualquier usuario o visitante.</p>
<p>La información recabada por nuestra plataforma será controlada por Clusterinsights propietario de la aplicación Sequences.me, con CIF B86586971, situada en C/ Manuel Uribe n17, puerta G, 28033 Madrid. Si tienes alguna duda sobre los procesos aplicados a tu información puedes contactar nosotros a través del este email:</p>
<p><a href="mailto:info@clusterinsights.com">info@clusterinsights.com</a></p>

<p>Los datos personales que tratamos en Sequences.me proceden del propio interesado, también pueden ser obtenidos de fuentes accesibles al público.</p>

<p>Cuando creas una cuenta en nuestra aplicación podremos solicitarte algunos de estos datos en base a las necesidades del servicio solicitado:</p>
<ul>
	<li><p class="no-margin-bottom">De contacto:</p>
		<ul>
			<li><p class="no-margin-bottom">Nombre y apellidos</p></li>
			<li><p class="no-margin-bottom">Dirección email</p></li>
			<li><p class="no-margin-bottom">Pais y ciudad de residencia</p></li>
		</ul>
	</li>
	<li><p class="no-margin-bottom">Profesionales:</p>
		<ul>
			<li><p class="no-margin-bottom">Empresa</p></li>
			<li><p class="no-margin-bottom">Cargo</p></li>
			<li><p class="no-margin-bottom">Perfil en redes sociales</p></li>
		</ul>
	</li>
</ul>
<p>Si deseas utilizar nuestros servicios “premium” además deberás facilitar un número de tarjeta de crédito asi como tus datos de información fiscal si se trata de una empresa ( para gestionar la exencion del IVA).</p>
<p><b>En Sequences.me no utilizamos tecnología de publicidad y balizas web. No compartimos tu información personal con ningún anunciante ni con redes de anuncios para publicidad.</b></p>
<p>Durante el uso de la aplicación tienes la opción de compartir tu experiencia con terceras personas mediante la sincronización de tu agenda de contactos, esta información permanecerá bajo tu absoluto control utilizándose únicamente para el objeto detallado en esta política de privacidad.</p>
<p>Para facilitar la gestión de contactos dentro de la aplicación tienes la posibilidad de escribir notas personales, estos datos serán absolutamente confidenciales y sólo tú tendrás acceso a ellos.</p>

<h3>¿Cómo utiliza tus datos Sequences.me?</h3>
<p>La información de tu perfil podrá ser vista por otros usuarios, y será utilizada por Sequences.me en el modo descrito en esta política de privacidad y en las Condiciones de Uso.</p>
<p>Al aceptar este aviso legal estás declarando voluntariamente tu conformidad con los términos y condiciones de esta política de privacidad y las Condiciones de Uso de Sequences.me de modo que nos estás autorizando para el tratamiento de tu información personal en los modos establecidos en esta política de privacidad.</p>
<p>Puedes anular cualquier autorización cuando lo desees dirigiéndote a <a href="https//Sequences.me" target="_blank">Sequences.me</a>.</p>
<p>Los menores de 16 años necesitan una autorización expresa de sus padres o tutores para poder acceder a Sequences.me. En el momento en que Sequences.me sea consciente de que un usuario es menor de 16 años procederá a eliminar su información de la aplicación.</p>
<p>Podremos comunicar contigo a través de mensajes de correo electrónico y de otros medios disponibles, incluidos mensajes de texto móviles y notificaciones automáticas a través de nuestra aplicación para enviarte información sobre nuestros servicios.</p>
<p>Utilizamos la información que nos facilitas para proporcionarte información de contacto con personas de tu interés, para ello es necesario analizar esta información, de esta manera podemos desarrollar nuestros servicios y mostrarte contenido relevante para ti ofreciéndote un servicio personalizado.</p>
<p>Sequences.me puede compartir información personal con aquellas empresas o colaboradores que son esenciales para realizar el servicio que el usuario le ha encomendado, estos colaboradores han suscrito un contrato que garantiza la confidencialidad y seguridad de sus datos. Los colaboradores que utiliza Sequences.me para mejorar tus servicios son los siguientes:</p>
<ul>
	<li>
		<p>Intercom: <a href="https://www.intercom.com/privacy" target="_blank">https://www.intercom.com/privacy</a></p>
	</li>
	<li>
		<p>Mixpanel: <a href="https://mixpanel.com/privacy" target="_blank">https://mixpanel.com/privacy/</a></p>
	</li>
</ul>

<p>Sequences.me utiliza para el almacenamiento de datos de su aplicación los servicios de Digital Oceans, empresa que recoge todos los requisitos en cuanto a protección de datos que marca la normativa. Puedes consultar la política de privacidad de Digital Oceans en el siguiente enlace: <a href="https://www.digitalocean.com/legal/terms/" target="_blank">https://www.digitalocean.com/legal/terms/</a></p>
<p>Sequences.me proporcionará información a terceros cuando lo exija una ley, una citación o un procedimiento judicial. No obstante, en el caso de ser cedidos a alguna empresa se produciría una información previa a la entrega, solicitando el consentimiento expreso del afectado.</p>

<p>Sequences.me utiliza cookies para permitirte la navegación y mejorar tu experiencia dentro de la aplicación.</p>

<h3>¿Por cuánto tiempo conservaremos tus datos?</h3>
<p>Los datos personales proporcionados se conservarán mientras se mantenga activa tu cuenta o en la medida en que sea necesario para proporcionarte servicios y no se solicite su supresión por el interesado.</p>
<p>Podremos conservar su información personal incluso después de finalizar esta necesidad si fuera necesario para cumplir con alguna obligación legal, los datos permanecerían bloqueados el tiempo necesario para cumplir el periodo marcado por la Ley para proceder luego a su eliminación.</p>

<h3>¿Cuál es la legitimación para el tratamiento de sus datos?</h3>
<p>La base legal para el tratamiento de sus datos está basada en la obtención de tu consentimiento.</p>

<h3>¿Que derechos tienes con respecto a los datos que facilitas a Sequences.me ?</h3>
<p>Cualquier persona tiene derecho a obtener confirmación sobre si en Sequences.me estamos tratando los datos personales que les conciernan, o no.</p>
<p>Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso a solicitar la supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</p>

<p>En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para ejercicio o la defensa de reclamaciones.</p>
<p>En determinadas circunstancias y por motivos relacionados con sus situación particular, los interesados podrán oponerse al tratamiento de sus datos. Sequences.me dejará de tratar los datos, salvo por motivos legítimos imperiosos, o en el ejercicio o la defensa de posibles reclamaciones.</p>
<p>Tienes derecho a solicitar la portabilidad de tus datos así como a retirar el consentimiento para su tratamiento en cualquier momento.</p>
<p>Podrás hacerlo dirigiendo una carta a Sequences.me, a la dirección indicada más arriba, indicando como asunto “LOPD, Derechos ARCO” y adjuntando fotocopia de su Documento Nacional de Identidad o cualquier otro medio válido en derecho. Tienes derecho a presentar una reclamación ante la autoridad de control.</p>

<h3>¿Qué obligaciones tienes con respecto a los datos que facilitas a Sequences.me ?</h3>
<p>Como propietario de tus datos, debes garantizar la veracidad de los mismos y te comprometes a comunicar cualquier cambio que se produzcan sobre ellos.</p>
<p>El envío de datos de carácter personal es obligatorio para contactar y recibir información sobre los productos y servicios de Sequences.me. El no facilitar los datos personales solicitados o el no aceptar la presente política de protección de datos supone la imposibilidad de suscribirse, registrarse o recibir información de los productos y servicios de Sequences.me.</p>
<p>Como usuario te comprometes a que la información facilitada a Sequences.me de terceras personas ha sido recabada de acuerdo a la normativa vigente y habiendo recabado el consentimiento del titular de los datos.</p>

<h3>Gestión de datos</h3>
<p>Sequences.me es una organización comprometida con la privacidad y protección de datos. Todos los datos del sistema han sido obtenidos mediante tu expreso consentimiento y autorización para el tratamiento de datos con fines de tratamiento, análisis y envío de información comercial.</p>

<h3>Contenido de la Web y Enlaces (Links)</h3>
<p>Sequences.me se reserva el derecho a actualizar, modificar o eliminar la información contenida en su aplicación, pudiendo incluso limitar o no permitir el acceso a dicha información a dichos usuarios.</p>
<p>Sequences.me no asume responsabilidad alguna por la información contenida en páginas Webs de terceros a las que se pueda acceder por "links" o enlaces desde la aplicación de Sequences.me.
La presencia de "links" o enlaces en la aplicación Sequences.me tiene la finalidad meramente informativa y en ningún caso supone sugerencia, invitación o reconocimiento sobre los mismos.</p>

<h2>Última actualización el 19/12/2017.</h2>
<p>En Sequences.me consideramos que la privacidad de nuestros clientes y usuarios debe ser primordial. Por esta razón aplicamos una política de transparencia a todos nuestros procesos para que los usuarios estén siempre informados y tengan control sobre su privacidad.</p>
<p>Le rogamos lea atentamente cada uno de estos términos que pretenden regular el acceso y uso, y en general, su relación con Sequences.me.</p>

<h3>¿Quién es el responsable del tratamiento de sus datos?</h3>
<p>En cumplimiento del Capítulo II de la ley 34/2002, LSSICE, y del art. 13.1a del Reglamento (UE) 2016/679 le informamos de la identidad de Sequences.me:</p>
<address>
	DIRECCIÓN: C/ Manuel Uribe num. 17 door G, 28033, Madrid, MADRID<br />
	CIF: B86586971<br />
	TELÉFONO: 699965059<br />
	EMAIL: <a href="mailto:contact@Sequences.me">contact@Sequences.me</a><br />
	DPO: Larisa Ontiveros<br />
	EMAIL contacto DPO: <a href="mailto:larisa@team.Sequences.me">larisa@team.Sequences.me</a><br />
</address>
<p>Sequences.me garantiza el respeto de las garantías, normas y procedimientos previstos en el Ordenamiento Jurídico para proteger los derechos a la intimidad personal y familiar y la protección de datos personales.</p>
<p>A efectos de lo previsto en la Ley Orgánica de Protección de Datos 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal Sequences.me , le informa de que los datos que usted voluntariamente facilita serán incorporados a un fichero de datos de carácter personal, declarado a la Agencia de Protección de Datos. Este fichero tiene implementadas todas las medidas de seguridad requeridas por la normativa.</p>

<h3>¿Cómo obtenemos sus datos?</h3>
<p>Como usuario usted nos proporciona datos personales a través de la red social LinkedIn, habiendo solicitado previamente su consentimiento para poder tratar los datos de su perfil disponible en la red social indicada.</p>
<p>Esta información se recaba para poder ofrecerle nuestros productos y servicios de acuerdo con sus intereses, intentando siempre mejorar su experiencia como usuario. El servicio que le ofrecemos es la mejora de sus relaciones laborales fuera y dentro del ámbito de LinkedIn de forma que se de cumplimiento a la normativa de protección de datos personales.</p>
<p>Sequences.me elabora un perfil comercial de forma automatizada en base a la información que usted nos facilita.</p>
<p>Sequences.me recabará únicamente aquellos datos, adecuados, pertinentes y limitados a lo necesario para la prestación de nuestros servicios.</p>

<h3>¿Para qué usaremos sus datos?</h3>
<p>Utilizaremos su datos para gestionar nuestro servicios de mejora de sus relaciones laborales facilitando el
contacto con potenciales clientes, colaboradores y servicios externos de forma lícita en cuanto a la normativa de protección de datos personales.</p>

<h3>¿Por cuánto tiempo conservaremos sus datos?</h3>
<p>Los datos personales que usted nos proporciona se conservarán mientras se mantenga la relación mercantil y mientras usted no solicite su supresión durante un plazo de un año a partir de la última confirmación de interés.</p>
<p>Podremos conservar su información personal incluso después de finalizar esta necesidad si fuera necesario para cumplir con alguna obligación legal, los datos permanecerían bloqueados el tiempo necesario para cumplir el periodo marcado por la Ley para proceder luego a su eliminación.</p>

<h3>¿Cuál es la legitimación para el tratamiento de sus datos?</h3>
<p>La base legal para el tratamiento de sus datos está fundada en la obtención de su consentimiento, de acuerdo al artículo 6.1a de del Reglamento (UE) 2016/679.</p>

<h3>Destinatarios</h3>
<p>Para poder realizar los servicios descritos Sequences.me podrá compartir los datos incluidos en su perfil de LinkedIn con potenciales clientes, posibles colaboradores y personas o empresas interesadas en establecer con usted una relación laboral.</p>
<p>Usted como usuario, autoriza a Sequences.me a formalizar, en cada caso, los contratos de encargo del tratamiento de datos que sean necesarios para realizar el servicio que usted nos ha encomendado.</p>
<p>Sequences.me comprueba que todos los encargados de tratamiento con los que trabaja cumplen sus políticas de seguridad, mantienen los niveles de seguridad y las medidas técnicas impuestos por la normativa y siguen sus instrucciones en la prestación y correcto desarrollo de los servicios para los que son contratados.</p>
<p>En concreto los servicio externos que podrán tener acceso a sus datos bajo las condiciones antes dispuestas son los siguientes:</p>
<ul>
	<li>Intercom, como proveedor de software, usted puede consultar su política de
privacidad <a href="https://www.intercom.com/terms-and-policies#privacy" target="_blank">AQUÍ</a>.</li>
	<li>Mixpanel, como proveedor de software, usted puede consultar su política de privacidad <a href="https://mixpanel.com/privacy/" target="_blank">AQUÍ</a>.</li>
	<li>los integrantes del equipo técnico de Sequences.me incluyendo los profesionales autónomos contratados como servicio de mantenimiento de equipos y/o aplicaciones.</li>
</ul>
<p>Sequences.me no realizará transferencias de datos personales que vayan a ser objeto de tratamiento o vayan a serlo tras su transferencia a un tercer país u organización internacional.</p>
<p>Sequences.me no alquilará ni venderá información personal ni compartirá su información personal con ningún anunciante ni con redes de anuncios para publicidad sin su permiso explícito.</p>
<p>El uso de los servicios disponibles en esta web por menores de edad exige que éstos hayan obtenido previamente autorización de sus padres, tutores o representantes legales, los cuales tendrán la consideración de responsables legales por cualesquier actos realizado por los menores a su cargo.</p>
<p>Los representantes legales de las personas menores de edad tienen plena responsabilidad en el acceso a contenidos y servicios de internet por dichos menores, Para ello disponen de programas informáticos y herramientas de bloqueo y filtro en el acceso a contenidos o sitios web no apropiados para menores.</p>
<p>Sequences.me proporcionará información a terceros cuando lo exija una ley, una citación o un procedimiento judicial.</p>

<h3>Seguridad de los Datos</h3>
<p>Sequences.me aplica las medidas técnicas y organizativas apropiadas para proporcionar un nivel de seguridad adecuado al riesgo, garantizando la confidencialidad, integridad y disponibilidad de sus datos.</p>

<h3>Consejos de Navegación</h3>
<p>Compruebe que el servidor al que se conecta se encuentra ubicado en el dominio correcto, incluso cuando se utilicen enlaces almacenados en favoritos.</p>
<p>No utilice direcciones web (URL) o enlaces recibidos por mensajería electrónica (correo, sms, etc.) en los que se solicite realizar alguna gestión con sus datos personales.</p>
<p>Teclee directamente las direcciones de los sitios web a los que desea conectarse.</p>

<h3>¿Qué derechos tiene usted con respecto a los datos que nos facilita?</h3>
<p>Usted tiene derecho a obtener confirmación sobre si en Sequences.me estamos tratando los datos personales que le conciernan, o no.</p>
<p>Asimismo las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso a solicitar la supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</p>
<p>En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para ejercicio o la defensa de reclamaciones.</p>
<p>En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento de sus datos. Sequences.me dejará de tratar los datos, salvo por motivos legítimos imperiosos, o en el ejercicio o la defensa de posibles reclamaciones.</p>
<p>Usted tiene derecho a solicitar la portabilidad de sus datos así como a retirar el consentimiento para su tratamiento en cualquier momento.</p>
<p>Usted puede ejercer sus derechos contactando con Sequences.me, por medio de los datos de contacto anteriormente mencionados, indicando como asunto “LOPD, Derechos” y adjuntando fotocopia de su Documento Nacional de Identidad o cualquier otro medio válido
en derecho.</p>
<p>Usted tiene derecho a presentar una reclamación ante la autoridad de control.</p>

<h3>¿Qué obligaciones tiene usted con respecto a los datos que nos facilita?</h3>
<p>Usted como propietario de sus datos, debe garantizar la veracidad de los mismos y se compromete a comunicar cualquier cambio que se produzca sobre ellos.</p>
<p>El envío de datos de carácter personal es obligatorio para contactar y recibir información sobre los productos y servicios de Sequences.me, así como para utilizar sus servicios.</p>
<p>El no facilitar los datos personales solicitados o el no aceptar la presente política de protección de datos supone la imposibilidad de suscribirse, registrarse o recibir información de los productos y servicios del website.</p>
<p>Como usuario usted se compromete a que la información facilitada a Sequences.me sobre terceras personas ha sido recabada de acuerdo a la normativa vigente y habiendo recabado el consentimiento del titular de los datos.</p>
<p>El presente AVISO LEGAL se actualizará periódicamente, por lo que resultarán aplicables las condiciones que se encuentren vigentes y publicadas en el momento de utilización de los servicios. Le rogamos lea atentamente esta información antes de proceder a su uso, así como periódicamente, a fin de mantenerse totalmente informado.</p>
<p>Si usted tiene alguna pregunta en relación con este Aviso Legal puede contactar con nosotros mediante los datos de contacto anteriormente referidos.</p>

<h3>Consentimiento</h3>
<p>Usted declara haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y consintiendo el tratamiento manual y automatizado de los mismos por parte de Sequences.me en la forma y para las finalidades indicadas en la presente Política de Protección de Datos Personales.</p>
<p>Puede anular cualquier autorización cuando lo desee dirigiéndose a Sequences.me.</p>

<h3>Legislación Aplicable</h3>
<p>La legislación aplicable al presente AVISO LEGAL será la legislación española, y a la jurisdicción competente para conocer de cualesquiera demandas que esta web suscite será la de los juzgados y Tribunales de MADRID , renunciando expresamente el usuario a cualquier otro fuero que pudiera corresponderle</p>

<p class="cert-safe"><img src="/static/images/cert_safe_es.png" title="Certificado Safe Sequences.me" /></p>