<div id="wrapper" class="units-row units-split">
	<section class="dashboardv2 right column unit-100">
        <div class="results-toolbar">
            <div id="nav-title" class="grey">
                <div class="title-data">
                    <p><i class="fa fa-search" aria-hidden="true"></i> {{searchInputTerms | limitTo: 18}}</p>
                </div><div id="nav-arrow-right" class="grey"></div>
                <!-- <div class="tutorialTrigger"><span>i</span></div> Onboarding temporally removed -->
            </div>
            <nav class="social-network-filter">
                <social-network-filters-contacts></social-network-filters-contacts>
            </nav>
            <results-filters></results-filters>
            <watchlist-select></watchlist-select>
        </div>
        <div ng-controller="cards" class="cards-container">
            <ul class="contacts-list recent-activity" infinite-scroll="loadMore()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0'>
                <cards></cards>
            </ul>
            <results-status-messages></results-status-messages>
        </div>
	</section>
</div>