<section class="dashboardv2 right column unit-100">

    <div id="wrapper" class="units-row units-split" ng-controller="filter">
      <div class="results-toolbar list">
        <div id="nav-title-icon" class="build">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
        </div><!--
        --><div id="nav-title-text">
            <div class="title-data go-to-list grey" ng-click="goToList(currentList.id, currentList.name, false)">
                <p>{{currentList.name}} </p>
            </div><!--
            --><div id="nav-arrow-right" class="grey"></div>
        </div>

        <div id="list-settings-panel-trigger" ng-click="showListSettingsPanel()">
            <span>{{translation.LIST_SETTINGS}}</span> <i class="fa fa-cogs"></i>
        </div>
      </div>

      <div class="title-balloon margin-top" ng-if="currentList.num == 0">
          <div class="glyph">
              <svg class="icon">
                <use xlink:href="#technology-2"></use>
            </svg>
          </div>
          <h2>{{translation.SELECT_PEOPLE_TO_START_ENGAGING}}</h2>
      </div>

        <switch-view></switch-view>
        <div ng-controller="cards" class="cards-container" ng-show="cardsView">
            <div id="network-pref" ng-if="contactList.length > 0">
                <ul>
                    <!-- <li ng-repeat="network in networksList track by $index" ng-click="setNetworkPref(network)" ng-drop="true" ng-drop-success="onDropCompleteNetworks($index, $data,$event)" ng-class="{active: networkPref[0] == network || networkPref[1] == network}"> -->
                    <li ng-repeat="network in networksList track by $index" ng-click="setNetworkPref(network)" ng-class="{active: networkPref[0] == network || networkPref[1] == network}" class="{{network}}">
                        <i ng-show="network == 'linkedin'" class="fa fa-linkedin" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                        <i ng-show="network == 'twitter'" class="fa fa-twitter" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                        <i ng-show="network == 'relevante'" class="fa fa-envelope" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                    </li>
                </ul>
            </div>
            <ul class="contacts-list filter-interface editSearchEnabled" infinite-scroll="loadMore()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0'>
                <cards-filter></cards-filter>
            </ul>
            <div id="engage-action" ng-click="addBuildResultsToList(); hideEngageAction = true" ng-show="contactList.length > 0 && selectedBuildResults.length > 0 && !hideEngageAction">
                <p>{{translation.START_ENGAGING}} {{selectedBuildResults.length}} x <i class="fa fa-user" aria-hidden="true"></i> | {{translation.LIST}}: {{currentBuildList.name}} <span class="tip" ng-if="searchTypeAlerts">({{translation.GO_BACK_TO_LIST_FROM_ALERTS}})</span></p>
            </div>
            <div class="wdt-loading-screen">

              <div class="wdt-loading-phrases">
                <div class="wdt-loading-phrase-category" data-category="build_en">
                  <div class="wdt-loading-phrase">Analysing work related signals...</div>
                  <div class="wdt-loading-phrase">Analysing social activity signals...</div>
                  <div class="wdt-loading-phrase">Analysing online presence signals...</div>
                  <div class="wdt-loading-phrase">Applying weight algorithms...</div>
                  <div class="wdt-loading-phrase">Applying smart filter to select relevant results...</div>
                </div>
                <div class="wdt-loading-phrase-category" data-category="build_es">
                  <div class="wdt-loading-phrase">Analizando señales en puestos de trabajo...</div>
                  <div class="wdt-loading-phrase">Analizando señales en actividad social...</div>
                  <div class="wdt-loading-phrase">Analizando señales en presencia online...</div>
                  <div class="wdt-loading-phrase">Aplicando algoritmo de pesos...</div>
                  <div class="wdt-loading-phrase">Aplicando filtro inteligente para resultados relevantes...</div>
                </div>
              </div>

            </div>
            <results-status-messages></results-status-messages>
        </div>
        <div ng-controller="cards" class="list-container" ng-if="listView" ng-init="cardRender()">
            <bulk-actions></bulk-actions>
            <div ui-grid="gridOptions" class="uiGrid"
                ui-grid-selection 
                ui-grid-resize-columns 
                ui-grid-auto-resize 
                ui-grid-move-columns
                ui-grid-save-state
                ui-grid-infinite-scroll
                ui-grid-exporter></div>
        </div>
    </div>
</section>

<list-settings-panel></list-settings-panel>