<div id="user-signup">
	<div class="signup-form-wrap">
        <h1>{{translation.JOIN_RELEVANTE}}</h1>
		<form angular-validator-submit="registerUser(form)" name="signUpForm" class="form-horizontal signup-form" novalidate angular-validator>

            <div ng-if="alreadyRegisteredUser && !hideTip" class="tip error">
                <p><a href="/login?{{existingUserEmail}}">{{translation.ACCOUNT_ALREADY_EXISTS}}</a></p>
            </div>
            
<!--             <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input  type = "text"
                            name = "name"
                            class = "form-control"
                            ng-model = "form.name"
                            placeholder="{{translation.NAME}}"></div>
            </div> -->

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input  type = "email"
                            name = "emailAddress"
                            class = "form-control"
                            ng-model = "form.email"
                            ng-change = "checkSignupBg(form); inputChange(true)"
                            invalid-message="'{{translation.NO_REAL_EMAIL}}'"
                            required
                            placeholder="e-mail"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input  type = "{{inputType}}"
                            name = "password"
                            class = "form-control"
                            ng-model = "form.password"
                            ng-change="checkSignupBg(form)"
                            validator = "passwordValidator(form.password) === true"
                            invalid-message = "passwordValidator(form.password)"
                            required
                            placeholder="{{translation.PASSWORD}}"></div>
                <div class="password-revealer col-sm-offset-1 col-sm-10">
                    <p for="checkbox" ng-show="!passwordCheckbox" ng-click="passwordCheckbox = !passwordCheckbox; hideShowPassword()">{{translation.SHOW_PASSWORD}} <i class="fa fa-eye" aria-hidden="true"></i></p>
                    <p for="checkbox" ng-show="passwordCheckbox" ng-click="passwordCheckbox = !passwordCheckbox; hideShowPassword()">{{translation.HIDE_PASSWORD}} <i class="fa fa-eye-slash" aria-hidden="true"></i></p>
                </div>
            </div>
<!--             <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input  type = "{{inputType}}"
                            name = "confirmPassword"
                            class = "form-control"
                            ng-model = "form.confirmPassword"
                            validator = "form.password === form.confirmPassword"
                            invalid-message = "'{{translation.PASSWORDS_DONT_MATCH}}'"
                            required
                            placeholder="{{translation.CONFIRM_PASSWORD}}"></div>
                
            </div> -->
            <div class="form-group" ng-hide="!choosePlanEnabled">
                <div class="col-sm-offset-1 col-sm-10 text-align-center">
                    <div id="choose-pricing-plan">
                        <label>{{translation.CHOOSE_PLAN}}:</label>
                        <select ng-init="getPricingPlans()" ng-model="pricingPlans.selected" ng-options="item.value as item.label for item in pricingPlans.values"></select>
                        <div class="description-wrap">
                            <p class="free-trial">{{translation.FREE_TRIAL_MSG}}</p>
                            <p class="description" ng-repeat="item in pricingPlans.values" ng-show="pricingPlans.selected == item.value">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10 text-align-center">
                    <div class="checkbox">
                        <label><input class="checkbox" type="checkbox" ng-model="form.acceptPolicy" ng-change="checkSignupBg(form)" /> {{translation.AGREE_PRIVACY_POLICY}}</label> <span ng-click="showPrivacyPolicy()">{{translation.PRIVACY_POLICY}}</span>
                    </div>
                    <button ng-if="form.acceptPolicy" type="submit" class="btn btn-primary save">{{translation.SUBMIT_FREE_TRIAL}}</button><!--
                    --><button type="button" ng-if="!form.acceptPolicy" class="btn btn-primary save disabled"
                        uib-tooltip="{{translation.SUBMIT_SIGNUP_FIELDS_REQUIRED}}"
                        tooltip-placement="right"
                        tooltip-class="privacy-tooltip"
                        tooltip-trigger="outsideClick">{{translation.SUBMIT_FREE_TRIAL}}</button><!--
                    --><!-- <button type="button" ng-click="signUpForm.reset()" class="btn btn-primary reset">{{translation.RESET}}</button> -->
                </div>
            </div>
        </form>
        <div>
            <a href="/login" class="create-user-account">{{translation.ALREADY_HAVE_RELEVANTE_ACCOUNT}}</a>
        </div>
	 </div>
 </div>