<section class="dashboardv2 right column unit-100">
    <div class="results-toolbar">
        <nav-watchlist-levels></nav-watchlist-levels>
        <switch-view></switch-view>
    </div>
    <div id="wrapper" class="units-row units-split">
        <div ng-controller="cards" class="cards-container" ng-show="cardsView">
            <ul class="contacts-list recent-activity" infinite-scroll="loadMore()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0'>
                <cards-watchlist-level3></cards-watchlist-level3>
            </ul>
            <results-status-messages></results-status-messages>
        </div>
        <div ng-controller="cards" class="list-container" ng-if="listView" ng-init="cardRender()">
            <bulk-actions></bulk-actions>
            <div ui-grid="gridOptions" class="uiGrid" ui-grid-infinite-scroll ui-grid-move-columns ui-grid-selection ui-grid-exporter></div>
        </div>
    </div>
</section>