<section class="dashboardv2 right column unit-100">
    <div id="step-watchlistLevels" class="results-toolbar">
        <div class="mode-title engage">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
        </div>
        <div id="nav-title" class="grey">
            <div class="title-data" ng-class="{ selected: isCurrentPath('/watchlist/level0/{{watchlistId}}') }">
                <!-- <h3>{{translation.CONTEXT}} - {{translation.VIEW_ALL}}</h3><br /> -->
                <p class="switch-enabled" ng-show="!editListEnabled" ng-click="editListEnabled = true">{{listName | limitTo: 20}}</p>
                <p class="switch-enabled" ng-show="editListEnabled"><input class="edit-input" limit-to="20" ng-model="editListName" ng-enter="editListEnabled = false; editList(listId, editListName)" ng-change="checkListName(editListName)" placeholder="{{listName}}" ng-value="listName" show-focus="editListEnabled"></p>
                <div class="edit" ng-if="listName.length > 0">
                    <i class="fa fa-pencil" aria-hidden="true" ng-click="editListEnabled = !editListEnabled" ng-if="!showDeleteListConfirm"></i>
                    <i class="fa fa-trash" aria-hidden="true" ng-click="$parent.showDeleteListConfirm = true" ng-if="!showDeleteListConfirm"></i>
                    <span class="deleteList" ng-click="deleteList(listId, listName)" ng-if="showDeleteListConfirm" click-outside="$parent.showDeleteListConfirm = false" outside-if-not="deleteList">{{translation.DELETE_CONFIRM}}</span>
                </div>
            </div><div id="nav-arrow-right" class="grey"></div>
        </div>
        <div id="content-library" ng-click="contentLibraryModal('lg')" ng-if="contentLibraryEnabled">
            <i class="fa fa-book" aria-hidden="true"></i> <span>content<br />library</span>
        </div>
        <div id="network-pref">
            <ul>
                <!-- <li ng-repeat="network in networksList track by $index" ng-click="setNetworkPref(network)" ng-drop="true" ng-drop-success="onDropCompleteNetworks($index, $data,$event)" ng-class="{active: networkPref[0] == network || networkPref[1] == network}"> -->
                <li ng-repeat="network in networksList track by $index" ng-click="setNetworkPref(network)" ng-class="{active: networkPref[0] == network || networkPref[1] == network}">
                    <i ng-show="network == 'linkedin'" class="fa fa-linkedin-square" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                    <i ng-show="network == 'twitter'" class="fa fa-twitter" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                    <i ng-show="network == 'relevante'" class="fa fa-envelope" aria-hidden="true" ng-drag="true" ng-drag-data="network"></i>
                </li>
            </ul>
        </div>
        <switch-view></switch-view>
    </div>
    <div id="wrapper" class="units-row units-split" ng-if="contactList.length > 0">
        <div ng-controller="cards" class="cards-container" ng-show="cardsView">
            <ul class="contacts-list recent-activity" infinite-scroll="loadMore()" infinite-scroll-disabled='infiniteScrollDisabled' infinite-scroll-distance='0'>
                <cards-watchlist-level0></cards-watchlist-level0>
            </ul>
            <results-status-messages></results-status-messages>
        </div>
        <div ng-controller="cards" class="list-container" ng-if="listView" ng-init="cardRender()">
            <bulk-actions></bulk-actions>
            <div ui-grid="gridOptions" class="uiGrid"
                ui-grid-selection 
                ui-grid-resize-columns 
                ui-grid-auto-resize 
                ui-grid-move-columns
                ui-grid-save-state
                ui-grid-infinite-scroll
                ui-grid-exporter></div>
        </div>
    </div>
    <div id="wrapper" class="no-padding-top" ng-if="contactList.length == 0">
        <div id="list-sources" ng-init="focusCreateFilter = true">
            <h1>{{translation.HOME_TITLE}}</h1>
            <aside>{{translation.HOME_ASIDE}}</aside>

            <div id="myContacts-block" ng-show="!site.user.linkedin.integratedContacts" class="disabled">
                <h2>{{translation.YOUR_CONTACTS}}<br /><i class="fa fa-linkedin-square" aria-hidden="true"></i></h2>
                <aside>{{translation.YOUR_CONTACTS_ASIDE_NOT_ENABLED}}</aside>
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <p>{{translation.PLEASE_COME_BACK_LATER}}</p>
            </div><!--
            --><div id="myContacts-block" ng-show="site.user.linkedin.integratedContacts" ng-controller="custom-search">
                <h2>{{translation.YOUR_CONTACTS}}<br /><i class="fa fa-linkedin-square" aria-hidden="true"></i></h2>
                <aside>{{translation.YOUR_CONTACTS_ENABLED}}</aside>
                <div class="custom-search-contacts" ng-click="showCustomSearch()">
                    <p><i class="fa fa-search" aria-hidden="true"></i> {{translation.SEARCH_YOUR_CONTACTS}}</p>
                </div>
                <p ng-click="goToMyContacts()" class="view-all-contacts">... {{translation.OR_VIEW_ALL_CONTACTS}}</p>
                <!-- <p class="updated-on">{{translation.UPDATED_ON}} {{site.user.linkedin.lastExtractContactsTimestamp * 1000 | date:'longDate'}}</p> -->
            </div><!--

            --><div id="discover-block">
                <h2>{{translation.DISCOVER}}<br /><i class="fa fa-eye" aria-hidden="true"></i></h2>
                <aside>{{translation.DISCOVER_ASIDE}}</aside>
                <p class="tip">{{translation.LIMIT}}: 20 {{translation.CHARS}}</p>
                <input class="create-filter terms"
                    show-focus="focusCreateFilter"
                    placeholder="{{translation.CREATELIST_PLACEHOLDER_EG}}"
                    ng-enter="checkCreateListTerms(searchName); saveWatchlist(searchName, createListTerms, advancedSearchFilterHome, true)"
                    ng-model="searchName"
                    ng-change="checkNameWatchlist(searchName)"
                    ng-class="{required: termsNotDefined && !searchName.length}"
                    limit-to="20"
                    ng-init="advancedSearchFilterHome.searchCondition = 'and';
                        advancedSearchFilterHome.goal = 'misc'"><!--
                --><button class="create-filter" ng-if="!watchlistNameExists" ng-click="checkCreateListTerms(searchName); saveWatchlist(searchName, createListTerms, advancedSearchFilterHome, true)">{{translation.GO}}</button>

                <div class="tip warning" ng-if="watchlistNameExists">
                    <p>{{translation.NAME_ALREADY_EXISTS}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<chrome-extension-advice></chrome-extension-advice>