<div class="user-signals">
<div class="user-personal-info">
	<div class="block section-icon"><i class="fa fa-fw fa-briefcase" aria-hidden="true" title="{{translation.BIO}}"></i></div>
	<div class="block section-content">
		<p ng-if="key == 'linkedin'">{{profile.summary || profile.title | limitTo: 90}}</p>
        <p ng-if="key == 'twitter'">{{profile.headline || profile.userBio | limitTo: 90}}</p>
        <p ng-if="key == 'linkedin'" ng-show="profile.summary == null && profile.title == null" class="empty">({{translation.EMPTY}})</p>
        <p ng-if="key == 'twitter'" ng-show="profile.headline == null && profile.userBio == null" class="empty">({{translation.EMPTY}})</p>
	</div>
</div>
<hr />
<div class="user-activity">
	<div class="block section-icon">
		<i class="fa fa-fw fa-rss" aria-hidden="true" title="{{translation.LAST_POST}}"></i>
		<!-- <i ng-show="profile.type == 'linkedin'" class="fa fa-linkedin" aria-hidden="true"></i>
		<i ng-show="profile.type == 'twitter'" class="fa fa-twitter" aria-hidden="true"></i> -->
	</div>
	<div class="block section-content">
			<div ng-if="profile.lastPost.title.length">
				<h3>{{profile.lastPost.title | limitTo: 30}}</h3>
				<p>{{profile.lastPost.text | limitTo: 70}}</p>
			</div>
			<div ng-if="!profile.lastPost.title.length">
				<p>{{profile.lastPost.text | limitTo: 110}}</p>
			</div>
		<p ng-show="profile.lastPost === null" class="empty">({{translation.EMPTY}})</p>
	</div>
</div>
</div>