<div class="close-expanded" ng-click="closeExpand()">
	x {{translation.CLOSE}}
</div>
<div class="expanded-header">
	<div class="expanded-watchlist" ng-show="!blacklist" ng-mouseleave="createListEnabled = false">
		<i class="fa fa-folder" aria-hidden="true"></i><!--
	    --><select ng-change="alreadyInExpandedWatchlist(expandedResult.id, selectedList)"  ng-model="selectedList" ng-init="selectedList = $parent.getSelectedList()" style="font-family: 'FontAwesome', 'GillSans';">
	        <option ng-repeat="list in site.savedLists" ng-value="list.name">{{list.name}}</option>
	    </select>
	</div><!--
	--><a ng-if="!alreadyInExpandedWatchlist(expandedResult.id, selectedList)" class="action watchlist" ng-show="!blacklist" ng-click="addToList(expandedResultIndex, expandedResult.id, key, selectedList, true); $parent.setSelectedList(selectedList); $parent.hover = false">
        <p><span>{{translation.ADD}}</span></p>
    </a><!--
    --><a ng-if="alreadyInExpandedWatchlist(expandedResult.id, selectedList)" ng-show="!blacklist" class="action watchlist already">
        <p>{{translation.ADDED}}</p>
    </a><!--
    --><div ng-show="!blacklist" class="action skip-contact" ng-click="addToBlacklist(expandedResultIndex, key, expandedResult.id); closeExpand(expandedResultIndex, 'lg'); fadeOutResult(expandedResult.id)"><p>Blacklist</p></div><!--
    --><div ng-show="blacklist" class="action skip-contact relist" ng-click="relistFromBlacklist(expandedResultIndex, key, expandedResult.id); closeExpand(expandedResultIndex, 'lg'); fadeOutResult(expandedResult.id)"><p>{{translation.RELIST_FROM_BLACKLIST}}</p></div>
</div>
<ul class="expanded-card-tabs">
	<li ng-if="expandedResult.networkProfiles.linkedin != null"
        ng-click="expandedResult.activeProfile = 'linkedin'"
        ng-class="{active:expandedResult.activeProfile == 'linkedin'}"
        class="profile-enabled linkedin">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </li><!--
    --><li ng-if="expandedResult.networkProfiles.linkedin == null"
        class="profile-disabled">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </li><!--

    --><li ng-if="expandedResult.networkProfiles.twitter != null"
        ng-click="expandedResult.activeProfile = 'twitter'"
        ng-class="{active:expandedResult.activeProfile == 'twitter'}"
        class="profile-enabled twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </li><!--
    --><li ng-if="expandedResult.networkProfiles.twitter == null"
        class="profile-disabled">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </li><!--
	--><li ng-click="expandedResult.activeProfile = 'relevante'"
		ng-class="{active:expandedResult.activeProfile == 'relevante'}"
		class="profile-enabled relevante">
		<i class="fa fa-envelope" aria-hidden="true"></i>
	</li>
</ul>
<div class="card-expanded {{$index}}" id="{{expandedResult.id}}" bn-line-item>
	<div class="content-wrap" class="item">
		<div ng-show="expandedResult.activeProfile == 'relevante'" class="expanded-user-data relevante">
			<div class="user-img">
		        <img ng-if="expandedResult.imageUrl.length" ng-src="{{expandedResult.imageUrl}}"/>
		        <img ng-if="expandedResult.imageUrl == null ||expandedResult.imageUrl == ''" src="/static/images/default_user_image.jpg"/>
		        <div ng-if="expandedResult.isContact" class="relationship-type contact">
			        <p>{{translation.CONTACT}}</p>
			    </div>
			    <div ng-if="!expandedResult.isContact" class="relationship-type prospect">
			        <p>{{translation.PROSPECT}}</p>
			    </div>
		        <div class="icon">
		            <img ng-if="expandedResult.type == 'linkedin' || expandedResult.type == 'linkedin_group'" src="/static/images/linkedin_enabled.png"/>
		            <img ng-if="expandedResult.type == 'twitter'" src="/static/images/twitter_enabled.png"/>
		        </div>
		    </div>
		    <div class="expanded-user-data {{key}}">
		        <h3>{{expandedResult.name}}</h3>
		        <aside ng-if="expandedResult.headline.length">
		        	{{expandedResult.headline}}
		        </aside>
		        <aside ng-if="expandedResult.networkProfiles.linkedin.headline.length">
		        	<i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>{{expandedResult.networkProfiles.linkedin.headline}}
		        </aside>
		        <aside ng-if="expandedResult.networkProfiles.twitter.headline.length">
		        	<i class="fa fa-fw fa-twitter" aria-hidden="true"></i>{{expandedResult.networkProfiles.twitter.headline}}
		        </aside>
		        <p class="location">{{expandedResult.location}}</p>

		        <div class="email email-false" ng-show="!expandedResult.addEmail" ng-click="expandedResult.addEmail = true">
            		<p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ADD_EMAIL}}</p>
        		</div>
        		<div ng-show="expandedResult.addEmail" class="email email-edit">
		            <form angular-validator-submit="addEmailToResult(expandedResult.id, expandedResultIndex, addEmail)" name="manualEmail" novalidate angular-validator>
		                <div class="form-group">
		                    <div>
		                        <input  show-focus="expandedResult.addEmail"
		                                type = "text"
		                                name = "emailAddress"
		                                class = "form-control"
		                                ng-model = "inputAddEmail"
		                                invalid-message="'{{translation.NO_REAL_EMAIL}}'"
		                                required
		                                placeholder="{{translation.ADD_EMAIL}}"
		                                ng-enter="addEmailToExpandedResult(expandedResult.id, expandedResultIndex, inputAddEmail)">
		                        <i class="fa fa-times close" aria-hidden="true" ng-click="expandedResult.addEmail = false"></i>
		                    </div>
		                </div>
		            </form>
		        </div>

		        <div class="email email-true" ng-if="expandedResult.email.length > 0">
		        	<ul ng-init="expandedResult.selectedEmail = expandedResult.email[0]">
		        		<li class="email-item" ng-repeat="email in expandedResult.email track by $index"><i class="fa fa-envelope" aria-hidden="true" ng-click="expandedResult.selectedEmail = email"></i> <a href="mailto:{{email}}">{{email}}</a> <span class="delete" ng-click="deleteEmailToExpandedResult(expandedResult.id, expandedResultIndex, email)">x</span></li>
		        	</ul>
		        </div>
		    </div>
		    <div class='actions margin-top'>
		    	<!-- ENRICHMENT DISABLED NO SUBSCRIPTION AND CREDIT
				--><div class="action send-mail row-88"
				    ng-if="expandedResult.activeProfile == 'relevante'
				    && !site.user.subscribed
				    && !(remainingEnrichmentQuantity > 0)
				    && !expandedResult.email.length
				    && expandedResult.enrichment == 'none'
				    && !expandedResult.getMailAttempt"
				    uib-tooltip-template="'subscribeToGetEmailTemplate.html'"
				    tooltip-trigger="outsideClick"
				    tooltip-placement="top">
				    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ENRICH_PROFILE}}</p>
				</div><!-- ENRICHMENT DISABLED NO MININMUM CREDIT
				--><div class="action send-mail row-88"
				    ng-if="expandedResult.activeProfile == 'relevante'
				    && site.user.subscribed
				    && !(remainingEnrichmentQuantity > 0)
				    && !expandedResult.email.length
				    && expandedResult.enrichment == 'none'
				    && !expandedResult.getMailAttempt"
				    ng-click="openEnrichmentBudgetModal()">
				    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ENRICH_PROFILE}}</p>
				</div><!-- ENRICHMENT ENABLED
				--><div class="action send-mail row-88"
				    ng-if="expandedResult.activeProfile == 'relevante'
				    && remainingEnrichmentQuantity > 0
				    && !expandedResult.email.length
				    && expandedResult.enrichment == 'none'
				    && !expandedResult.getMailAttempt"
				    ng-click="enrichProfile(expandedResultIndex, expandedResult.id)">
				    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ENRICH_PROFILE}}</p>
				</div><!-- ENRICHMENT ALREADY TRIGGERED
				--><div class="action send-mail row-88 triggered"
				    ng-if="expandedResult.activeProfile == 'relevante'
				    && expandedResult.enrichment != 'none'
				    && !expandedResult.getMailAttempt">
				    <p>
				        <!-- Get email: in progress -->
				        <i ng-if="expandedResult.enrichment == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

				        <!-- Get email: done -->
				        <i ng-if="expandedResult.enrichment == 'done'" class="fa fa-check" aria-hidden="true"></i>

				        <!-- Get email: forbidden -->
				        <i ng-if="expandedResult.enrichment == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

				        <!-- Get email: error -->
				        <i ng-if="expandedResult.enrichment == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>{{translation.ENRICH_PROFILE}}
				    </p>
				</div>
			</div>
		</div>

		<div ng-repeat="(key, profile) in expandedResult.networkProfiles" class="expanded-user-data {{key}}" ng-show="expandedResult.activeProfile == key">
			<div class="user-img">
				<a href="{{profile.profileUrl}}" target="_blank">
		        	<img ng-if="profile.imageUrl.length" ng-src="{{profile.imageUrl}}"/>
		        	<img ng-if="profile.imageUrl == null ||profile.imageUrl == ''" src="/static/images/default_user_image.jpg"/>
		        </a>
		        <div ng-if="expandedResult.isContact" class="relationship-type contact">
			        <p>{{translation.CONTACT}}</p>
			    </div>
			    <div ng-if="!expandedResult.isContact" class="relationship-type prospect">
			        <p>{{translation.PROSPECT}}</p>
			    </div>
		        <div class="icon">
		            <img ng-if="expandedResult.type == 'linkedin' || expandedResult.type == 'linkedin_group'" src="/static/images/linkedin_enabled.png"/>
		            <img ng-if="expandedResult.type == 'twitter'" src="/static/images/twitter_enabled.png"/>
		        </div>
		    </div>
		    <div class="expanded-user-data {{key}}">
		        <h3><a href="{{profile.profileUrl}}" target="_blank">{{profile.name}}</a></h3>
		        <aside ng-if="key == 'linkedin'">{{profile.headline}}</aside>
		        <aside ng-if="key == 'twitter'">@{{profile.screenName}}</aside>
		        <aside ng-if="key == 'twitter'">{{profile.headline}}</aside>
		        <p class="location">{{profile.location}}</p>

		        <ul class="skills" ng-if="profile.skills.length > 0">
		        	<h4 class="related-to">skills</h4>
		        	<li ng-repeat="skill in profile.skills"><i class="fa fa-wrench" aria-hidden="true"></i> {{skill}}</li>
		        </ul>

		        <!-- LinkedIn Message layer-->
		        <div ng-if="key == 'linkedin'" class="contact-wrap linkedin levelContact msg-textarea"
		        	click-outside="hideTextareaLayer(expandedResult.id)"
    				outside-if-not="comment-wrap.linkedin, actions">
		            <textarea show-focus="focusMessage" placeholder="{{translation.WRITE_MESSAGE}}" ng-model="message"></textarea>
		            <button ng-if="message.length" type="button" class="submit linkedin" ng-click="submitLinkedinMessageExpanded(expandedResult.id, expandedResult.id, null, message)"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
		            <button ng-if="!message.length" type="button" class="submit linkedin disabled" uib-tooltip="Your message can not be empty!"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
		            <button type="button" ng-click="hideTextareaLayer(expandedResult.id)" class="cancel">{{translation.CANCEL}}</button>
		        </div>

		         <!-- Twitter DM layer-->
		        <div ng-if="key == 'twitter'" class="contact-wrap twitter levelContact msg-textarea"
		        	click-outside="hideTextareaLayer(expandedResult.id)"
    				outside-if-not="comment-wrap.linkedin, actions">
		            <textarea show-focus="focusMessage" placeholder="{{translation.WRITE_DM}}" ng-model="message"></textarea>
		            <button ng-if="message.length" type="button" value="{{translation.SUBMIT}}" class="submit twitter" ng-click="submitTwitterDMExpanded(expandedResult.id, expandedResult.networkProfile.twitter.id, message); $parent.hover = false"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
		            <button ng-if="!message.length" type="button" class="submit twitter disabled" uib-tooltip="Your message can not be empty!"><i class="fa fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
		            <button type="button" ng-click="hideTextareaLayer(expandedResult.id)" class="cancel">{{translation.CANCEL}}</button>
		        </div>

			    <div class='actions margin-top'>
		            <!-- LinkedIn Connect enabled -->
		            <a ng-if="key == 'linkedin' && linkedinAccount && profile.connectRequest == 'none' && !expandedResult.isContact" class='action linkedin connect' ng-click="linkedinConnectExpanded(expandedResult.id, expandedResult.networkProfiles.linkedin.id)">
		                <p><i class="fa fa-user-plus" aria-hidden="true"></i> {{translation.CONNECT}}</p>
		            </a> <!-- Is contact
		        	--><a ng-if="key == 'linkedin' && linkedinAccount && expandedResult.isContact" class='action linkedin connect disabled'>
		                <p><i class="fa fa-check" aria-hidden="true"></i> {{translation.CONNECT}}</p>
		            </a><!-- LinkedIn Connect disabled
		            --><a ng-if="key == 'linkedin' && linkedinAccount && profile.connectRequest != 'none' && !expandedResult.isContact" class='action linkedin connect disabled' href='javascript:void(0)'>
		                <p>
		                    <!-- LinkedIn Connect: in progress -->
		                    <i ng-if="profile.connectRequest == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

		                    <!-- LinkedIn Connect: done -->
		                    <i ng-if="profile.connectRequest == 'done'" class="fa fa-check" aria-hidden="true"></i>

		                    <!-- LinkedIn Connect: forbidden -->
		                    <i ng-if="profile.connectRequest == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

		                    <!-- LinkedIn Connect: error -->
		                    <i ng-if="profile.connectRequest == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
		                    {{translation.CONNECT}}
		                </p>
		            </a><!-- LinkedIn account not connected
	                --><a ng-if="key == 'linkedin' && !linkedinAccount" class="action linkedin connect" href='javascript:void(0)' ng-click="linkedinSignin()">
	                    <p><i class="fa fa-user-plus" aria-hidden="true"></i> {{translation.CONNECT}}</p>
	                </a><!-- LinkedIn Message enabled -->
		            <a ng-if="key == 'linkedin' && linkedinAccount && profile.connectRequest == 'done' && profile.message == 'none'
		            	|| key == 'linkedin' && linkedinAccount && profile.connectRequest == 'done' && profile.message == 'done'
		            	|| key == 'linkedin' && linkedinAccount && expandedResult.isContact && profile.message == 'none'
		            	|| key == 'linkedin' && linkedinAccount && expandedResult.isContact && profile.message == 'done'"
		            class='action linkedin message' target="_blank" ng-click="showMessageLayer(expandedResult.id)">
		                <p><i class="fa fa-comment" aria-hidden="true"></i> {{translation.MESSAGE}}</p>
		            </a><!-- Connect not requested
					--><a ng-if="key == 'linkedin' && linkedinAccount && profile.connectRequest != 'done' && !expandedResult.isContact"
					    uib-tooltip="Kindly remember that you must request to connect this person in LinkedIn before sending him a private message"
					    class="action linkedin message disabled"
					    tooltip-placement="left">
					    <p><i class="fa fa-comment" aria-hidden="true"></i> {{translation.MESSAGE}}</p>
		            </a><!-- LinkedIn Message triggered 
		            --><a ng-if="key == 'linkedin' && linkedinAccount && profile.connectRequest == 'done' && profile.message != 'none' && profile.message != 'done'
		            	|| key == 'linkedin' && linkedinAccount && expandedResult.isContact && profile.message != 'none' && profile.message != 'done'" class='action linkedin message disabled' href='javascript:void(0)'>
		                <p>
		                    <!-- LinkedIn Message: in progress -->
		                    <i ng-if="profile.message == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

		                    <!-- LinkedIn Message: done -->
		                    <!-- <i ng-if="profile.message == 'done'" class="fa fa-check" aria-hidden="true"></i> -->

		                    <!-- LinkedIn Message: forbidden -->
		                    <i ng-if="profile.message == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

		                    <!-- LinkedIn Message: error -->
		                    <i ng-if="profile.message == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
		                    {{translation.MESSAGE}}
		                </p>
		            </a><!-- LinkedIn account not connected
	                --><a ng-if="key == 'linkedin' && !linkedinAccount" class="action linkedin connect" href='javascript:void(0)' ng-click="linkedinSignin()">
	                    <p><i class="fa fa-comment" aria-hidden="true"></i> {{translation.MESSAGE}}</p>
	                </a><!-- Twitter Follow enabled 
		            --><a ng-if="key == 'twitter' && twitterAccount && profile.follow == 'none'" class='action twitter follow' href='javascript:void(0)' ng-click="twitterFollowExpanded(expandedResult.id, expandedResult.networkProfiles.twitter.id)">
		                <p><i class="fa fa-user-plus" aria-hidden="true"></i> {{translation.FOLLOW}}</p>
		            </a><!-- Twitter follow disabled
		            --><a ng-if="key == 'twitter' && twitterAccount && profile.follow != 'none'" class='action twitter follow disabled' href='javascript:void(0)'>
		                <p>
		                    <!-- Twitter Follow: in progress -->
		                    <i ng-if="profile.follow == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

		                    <!-- Twitter Follow: done -->
		                    <i ng-if="profile.follow == 'done'" class="fa fa-check" aria-hidden="true"></i>

		                    <!-- Twitter Follow: forbidden -->
		                    <i ng-if="profile.follow == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

		                    <!-- Twitter Follow: error -->
		                    <i ng-if="profile.follow == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
		                    {{translation.FOLLOW}}
		                </p>
		            </a><!-- Twitter account not connected
		            --><a ng-if="key == 'twitter' && !twitterAccount" class='action twitter follow' href='javascript:void(0)' ng-click="twitterSignin()">
		                <p><i class="fa fa-user-plus" aria-hidden="true"></i> {{translation.FOLLOW}}</p>
		            </a><!-- Twitter DM enabled
		            --><a ng-if="key == 'twitter' && twitterAccount && profile.follow == 'done' && profile.directMessage == 'none'
		            	|| key == 'twitter' && twitterAccount && profile.follow == 'done' && profile.directMessage == 'done'"
		            	class='action twitter directMessage' href='javascript:void(0)' ng-click="showMessageLayer(expandedResult.id)">
		                <p><i class="fa fa-comment" aria-hidden="true"></i> {{translation.DIRECT_MESSAGE}}</p>
		            </a><!-- Direct Message disabled
					--><div ng-if="key == 'twitter' && twitterAccount && profile.follow != 'done'" class="action twitter directMessage disabled"
					    uib-tooltip="Yo must be connected to this person in order to send him a message"
					    tooltip-placement="top">
					    <p><i class="fa fa-comment" aria-hidden="true"></i> {{translation.DIRECT_MESSAGE}}</p>
					</div><!-- Twitter DM triggered
		            --><a ng-if="key == 'twitter' && twitterAccount && profile.directMessage != 'none' && profile.directMessage != 'done'" class='action twitter directMessage disabled' href='javascript:void(0)'>
		                <p>
		                    <!-- Twitter DM: in progress -->
		                    <i ng-if="profile.directMessage == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

		                    <!-- Twitter DM: done -->
		                    <!-- <i ng-if="profile.directMessage == 'done'" class="fa fa-check" aria-hidden="true"></i> -->

		                    <!-- Twitter DM: forbidden -->
		                    <i ng-if="profile.directMessage == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

		                    <!-- Twitter DM: error -->
		                    <i ng-if="profile.directMessage == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
		                    {{translation.DIRECT_MESSAGE}}
		                </p>
		            </a><!-- Twitter account not connected
		            --><a ng-if="key == 'twitter' && !twitterAccount" class='action twitter directMessage' href='javascript:void(0)' ng-click="twitterSignin()">
		                <p><i class="fa fa-comment" aria-hidden="true"></i> {{translation.DIRECT_MESSAGE}}</p>
		            </a>
		        </div>
		    </div>
		</div>
	    <hr ng-if="expandedResult.activeProfile == 'relevante'" />
	    <div class="expanded-user-keywords" ng-if="expandedResult.activeProfile == 'relevante'">
	        <ul>
	            <h4 class="related-to" ng-if="expandedResult.keywords.length > 0">{{translation.RELATED_TO}}</h4>
	            <li ng-repeat="keyword in expandedResult.keywords track by $index" class="keyword"><i class="fa fa-commenting" aria-hidden="true"></i> {{keyword}}</li>
	        </ul>
	    </div>
	    <div class="assigned-to" ng-if="expandedResult.activeProfile == 'relevante'">
		    <ul>
		        <h4><p>{{translation.LISTS}}</p></h4>
		        <li class="watchlist-title" ng-if="expandedResult.watchlists.length == 0"><p>{{translation.NO_ASSIGNED_LISTS}}</p></li>
		        <li class="watchlist" ng-repeat="watchlist in expandedResult.watchlists track by $index"><p><i class="fa fa-folder" aria-hidden="true"></i> {{watchlist}}</p><div class="delete" ng-click="removeFromList(expandedResultIndex, expandedResult.id, watchlist, $index, true, currentList.name)"><span>x</span></div></li>
		    </ul>
		    <ul>
		        <h4 class="tag-title"><p>Tags</p></h4>
		        <li class="tag-title" ng-if="expandedResult.notes == 0"><p>{{translation.NO_ASSIGNED_TAGS}}</p></li><!--
		        --><input type="text" placeholder="+ Add tag" class="addTag" ng-model="selectedTag"
		        	uib-typeahead="tag.note as tag.note for tag in savedTags | filter:{note:$viewValue}"
		        	typeahead-focus-first="false"
		        	ng-keydown="$event.which === 13 && saveTag(expandedResultIndex, expandedResult.id, selectedTag, key)"/></input><!--
		        --><li class="tag" ng-repeat="tag in expandedResult.tags track by $index"><p><i class="fa fa-tag" aria-hidden="true"></i> {{tag}}</p><div class="delete" ng-click="deleteTag(expandedResultIndex, expandedResult.id, tag, $index, key)"><span>x</span></div></li>
		    </ul>
		</div>

		<hr />

	    <div class=engage-levels>
	    	<h4>{{translation.ENGAGE_HISTORY}}</h4>
	    	<ul><!--
<<<<<<< HEAD
			    --><li class="level1" ng-class="{'active' : expandedResult.level1Done}"><p>like</p></li><!--
			    --><li class="level2" ng-class="{'active' : expandedResult.level2Done}"><p>reply</p></li><!--
			    --><li class="level3" ng-class="{'active' : expandedResult.level3Done || expandedResult.isContact}"><p>connect</p></li><!--
			    --><li class="level4" ng-class="{'active' : expandedResult.level4Done}"><p>message</p></li>
			</ul>
			<div id="personal-metrics">
				<div class="expand-close-all">
					<span ng-click="expandAllMetricsDetails()">{{translation.EXPAND_ALL}}</span> / <span ng-click="closeAllMetricsDetails()">{{translation.CLOSE_ALL}}</span>
				</div>
				<div ng-repeat="item in expandedResult.engageHistory | orderBy: '-date'"
					ng-class="{'level1' : item.action == 'like' || item.action == 'retweet' || item.action == 'fav',
					'level2' : item.action == 'comment' || item.action == 'reply',
					'level3' : item.action == 'connect' || item.action == 'follow',
					'level4' : item.action == 'message' || item.action == 'directMessage'}"
					ng-class-odd="'odd'" ng-class-even="'even'"
					class="item"
					ng-click="showMetricsDetails($index)">
					<div class="left"><p>{{item.date * 1000 | date:'longDate'}}</p></div><!--
					--><div class="right" ng-if="item.network == 'linkedin'">
						<div ng-if="item.action == 'like'">
							<p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.POST_LIKE}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
						<div ng-if="item.action == 'comment'">
							<p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.POST_REPLY}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
						<div ng-if="item.action == 'connect'">
							<p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.CONNECT_REQUEST}}</p>
						</div>
						<div ng-if="item.action == 'message'">
							<p><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.PRIVATE_MESSAGE}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
					</div><!--
					--><div class="right" ng-if="item.network == 'twitter'">
						<div ng-if="item.action == 'retweet'">
							<p><i class="fa fa-twitter" aria-hidden="true"></i> {{translation.TWEET_RT}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
						<div ng-if="item.action == 'fav'">
							<p><i class="fa fa-twitter" aria-hidden="true"></i> {{translation.TWEET_FAV}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
						<div ng-if="item.action == 'reply'">
							<p><i class="fa fa-twitter" aria-hidden="true"></i> {{translation.TWEET_REPLY}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
						<div ng-if="item.action == 'follow'"><p>
							<i class="fa fa-twitter" aria-hidden="true"></i> {{translation.FOLLOW_REQUEST}}</p>
						</div>
						<div ng-if="item.action == 'directMessage'">
							<p><i class="fa fa-twitter" aria-hidden="true"></i> {{translation.DIRECT_MESSAGE}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
					</div>
					<article class="metrics-details post {{$index}}" ng-if="item.share">
						<div class="post-image" ng-if="item.share.img != null && item.share.img != ''">
				                <img class="post" ng-src="{{item.share.img}}" />
				        </div>
						<h5>{{item.share.title}}</h5>
						<p>{{item.share.description}}</p>
				        <div style="clear: both"></div>
						<div ng-if="item.share.comment || item.share.reply" class="comment-box">
							<h5 ng-if="item.network == 'linkedin'"><i class="fa fa-comment" aria-hidden="true"></i> {{translation.YOUR_COMMENT}}:</h5>
							<h5 ng-if="item.network == 'twitter'"><i class="fa fa-comment" aria-hidden="true" ></i> {{translation.YOUR_REPLY}}:</h5>
							<p>"{{item.share.comment || item.share.reply}}"</p>
						</div>
					</article>
					<article class="metrics-details message {{$index}}" ng-if="item.message">
						<div class="post-image" ng-if="item.share.img != null && item.share.img != ''">
				                <img class="post" ng-src="{{item.share.img}}" />
				        </div>
						<h5>{{item.share.title}}</h5>
						<p>{{item.share.description}}</p>
				        <div style="clear: both"></div>
						<div ng-if="item.message || item.directMessage" class="comment-box">
							<h5 ng-if="item.network == 'linkedin'"><i class="fa fa-comment" aria-hidden="true"></i> {{translation.YOUR_MESSAGE}}:</h5>
							<h5 ng-if="item.network == 'twitter'"><i class="fa fa-comment" aria-hidden="true"></i> {{translation.YOUR_DIRECT_MESSAGE}}:</h5>
							<p>"{{item.message || item.directMessage}}"</p>
						</div>
					</article>
					<div style="clear: both"></div>
				</div>
			</div>
			<div class="show-personal-metrics"
				ng-click="showingPersonalMetrics = !showingPersonalMetrics; showPersonalMetrics()"
				ng-if="expandedResult.engageHistory.length > 0">
					<p ng-if="!showingPersonalMetrics"><i class="fa fa-caret-down" aria-hidden="true"></i> {{translation.SHOW_PERSONAL_METRICS}} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
					<p ng-if="showingPersonalMetrics"><i class="fa fa-caret-up" aria-hidden="true"></i> {{translation.HIDE_PERSONAL_METRICS}} <i class="fa fa-caret-up" aria-hidden="true"></i></p>
			</div>
	    </div>

	    <hr ng-repeat="(key, profile) in expandedResult.networkProfiles" ng-show="expandedResult.activeProfile == key" ng-if="profile.summary != null || profile.userBio != null" />

	    <div ng-repeat="(key, profile) in expandedResult.networkProfiles" ng-show="expandedResult.activeProfile == key" class="expanded-personal-info" ng-if="profile.summary != null || profile.userBio != null">
		    <ul>
		        <li><h4><i class="fa fa-user" aria-hidden="true"></i> {{translation.PERSONAL_INFO}}</h4>
		        <p>{{profile.summary || profile.userBio}}</p></li>
		    </ul>
		</div>

	    <hr ng-if="expandedResult.activeProfile == 'linkedin' && expandedResult.networkProfiles.linkedin.experience.length > 0" />

	    <div id="experience" class="expanded-experience" ng-if="expandedResult.activeProfile == 'linkedin' && expandedResult.networkProfiles.linkedin.experience.length > 0">
		    <h4><i class="fa fa-user" aria-hidden="true"></i> {{translation.EXPERIENCE}}</h4>
		    <ul>
		        <li ng-repeat="experience in expandedResult.networkProfiles.linkedin.experience | limitTo: 3">
		        	<h5><span class="company">{{translation.POSITION}}:</span> {{experience.title}}</h5>
		        	<h5><span class="company">{{translation.COMPANY}}:</span> <a href="{{experience.organizationUrl}}" target="_blank">{{experience.organizationName}}</a></h5>
		        	<p>{{experience.description}}</p>
		        </li>
		        <div class="showAllToggle" ng-if="!showAllExperience && expandedResult.networkProfiles.linkedin.experience.length > 3">
		        	<button ng-click="$parent.showAllExperience = true">{{translation.SHOW_MORE}}</button>
		        </div>
		        <li ng-repeat="experience in expandedResult.networkProfiles.linkedin.experience | limitTo: (3 - expandedResult.networkProfiles.linkedin.experience.length)" ng-if="showAllExperience">
		        	<h5><span class="company">{{translation.POSITION}}:</span> {{experience.title}}</h5>
		        	<h5><span class="company">{{translation.COMPANY}}:</span> <a href="{{experience.organizationUrl}}" target="_blank">{{experience.organizationName}}</a></h5>
		        	<p>{{experience.description}}</p>
		        </li>
		        <div class="showAllToggle" ng-if="showAllExperience">
		        	<button ng-click="$parent.showAllExperience = false; scrollTo('experience')">{{translation.SHOW_LESS}}</button>
		        </div>
		    </ul>
		</div>

	    <hr ng-if="expandedResult.activeProfile == 'linkedin' && expandedResult.networkProfiles.linkedin.groups != null" />

	    <div id="groups" class="expanded-groups" ng-if="expandedResult.activeProfile == 'linkedin' && expandedResult.networkProfiles.linkedin.groups != null">
		    <h4><i class="fa fa-users" aria-hidden="true"></i> {{translation.GROUPS}}</h4>
		    <ul>
		        <li ng-repeat="group in expandedResult.networkProfiles.linkedin.groups | limitTo: 3">
		        	<div class="group-img">
		        		<img ng-if="group.imageUrl == null" src="/static/images/linkedin_enabled.png" />
		        		<img ng-if="group.imageUrl != null" src="{{group.imageUrl}}" />
		        	</div>
		        	<h5><a href="{{group.url}}" target="_blank" title="Image: {{group.name}}">{{group.name}}</a></h5>
		        </li>
		        <div class="showAllToggle" ng-if="!showAllGroups && expandedResult.networkProfiles.linkedin.groups.length > 3">
		        	<button ng-click="$parent.showAllGroups = true">{{translation.SHOW_MORE}}</button>
		        </div>
		        <li ng-repeat="group in expandedResult.networkProfiles.linkedin.groups | limitTo: (3 - expandedResult.networkProfiles.linkedin.groups.length)" ng-if="showAllGroups">
		        	<div class="group-img">
		        		<img ng-if="group.imageUrl == null" src="/static/images/linkedin_enabled.png" />
		        		<img ng-if="group.imageUrl != null" src="{{group.imageUrl}}" />
		        	</div>
		        	<h5><a href="{{group.url}}" target="_blank" title="Image: {{group.name}}">{{group.name}}</a></h5>
		        </li>
		        <div class="showAllToggle" ng-if="showAllGroups">
		        	<button ng-click="$parent.showAllGroups = false; scrollTo('groups')">{{translation.SHOW_LESS}}</button>
		        </div>
		    </ul>
		</div>

	    <hr ng-if="expandedResult.shares.length > 0" />

	    <div id="shares" class="expanded-shares" ng-if="expandedResult.shares.length > 0">
	    	<h4><i class="fa fa-rss" aria-hidden="true"></i> {{translation.RECENT_ACTIVITY}}</h4>
		    <ul>
		    	<!-- relevante.me profile -->
			    <li ng-repeat="post in expandedResult.shares | limitTo: 3" class="post {{$index}}" ng-init="postNum = $index" ng-show="expandedResult.activeProfile == 'relevante'">
			    	<card-expanded-shares></card-expanded-shares>
			    </li>
			    <div class="showAllToggle"
			    	ng-if="!showAllShares
			    		&& expandedResult.activeProfile == 'relevante'
			    		&& expandedResult.shares.length > 3">
		        	<button ng-click="$parent.showAllShares = true">{{translation.SHOW_MORE}}</button>
		        </div>
		        <li ng-repeat="post in expandedResult.shares | limitTo: (3 - expandedResult.shares.length)" class="post {{$index}}" ng-init="postNum = $index" ng-show="expandedResult.activeProfile == 'relevante' && showAllShares">
			    	<card-expanded-shares></card-expanded-shares>
			    </li>
			    <div class="showAllToggle" ng-if="expandedResult.activeProfile == 'relevante' && showAllShares">
		        	<button ng-click="$parent.showAllShares = false; scrollTo('shares')">{{translation.SHOW_LESS}}</button>
		        </div>

			    <!-- LinkedIn profile -->
			    <li ng-repeat="post in expandedResult.shares | filter: {network : 'linkedin'} | limitTo: 3" class="post {{$index}}" ng-init="postNum = $index" ng-show=" expandedResult.activeProfile == 'linkedin'">
			    	<card-expanded-shares></card-expanded-shares>
			    </li>
			    <div class="showAllToggle"
			    	ng-if="!showAllLinkedinShares
			    		&& expandedResult.activeProfile == 'linkedin'
			    		&& moreLinkedinShares">
		        	<button ng-click="$parent.showAllLinkedinShares = true">{{translation.SHOW_MORE}}</button>
		        </div>
		        <li ng-repeat="post in expandedResult.shares | filter: {network : 'linkedin'}" class="post {{$index}}" ng-init="postNum = $index; $parent.moreLinkedinShares = true" ng-show="expandedResult.activeProfile == 'linkedin' && showAllLinkedinShares && $index > 2">
			    	<card-expanded-shares></card-expanded-shares>
			    </li>
			    <div class="showAllToggle" ng-if="expandedResult.activeProfile == 'linkedin' && showAllLinkedinShares">
		        	<button ng-click="$parent.showAllLinkedinShares = false; scrollTo('shares')">{{translation.SHOW_LESS}}</button>
		        </div>

			    <!-- Twitter profile -->
			    <li ng-repeat="post in expandedResult.shares | filter: {network : 'twitter'} | limitTo: 3" class="post {{$index}}" ng-init="postNum = $index" ng-show=" expandedResult.activeProfile == 'twitter'">
			    	<card-expanded-shares></card-expanded-shares>
			    </li>
			    <div class="showAllToggle"
			    	ng-if="!showAllTwitterShares
			    		&& expandedResult.activeProfile == 'twitter'
			    		&& moreTwitterShares">
		        	<button ng-click="$parent.showAllTwitterShares = true">{{translation.SHOW_MORE}}</button>
		        </div>
		        <li ng-repeat="post in expandedResult.shares | filter: {network : 'twitter'}" class="post {{$index}}" ng-init="postNum = $index; $parent.moreTwitterShares = true" ng-show="expandedResult.activeProfile == 'twitter' && showAllTwitterShares && $index > 2">
			    	<card-expanded-shares></card-expanded-shares>
			    </li>
			    <div class="showAllToggle" ng-if="expandedResult.activeProfile == 'twitter' && showAllTwitterShares">
		        	<button ng-click="$parent.showAllTwitterShares = false; scrollTo('shares')">{{translation.SHOW_LESS}}</button>
		        </div>


		    	<p class="noShares" ng-show=" expandedResult.activeProfile == 'linkedin'" ng-if="!(expandedResult.shares | filter: {network : 'linkedin'}).length"><i class="fa fa-linkedin-square" aria-hidden="true"></i> {{translation.EXPANDED_NO_LINKEDIN_SHARES}}</p>
		    	<p class="noShares" ng-show=" expandedResult.activeProfile == 'twitter'" ng-if="!(expandedResult.shares | filter: {network : 'twitter'}).length"><i class="fa fa-twitter" aria-hidden="true"></i> {{translation.EXPANDED_NO_TWITTER_SHARES}}</p>
			</ul>
		</div>
    </div>
</div>
<div class="close-expanded" ng-click="closeExpand()">
	x {{translation.CLOSE}}
</div>