<div class="hide" ng-init="linkedin = result.networkProfiles.linkedin"></div>

<!-- LinkedIn Comment layer -->
<div class="msg-textarea comment-wrap linkedin level2"
    click-outside="hideTextareaLayer(result.id)"
    outside-if-not="comment-wrap.linkedin, actions">
    <div class="share-content-library"
        ng-if="contentLibraryEnabled">
        <p><i class="fa fa-book" aria-hidden="true"></i> Want to include your own content?</p>
        <select ng-model="shareContentLibrary">
            <option disabled selected value="">choose an item from your library</option>
        </select>
    </div>
    <textarea show-focus="focusReply" placeholder="{{translation.WRITE_COMMENT}}" ng-model="comment" ng-class="{noContentLibrary : !contentLibraryEnabled}"></textarea>
    <button ng-if="comment.length > 0" type="button" class="submit linkedin" ng-click="submitLinkedinComment(resultIndex, linkedin.lastPost.id, comment, 0)"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
    <button ng-if="!comment.length" type="button" class="submit linkedin disabled" uib-tooltip="Your reply can not be empty!"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
    <button type="button" ng-click="hideTextareaLayer(result.id)" class="cancel">{{translation.CANCEL}}</button>
</div>

<!-- LinkedIn Message layer -->
<div class="msg-textarea contact-wrap linkedin level4"
    click-outside="hideTextareaLayer(result.id)"
    outside-if-not="contact-wrap.linkedin, actions">
    <div class="share-content-library"
        ng-if="contentLibraryEnabled">
        <p><i class="fa fa-book" aria-hidden="true"></i> Want to include your own content?</p>
        <select ng-model="shareContentLibrary">
            <option disabled selected value="">choose an item from your library</option>
        </select>
    </div>
    <textarea show-focus="focusMessage" placeholder="{{translation.WRITE_MESSAGE}}" ng-model="linkedinMessage" ng-class="{noContentLibrary : !contentLibraryEnabled}"></textarea>
    <button ng-if="linkedinMessage.length > 0" type="button" class="submit linkedin" ng-click="submitLinkedinMessage(result.id, linkedin.id, null, linkedinMessage)"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
    <button ng-if="!linkedinMessage.length" type="button" class="submit linkedin disabled" uib-tooltip="Your message can not be empty!"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
    <button type="button" ng-click="hideTextareaLayer(result.id)" class="cancel">{{translation.CANCEL}}</button>
</div>

<!--

Like

--><div class="action linkedin like row-22"
    ng-if="linkedinAccount && linkedin.lastPost != null && linkedin.lastPost.like == 'none'"
    ng-click="linkedinLike(resultIndex, $index, linkedin.lastPost.id, linkedin)">
    <p><i class="fa fa-heart" aria-hidden="true"></i><br />like</p>
</div><!-- Like disabled
--><div class="action linkedin like row-22 disabled"
    ng-if="linkedinAccount && linkedin.lastPost == null"
    uib-tooltip="There's no post to like"
    tooltip-placement="right">
    <p><i class="fa fa-heart" aria-hidden="true"></i>
        <br />like
    </p>
</div><!-- Like triggered
--><div class="action linkedin like row-22 triggered"
    ng-if="linkedinAccount && linkedin.lastPost != null && linkedin.lastPost.like != 'none'">
    <p>
        <!-- Like: in progress -->
        <i ng-if="linkedin.lastPost.like == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Like: done -->
        <i ng-if="linkedin.lastPost.like == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Like: forbidden -->
        <i ng-if="linkedin.lastPost.like == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Like: error -->
        <i ng-if="linkedin.lastPost.like == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />like
    </p>
</div><!-- LinkedIn account not connected
--><div class="action linkedin row-22"
    ng-if="!linkedinAccount"
    ng-click="linkedinSignin()">
    <p><i class="fa fa-heart" aria-hidden="true"></i><br />like</p>
</div><!--

Reply

--><div class="action linkedin reply row-22"
    ng-if="linkedinAccount && linkedin.lastPost != null && linkedin.lastPost.comment == 'none'"
    ng-click="showReplyLayer(result.id, 0, false)">
    <p><i class="fa fa-reply" aria-hidden="true"></i><br />reply</p>
</div><!-- Comment disabled
--><div class="action linkedin comment row-22 disabled"
    ng-if="linkedinAccount && linkedin.lastPost == null"
    uib-tooltip="There's no post to reply"
    tooltip-placement="right">
    <p><i class="fa fa-reply" aria-hidden="true"></i>
        <br />reply
    </p>
</div><!-- Comment triggered
--><div class="action linkedin comment row-22 triggered"
    ng-if="linkedinAccount && linkedin.lastPost != null && linkedin.lastPost.comment != 'none'">
    <p>
        <!-- Comment: in progress -->
        <i ng-if="linkedin.lastPost.comment == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Comment: done -->
        <i ng-if="linkedin.lastPost.comment == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Comment: forbidden -->
        <i ng-if="linkedin.lastPost.comment == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Comment: error -->
        <i ng-if="linkedin.lastPost.comment == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />reply
    </p>
</div><!-- LinkedIn account not connected
--><div class="action linkedin row-22"
    ng-if="!linkedinAccount"
    ng-click="linkedinSignin()">
    <p><i class="fa fa-reply" aria-hidden="true"></i><br />reply</p>
</div><!--

Connect

--><div class="action linkedin connect row-22"
    ng-if="linkedinAccount && linkedin.connectRequest == 'none' && !result.isContact"
    ng-click="linkedinConnect(result.id, linkedin.id)">
    <p><i class="fa fa-user-plus" aria-hidden="true"></i><br />connect</p>
</div><!--  Is contact
--><div class="action linkedin connect row-22 triggered"
    ng-if="linkedinAccount && result.isContact">
    <p><i class="fa fa-check" aria-hidden="true"></i><br />connect</p>
</div><!--  Connect triggered
--><div class="action linkedin connect row-22 triggered"
    ng-if="linkedinAccount && linkedin.connectRequest != 'none' && !result.isContact">
    <p>
        <!-- Connect: in progress -->
        <i ng-if="linkedin.connectRequest == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Connect: done -->
        <i ng-if="linkedin.connectRequest == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Connect: forbidden -->
        <i ng-if="linkedin.connectRequest == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Connect: error -->
        <i ng-if="linkedin.connectRequest == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />connect
    </p>
</div><!-- LinkedIn account not connected
--><div class="action linkedin row-22"
    ng-if="!linkedinAccount"
    ng-click="linkedinSignin()">
    <p><i class="fa fa-user-plus" aria-hidden="true"></i><br />connect</p>
</div><!--

Message

--><div class="action linkedin message row-22"
    ng-if="linkedinAccount && linkedin.connectRequest == 'done' && linkedin.message == 'none'
        || linkedinAccount && linkedin.connectRequest == 'done' && linkedin.message == 'done'
        || linkedinAccount && result.isContact && linkedin.message == 'none'
        || linkedinAccount && result.isContact && linkedin.message == 'done'"
    ng-click="showMessageLayer(result.id)">
    <p><i class="fa fa-comment" aria-hidden="true"></i><br />message</p>
</div><!-- Connect not requested
--><div class="action linkedin message row-22"
    ng-if="linkedinAccount && linkedin.connectRequest != 'done' && !result.isContact"
    uib-tooltip="Kindly remember that you must request to connect this person in LinkedIn before sending him a private message"
    tooltip-placement="left">
    <p><i class="fa fa-comment" aria-hidden="true"></i><br />message</p>
</div><!-- Comment triggered
--><div class="action linkedin message row-22 triggered"
    ng-if="linkedinAccount && linkedin.connectRequest == 'done' && linkedin.message != 'none' && linkedin.message != 'done'
        || linkedinAccount && result.isContact && linkedin.message != 'none' && linkedin.message != 'done'"
    uib-tooltip="This person hasn't accepted your connect request although it has been successfully submitted. Please, try again later."
    tooltip-placement="left"
    tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[linkedin.message == 'error' || linkedin.message == 'forbidden']}}">
    <p>
        <!-- Comment: in progress -->
        <i ng-if="linkedin.message == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Comment: done -->
        <!-- <i ng-if="linkedin.message == 'done'" class="fa fa-check" aria-hidden="true"></i> -->

        <!-- Comment: forbidden -->
        <i ng-if="linkedin.message == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Comment: error -->
        <i ng-if="linkedin.message == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />message
    </p>
</div><!-- LinkedIn account not connected
--><div class="action linkedin row-22"
    ng-if="!linkedinAccount"
    ng-click="linkedinSignin()">
    <p><i class="fa fa-comment" aria-hidden="true"></i><br />message</p>
</div><!--

Remove from list

--><div class="action skip-contact row-12"
    ng-click="removeFromCurrentList(resultIndex, result.id, listName); fadeOutResult(result.id)"
    uib-tooltip="Remove this person from the list"
    tooltip-placement="left">
    <p><i class="fa fa-times" aria-hidden="true"></i></p>
</div>