<div class="user-keywords {{$index}}">
    <ul>
    	<li ng-repeat="keyword in result.keywords | limitTo: 4 track by $index" class="keyword"><p><i class="fa fa-commenting" aria-hidden="true"></i> {{keyword}}</p></li>
    </ul>
</div>