<div ng-if="result.activeProfile == 'relevante'">
    <div class="user-img">
        <img ng-if="result.imageUrl.length" ng-src="{{result.imageUrl}}" err-src="/static/images/default_user_image.jpg" />
        <img ng-if="result.imageUrl == null || result.imageUrl == '' " src="/static/images/default_user_image.jpg"/>
<!--         <div ng-if="result.watchlists.length > 0" class="universe-buble">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </div> -->
        <div ng-if="!result.isContact" class="relationship-type prospect">
            <p>{{translation.PROSPECT}}</p>
        </div>
        <div ng-if="result.isContact" class="relationship-type contact">
            <p>{{translation.CONTACT}}</p>
        </div>
    </div>
    <div class="user-info user-details">
        <h3>{{result.name | limitTo:23}}</h3>
        <aside ng-if="result.networkProfiles.linkedin.company"><i class="fa fa-building" aria-hidden="true"></i> {{result.networkProfiles.linkedin.company | limitTo:23}}</aside>
        <aside>{{result.headline | limitTo:23}}</aside>
        <div class="location">{{result.location | limitTo:28}}</div>

        <div class="email email-true" ng-if="engageMode && result.email && result.email.length == 1" ng-show="!result.addEmail" ng-init="result.selectedEmail = result.email[0]">
            <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{result.email[0]}}">{{result.email[0] | limitTo:20}}</a> <i class="fa fa-plus-circle add-email" aria-hidden="true" ng-click="result.addEmail = true"></i></p>
        </div>

        <div class="email email-true selector" ng-if="engageMode && result.email && result.email.length > 1" ng-show="!result.addEmail">
            <i class="fa fa-envelope" aria-hidden="true"></i> 
            <select ng-model="result.selectedEmail" ng-init="result.selectedEmail = result.email[0]">
                <option ng-repeat="email in result.email" value="{{email}}">{{email}}
                </option>
            </select>
            <i class="fa fa-plus-circle add-email" aria-hidden="true" ng-click="result.addEmail = true"></i>
        </div>

        <div class="email email-false" ng-if="engageMode && !result.email.length" ng-show="!result.addEmail" ng-click="$parent.result.addEmail = true">
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ADD_EMAIL}}</p>
        </div>

        <div ng-show="result.addEmail" class="email email-edit">
            <form angular-validator-submit="addEmailToResult(result.id, resultIndex, addEmail)" name="manualEmail" novalidate angular-validator>
                <div class="form-group">
                    <div>
                        <input  show-focus="result.addEmail"
                                type = "text"
                                name = "emailAddress"
                                class = "form-control"
                                ng-model = "addEmail"
                                invalid-message="'{{translation.NO_REAL_EMAIL}}'"
                                required
                                placeholder="{{translation.ADD_EMAIL}}"
                                ng-enter="addEmailToResult(result.id, resultIndex, addEmail)">
                        <span class="close" ng-click="result.addEmail = false">x</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-if="result.activeProfile != 'relevante'">
    <div class="user-img">
        <img ng-if="profile.imageUrl.length" ng-src="{{profile.imageUrl}}" err-src="/static/images/default_user_image.jpg" />
        <img ng-if="profile.imageUrl == null || profile.imageUrl == ''" src="/static/images/default_user_image.jpg"/>
        <!--         <div ng-if="result.watchlists.length > 0" class="universe-buble">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </div> -->
        <div ng-if="!result.isContact" class="relationship-type prospect">
            <p>{{translation.PROSPECT}}</p>
        </div>
        <div ng-if="result.isContact" class="relationship-type contact">
            <p>{{translation.CONTACT}}</p>
        </div>
    <!--     <div class="icon">
            <img ng-if="profile == result.networkProfiles.linkedin" src="/static/images/linkedin_enabled.png"/>
            <img ng-if="profile == result.networkProfiles.twitter" src="/static/images/twitter_enabled.png"/>
        </div> -->
    </div>
    <div class="user-info user-details">
        <h3>{{profile.name | limitTo:23}}</h3>
        <aside ng-if="result.networkProfiles.linkedin.company"><i class="fa fa-building" aria-hidden="true"></i> {{result.networkProfiles.linkedin.company | limitTo:23}}</aside>
        <aside ng-if="result.activeProfile == 'linkedin'">{{profile.headline | limitTo:23}}</aside>
        <aside ng-if="result.activeProfile == 'twitter'">@{{profile.screenName | limitTo:23}}</aside>
        <div class="location">{{profile.location | limitTo:28}}</div>
        <div class="view-profile">
            <a href="{{profile.url}}" target="_blank"></a>
        </div>
    </div>
</div>

<hr />