<div class="card-tabs-wrap" ng-click="hideTextareaLayer(result.id)">
    <ul class="card-tabs">
        <li ng-if="result.networkProfiles.linkedin != null"
            ng-click="result.activeProfile = 'linkedin'"
            ng-class="{active:result.activeProfile == 'linkedin'}"
            class="profile-enabled linkedin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </li><!--
        --><li ng-if="result.networkProfiles.linkedin == null"
            class="profile-disabled">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </li><!--

        --><li ng-if="result.networkProfiles.twitter != null"
            ng-click="result.activeProfile = 'twitter'"
            ng-class="{active:result.activeProfile == 'twitter'}"
            class="profile-enabled twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </li><!--
        --><li ng-if="result.networkProfiles.twitter == null"
            class="profile-disabled">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </li><!--
        --><li ng-click="result.activeProfile = 'relevante'"
            ng-class="{active:result.activeProfile == 'relevante'}"
            class="profile-enabled relevante">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </li>
    </ul>
</div>

<!-- <div ng-show="result.activeProfile != 'relevante'" class="backToRelevanteProfile" ng-click="result.activeProfile = 'relevante'">
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true" ng-mouseover="hoverBackRelevante = true" ng-show="!hoverBackRelevante"></i>
    <i class="fa fa-arrow-circle-left" aria-hidden="true" ng-mouseleave="hoverBackRelevante = false" ng-show="hoverBackRelevante"></i>
</div> -->