<div class="assigned-to">
    <ul>
        <li class="watchlist-title" ng-if="result.watchlists.length == 0"><p><i class="fa fa-folder" aria-hidden="true"></i> {{translation.NO_ASSIGNED_LISTS}}</p></li>
        <li class="watchlist" ng-repeat="list in result.watchlists | filter:filterSavedWatchlists track by $index"><p><i class="fa fa-folder" aria-hidden="true"></i> {{list}} <span ng-click="removeFromList(resultIndex, result.id, list, $index, false, currentList.name)" class="delete-list"><i class="fa fa-times" aria-hidden="true"></i></span></p></li>
    </ul>
    <ul>
    	<li ng-if="result.tags.length == 0" class="add-tag" ng-click="result.activeProfile = 'relevante'; result.focusAddTagInput = true">
    		<p><i class="fa fa-plus" aria-hidden="true"></i> {{translation.ADD_TAG}}</p>
    	</li>
    	<li ng-if="result.tags.length > 0" class="add-tag" ng-click="result.activeProfile = 'relevante'; result.focusAddTagInput = true" uib-tooltip="{{translation.ADD_TAG}}" tooltip-placement="bottom">
    		<p><i class="fa fa-plus" aria-hidden="true"></i></p>
    	</li>
        <!-- <li class="tag-title" ng-if="result.tags.length == 0"><p><i class="fa fa-tag" aria-hidden="true"></i> {{translation.NO_ASSIGNED_TAGS}}</p></li> -->
        <li class="tag" ng-repeat="tag in result.tags track by $index"><p><i class="fa fa-tag" aria-hidden="true"></i> {{tag}} <span ng-click="deleteTag(resultIndex, result.id, tag, $index)" class="delete-tag"><i class="fa fa-times" aria-hidden="true"></i></span></p></li>
    </ul>
</div>