<ul class="engage-bar"><!--
    --><li class="level level1" ng-class="{'active' : result.level1Done}"><p>like</p></li><!--
    --><li class="level level2" ng-class="{'active' : result.level2Done}"><p>reply</p></li><!--
    --><li class="level level3" ng-class="{'active' : result.level3Done || result.isContact}"><p>connect</p></li><!--
    --><li class="level level4" ng-class="{'active' : result.level4Done}"><p>message</p></li>
</ul>