<div class="hide" ng-init="twitter = result.networkProfiles.twitter"></div>

<!-- Twitter Comment layer -->
<div class="msg-textarea comment-wrap twitter level2"
    click-outside="hideTextareaLayer(result.id)"
    outside-if-not="comment-wrap.twitter, actions">
    <div class="share-content-library"
        ng-if="contentLibraryEnabled">
        <p><i class="fa fa-book" aria-hidden="true"></i> Want to include your own content?</p>
        <select ng-model="shareContentLibrary">
            <option disabled selected value="">choose an item from your library</option>
        </select>
    </div>
    <textarea show-focus="focusReply" placeholder="{{translation.WRITE_COMMENT}}" ng-model="reply" ng-class="{noContentLibrary : !contentLibraryEnabled}"></textarea>
    <button ng-if="reply.length > 0" type="button" class="submit twitter" ng-click="submitTwitterReply(result.id, twitter.lastPost.id, reply, 0)"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
    <button ng-if="!reply.length" type="button" class="submit twitter disabled" uib-tooltip="Your reply can not be empty!"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
    <button type="button" ng-click="hideTextareaLayer(result.id)" class="cancel">{{translation.CANCEL}}</button>
</div>

<!-- Twitter Message layer -->
<div class="msg-textarea contact-wrap twitter level4"
    click-outside="hideTextareaLayer(result.id)"
    outside-if-not="contact-wrap.twitter, actions">
    <div class="share-content-library"
        ng-if="contentLibraryEnabled">
        <p><i class="fa fa-book" aria-hidden="true"></i> Want to include your own content?</p>
        <select ng-model="shareContentLibrary">
            <option disabled selected value="">choose an item from your library</option>
        </select>
    </div>
    <textarea show-focus="focusMessage" placeholder="{{translation.WRITE_MESSAGE}}" ng-model="twitterMessage" ng-class="{noContentLibrary : !contentLibraryEnabled}"></textarea>
    <button ng-if="twitterMessage.length > 0" type="button" class="submit twitter" ng-click="submitTwitterDM(result.id, twitter.id, twitterMessage)"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
    <button ng-if="!twitterMessage.length" type="button" class="submit twitter disabled" uib-tooltip="Your message can not be empty!"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} message</button>
    <button type="button" ng-click="hideTextareaLayer(result.id)" class="cancel">{{translation.CANCEL}}</button>
</div>

<!--

Like

--><div class="action twitter like row-22"
    ng-if="twitterAccount && twitter.lastPost != null && twitter.lastPost.fav == 'none'"
    ng-click="twitterLike(resultIndex, $index, twitter.lastPost.id, twitter)">
    <p><i class="fa fa-heart" aria-hidden="true"></i><br />like</p>
</div><!-- Like disabled
--><div class="action twitter like row-22 disabled"
    ng-if="twitterAccount && twitter.lastPost == null"
    uib-tooltip="There's no post to like"
    tooltip-placement="right">
    <p><i class="fa fa-heart" aria-hidden="true"></i>
        <br />like
    </p>
</div><!-- Like triggered
--><div class="action twitter like row-22 triggered"
    ng-if="twitterAccount && twitter.lastPost != null && twitter.lastPost.fav != 'none'">
    <p>
        <!-- Like: in progress -->
        <i ng-if="twitter.lastPost.fav == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Like: done -->
        <i ng-if="twitter.lastPost.fav == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Like: forbidden -->
        <i ng-if="twitter.lastPost.fav == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Like: error -->
        <i ng-if="twitter.lastPost.fav == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />like
    </p>
</div><!-- Twitter account not connected
--><div class="action twitter row-22"
    ng-if="!twitterAccount"
    ng-click="twitterSignin()">
    <p><i class="fa fa-heart" aria-hidden="true"></i><br />like</p>
</div><!--

Reply

--><div class="action twitter reply row-22"
    ng-if="twitterAccount && twitter.lastPost != null && twitter.lastPost.reply == 'none'"
    ng-click="showReplyLayer(result.id, 0, false); focusReply">
    <p><i class="fa fa-reply" aria-hidden="true"></i><br />reply</p>
</div><!-- Reply disabled
--><div class="action twitter reply row-22 disabled"
    ng-if="twitterAccount && twitter.lastPost == null"
    uib-tooltip="There's no post to reply"
    tooltip-placement="right">
    <p><i class="fa fa-reply" aria-hidden="true"></i>
        <br />reply
    </p>
</div><!-- Reply triggered
--><div class="action twitter reply row-22 triggered"
    ng-if="twitterAccount && twitter.lastPost != null && twitter.lastPost.reply != 'none'">
    <p>
        <!-- Reply: in progress -->
        <i ng-if="twitter.lastPost.reply == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Reply: done -->
        <i ng-if="twitter.lastPost.reply == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Reply: forbidden -->
        <i ng-if="twitter.lastPost.reply == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Reply: error -->
        <i ng-if="twitter.lastPost.reply == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />reply
    </p>
</div><!-- Twitter account not connected
--><div class="action twitter row-22"
    ng-if="!twitterAccount"
    ng-click="twitterSignin()">
    <p><i class="fa fa-reply" aria-hidden="true"></i><br />reply</p>
</div><!--

Connect

--><div class="action twitter follow row-22"
    ng-if="twitterAccount && twitter.follow == 'none'"
    ng-click="twitterFollow(result.id, twitter.id)">
    <p><i class="fa fa-user-plus" aria-hidden="true"></i><br />connect</p>
</div><!--  Connect triggered
--><div class="action twitter follow row-22 triggered"
    ng-if="twitterAccount && twitter.follow != 'none'">
    <p>
        <!-- Connect: in progress -->
        <i ng-if="twitter.follow == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Connect: done -->
        <i ng-if="twitter.follow == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Connect: forbidden -->
        <i ng-if="twitter.follow == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Connect: error -->
        <i ng-if="twitter.follow == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />connect
    </p>
</div><!-- Twitter account not connected
--><div class="action twitter row-22"
    ng-if="!twitterAccount"
    ng-click="twitterSignin()">
    <p><i class="fa fa-user-plus" aria-hidden="true"></i><br />connect</p>
</div><!--

Message

--><div class="action twitter message row-22"
    ng-if="twitterAccount && twitter.follow == 'done' && twitter.directMessage == 'none'
        || twitterAccount && twitter.follow == 'done' && twitter.directMessage == 'done'"
    ng-click="showMessageLayer(result.id)">
    <p><i class="fa fa-comment" aria-hidden="true"></i><br />message</p>
</div><!-- Direct Message disabled
--><div class="action twitter message row-22 disabled"
    ng-if="twitterAccount && twitter.follow != 'done'"
    uib-tooltip="Yo must be connected to this person in order to send him a message"
    tooltip-placement="left">
    <p><i class="fa fa-comment" aria-hidden="true"></i>
        <br />message
    </p>
</div><!-- Direct Message triggered
--><div class="action twitter message row-22 triggered"
    ng-if="twitterAccount && twitter.follow == 'done' && twitter.directMessage != 'none' && twitter.directMessage != 'done'">
    <p>
        <!-- Direct Message: in progress -->
        <i ng-if="twitter.directMessage == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Direct Message: done -->
        <i ng-if="twitter.directMessage == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Direct Message: forbidden -->
        <i ng-if="twitter.directMessage == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Direct Message: error -->
        <i ng-if="twitter.directMessage == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>

        <br />message
    </p>
</div><!-- Twitter account not connected
--><div class="action twitter row-22"
    ng-if="!twitterAccount"
    ng-click="twitterSignin()">
    <p><i class="fa fa-comment" aria-hidden="true"></i><br />message</p>
</div><!--

Remove from list

--><div class="action skip-contact row-12"
    ng-click="removeFromCurrentList(resultIndex, result.id, listName); fadeOutResult(result.id)"
    uib-tooltip="Remove this person from the list"
    tooltip-placement="left">
    <p><i class="fa fa-times" aria-hidden="true"></i></p>
</div>