<div class="post-icon">
	<img ng-if="post.network == 'linkedin'" src="/static/images/linkedin_enabled.png" alt="LinkedIn icon">
	<img ng-if="post.network == 'twitter'" src="/static/images/twitter_enabled.png" alt="Twitter icon">
</div>

<div class="post-data">
	<div class="post-info">
		<p class="relation">{{translation.POST_AUTHOR}}</p>
<!-- 			            	<p ng-if="expandedResult.id != post.authorId" class="relation">{{translation.INTERACTED_WITH_POST}}</p> -->
    	<time>{{post.date * 1000 | date:'longDate'}}</time>
    </div>

    <div class="post-image" ng-if="post.post_img != null && post.post_img != ''">
            <img class="post" ng-src="{{post.post_img}}" />
    </div>

    <h5><a href="{{post.url}}" target="_blank">{{post.title}}</a></h5>
    <p><a href="{{post.url}}" target="_blank">{{post.text}}</a></p>

    <!-- LinkedIn Comment layer -->
    <div class="comment-wrap linkedin levelTouch" ng-if="post.network == 'linkedin'"
    	click-outside="hideReplyLayer(expandedResultIndex)"
		outside-if-not="comment-wrap, actions">
        <textarea show-focus="focusReply" placeholder="{{translation.WRITE_REPLY}}" ng-model="reply"></textarea>
        <button ng-if="reply.length > 0" type="button" class="submit linkedin" ng-click="submitLinkedinCommentExpanded(expandedResult.id, post.id, reply, postNum)"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
		<button ng-if="!reply.length" type="button" class="submit linkedin disabled" uib-tooltip="Your reply can not be empty!"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
		<button type="button" ng-click="hideReplyLayer(expandedResultIndex)" class="cancel">{{translation.CANCEL}}</button>
    </div>

    <!-- Twitter Reply layer -->
    <div class="comment-wrap twitter levelTouch" ng-if="post.network == 'twitter'"
    	click-outside="hideReplyLayer(expandedResultIndex)"
		outside-if-not="comment-wrap, actions">
        <textarea show-focus="focusReply" placeholder="{{translation.WRITE_REPLY}}" ng-model="reply"></textarea>
        <button ng-if="reply.length > 0" type="button" class="submit twitter" ng-click="submitTwitterReplyExpanded(expandedResult.id, post.id, reply, postNum)"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
		<button ng-if="!reply.length" type="button" class="submit twitter disabled" uib-tooltip="Your reply can not be empty!"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{translation.SUBMIT}} reply</button>
		<button type="button" ng-click="hideReplyLayer(expandedResultIndex)" class="cancel">{{translation.CANCEL}}</button>
    </div>

    <div class="actions">
        <!-- LinkedIn Like enabled -->
        <a ng-if="post.network == 'linkedin' && linkedinAccount && post.like == 'none'" ng-click="linkedinLikeExpanded(expandedResult.id, $index, post.id, result.type)" class="action linkedin like">
            <p><i class="fa fa-heart" aria-hidden="true"></i> Like</p>
        </a><!-- LinkedIn Like disabled
        --><a ng-if="post.network == 'linkedin' && linkedinAccount && post.like != 'none'" href='javascript:void(0)' class="action linkedin like disabled">
            <p>
                <!-- LinkedIn Like: in progress -->
                <i ng-if="post.like == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                <!-- LinkedIn Like: done -->
                <i ng-if="post.like == 'done'" class="fa fa-check" aria-hidden="true"></i>

                <!-- LinkedIn Like: forbidden -->
                <i ng-if="post.like == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                <!-- LinkedIn Like: error -->
                <i ng-if="post.like == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                Like
            </p>
        </a><!-- LinkedIn account not connected
        --><a ng-if="post.network == 'linkedin' && !linkedinAccount" class="action linkedin connect" href='javascript:void(0)' ng-click="linkedinSignin()">
            <p><i class="fa fa-heart" aria-hidden="true"></i> Like</p>
        </a><!-- LinkedIn Comment enabled
        --><a ng-if="post.network == 'linkedin' && linkedinAccount && post.comment == 'none'" class="action linkedin comment" ng-click="showReplyLayer(expandedResult.id, postNum, true)">
            <p><i class="fa fa-reply" aria-hidden="true"></i> Reply</p>
        </a><!-- LinkedIn Comment disabled
        --><a ng-if="post.network == 'linkedin' && linkedinAccount && post.comment != 'none'" href='javascript:void(0)' class="action linkedin like disabled">
            <p>
                <!-- LinkedIn Comment: in progress -->
                <i ng-if="post.comment == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                <!-- LinkedIn Comment: done -->
                <i ng-if="post.comment == 'done'" class="fa fa-check" aria-hidden="true"></i>

                <!-- LinkedIn Comment: forbidden -->
                <i ng-if="post.comment == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                <!-- LinkedIn Comment: error -->
                <i ng-if="post.comment == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                Comment
            </p>
        </a><!-- LinkedIn account not connected
        --><a ng-if="post.network == 'linkedin' && !linkedinAccount" class="action linkedin connect" href='javascript:void(0)' ng-click="linkedinSignin()">
            <p><i class="fa fa-reply" aria-hidden="true"></i> Reply</p>
        </a><!-- Twitter RT enabled
        --><a ng-if="post.network == 'twitter' && twitterAccount && post.retweet == 'none'" class="action twitter retweet" ng-click="twitterRtExpanded($index, post.id)" href='javascript:void(0)'>
            <p><i class="fa fa-retweet" aria-hidden="true"></i> Retweet</p>
        </a><!-- Twitter RT disabled 
        --><a ng-if="post.network == 'twitter' && twitterAccount && post.retweet != 'none'" class="action twitter retweet disabled" href='javascript:void(0)'>
            <p>
                <!-- Twitter Retweet: in progress -->
                <i ng-if="post.retweet == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                <!-- Twitter Retweet: done -->
                <i ng-if="post.retweet == 'done'" class="fa fa-check" aria-hidden="true"></i>

                <!-- Twitter Retweet: forbidden -->
                <i ng-if="post.retweet == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                <!-- Twitter Retweet: error -->
                <i ng-if="post.retweet == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                Retweet
            </p>
        </a><!-- Twitter account not connected
        --><a ng-if="post.network == 'twitter' && !twitterAccount" class="action twitter retweet" href='javascript:void(0)' ng-click="twitterSignin()">
            <p><i class="fa fa-retweet" aria-hidden="true"></i> Retweet</p>
        </a><!-- Twitter Fav enabled
        --><a ng-if="post.network == 'twitter' && twitterAccount && post.fav == 'none'" class="action twitter fav" ng-click="twitterLikeExpanded(expandedResult.id, $index, post.id)" href='javascript:void(0)'>
            <p><i class="fa fa-heart" aria-hidden="true"></i> Like</p>
        </a><!-- Twitter Fav disabled 
        --><a ng-if="post.network == 'twitter' && twitterAccount && post.fav != 'none'" class="action twitter fav disabled" href='javascript:void(0)'>
            <p>
                <!-- Twitter Fav: in progress -->
                <i ng-if="post.fav == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                <!-- Twitter Fav: done -->
                <i ng-if="post.fav == 'done'" class="fa fa-check" aria-hidden="true"></i>

                <!-- Twitter Fav: forbidden -->
                <i ng-if="post.fav == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                <!-- Twitter Fav: error -->
                <i ng-if="post.fav == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                Fav
            </p>
        </a><!-- Twitter account not connected
        --><a ng-if="post.network == 'twitter' && !twitterAccount" class="action twitter fav" href='javascript:void(0)' ng-click="twitterSignin()">
            <p><i class="fa fa-heart" aria-hidden="true"></i> Like</p>
        </a><!-- Twitter Reply enabled
        --><a ng-if="post.network == 'twitter' && twitterAccount && post.reply == 'none'" href='javascript:void(0)' target="_blank" class="action twitter reply" ng-click="showReplyLayer(expandedResult.id, postNum, true)">
            <p><i class="fa fa-reply" aria-hidden="true"></i> Reply</p>
        </a><!-- Twitter Reply disabled
        --><a ng-if="post.network == 'twitter' && twitterAccount && post.reply != 'none'" href='javascript:void(0)' target="_blank" class="action twitter reply disabled">
            <p>
                <!-- Twitter Reply: in progress -->
                <i ng-if="post.reply == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

                <!-- Twitter Reply: done -->
                <i ng-if="post.reply == 'done'" class="fa fa-check" aria-hidden="true"></i>

                <!-- Twitter Reply: forbidden -->
                <i ng-if="post.reply == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

                <!-- Twitter Reply: error -->
                <i ng-if="post.reply == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>
                Reply
            </p>
        </a><!-- Twitter account not connected
        --><a ng-if="post.network == 'twitter' && !twitterAccount" class="action twitter reply" href='javascript:void(0)' ng-click="twitterSignin()">
            <p><i class="fa fa-reply" aria-hidden="true"></i> Reply</p>
        </a>
        <div class="view-link">
	        <a ng-if="post.network == 'linkedin'" href="{{post.url}}" target="_blank">{{translation.VIEW_ON_LINKEDIN}} &raquo;</a>
	        <a ng-if="post.network == 'twitter'" href="{{post.url}}" target="_blank">{{translation.VIEW_ON_TWITTER}} &raquo;</a>
        </div>
    </div>
</div>