<div class="share-content">
<!--             <div class="signals-title share margin-top" ng-if="!result.email.length">
        <p><i class="fa fa-envelope" aria-hidden="true"></i> No e-mail</p>
    </div> -->
    <div ng-if="contentLibraryEnabled">
        <div class="signals-title share margin-top" ng-if="result.email.length">
            <p><i class="fa fa-share-square" aria-hidden="true"></i> Share your content</p>
        </div>
        <div class="share-wrap {{$index}} level-1" ng-if="result.email.length">
            <select>
                <option disabled selected>choose an item from your library</option>
            </select>
            <div ng-if="result.shares.length > 0">
                <input type="checkbox" id="checkbox" ng-model="form.allLists"/>
                <label for="checkbox">Mention this person's latest publication.</label>
                <div class="last-post-wrap"
                    uib-tooltip="{{result.shares[0].title}} {{result.shares[0].text}}"
                    tooltip-placement="bottom">
                    <div ng-show="result.shares[0].network == 'linkedin'">
                        <h5><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> {{result.shares[0].title}}</h5>
                        <p>{{result.shares[0].text}}</p>
                    </div>
                    <div ng-show="result.shares[0].network == 'twitter'">
                        <h5><i class="fa fa-fw fa-twitter" aria-hidden="true"></i>{{result.shares[0].text}}</h5>
                    </div>
                </div>
            </div>
            <div ng-if="result.shares.length == 0">
                <p class="empty">There's no available publication to mention.</p>
            </div>
        </div>
    </div>

    <div class="assign-tag-from-card">
        <input type="text" placeholder="+ Add tag" class="addTag" ng-model="selectedTag"
        uib-typeahead="tag.note as tag.note for tag in savedTags | filter:{note:$viewValue}"
        typeahead-focus-first="false"
        ng-keydown="$event.which === 13 && saveTag(resultIndex, result.id, selectedTag, key)"
        show-focus="result.focusAddTagInput"/></input>
    </div>

    <!-- <div class="no-email" ng-if="!result.email.length || !contentLibraryEnabled"> -->
<!--                 <p class="tip">Click here to get this person's e-mail and enrich his profile:</p>
        <button><i class="fa fa-envelope-o" aria-hidden="true"></i> get e-mail</button> -->
<!--                 <form ng-if="!result.email.length" angular-validator-submit="addEmailToResult(result.id, form)" name="addEmailToResult" novalidate angular-validator>

            <div class="tip">
                <p>We haven't found a reliable e-mail for this person. Provide it here if you know already know it:</p>
            </div>

            <div class="form-group">
                <div>
                    <input  type = "email"
                            name = "emailAddress"
                            class = "form-control"
                            ng-model = "form.email"
                            invalid-message="'{{translation.NO_REAL_EMAIL}}'"
                            required
                            placeholder="e-mail"></div>
            </div>
        </form> -->
    <!-- </div> -->
</div>

<div class="action engage-linkedin"
    ng-class="{'row-44': result.networkProfiles.twitter, 'row-88': !result.networkProfiles.twitter}"
    ng-if="result.activeProfile == 'relevante'
        && !result.email.length
        && result.getMailAttempt
        && result.networkProfiles.linkedin != null"
    ng-click="result.activeProfile = 'linkedin'">
    <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> engage</p>
</div><!--
--><div class="action engage-twitter"
    ng-class="{'row-44': result.networkProfiles.linkedin, 'row-88': !result.networkProfiles.linkedin}"
    ng-if="result.activeProfile == 'relevante'
        && !result.email.length
        && result.getMailAttempt
        && result.networkProfiles.twitter != null"
    ng-click="result.activeProfile = 'twitter'">
    <p><i class="fa fa-twitter" aria-hidden="true"></i> engage</p>
</div><!-- ENRICHMENT DISABLED NO SUBSCRIPTION AND CREDIT
--><div class="action send-mail row-88"
    ng-if="result.activeProfile == 'relevante'
    && !site.user.subscribed
    && !(remainingEnrichmentQuantity > 0)
    && !result.email.length
    && result.enrichment == 'none'
    && !result.getMailAttempt"
    uib-tooltip-template="'subscribeToGetEmailTemplate.html'"
    tooltip-trigger="outsideClick"
    tooltip-placement="top">
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ENRICH_PROFILE}}</p>
</div><!-- ENRICHMENT DISABLED NO MINIMUM CREDIT
--><div class="action send-mail row-88"
    ng-if="result.activeProfile == 'relevante'
    && site.user.subscribed
    && !(remainingEnrichmentQuantity > 0)
    && !result.email.length
    && result.enrichment == 'none'
    && !result.getMailAttempt"
    ng-hide="!site.user.subscribed
    && !(remainingEnrichmentQuantity > 0)"
    ng-click="openEnrichmentBudgetModal()">
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ENRICH_PROFILE}}</p>
</div><!-- ENRICHMENT ENABLED
--><div class="action send-mail row-88"
    ng-if="result.activeProfile == 'relevante'
    && remainingEnrichmentQuantity > 0
    && !result.email.length
    && result.enrichment == 'none'
    && !result.getMailAttempt"
    ng-hide="!site.user.subscribed
    && !(remainingEnrichmentQuantity > 0)"
    ng-click="enrichProfile(resultIndex, result.id)">
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{translation.ENRICH_PROFILE}}</p>
</div><!-- ENRICHMENT ALREADY TRIGGERED
--><div class="action send-mail row-88 triggered"
    ng-if="result.activeProfile == 'relevante'
    && !result.email.length
    && result.enrichment != 'none'
    && !result.getMailAttempt"
    ng-hide="!site.user.subscribed
    && !(remainingEnrichmentQuantity > 0)">
    <p>
        <!-- Get email: in progress -->
        <i ng-if="result.enrichment == 'inProgress'" class="fa fa-refresh" aria-hidden="true"></i>

        <!-- Get email: done -->
        <i ng-if="result.enrichment == 'done'" class="fa fa-check" aria-hidden="true"></i>

        <!-- Get email: forbidden -->
        <i ng-if="result.enrichment == 'forbidden'" class="fa fa-ban" aria-hidden="true"></i>

        <!-- Get email: error -->
        <i ng-if="result.enrichment == 'error'" class="fa fa-exclamation" aria-hidden="true"></i>{{translation.ENRICH_PROFILE}}
    </p>
</div><!-- SEND EMAIL BUTTON
--><div class="action send-mail row-88"
    ng-if="result.activeProfile == 'relevante' && result.email.length"
    ng-click="sendEmail(result.selectedEmail)">
    <p><i class="fa fa-paper-plane" aria-hidden="true"></i> {{translation.SEND_EMAIL}}</p>
</div><!--

Remove from list

--><div class="action skip-contact row-12"
    ng-click="removeFromCurrentList(resultIndex, result.id, listName); fadeOutResult(result.id)"
    uib-tooltip="Remove this person from the list"
    tooltip-placement="left">
    <p><i class="fa fa-times" aria-hidden="true"></i></p>
</div>