<div class="personal-info" ng-if="result.summary || result.bio != null">
    <ul>
        <li><h5>{{translation.PERSONAL_INFO}}</h5>
        <p>{{result.summary || result.userBio}}</p></li>
    </ul>
</div>