<div class="card-hover" ng-class="{active: hover}" ng-click="expand(resultIndex, 'lg')">
    <div class="hover-user-img">
        <img ng-if="result.img.length" ng-src="{{result.img}}"/>
        <img ng-if="result.img == null || result.img == ''" src="/static/images/default_user_image.jpg"/>
        <div class="icon">
            <img ng-if="result.type == 'linkedin' || result.type == 'linkedin_group'" src="/static/images/linkedin_enabled.png"/>
            <img ng-if="result.type == 'twitter'" src="/static/images/twitter_enabled.png"/>
        </div>
    </div>
    <div class="hover-user-data">
        <h3>{{result.name}}</h3>
        <aside>{{result.headline || "@"+result.screen_name}}</aside>
        <p class="location">{{result.location}}</p>
    </div>
    <hr />
    <button class="expand">{{translation.EXPAND_INFO}}</button>
</div>