<div ng-if="result.shares.length == 0" class="personal-info" v-scroll="{looped: false, scrollerAlignment : 'vertical', scrollerOffset: 0, scrollSpeed: 'slow'}">
    <ul>
        <li><h5>{{translation.PERSONAL_INFO}}</h5>
        <p>{{result.summary || result.bio}}</p></li>
    </ul>
</div>

<ul ng-if="result.shares.length > 0"class="posts-list post-paging">
    <li ng-if="result.shares.length > 0" ng-repeat="post in result.shares | limitTo: 3" class="post {{$index}}" ng-init="postNum = $index">
        <div ng-if="result.shares.length < 2 && result.id == post.authorId" class="single-post"></div>
        <div ng-if="result.shares.length < 2 && result.id != post.authorId" class="related-post">
            <p>{{translation.PERSON_RELATED_TO_POST}}:</p>
        </div>
        <div class="post-data">
            <a href="{{post.url}}" target="_blank">
                <img ng-if="post.post_img != null" class="post" ng-src="{{post.post_img}}" />
                <img ng-if="post.post_img == null && result.type == 'linkedin'" class="post" src="/static/images/default_linkedin_post.jpg" />
                <img ng-if="post.post_img == null && result.type == 'twitter'" class="post" src="/static/images/twitter_tweet_default_image.jpg" />
            </a>
            <time>{{post.date * 1000 | date:'longDate'}}</time><br />
        </div>
        <div class="post-wrap {{$index}}" v-scroll="{looped: false, scrollerAlignment : 'vertical', scrollerOffset: 0, scrollSpeed: 'slow'}">
            <ul>
                <li><h5><a href="{{post.url}}" target="_blank">{{post.title}}</a></h5></li>
                <li><p>{{post.text}}</p></li>
            </ul>
        </div>
    </li>
</ul>
<div class="vgradient-white"></div>
