<div class="card-hover" ng-class="{active: hover}" ng-click="expand(resultIndex, 'lg')" ng-show="result.activeProfile == 'relevante'">
    <div class="hover-user-img">
        <img ng-if="result.imageUrl.length" ng-src="{{result.imageUrl}}"/>
        <img ng-if="result.imageUrl == null || result.imageUrl == ''" src="/static/images/default_user_image.jpg"/>
    </div>
    <div class="hover-user-data">
        <h3>{{result.name}}</h3>
        <aside>{{result.headline || "@"+result.screen_name}}</aside>
        <p class="location">{{result.location}}</p>
    </div>
    <hr />
    <button class="expand">{{translation.EXPAND_INFO}}</button>
</div>

<div ng-repeat="(key, profile) in expandedResultData.networkProfiles" class="card-hover" ng-class="{active: hover}" ng-click="expand(resultIndex, 'lg')" ng-show="expandedResultData.activeProfile == key">
    <div class="hover-user-img">
        <img ng-if="profile.imageUrl.length" ng-src="{{profile.imageUrl}}"/>
        <img ng-if="profile.imageUrl == null || profile.imageUrl == ''" src="/static/images/default_user_image.jpg"/>
    </div>
    <div class="hover-user-data">
        <h3>{{profile.name}}</h3>
        <aside>{{profile.headline || "@"+profile.screen_name}}</aside>
        <p class="location">{{profile.location}}</p>
    </div>
    <hr />
    <button class="expand">{{translation.EXPAND_INFO}}</button>
</div>