<div class="kart-loader-wrap">
	<div class="kart-loader">
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
		<div class="sheath">
				<div class="segment"></div>
		</div>
	</div>
</div>